Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

chore(otel-thread-ctx)!: move otel thread ctx in dedicated crate (#1855)
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  libdd-library-config/src/otel_process_ctx.rs
  libdd-otel-thread-ctx/CHANGELOG.md
  libdd-otel-thread-ctx/Cargo.toml
  libdd-otel-thread-ctx/README.md
  libdd-otel-thread-ctx/build.rs
  libdd-otel-thread-ctx/src/lib.rs
  libdd-otel-thread-ctx/src/tls_shim.c
  libdd-profiling/Cargo.toml
  libdd-profiling/build.rs
  libdd-profiling/src/lib.rs
  tools/docker/Dockerfile.build
Due: libdd-profiling

chore: skip cargo release commit
  .github/workflows/release-proposal-dispatch.yml
Due: none

chore: check for changes instead of commits
  .github/workflows/release-proposal-dispatch.yml
Due: none

chore: allow an empty commit so the PR is created
  .github/workflows/release-proposal-dispatch.yml
Due: none

Skip serial_tests in miri as they leak
  libdd-trace-utils/src/config_utils.rs
Due: libdd-trace-utils

Use static Mutex for test serialization instead of serial_test
  Cargo.lock
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/config_utils.rs
Due: libdd-trace-utils

regenerate expanded.rs
  libdd-telemetry-ffi/src/builder/expanded.rs
Due: libdd-telemetry, libdd-telemetry-ffi

fix(library-config-ffi): move panic prefix into catch_panic macro to avoid duplication
  libdd-library-config-ffi/src/lib.rs
Due: none

add parent_id == session_id test
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

feat(library-config): add ConfigRead trait for virtual filesystem support
  libdd-library-config/src/lib.rs
Due: none

fix(library-config): address PR review findings
  .github/workflows/test.yml
  Cargo.lock
  libdd-library-config-ffi/src/lib.rs
  libdd-library-config/Cargo.toml
  libdd-library-config/src/lib.rs
Due: none

refactor(library-config): extract ConfigRead to config_read.rs, remove yaml wrapper
  libdd-library-config-ffi/src/lib.rs
  libdd-library-config/src/config_read.rs
  libdd-library-config/src/lib.rs
Due: none

Patch changed crates only
  .github/workflows/release-proposal-test.yml
Due: none

pack only crates with version bumps
  .github/workflows/release-proposal-test.yml
  scripts/release-proposal-crates-to-package.sh
Due: none

remove git diff
  .github/workflows/release-proposal-test.yml
  scripts/release-proposal-crates-to-package.sh
Due: none

doc: remove outdated comment
  libdd-library-config/src/otel_process_ctx.rs
Due: none

rename script
  .github/CODEOWNERS
  .github/workflows/release-proposal-test.yml
  scripts/crates-to-package.sh
Due: none

style: inline libc calls in check_xxx wrappers
  libdd-library-config/src/otel_process_ctx.rs
Due: none

ci(proposal): test only changed crates (#1865)
  .github/CODEOWNERS
  .github/workflows/release-proposal-test.yml
  scripts/crates-to-package.sh
Due: none

perf(change_buffer): compact 16-bit encoding for OpCode and string table indices
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
  libdd-trace-utils/src/change_buffer/utils.rs
Due: libdd-trace-utils

perf(change_buffer): replace drain+collect with mem::take in materialize_deferred_tags
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

chore(otel-process-ctx): migrate from rustix to libc (#1859)
  Cargo.lock
  libdd-library-config/Cargo.toml
  libdd-library-config/src/otel_process_ctx.rs
Due: none

ci(versioning): first release support (#1862)
  .github/workflows/release-proposal-dispatch.yml
Due: none

style(library-config): fix rustfmt and clippy findings
  libdd-library-config/src/lib.rs
Due: none

style(library-config): fix nightly rustfmt doc comment wrapping
  libdd-library-config/src/config_read.rs
Due: none

less allocation; more reserve
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

fix: clippy
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

chore: bump major version in order to be released
  libdd-libunwind-sys/Cargo.toml
Due: none

Add new crates, bump a major for a initial release and first CHANGELOG generation
  .github/workflows/release-proposal-dispatch.yml
Due: none

chore: update dependants
  Cargo.lock
  libdd-crashtracker/Cargo.toml
Due: libdd-crashtracker

fix(lint): remove all cancellation_token references
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

fix: last clippy error
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

Commit only if CHANGELOG file is new
  .github/workflows/release-proposal-dispatch.yml
Due: none

avoid more allocs in the hot loop (span pooled)
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
Due: libdd-trace-utils

chore: add pre-commit config for local Rust checks
  .pre-commit-config.yaml
Due: none

perf: inline processing function in hot loop
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

clean up
  .github/workflows/release-proposal-dispatch.yml
Due: none

chore: remove unneded dependency version due to common-ffi is not publishable
  libdd-common-ffi/Cargo.toml
Due: libdd-common, libdd-common-ffi

Add crate info event with no commmits
  .github/workflows/release-proposal-dispatch.yml
Due: none

ci(libdd-shared-runtime): downgrade version so publish workflow succeeds
  Cargo.lock
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-shared-runtime-ffi/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry/Cargo.toml
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry
