Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

docs: remove misleading doc
  libdd-common/Cargo.toml
Due: libdd-common

Skip unhandled exceptions for all threads
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

fix
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
Due: libdd-data-pipeline, libdd-trace-utils

Fallback to ftruncate if fallocate gets EPERM
  datadog-ipc/src/platform/mem_handle.rs
  datadog-ipc/src/platform/unix/mem_handle.rs
Due: datadog-ipc

Add ENOTSUP
  datadog-ipc/src/platform/mem_handle.rs
  datadog-ipc/src/platform/unix/mem_handle.rs
Due: datadog-ipc

fix(ipc): Fallback to ftruncate if fallocate gets EPERM (#1938)
  datadog-ipc/src/platform/mem_handle.rs
  datadog-ipc/src/platform/unix/mem_handle.rs
Due: datadog-ipc

feat: add integration test
  libdd-data-pipeline/tests/snapshots/compare_exporter_v04_to_v1_trace_snapshot_test.json
  libdd-data-pipeline/tests/test_trace_exporter.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
Due: libdd-data-pipeline, libdd-trace-utils

Bump libdatadog-libunwind to 1.0.2
  Cargo.lock
  libdd-crashtracker/Cargo.toml
Due: libdd-crashtracker

feat: added regex-lite feature and changed code path to use libdd-common provided regex engine, which changes based on the feature
  Cargo.lock
  LICENSE-3rdparty.csv
  bin_tests/Cargo.toml
  bin_tests/tests/crashtracker_bin_test.rs
  builder/Cargo.toml
  builder/src/utils.rs
  datadog-ffe/Cargo.toml
  datadog-ffe/src/rules_based/ufc/models.rs
  datadog-live-debugger-ffi/Cargo.toml
  datadog-live-debugger/Cargo.toml
  datadog-live-debugger/src/expr_eval.rs
  datadog-live-debugger/src/redacted_names.rs
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/config/agent_task.rs
  libdd-common-ffi/Cargo.toml
  libdd-common/Cargo.toml
  libdd-common/src/azure_app_services.rs
  libdd-common/src/entity_id/unix/container_id.rs
  libdd-common/src/entity_id/unix/mod.rs
  libdd-common/src/lib.rs
  libdd-common/src/regex_engine.rs
  libdd-crashtracker-ffi/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-ddsketch-ffi/Cargo.toml
  libdd-library-config-ffi/Cargo.toml
  libdd-log-ffi/Cargo.toml
  libdd-log/Cargo.toml
  libdd-log/src/logger.rs
  libdd-profiling-ffi/Cargo.toml
  libdd-shared-runtime-ffi/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry-ffi/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-obfuscation/src/replacer.rs
  tools/Cargo.toml
  tools/src/lib.rs
Due: libdd-crashtracker, libdd-crashtracker-ffi, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-profiling, libdd-profiling-ffi, libdd-trace-obfuscation, libdd-log

chore(crashtracking): bump libdatadog-libunwind to v1.0.2 (#1942)
  Cargo.lock
  libdd-crashtracker/Cargo.toml
Due: libdd-crashtracker

fix(crypto): gate libdd-common TLS features in remaining internal crates + add CI guard
  .github/CODEOWNERS
  .github/workflows/check-crypto-providers.yml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-stats/Cargo.toml
  scripts/check_crypto_providers.sh
Due: libdd-data-pipeline, libdd-telemetry, libdd-dogstatsd-client

fix(scripts): treat unexpected cargo tree errors as hard failures
  scripts/check_crypto_providers.sh
Due: none

fix(scripts): match cargo tree heading line-anchored, not stdout-anchored
  scripts/check_crypto_providers.sh
Due: none

use ip quantization when aggregating peer tags for trace stats
  Cargo.lock
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

set default-features = false for libdd-trace-obfuscation
  libdd-trace-stats/Cargo.toml
Due: none

feat(scripts): broaden crypto check to all workspace crates
  .github/workflows/check-crypto-providers.yml
  scripts/check_crypto_providers.sh
Due: none

refactor(remote-config)!: dependency-inversion via RemoteConfigParsedData trait + ParserRegistry
  Cargo.lock
  datadog-ffe/Cargo.toml
  datadog-ffe/src/lib.rs
  datadog-ffe/src/remote_config.rs
  datadog-live-debugger/Cargo.toml
  datadog-live-debugger/src/lib.rs
  datadog-live-debugger/src/remote_config.rs
  datadog-remote-config/Cargo.toml
  datadog-remote-config/examples/remote_config_fetch.rs
  datadog-remote-config/src/config/dynamic.rs
  datadog-remote-config/src/fetch/test_server.rs
  datadog-remote-config/src/file_storage.rs
  datadog-remote-config/src/parse.rs
  datadog-remote-config/src/path.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/shm_remote_config.rs
  libdd-tracer-flare/src/lib.rs
Due: datadog-sidecar, libdd-tracer-flare

feat(regex_engine): ffe needs the full regex crate
  datadog-ffe/Cargo.toml
  libdd-common/Cargo.toml
  libdd-common/src/regex_engine.rs
Due: libdd-common

fix(remote-config): preserve Ignored semantics for unregistered products
  datadog-remote-config/src/parse.rs
Due: none

refactor(remote-config): move IgnoredProduct next to other RemoteConfigParsedData impls
  datadog-remote-config/src/parse.rs
Due: none

fix(telemetry): schedule ExtendedHeartbeat on worker start (#1910)
  libdd-telemetry/src/worker/mod.rs
  libdd-telemetry/src/worker/scheduler.rs
Due: libdd-telemetry

feat(libdd-heap): copy in heap prof poc design sketch
  libdd-heap-allocator/README.md
  libdd-heap-gotter/README.md
  libdd-heap-hooks/README.md
  libdd-heap-sampler/README.md
  libdd-heap-sampler/include/datadog/heap/allocation_created.h
  libdd-heap-sampler/include/datadog/heap/allocation_freed.h
  libdd-heap-sampler/include/datadog/heap/allocation_requested.h
  libdd-heap-sampler/include/datadog/heap/sample_flag.h
  libdd-heap-sampler/include/datadog/heap/tl_state.h
  libdd-heap-sampler/src/allocation_created.c
  libdd-heap-sampler/src/allocation_freed.c
  libdd-heap-sampler/src/allocation_requested.c
  libdd-heap-sampler/src/sample_flag.c
  libdd-heap-sampler/src/tl_state.c
Due: none

feat(libdd-heap): c bindings for libdd-heap-sampler
  Cargo.lock
  libdd-heap-sampler/Cargo.toml
  libdd-heap-sampler/README.md
  libdd-heap-sampler/build.rs
  libdd-heap-sampler/include/datadog/heap/tl_state.h
  libdd-heap-sampler/lima-arm64.yaml
  libdd-heap-sampler/src/lib.rs
Due: none

feat(libdd-heap): hack up a rust allocator, and some other bits
  Cargo.lock
  Cargo.toml
  heap.mk
  libdd-heap-allocator/Cargo.toml
  libdd-heap-allocator/Makefile
  libdd-heap-allocator/README.md
  libdd-heap-allocator/examples/usdt_demo.rs
  libdd-heap-allocator/scripts/run-usdt-demo.sh
  libdd-heap-allocator/src/allocator.rs
  libdd-heap-allocator/src/lib.rs
  libdd-heap-sampler/Makefile
  libdd-heap-sampler/README.md
  libdd-heap-sampler/build.rs
  libdd-heap-sampler/include/datadog/heap/allocation_created.h
  libdd-heap-sampler/include/datadog/heap/allocation_freed.h
  libdd-heap-sampler/include/datadog/heap/allocation_requested.h
  libdd-heap-sampler/include/datadog/heap/probes.h
  libdd-heap-sampler/include/datadog/heap/sample_flag.h
  libdd-heap-sampler/src/allocation_created.c
  libdd-heap-sampler/src/allocation_freed.c
  libdd-heap-sampler/src/allocation_requested.c
  libdd-heap-sampler/src/lib.rs
  libdd-heap-sampler/src/probes.c
  libdd-heap-sampler/src/sample_flag.c
  libdd-heap-sampler/src/tl_state.c
  lima-amd64.yaml
  lima-arm64.yaml
Due: none

feat(libdd-heap): setup initial build
  .gitignore
  Cargo.lock
  Cargo.toml
  libdd-heap-sampler/Cargo.toml
  libdd-heap-sampler/Makefile
  libdd-heap-sampler/build.rs
  libdd-heap-sampler/include/datadog/heap/allocation_created.h
  libdd-heap-sampler/include/datadog/heap/allocation_requested.h
  libdd-heap-sampler/lima-arm64.yaml
  libdd-heap-sampler/src/allocation_created.c
  libdd-heap-sampler/src/allocation_freed.c
  libdd-heap-sampler/src/allocation_requested.c
  libdd-heap-sampler/src/lib.rs
  libdd-heap-sampler/src/sample_flag.c
  libdd-heap-sampler/src/tl_state.c
Due: none

fix merge
  Cargo.lock
  datadog-sidecar/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, datadog-sidecar

docs(libdd-heap): elaborate on use cases
  libdd-heap-sampler/README.md
Due: none

refactor(remote-config): fmt
  datadog-remote-config/src/parse.rs
  datadog-sidecar/src/shm_remote_config.rs
Due: datadog-sidecar

fix: address lasts comments
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-trace-utils/src/msgpack_encoder/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/tracer_header_tags.rs
Due: libdd-data-pipeline, libdd-trace-utils

fixup! feat(regex_engine): ffe needs the full regex crate
  datadog-ffe/Cargo.toml
Due: none

refacto: cleanup v04 serializer
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
  libdd-trace-utils/src/trace_utils.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-data-pipeline, libdd-trace-utils

fmt(regex_engine): change name of feature that forces full regex crate
  datadog-ffe/Cargo.toml
  libdd-common/Cargo.toml
  libdd-common/src/regex_engine.rs
Due: libdd-common

refactor(scripts): drive crypto check off cargo metadata jq output
  scripts/check_crypto_providers.sh
Due: none

fix(crypto): gate libdd-common TLS features in remaining internal crates + add CI guard (#1943)
  .github/CODEOWNERS
  .github/workflows/check-crypto-providers.yml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-stats/Cargo.toml
  scripts/check_crypto_providers.sh
Due: libdd-data-pipeline, libdd-telemetry, libdd-dogstatsd-client

fix(libdd-trace-obfuscation): cargo clippy fix with all lints
  Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/src/credit_cards.rs
  libdd-trace-obfuscation/src/http.rs
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-obfuscation/src/json.rs
  libdd-trace-obfuscation/src/json_scanner.rs
  libdd-trace-obfuscation/src/memcached.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
  libdd-trace-obfuscation/src/redis.rs
  libdd-trace-obfuscation/src/redis_tokenizer.rs
  libdd-trace-obfuscation/src/replacer.rs
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

fix(libdd-trace-obfuscation): cargo clippy llm pass 1
  libdd-trace-obfuscation/src/credit_cards.rs
  libdd-trace-obfuscation/src/http.rs
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-obfuscation/src/json.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
  libdd-trace-obfuscation/src/redis.rs
  libdd-trace-obfuscation/src/replacer.rs
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

fix(libdd-trace-obfuscation): cargo clippy llm pass 2
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/src/json_scanner.rs
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

Concise code, add safety comment on mut param into unw_create_addr_space, small cleanups
  bin_tests/src/modes/unix/test_018_thread_limit.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

feat(remote-config): add set_extra_services on SingleFetcher / SingleChangesFetcher
  datadog-remote-config/src/fetch/fetcher.rs
  datadog-remote-config/src/fetch/single.rs
Due: none

chore(remote-config): apply rustfmt with pinned nightly
  datadog-remote-config/src/fetch/fetcher.rs
Due: none
