Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

feat: move span code to sidecar-ffi
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/lib.rs
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/cbindgen.toml
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi, datadog-sidecar, datdog-sidecar-ffi

Test using the right PID
  datadog-crashtracker/src/collector/collector_manager.rs
Due: datadog-crashtracker

Apply Paul's patch
  build-profiling-ffi.sh
Due: none

test(sidecar-ffi): add file for span tests
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/span.rs
  ddcommon-ffi/src/slice.rs
Due: ddcommon, ddcommon-ffi, datadog-sidecar, datdog-sidecar-ffi

fix(agent_info): set global store on test setup
  data-pipeline/src/agent_info/fetcher.rs
Due: data-pipeline

Use allocator for span. It's disgusting.
  Cargo.lock
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  datadog-trace-protobuf/src/pb.rs
  datadog-trace-utils/Cargo.toml
  datadog-trace-utils/src/lib.rs
  datadog-trace-utils/src/msgpack_decoder/decode/map.rs
  datadog-trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  datadog-trace-utils/src/msgpack_decoder/decode/metrics.rs
  datadog-trace-utils/src/msgpack_decoder/decode/span_event.rs
  datadog-trace-utils/src/msgpack_decoder/decode/string.rs
  datadog-trace-utils/src/msgpack_decoder/v04/mod.rs
  datadog-trace-utils/src/msgpack_decoder/v05/mod.rs
  datadog-trace-utils/src/span/mod.rs
  datadog-trace-utils/src/span/trace_utils.rs
  datadog-trace-utils/src/span/v05/mod.rs
  datadog-trace-utils/src/test_utils/mod.rs
  datadog-trace-utils/src/tracer_payload.rs
Due: datadog-sidecar, datdog-sidecar-ffi, datadog-trace-protobuf, datadog-trace-utils

fix(agent_info): Execute test as single threaded to test global state
  data-pipeline/src/agent_info/fetcher.rs
Due: data-pipeline

feat(sidecar): expose path_for_telemetry
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix: clean up and add comments
  datadog-remote-config/src/config/agent_config.rs
  datadog-remote-config/src/config/agent_task.rs
  datadog-tracer-flare/src/zip.rs
Due: none

fix: fmt
  datadog-tracer-flare/src/zip.rs
Due: none

In-process log submission in sidecar (for appsec helper)
  datadog-sidecar/Cargo.toml
  datadog-sidecar/cbindgen.toml
  datadog-sidecar/include/sidecar_ffi.h
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/queue_id.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry/ffi.rs
  datadog-sidecar/src/service/telemetry/in_proc_receiver.rs
  datadog-sidecar/src/service/telemetry/mod.rs
  datadog-sidecar/src/shm_remote_config.rs
  datadog-sidecar/src/unix.rs
  datadog-sidecar/src/windows.rs
Due: datadog-sidecar

Update Cargo.lock
  Cargo.lock
Due: none

Enable logging feature for windows builds.
  windows/build-artifacts.ps1
Due: none

Enable logging feature for windows builds. (#1117)
  windows/build-artifacts.ps1
Due: none

feat(agent_info): Add ResponseObserver
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_fetch_info.rs
Due: data-pipeline

feat: repair test and fixup
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/zip.rs
Due: none

Bump version in preparation for release.
  Cargo.lock
  Cargo.toml
Due: none

Bump version in preparation for release. (#1118)
  Cargo.lock
  Cargo.toml
Due: none

Allocator take 2
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-trace-utils/src/span/mod.rs
Due: datadog-sidecar, datdog-sidecar-ffi, datadog-trace-utils

[crashtracker] Try actually waiting on child processes
  Cargo.lock
  bin_tests/src/bin/crashtracker_bin_test.rs
  datadog-crashtracker-ffi/src/collector/datatypes.rs
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/collector/collector_manager.rs
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/process_handle.rs
  datadog-crashtracker/src/collector/receiver_manager.rs
  datadog-crashtracker/src/receiver/mod.rs
  datadog-crashtracker/src/shared/configuration.rs
  datadog-crashtracker/src/shared/constants.rs
  ddcommon/Cargo.toml
  ddcommon/src/unix_utils.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi, ddcommon

fix: clippy
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
Due: none

Update datadog-crashtracker-ffi/src/collector/datatypes.rs
  datadog-crashtracker-ffi/src/collector/datatypes.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

feat(sidecar): expose path_for_telemetry
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

cleanup test
  datadog-crashtracker/src/collector/api.rs
Due: datadog-crashtracker

fix: apply review
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
Due: none

fix: cargo
  Cargo.lock
  datadog-tracer-flare/Cargo.toml
Due: none

[crashtracker] Try actually waiting on child processes (#1116)
  Cargo.lock
  bin_tests/src/bin/crashtracker_bin_test.rs
  datadog-crashtracker-ffi/src/collector/datatypes.rs
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/collector/collector_manager.rs
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/process_handle.rs
  datadog-crashtracker/src/collector/receiver_manager.rs
  datadog-crashtracker/src/receiver/mod.rs
  datadog-crashtracker/src/shared/configuration.rs
  datadog-crashtracker/src/shared/constants.rs
  ddcommon/Cargo.toml
  ddcommon/src/unix_utils.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi, ddcommon

[crashtracker] Add unit tests
  ddcommon/src/unix_utils.rs
Due: ddcommon

fix: usage of tempfile
  datadog-tracer-flare/src/zip.rs
Due: none

unit tests for reap_child_non_blocking and wait_for_pollhup
  datadog-trace-protobuf/src/remoteconfig.rs
  ddcommon/src/unix_utils.rs
Due: ddcommon, datadog-trace-protobuf

don't checkin unrelated changes
  datadog-trace-protobuf/src/remoteconfig.rs
Due: datadog-trace-protobuf

refactor
  ddcommon/src/unix_utils.rs
  ddcommon/src/unix_utils/errors.rs
  ddcommon/src/unix_utils/execve.rs
  ddcommon/src/unix_utils/file_ops.rs
  ddcommon/src/unix_utils/fork.rs
  ddcommon/src/unix_utils/mod.rs
  ddcommon/src/unix_utils/process.rs
  ddcommon/src/unix_utils/timeout.rs
Due: ddcommon

PreparedExecve
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/collector/receiver_manager.rs
  ddcommon/src/unix_utils/execve.rs
  ddcommon/src/unix_utils/mod.rs
  ddcommon/tests/execve_integration.rs
Due: datadog-crashtracker, ddcommon

moved errors
  ddcommon/src/unix_utils/errors.rs
  ddcommon/src/unix_utils/mod.rs
  ddcommon/src/unix_utils/process.rs
Due: ddcommon

Add config for dd-octo-sts so gitlab jobs can access repo
  .github/chainguard/gitlab.libddprof-comment-pr.sts.yaml
  .github/chainguard/gitlab.libddprof-draft-release.sts.yaml
Due: none

open_file_or_quiet should return std::io::result
  datadog-crashtracker/src/collector/receiver_manager.rs
  ddcommon/src/unix_utils/file_ops.rs
Due: datadog-crashtracker, ddcommon

file_ops tests
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/unix_utils/file_ops.rs
Due: ddcommon

timeout moved to higher level
  datadog-crashtracker/src/collector/collector_manager.rs
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/process_handle.rs
  datadog-crashtracker/src/collector/receiver_manager.rs
  ddcommon/src/lib.rs
  ddcommon/src/timeout.rs
  ddcommon/src/unix_utils/mod.rs
  ddcommon/src/unix_utils/process.rs
Due: datadog-crashtracker, ddcommon

unix only test
  ddcommon/tests/execve_integration.rs
Due: ddcommon

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log
