Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

tests: do not run http tests under Miri
  libdd-agent-client/tests/agent_info.rs
  libdd-agent-client/tests/evp_event.rs
  libdd-agent-client/tests/pipeline_stats.rs
  libdd-agent-client/tests/static_headers.rs
  libdd-agent-client/tests/stats.rs
  libdd-agent-client/tests/telemetry.rs
  libdd-agent-client/tests/traces.rs
Due: none

fix: use proper truth value for header
  libdd-agent-client/src/client.rs
  libdd-agent-client/tests/traces.rs
Due: none

refactor: get rid of unused variant
  libdd-agent-client/src/error.rs
Due: none

fix: confusion around keep-alive and connection pooling
  libdd-agent-client/src/builder.rs
Due: none

refactor: clean the agent-client code a bit
  Cargo.lock
  libdd-agent-client/Cargo.toml
  libdd-agent-client/src/builder.rs
  libdd-agent-client/src/client.rs
Due: none

fix: fix std import
  libdd-agent-client/src/builder.rs
Due: none

style: replace repeated fully-qualified paths with use imports in libdd-agent-client
  libdd-agent-client/src/builder.rs
  libdd-agent-client/src/client.rs
  libdd-agent-client/src/lib.rs
Due: none

chore: expose libdd-http-client features
  libdd-agent-client/Cargo.toml
Due: none

refactor: get rid of auto_config silent get_var
  libdd-agent-client/src/builder.rs
  libdd-agent-client/src/lib.rs
Due: none

refactor: fold timeout_from_env + transport env-vars into auto_detect()
  libdd-agent-client/src/builder.rs
  libdd-agent-client/src/lib.rs
Due: none

chore: update to latest libdatadog deps
  libdd-agent-client/Cargo.toml
Due: none

refactor(ffe): validate at parse time that total_shards is non-zero (#1969)
  datadog-ffe/src/rules_based/sharder.rs
  datadog-ffe/src/rules_based/ufc/compiled_flag_config.rs
  datadog-ffe/src/rules_based/ufc/models.rs
Due: none

Better macos support
  datadog-ipc/src/platform/unix/sockets/macos.rs
  datadog-sidecar/src/setup/thread_listener.rs
  datadog-sidecar/src/setup/unix.rs
Due: datadog-ipc, datadog-sidecar

fix: pull back dep to version compatible with 1.84
  Cargo.lock
  datadog-sidecar/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-tinybytes/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, datadog-sidecar, libdd-tinybytes, libdd-trace-utils

DEBUG
  spawn_worker/build.rs
  spawn_worker/src/check_execinfo.c
  spawn_worker/src/direct_entry.c
Due: spawn-worker

Don't overweaken .o symbols
  tools/sidecar_mockgen/src/lib.rs
Due: none

Fix stack misalignment on x64
  spawn_worker/src/direct_entry.c
Due: spawn-worker

Add macos symbol weakening
  tools/sidecar_mockgen/src/lib.rs
Due: none

Run init_array
  spawn_worker/src/direct_entry.c
Due: spawn-worker

Add direct exec capabilities of the sidecar via dynamic linker
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/unix.rs
  spawn_worker/build.rs
  spawn_worker/src/direct_entry.c
  spawn_worker/src/unix/mod.rs
  spawn_worker/src/unix/spawn.rs
  tools/sidecar_mockgen/src/lib.rs
Due: datadog-sidecar, spawn-worker

style: formatting
  libdd-otel-thread-ctx/src/lib.rs
Due: none

feat: add otel thread ctx setup autotest FFI
  Cargo.lock
  libdd-otel-thread-ctx-ffi/Cargo.toml
  libdd-otel-thread-ctx-ffi/cbindgen.toml
  libdd-otel-thread-ctx-ffi/src/lib.rs
  libdd-otel-thread-ctx/Cargo.toml
  libdd-otel-thread-ctx/src/autocheck.rs
  libdd-otel-thread-ctx/src/lib.rs
Due: none

ci: fix miri workflow when there are no tests to pass
  .github/workflows/miri.yml
Due: none

ci: prevent nextest to fail if no tests are executed in a crate
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

ci: clean up test workflow using no-tests=pass instead of filtering crates
  .github/workflows/test.yml
Due: none

perf: pre-compute string messagepack encoding (#1948)
  datadog-sidecar/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-tinybytes/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/benches/serialization.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, datadog-sidecar, libdd-tinybytes, libdd-trace-utils

feat: otel thread ctx FFI (#1915)
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  libdd-otel-thread-ctx-ffi/Cargo.toml
  libdd-otel-thread-ctx-ffi/build.rs
  libdd-otel-thread-ctx-ffi/cbindgen.toml
  libdd-otel-thread-ctx-ffi/src/lib.rs
  libdd-otel-thread-ctx-ffi/tests/elf_properties.rs
  libdd-otel-thread-ctx-ffi/tls-dynamic-list.txt
  libdd-otel-thread-ctx/src/lib.rs
  tools/docker/Dockerfile.build
Due: none

wip communication mv to sidecar
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/appsec.rs
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/unix.rs
Due: datadog-sidecar, datdog-sidecar-ffi

add more unit tests
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-trace-utils

Dummy
  datadog-sidecar/src/entry.rs
  spawn_worker/src/direct_entry.c
  spawn_worker/src/unix/spawn.rs
Due: datadog-sidecar, spawn-worker

Use canonical FFE fixtures
  .github/dependabot.yml
  .gitmodules
  datadog-ffe/benches/eval.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/compiled_flag_config.rs
  datadog-ffe/tests/data/flags-v1.json
  datadog-ffe/tests/data/tests/test-case-boolean-one-of-matches.json
  datadog-ffe/tests/data/tests/test-case-comparator-operator-flag.json
  datadog-ffe/tests/data/tests/test-case-disabled-flag.json
  datadog-ffe/tests/data/tests/test-case-empty-flag.json
  datadog-ffe/tests/data/tests/test-case-flag-with-empty-string.json
  datadog-ffe/tests/data/tests/test-case-integer-flag.json
  datadog-ffe/tests/data/tests/test-case-kill-switch-flag.json
  datadog-ffe/tests/data/tests/test-case-new-user-onboarding-flag.json
  datadog-ffe/tests/data/tests/test-case-no-allocations-flag.json
  datadog-ffe/tests/data/tests/test-case-null-operator-flag.json
  datadog-ffe/tests/data/tests/test-case-null-targeting-key.json
  datadog-ffe/tests/data/tests/test-case-numeric-flag.json
  datadog-ffe/tests/data/tests/test-case-numeric-one-of.json
  datadog-ffe/tests/data/tests/test-case-regex-flag.json
  datadog-ffe/tests/data/tests/test-case-start-and-end-date-flag.json
  datadog-ffe/tests/data/tests/test-flag-that-does-not-exist.json
  datadog-ffe/tests/data/tests/test-json-config-flag.json
  datadog-ffe/tests/data/tests/test-no-allocations-flag.json
  datadog-ffe/tests/data/tests/test-special-characters.json
  datadog-ffe/tests/data/tests/test-string-with-special-characters.json
Due: none

Fix canonical FFE fixture CI paths
  .github/CODEOWNERS
  .github/workflows/test-ffi.yml
  datadog-ffe/src/rules_based/ufc/models.rs
  examples/ffi/README.md
  examples/ffi/ffe.c
  tools/src/bin/ffi_test.rs
Due: none

Resolve FFE fixture paths from package root
  datadog-ffe/benches/eval.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/models.rs
Due: none

ci: prevent miri fail by allowing nextest to pass on no-tests condition (#1978)
  .github/workflows/coverage.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
Due: none

ci: use builder on windows platforms
  builder/src/arch/windows.rs
  builder/src/builder.rs
  builder/src/profiling.rs
  windows/build-artifacts.ps1
Due: none

refactor: move add_pkg_config to arch
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/mod.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/profiling.rs
Due: none

chore: reference libddprof branch that matches the changes in the builder
  .gitlab-ci.yml
Due: none

chore: modify csproj to update binary paths
  windows/libdatadog.csproj
Due: none

perf: compute thing once
  libdd-telemetry-ffi/src/lib.rs
Due: libdd-telemetry, libdd-telemetry-ffi

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
