Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

Replace Devflow stale branch auto-closer with MergeGate rule
  repository.datadog.yml
Due: none

Fix specs failing due to slightly changed behavior on ruby-master
  ruby/spec/libdatadog_spec.rb
Due: none

Minor: Add `irb` to development dependencies
  ruby/gems.rb
Due: none

Minor: Refresh rspec configuration
  ruby/spec/spec_helper.rb
Due: none

Replace Devflow stale branch auto-closer with MergeGate rule (#1152)
  repository.datadog.yml
Due: none

[NO-TICKET] Fix failing "Ruby gem scaffolding" CI (#1153)
  ruby/gems.rb
  ruby/spec/libdatadog_spec.rb
  ruby/spec/spec_helper.rb
Due: none

Try this
  datadog-crashtracker/src/crash_info/error_data.rs
Due: datadog-crashtracker

Add trace tagging capabilities
  datadog-remote-config/src/lib.rs
Due: none

Improve message
  datadog-crashtracker/src/crash_info/error_data.rs
  datadog-crashtracker/src/crash_info/stacktrace.rs
  datadog-trace-protobuf/src/remoteconfig.rs
Due: datadog-crashtracker, datadog-trace-protobuf

Make sure the log is helpful
  datadog-crashtracker/src/crash_info/error_data.rs
  datadog-crashtracker/src/crash_info/stacktrace.rs
Due: datadog-crashtracker

Make enabling health metrics configurable for the Trace Exporter
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter/builder.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline, data-pipeline-ffi

Attempt to fix test on Windows
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

CharSlice is not a CString
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

First symbolize if failed, normalize
  datadog-crashtracker-ffi/src/crash_info/api.rs
  datadog-crashtracker/src/crash_info/error_data.rs
  datadog-crashtracker/src/crash_info/mod.rs
  datadog-crashtracker/src/crash_info/stacktrace.rs
  datadog-crashtracker/src/receiver/entry_points.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

feat(sidecar): add telemetry clients expiration
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

chore: add debug logs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

feat(sidecar): buffer integrations and dependencies
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_data.rs
Due: datadog-sidecar

feat(sidecar): apply feedbacks
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat: remove needs for version
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(sidecar): remove unused AppInstance and EnqueuedTelemetryData and refacto telemetry
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/service/telemetry/app_instance.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  datadog-sidecar/src/service/telemetry/mod.rs
Due: datadog-sidecar

feat(sidecar: telemetry): handle config buffering
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

feat: apply PR suggestions
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-trace-protobuf/src/remoteconfig.rs
Due: datadog-sidecar, datdog-sidecar-ffi, datadog-trace-protobuf

feat(sidecar): replace tokio Mutex by standard one for consistency
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

feat(sidecar): expose path_for_telemetry
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(sidecar): use cached telemetry clients
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

chore: fix telemetry lifecycle
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore: merge telemetry module
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/service/telemetry/in_proc_receiver.rs
  datadog-trace-protobuf/src/remoteconfig.rs
Due: datadog-sidecar, datadog-trace-protobuf

feat(sidecar): update TelemetryCachedClient structs
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

feat(sidecar): clean sidecar server telemetry behaviour
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_stats.rs
  datadog-sidecar/src/service/telemetry/mod.rs
  datadog-sidecar/src/tracer.rs
Due: datadog-sidecar, datdog-sidecar-ffi

refacto(trace-utils): refacto comments
  datadog-trace-utils/src/trace_utils.rs
Due: datadog-trace-utils

CharSlice is not a CString (#1157)
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(sidecar): add telemetry clients expiration (#1077)
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/service/telemetry/app_instance.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_stats.rs
  datadog-sidecar/src/service/telemetry/in_proc_receiver.rs
  datadog-sidecar/src/service/telemetry/mod.rs
  datadog-sidecar/src/tracer.rs
Due: datadog-sidecar, datdog-sidecar-ffi

APMSP-2173 Make enabling health metrics configurable for the Trace Exporter (#1156)
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter/builder.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline, data-pipeline-ffi

fix(review): fix last comments
  datadog-tracer-flare/src/error.rs
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
Due: none

refacto(trace-utils): refacto comments (#1159)
  datadog-trace-utils/src/trace_utils.rs
Due: datadog-trace-utils

[APMSP-1978] Sending the zipped flare to the agent (#1126)
  Cargo.lock
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/config/agent_task.rs
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/error.rs
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
Due: none

Fix possible remote config deadlock
  datadog-remote-config/src/fetch/multitarget.rs
Due: none

Fix possible remote config deadlock (#1161)
  datadog-remote-config/src/fetch/multitarget.rs
Due: none

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log
