Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

Set resource group to unknown instead of panicking
  ddcommon/src/azure_app_services.rs
Due: ddcommon

Changed logic order to check DD_AZURE_RESOURCE_GROUP first
  ddcommon/src/azure_app_services.rs
Due: ddcommon

ran cargo fmt
  ddcommon/src/azure_app_services.rs
Due: ddcommon

fix: format
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  ddtelemetry/src/worker/http_client.rs
Due: data-pipeline, data-pipeline-ffi, ddtelemetry

fix: test expectation
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Temp changes
  datadog-sidecar-ffi/src/lib.rs
  ddtelemetry/src/data/payloads.rs
Due: ddtelemetry, datadog-sidecar, datdog-sidecar-ffi

[WIP] Avoid duplication.
  data-pipeline-ffi/src/error.rs
Due: data-pipeline, data-pipeline-ffi

Add string vectors
  datadog-sidecar-ffi/src/lib.rs
  ddtelemetry/src/data/payloads.rs
Due: ddtelemetry, datadog-sidecar, datdog-sidecar-ffi

reuse http client in trace exporter
  data-pipeline/src/trace_exporter/builder.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

feat(span_concentrator): replace std map with hashbrown for better performances (#1234)
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
Due: data-pipeline

Rust docs
  datadog-crashtracker/src/collector/collector_manager.rs
  datadog-crashtracker/src/collector/emitters.rs
  datadog-crashtracker/src/collector/receiver_manager.rs
  datadog-crashtracker/src/receiver/entry_points.rs
  datadog-crashtracker/src/receiver/receive_report.rs
  datadog-crashtracker/src/shared/constants.rs
  datadog-crashtracker/src/shared/mod.rs
  datadog-crashtracker/src/shared/unix_socket_communication.rs
  docs/crashtracker-unix-socket-communication.md
Due: datadog-crashtracker

chore(remote-config): make live debugger optional feature
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/fetch/fetcher.rs
  datadog-remote-config/src/fetch/test_server.rs
  datadog-remote-config/src/parse.rs
  datadog-remote-config/src/path.rs
  datadog-sidecar/Cargo.toml
Due: datadog-sidecar

chore: improve logging in telemetry crate
  Cargo.lock
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/trace_exporter/builder.rs
  ddtelemetry/Cargo.toml
  ddtelemetry/src/config.rs
  ddtelemetry/src/lib.rs
  ddtelemetry/src/worker/http_client.rs
  ddtelemetry/src/worker/mod.rs
  examples/ffi/README.md
  examples/ffi/trace_exporter.c
Due: data-pipeline, data-pipeline-ffi, ddtelemetry

cargo fmt --all
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  ddtelemetry/src/worker/http_client.rs
Due: data-pipeline, data-pipeline-ffi, ddtelemetry

fix: clippy
  data-pipeline/examples/send-traces-with-stats.rs
Due: data-pipeline

fix: clippy
  ddcommon-ffi/src/array_queue.rs
  ddcommon-ffi/src/error.rs
  ddcommon-ffi/src/string.rs
  ddcommon-ffi/src/vec.rs
Due: ddcommon, ddcommon-ffi

fix: clippy
  datadog-crashtracker/src/collector/emitters.rs
  datadog-trace-utils/src/msgpack_decoder/v04/mod.rs
  datadog-trace-utils/src/msgpack_decoder/v05/mod.rs
Due: datadog-crashtracker, datadog-trace-utils

fix: clippy
  datadog-profiling/src/api.rs
Due: datadog-profiling

fix: clippy
  data-pipeline/src/span_concentrator/aggregation.rs
  datadog-live-debugger/src/expr_defs.rs
Due: data-pipeline

fix: clippy
  datadog-remote-config/src/fetch/fetcher.rs
  datadog-remote-config/src/file_storage.rs
  datadog-remote-config/src/path.rs
Due: none

fix: clippy
  datadog-ipc/src/platform/unix/platform_handle.rs
  datadog-ipc/src/rate_limiter.rs
Due: datadog-ipc

fix: clippy
  datadog-sidecar/src/log.rs
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/session_info.rs
Due: datadog-sidecar

fix: clippy
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/session_info.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix: clippy
  datadog-trace-obfuscation/src/redis_tokenizer.rs
Due: datadog-trace-obfuscation

chore(remote-config): make live debugger optional feature (#1246)
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/fetch/fetcher.rs
  datadog-remote-config/src/fetch/test_server.rs
  datadog-remote-config/src/parse.rs
  datadog-remote-config/src/path.rs
  datadog-sidecar/Cargo.toml
Due: datadog-sidecar

expose retry strategy
  datadog-trace-utils/src/send_data/mod.rs
  datadog-trace-utils/src/send_with_retry/mod.rs
Due: datadog-trace-utils

First pass
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  datadog-crashtracker-ffi/src/lib.rs
  datadog-crashtracker-ffi/src/runtime_callback.rs
  datadog-crashtracker/src/collector/emitters.rs
  datadog-crashtracker/src/crash_info/builder.rs
  datadog-crashtracker/src/crash_info/experimental.rs
  datadog-crashtracker/src/lib.rs
  datadog-crashtracker/src/receiver/receive_report.rs
  datadog-crashtracker/src/runtime_callback.rs
  datadog-crashtracker/src/shared/constants.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

Remove unused test file
  bin_tests/src/modes/unix/mod.rs
Due: none

Use WEBSITE_SKU instead of WEBSITE_OWNER_NAME to check for flex consumption function
  ddcommon/src/azure_app_services.rs
Due: ddcommon

Add comment to ensure future developers know to update other repos if flex consumption rg detection logic changes
  ddcommon/src/azure_app_services.rs
Due: ddcommon

Add i32 vector
  datadog-sidecar-ffi/src/lib.rs
  ddtelemetry/src/data/payloads.rs
Due: ddtelemetry, datadog-sidecar, datdog-sidecar-ffi

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log
