Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

fix(crashtracking): honor proxy environment variables
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/tests/proxy.rs
Due: libdd-crashtracker

bench(sampling): remove batched-loop noise
  libdd-sampling/benches/glob_matcher_bench.rs
  libdd-sampling/benches/sampling_bench.rs
Due: none

bench(data-pipeline): isolate enqueue timing
  libdd-data-pipeline/benches/trace_buffer.rs
Due: libdd-data-pipeline

bench(profiling): measure allocator thread CPU time
  Cargo.lock
  libdd-profiling-heap-allocator/Cargo.toml
  libdd-profiling-heap-allocator/benches/sampler_overhead.rs
Due: libdd-profiling

perf(ci): rebalance benchmark shards via measured per-crate weights
  benchmark/bench-weights.json
  benchmark/select_bench_packages.sh
Due: none

update AGENTS.md to not suggest license headers for json files
  AGENTS.md
Due: none

feat(release): score dependency floors and cargo features in semver-level
  scripts/semver-level.sh
Due: none

ci(pr-title): allow build PRs to carry a minor or major level
  .github/workflows/pr-title-semver-check.yml
Due: none

Smoke test downstream summary formatting
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/DOWNSTREAM_SUMMARY_SMOKE_TEST.md
Due: libdd-data-pipeline

Remove downstream summary smoke test
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/DOWNSTREAM_SUMMARY_SMOKE_TEST.md
Due: libdd-data-pipeline

chore(deps): update thiserror to 2
  Cargo.lock
  libdd-capabilities/Cargo.toml
  libdd-common/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-core/Cargo.toml
  libdd-remote-config/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-common

fix: make all obfuscation config fields default if missing
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline

Validate Rust-source downstream consumers
  .github/downstream-consumers.json
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/DOWNSTREAM_RUST_SOURCE_SMOKE_TEST.md
  scripts/downstream-impact.py
  scripts/tests/test_downstream_impact.py
Due: libdd-data-pipeline

Remove Rust-source downstream smoke test
  libdd-data-pipeline/DOWNSTREAM_RUST_SOURCE_SMOKE_TEST.md
Due: libdd-data-pipeline

feat: simplify tag_replace_rules, remove unused option
  libdd-data-pipeline/src/agent_info/schema.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
Due: libdd-data-pipeline, libdd-trace-obfuscation

fix(lints): manually implement PartialEq for JsonObfuscatorConfig
  libdd-trace-obfuscation/src/json/mod.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
Due: libdd-trace-obfuscation

chore(sampling): apply rustfmt
  libdd-sampling/benches/glob_matcher_bench.rs
Due: none

perf(trace-utils)!: use pooled spans on the send path (#2382)
  Cargo.lock
  libdd-data-pipeline-core/src/agentless/exporter.rs
  libdd-data-pipeline-ffi/src/tracer.rs
  libdd-data-pipeline/examples/send-traces-agentless.rs
  libdd-data-pipeline/examples/send-traces-with-stats.rs
  libdd-data-pipeline/src/agentless/exporter.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-data-pipeline/tests/test_agentless_stats.rs
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/benches/deserialization_v05.rs
  libdd-trace-utils/benches/main.rs
  libdd-trace-utils/benches/otlp_encoding.rs
  libdd-trace-utils/benches/span_pool.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  libdd-trace-utils/src/otlp_encoder/mod.rs
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/span_pool.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/span/vec_map.rs
  libdd-trace-utils/src/trace_filter.rs
  libdd-trace-utils/src/trace_utils.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-utils

fix(tests): rename http.remove_paths_with_digits -> remove_path_digits
  libdd-trace-obfuscation/tests/data/obfuscation_test_spans.jsonl
Due: libdd-trace-obfuscation

fix: serde(default) to all obfuscation config components
  libdd-trace-obfuscation/src/obfuscation_config.rs
Due: libdd-trace-obfuscation

fix(crashtracking): honor proxy environment variables (#2462)
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/tests/proxy.rs
Due: libdd-crashtracker

perf(trace): encode agentless IDs without formatting
  libdd-trace-utils/benches/agentless_encoding.rs
  libdd-trace-utils/benches/main.rs
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
Due: libdd-trace-utils

refactor(trace): share fixed-width ID encoding
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/hex.rs
  libdd-trace-utils/src/json_log_encoder/span.rs
  libdd-trace-utils/src/lib.rs
Due: libdd-trace-utils

refactor(trace-utils): remove redundant inline hints
  libdd-trace-utils/src/hex.rs
Due: libdd-trace-utils

Update libdd-trace-utils/src/otlp_encoder/mapper_v1.rs
  libdd-trace-utils/src/otlp_encoder/mapper_v1.rs
Due: libdd-trace-utils

fix: comment
  libdd-trace-utils/src/otlp_encoder/mapper_v1.rs
Due: libdd-trace-utils

chore: update AGENTS.md to not suggest license headers for json files (#2502)
  AGENTS.md
Due: none

Run downstream product builds
  .github/downstream-consumers.json
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/DOWNSTREAM_PRODUCT_BUILD_SMOKE_TEST.md
  scripts/downstream-impact.py
  scripts/tests/test_downstream_impact.py
Due: libdd-data-pipeline

Normalize candidate paths in downstream diagnostics
  .github/workflows/downstream-impact.yml
  scripts/compare-cargo-diagnostics.py
  scripts/tests/test_compare_cargo_diagnostics.py
Due: none

Ignore secondary Cargo build summaries
  scripts/compare-cargo-diagnostics.py
  scripts/tests/test_compare_cargo_diagnostics.py
Due: none

ci(release): install release tools from prebuilt binaries
  .github/workflows/release-proposal-dispatch.yml
Due: none

feat(release): allow overriding a crate's bump level from the dispatch
  .github/workflows/release-proposal-dispatch.yml
  scripts/release-version-bumps.sh
Due: none

perf(trace): encode agentless IDs without formatting (#2452)
  libdd-trace-utils/benches/agentless_encoding.rs
  libdd-trace-utils/benches/main.rs
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
  libdd-trace-utils/src/hex.rs
  libdd-trace-utils/src/json_log_encoder/span.rs
  libdd-trace-utils/src/lib.rs
Due: libdd-trace-utils

perf(common): add full regex ASCII mode
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  libdd-common/Cargo.toml
  libdd-common/src/regex_engine.rs
  libdd-common/tests/regex-ascii/.gitignore
  libdd-common/tests/regex-ascii/Cargo.toml
  libdd-common/tests/regex-ascii/src/lib.rs
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline-core/src/agentless/exporter.rs
  libdd-data-pipeline/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-common, libdd-trace-obfuscation, libdd-trace-utils

Expose Node smoke diagnostic
  .github/workflows/downstream-impact.yml
Due: none

Capture structured Node WASM diagnostics
  .github/workflows/downstream-impact.yml
Due: none

Stabilize Node baseline diagnostics
  .github/workflows/downstream-impact.yml
Due: none

fix(common)!: require explicit regex modes
  .github/workflows/test.yml
  AGENTS.md
  builder/Cargo.toml
  libdd-agent-client/Cargo.toml
  libdd-capabilities-impl/Cargo.toml
  libdd-common/src/entity_id/unix/container_id.rs
  libdd-common/src/regex_engine.rs
  libdd-common/tests/regex-ascii/Cargo.toml
  libdd-common/tests/regex-ascii/src/lib.rs
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-core/src/agentless/exporter.rs
  libdd-dogstatsd-client/Cargo.toml
  libdd-http-client/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-sampling/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
  tools/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-common, libdd-telemetry, libdd-dogstatsd-client, libdd-profiling, libdd-trace-obfuscation

Fix Node and PHP downstream product builds
  .github/downstream-consumers.json
  .github/workflows/downstream-impact.yml
  scripts/downstream-impact.py
  scripts/tests/test_downstream_impact.py
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
