Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

cfg unix
  crashtracker/build.rs
  crashtracker/src/crash_info/sig_info.rs
Due: crashtracker

more cleanup and comments
  crashtracker/src/crash_info/emit_sicodes.c
  crashtracker/src/crash_info/sig_info.rs
Due: crashtracker

use the si_code
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/emit_sicodes.c
  crashtracker/src/crash_info/sig_info.rs
Due: crashtracker

Revert "[WIP] Test benchmarks version bump"
  Cargo.lock
  Cargo.toml
Due: none

[WIP] Test benchmarks version bump
  Cargo.lock
  Cargo.toml
Due: none

crashtracking custom unwinding Re-Add the capability to emit symbols in process
  crashtracker/build.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/libunwind_arm.rs
  crashtracker/src/collector/libunwind_x86_64.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/shared/configuration.rs
  docs/RFCs/0008-custom-unwinder.md
  examples/ffi/CMakeLists.txt
  examples/ffi/README.md
  examples/ffi/crashtracking.c
Due: crashtracker

[WIP] Test benchmarks version drop
  Cargo.lock
  Cargo.toml
Due: none

Revert "[WIP] Test benchmarks version drop"
  Cargo.lock
  Cargo.toml
Due: none

[WIP] Change bench compiler flags
  Cargo.toml
Due: none

crashtracking - libunwind Switch the default to OFF
  crashtracker/build.rs
  crashtracker/src/shared/configuration.rs
  docs/RFCs/0008-custom-unwinder.md
Due: crashtracker

Rearrange folder structure.
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/decode/error.rs
  trace-utils/src/msgpack_decoder/decode/map.rs
  trace-utils/src/msgpack_decoder/decode/meta.rs
  trace-utils/src/msgpack_decoder/decode/metrics.rs
  trace-utils/src/msgpack_decoder/decode/mod.rs
  trace-utils/src/msgpack_decoder/decode/number.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/decode/string.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v04/span.rs
  trace-utils/src/span/v04/trace_utils.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, data-pipeline-ffi, trace-utils

don't set serverless compat version from binary
  serverless/src/main.rs
Due: serverless

bump datadog-serverless-trace-mini-agent to 0.12.0
  Cargo.lock
  serverless/Cargo.toml
Due: serverless

[WIP] Test benchmarks
  README.md
Due: none

Skip serializing parent-id when null
  trace-utils/src/span_v04/span.rs
Due: trace-utils

Stabilize benchmarks using opt-level
  Cargo.toml
Due: none

Add ffi to enable client-side stats
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

downgrade cc as suggested by levi
  crashtracker/Cargo.toml
Due: crashtracker

format
  crashtracker/src/collector/emitters.rs
Due: crashtracker

[crashtracker] Enable client to configure which signals to trap (#856)
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/sig_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver/mod.rs
  crashtracker/src/shared/configuration.rs
  examples/ffi/crashtracking.c
Due: crashtracker

fix tests
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

don't change cargo.toml
  Cargo.toml
Due: none

two possible si_codes
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Fix possible race confition when adding, then removing remote config services
  remote-config/src/fetch/multitarget.rs
Due: none

fix test
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Remove flaky si_code checks
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

fix cc version
  Cargo.lock
Due: none

Add ffi to enable client-side stats (#880)
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Add span decoder for bytes slices
  tinybytes/src/bytes_string.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/span_v04/mod.rs
  trace-utils/src/span_v04/span.rs
Due: trace-utils

Fix possible race confition when adding, then removing remote config services (#882)
  remote-config/src/fetch/multitarget.rs
Due: none

Skip serializing parent-id when null (#879)
  trace-utils/src/span_v04/span.rs
Due: trace-utils

Remove Bytes decoder function
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, trace-utils
