Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

Remove sleep which is no longer required
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Lint
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Initia; (#693)
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Fix saguard name
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Minor: Move read of `sig_info` inside `handle_posix_signal_impl`
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Add dropped-p0 headers
  data-pipeline/src/trace_exporter.rs
  trace-utils/src/tracer_header_tags.rs
Due: data-pipeline, trace-utils

Fix vendor header name
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
Due: trace-utils

Fix vendor header name (#694)
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
Due: trace-utils

Add default for missing fields
  sidecar-ffi/src/lib.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
  trace-utils/tests/test_send_data.rs
Due: sidecar, sidecar-ffi, trace-utils

Minor: Use `if let` instead of `match`
  crashtracker/src/collector/emitters.rs
Due: crashtracker

Fix FFI example
  examples/ffi/crashtracking.c
Due: none

Design RFC for crashtracker
  docs/RFCs/0004-crashtracker-design.md
Due: none

[PROF-10656] Add faulting_address to crashtracker reports (#663)
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
Due: crashtracker

[APMSP-1350] Add dropped-p0 headers (#695)
  data-pipeline/src/trace_exporter.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/tracer_header_tags.rs
  trace-utils/tests/test_send_data.rs
Due: data-pipeline, sidecar, sidecar-ffi, trace-utils

show dogstatsd logs in serverless mini agent
  Cargo.lock
  serverless/Cargo.toml
  serverless/src/main.rs
Due: serverless

increase buffer size to 8192 bytes
  dogstatsd/src/dogstatsd.rs
Due: none

update metric pattern to exclude service checks and to account for container ids
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Due: none

PR comments:
  docs/RFCs/0004-crashtracker-design.md
Due: none

Crashtracking fixups, add some tests
  Cargo.lock
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/lib.rs
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/mod.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_000_donothing.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_004_donothing_sigstack.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/shared/configuration.rs
Due: crashtracker

Add and fix chaining test
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
Due: none

Fix crashtracker test to abide by new API
  crashtracker/src/collector/api.rs
Due: crashtracker

Fix FFI issue
  crashtracker-ffi/src/collector/datatypes.rs
Due: crashtracker

Fix formatting
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
  crashtracker-ffi/src/collector/datatypes.rs
Due: crashtracker

Try to fix macos
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

exclude events from being parsed
  dogstatsd/src/dogstatsd.rs
Due: none

add comment for 8KB max buffer size matching default value in Go Agent
  dogstatsd/src/dogstatsd.rs
Due: none

Fix license
  bin_tests/src/modes/mod.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_000_donothing.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_004_donothing_sigstack.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  bin_tests/src/modes/unix/test_007_chaining.rs
Due: none

Factor saguard into its own file
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/saguard.rs
Due: crashtracker

lazily initialize static regex for dogstatsd metrics
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/metric.rs
Due: none

More PR comments
  docs/RFCs/0004-crashtracker-design.md
Due: none

fix(ddcommon): warning on unused import
  ddcommon/src/connector/mod.rs
Due: ddcommon

minor refactors
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Due: none

add unit tests
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Due: none

Fix heap allocations
  bin_tests/src/modes/unix/test_007_chaining.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/saguard.rs
Due: crashtracker

remove explicit drops
  dogstatsd/src/dogstatsd.rs
Due: none

Increase DogStatsD Buffer Size and Pattern Match Container Ids (#698)
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
  serverless/Cargo.toml
  serverless/src/main.rs
Due: serverless

Remove debug line
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Update crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Fixups
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/shared/configuration.rs
Due: crashtracker

Final PR comments
  docs/RFCs/0004-crashtracker-design.md
Due: none

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
