Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

Store endpoints on a hashset
  libdd-telemetry/src/data/payloads.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

Remove response code
  datadog-sidecar-ffi/src/lib.rs
  libdd-telemetry/src/data/payloads.rs
Due: libdd-telemetry, datadog-sidecar, datdog-sidecar-ffi

Lint
  libdd-telemetry/src/data/payloads.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

Remove non used fields
  datadog-sidecar-ffi/src/lib.rs
  libdd-telemetry/src/data/payloads.rs
Due: libdd-telemetry, datadog-sidecar, datdog-sidecar-ffi

Fix errors from rebase
  Cargo.lock
  datadog-sidecar-ffi/src/lib.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry, datadog-sidecar, datdog-sidecar-ffi

test(data-pipeline): handle EINTR in test_health_metrics_disabled
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

test(data-pipeline): handle EINTR in test_health_metrics_disabled (#1430)
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

Fix clippy and rename from malloc -> preload
  bin_tests/build.rs
  bin_tests/preload/preload.c
  bin_tests/src/bin/crashtracker_bin_test.rs
Due: none

Add license header
  bin_tests/preload/preload.c
Due: none

Fix docker cache bake for build.rs under bin_tests
  tools/docker/Dockerfile.build
Due: none

feat(profiler): support cancellation tokens in exporter cxx bindings
  examples/cxx/profiling.cpp
  libdd-profiling-ffi/cbindgen.toml
  libdd-profiling/src/cxx.rs
Due: libdd-profiling, libdd-profiling-ffi

feat(profiler): support cancellation tokens in exporter cxx bindings (#1422)
  examples/cxx/profiling.cpp
  libdd-profiling-ffi/cbindgen.toml
  libdd-profiling/src/cxx.rs
Due: libdd-profiling, libdd-profiling-ffi

feat(profiling): Simpler API for profile exporter
  examples/ffi/exporter.cpp
  libdd-common/src/lib.rs
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/tests/form.rs
Due: libdd-common, libdd-profiling, libdd-profiling-ffi

First commit
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Explicitly flush the file
  examples/cxx/profiling.cpp
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/file_exporter.rs
  libdd-profiling/tests/file_exporter_test.rs
Due: libdd-profiling

clippy error on windows
  libdd-profiling/src/exporter/file_exporter.rs
Due: libdd-profiling

First commit (#1431)
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

feat(profiling): Simpler API for profile exporter (#1423)
  examples/ffi/exporter.cpp
  libdd-common/src/lib.rs
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/tests/form.rs
Due: libdd-common, libdd-profiling, libdd-profiling-ffi

windows test failures
  libdd-profiling/src/exporter/file_exporter.rs
Due: libdd-profiling

RAII test cleanup
  libdd-profiling/tests/file_exporter_test.rs
Due: libdd-profiling

changed-crates action improvement
  .github/actions/changed-crates/action.yml
  .github/workflows/pr-metadata-docs-and-deps.yml
Due: none

feat(data-pipeline): add unified health metrics API with SendResult and TransportErrorType
  libdd-data-pipeline/src/health_metrics.rs
Due: libdd-data-pipeline

feat(data-pipeline): integrate SendResult into TraceExporter for unified metric emission
  libdd-data-pipeline/src/health_metrics.rs
  libdd-data-pipeline/src/trace_exporter/metrics.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/transport.rs
Due: libdd-data-pipeline

feat(data-pipeline): emit health metric on trace serialization errors
  libdd-data-pipeline/src/health_metrics.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

chore(data-pipeline): format
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

Add >100mb check for stable config files
  libdd-library-config/src/lib.rs
Due: none

fix format and clippy
  libdd-library-config/src/lib.rs
Due: none

Use constants instead of strings
  libdd-profiling/src/exporter/file_exporter.rs
  libdd-profiling/tests/file_exporter_test.rs
Due: libdd-profiling

Fix while read
  .github/workflows/pr-metadata-docs-and-deps.yml
Due: none

Clarifying contributing doc
  CONTRIBUTING.md
Due: none

ci(publishing): enforce conventional commit linting on the PR name (#1413)
  .config/commitlint.config.js
  .github/CODEOWNERS
  .github/workflows/pr-name.yaml
  CONTRIBUTING.md
Due: none

ci(versioning): add workflow to align PR description with the actual changes in the PR.
  .github/workflows/pr-title-semver-check.yml
Due: none

Use a cache in missing-docs and dependency-check jobs
  .github/workflows/pr-metadata-docs-and-deps.yml
Due: none
