Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

[APMSP-1816] Add retry logic to the StatsExporter (#906)
  data-pipeline/src/stats_exporter.rs
Due: data-pipeline

Minor: Use `with_context` to add error message
  profiling/src/collections/identifiable/mod.rs
Due: profiling

Revert changes to use `unwrap` in tests
  profiling/src/internal/profile/mod.rs
Due: profiling

[PROF-11456] Add extra validations for incorrect profiling location ids (#902)
  profiling/src/collections/identifiable/mod.rs
  profiling/src/internal/profile/mod.rs
Due: profiling

poisson upscaling without storing count in the sample types
  profiling/src/api.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/upscaling.rs
Due: profiling

naming
  profiling/src/api.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/upscaling.rs
Due: profiling

[trace-mini-agent] add trace aggregator (#907)
  serverless/src/main.rs
  trace-mini-agent/src/aggregator.rs
  trace-mini-agent/src/lib.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_flusher.rs
Due: serverless, trace-mini-agent

Add poisson upscaling without storing count in the sample types (#908)
  profiling/src/api.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/upscaling.rs
Due: profiling

prepare v15.1.0
  Cargo.lock
  Cargo.toml
Due: none

Prepare v15.1.0 release (#909)
  Cargo.lock
  Cargo.toml
  profiling/src/api.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/upscaling.rs
Due: profiling

[PROF-11405] Small managed string table fixes + cleanups (#905)
  profiling-ffi/src/string_storage.rs
  profiling/src/collections/string_storage.rs
  profiling/src/internal/profile/mod.rs
Due: profiling, profiling-ffi

Add v05 decoding.
  tinybytes/src/bytes_string.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/v05/mod.rs
Due: trace-utils

Integrate v05 decoding/encoding in the trace exporter.
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/trace_utils.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v04/span.rs
  trace-utils/src/span/v05/dict.rs
  trace-utils/src/span/v05/mod.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, data-pipeline-ffi, trace-mini-agent, trace-utils

Refactor send and send_deser_ser.
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

Prevent invalid modes combination in the builder in order to avoid panicking.
  data-pipeline-ffi/src/error.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline, data-pipeline-ffi

Improve error handling in collect_trace_chunks_function.
  data-pipeline/src/trace_exporter/mod.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/span/v05/dict.rs
  trace-utils/src/span/v05/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, trace-mini-agent, trace-utils

Add integration tests for v05 format.
  data-pipeline/tests/snapshots/compare_v04_to_v05_trace_snapshot_test.json
  data-pipeline/tests/snapshots/compare_v05_trace_snapshot_test.json
  data-pipeline/tests/test_trace_exporter.rs
  trace-utils/src/test_utils/mod.rs
Due: data-pipeline, trace-utils

Enable conversion from v04 to v05.
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

Fallback to writing shared memory files to /tmp, if shm_open returns ENOTSUP
  ipc/src/platform/unix/mem_handle.rs
Due: ipc

feat: Add zstd for traces
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/send_with_retry/mod.rs
Due: trace-utils

Solve PR comments.
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v05/dict.rs
  trace-utils/src/span/v05/mod.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, trace-utils

Fallback to writing shared memory files to /tmp, if shm_open returns ENOTSUP (#910)
  ipc/src/platform/unix/mem_handle.rs
Due: ipc

feat: compression optional with feature
  trace-utils/Cargo.toml
  trace-utils/src/send_with_retry/mod.rs
Due: trace-utils

fix: actually return value from block
  trace-utils/Cargo.toml
  trace-utils/src/send_with_retry/mod.rs
Due: trace-utils

fix: fmt
  trace-utils/src/send_with_retry/mod.rs
Due: trace-utils

fmt
  trace-utils/src/send_with_retry/mod.rs
Due: trace-utils

feat: make compression opt-in because windows doesn't like zstd
  trace-utils/Cargo.toml
Due: trace-utils

fix: feature name is called compression
  trace-utils/src/send_with_retry/mod.rs
Due: trace-utils

feat(trace-exporter): add span events and its decoder
  trace-utils/src/msgpack_decoder/decode/mod.rs
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v04/span.rs
  trace-utils/src/span/v04/trace_utils.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
Due: trace-utils

cleanup code
  profiling/src/api.rs
Due: profiling

chore: remove dev comments
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/span/v04/span.rs
Due: trace-utils

tests: add tests to the decoder
  trace-utils/src/msgpack_decoder/decode/span_event.rs
Due: trace-utils

feat: add custom serialization for attributes
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/span/v04/span.rs
Due: trace-utils

Trigger memory bloat in libdatadog
  examples/ffi/CMakeLists.txt
  examples/ffi/profiles.c
Due: none

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
