Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

refactor(trace-stats): share agentless exporter setup
  libdd-data-pipeline-core/src/agentless/v04.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-trace-stats/README.md
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

fix(data-pipeline): correct agentless exporter contracts
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline-core/src/agentless/mod.rs
  libdd-data-pipeline-core/src/agentless/v04.rs
  libdd-data-pipeline-core/src/lib.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agentless/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/README.md
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

chore(release): add libdatadog-release as review-only co-owner of release-PR files
  .github/CODEOWNERS
Due: none

chore(libdd-ffe): bump pyo3 from 0.28 to 0.29 (#2491)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  libdd-ffe/Cargo.toml
Due: none

fix url parsing
  libdd-profiling/src/cxx/profile_exporter.rs
  libdd-profiling/src/cxx/tests.rs
Due: libdd-profiling

feat(data-pipeline)!: generate agentless trace stats (#2488)
  Cargo.lock
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline-core/src/agentless/mod.rs
  libdd-data-pipeline-core/src/agentless/v04.rs
  libdd-data-pipeline-core/src/lib.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agentless/mod.rs
  libdd-data-pipeline/src/agentless/stats.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/README.md
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

fix(telemetry): deduplicate Configuration by name, not entire struct
  libdd-telemetry/src/data/payloads.rs
  libdd-telemetry/src/worker/mod.rs
  libdd-telemetry/src/worker/store.rs
Due: libdd-telemetry

refactor!:Move types to a different crate
  libdd-types/Cargo.toml
  libdd-types/src/endpoint.rs
  libdd-types/src/lib.rs
Due: none

fix(obfuscation): stop forcing serde_json/preserve_order on dependents
  Cargo.lock
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/src/json/mod.rs
Due: libdd-trace-obfuscation

ci(deny): ban serde_json's preserve_order feature
  deny.toml
Due: none

Smoke test all downstream validations
  .github/downstream-consumers.json
Due: none

fix(obfuscation): scope raw path validity to the path
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

Remove all-consumers smoke trigger
  .github/downstream-consumers.json
Due: none

reorder by team and alphabetically
  .github/CODEOWNERS
Due: none

fix(obfuscation): stop forcing serde_json/preserve_order on dependents (#2529)
  Cargo.lock
  deny.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/src/json/mod.rs
Due: libdd-trace-obfuscation

ci: skill to review release proposal PRs (#2394)
  .claude/skills/release-proposal-pr-review-bumps/SKILL.md
Due: none

chore: fix version
  Cargo.lock
  libdd-capabilities-impl/Cargo.toml
  libdd-common/Cargo.toml
  libdd-types/Cargo.toml
Due: libdd-common

fix(obfuscation): keep URLs whose path or fragment holds a bracket (#2527)
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix: tag replace rule ser/deser format
  libdd-trace-obfuscation/src/replacer.rs
Due: libdd-trace-obfuscation

feat(trace-exporter): add API to force flush stats on the trace exporter
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/tests/test_agentless_stats.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

chore(release): add libdatadog-release as review-only co-owner of release-PR files (#2533)
  .github/CODEOWNERS
Due: none

refactor(benchmarks): share thread CPU measurement
  Cargo.lock
  libdd-common/Cargo.toml
  libdd-common/src/bench_utils.rs
  libdd-profiling-heap-allocator/Cargo.toml
  libdd-profiling-heap-allocator/benches/sampler_overhead.rs
Due: libdd-common, libdd-profiling

fix!(rem-cfg): remove AsmRawResponseBody
  libdd-remote-config/src/lib.rs
Due: none

fix(spawn_worker): harden process creation
  Cargo.lock
  datadog-sidecar/src/unix.rs
  spawn_worker/Cargo.toml
  spawn_worker/build.rs
  spawn_worker/src/fork_shim.c
  spawn_worker/src/unix/fork.rs
  spawn_worker/src/unix/spawn.rs
Due: datadog-sidecar, spawn-worker

fix(sidecar): ignore SIGPIPE in daemon entrypoint
  datadog-sidecar/src/unix.rs
Due: datadog-sidecar

fix(spawn_worker): use slice fill for signal mask
  spawn_worker/src/unix/fork.rs
Due: spawn-worker

fix(rem-cfg)!: remove AsmRawResponseBody (#2540)
  libdd-remote-config/src/lib.rs
Due: none

perf(obfuscation): skip regex evaluation for literal misses
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/replacer.rs
Due: libdd-trace-obfuscation

perf(obfuscation): restrict literal prefilter to regex-lite
  .github/workflows/test.yml
  libdd-common/src/regex_engine.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/replacer.rs
Due: libdd-common, libdd-trace-obfuscation

handle utf8 cleanly
  libdd-profiling/include/datadog/profiling.hpp
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/cxx/dictionary.rs
  libdd-profiling/src/cxx/profile.rs
  libdd-profiling/src/cxx/tests.rs
Due: libdd-profiling

fix: tag_replace_rules=null parsing
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline

Avoid unnecessary duplications of source fds
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker

Enforce minimum mac os deployment target
  spawn_worker/build.rs
  spawn_worker/src/fork_shim.c
Due: spawn-worker

Add miri ignore
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker

chore: pin versions so they don't get updated past our supported toolchain
  Cargo.lock
  Cargo.toml
Due: none

fix: add forgotten css to agentless v1 encoder
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests_v1.rs
Due: libdd-trace-utils

fix(release): resolve default features transitively in semver-level
  scripts/semver-level.sh
Due: none

style: rename schema's ObfuscationConfig -> AgentObfuscationConfig
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline

test: add snapshot test verifying it follows the obfuscation config
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/tests/snapshots/client_side_stats_follows_agent_sql_config_snapshot_test.json
  libdd-data-pipeline/tests/snapshots/client_side_stats_follows_agent_sql_config_snapshot_test_tracestats.json
  libdd-data-pipeline/tests/test_stats_obfuscation.rs
Due: libdd-data-pipeline

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
