Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

ci: include libdd-sampling & the latest tracer version in proposal test (#1995)
  .github/workflows/release-proposal-dispatch.yml
  .github/workflows/release-proposal-test.yml
Due: none

refactor(profiling): try_reserve* more in encoding (#1991)
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling

fix(ci): handle other kinds of minor semver changes
  scripts/semver-level.sh
Due: none

test(ffe): isolate canonical fixture suite
  .github/CODEOWNERS
  .gitmodules
  Cargo.lock
  Cargo.toml
  README.md
  datadog-ffe-test-suite/Cargo.toml
  datadog-ffe-test-suite/benches/eval.rs
  datadog-ffe-test-suite/src/lib.rs
  datadog-ffe-test-suite/tests/canonical_fixtures.rs
  datadog-ffe/Cargo.toml
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/models.rs
  examples/ffi/README.md
  examples/ffi/ffe.c
  tools/docker/Dockerfile.build
  tools/src/bin/ffi_test.rs
Due: none

use the large runners for ubuntu as we keep running out of disk space
  .github/workflows/test.yml
Due: none

chore(ci): use the large runners for ubuntu as we keep running out of disk space (#2001)
  .github/workflows/test.yml
Due: none

refactor(profiling): avoid panic on out-of-bounds label set id
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling

perf(profiling): observation map doesn't need HashDos protection (#1988)
  libdd-profiling/src/internal/observation/observations.rs
Due: libdd-profiling

Fix macOS STREAM rendezvous for SCM_RIGHTS fd-passing
  datadog-ipc/src/platform/unix/sockets/macos.rs
  datadog-ipc/src/platform/unix/sockets/mod.rs
Due: datadog-ipc

chore: self-review
  build-common/src/lib.rs
  libdd-otel-thread-ctx-ffi/README.md
  libdd-otel-thread-ctx-ffi/build-optimized.sh
  libdd-otel-thread-ctx-ffi/build.rs
  libdd-otel-thread-ctx/build.rs
Due: none

chore: fmt
  libdd-data-pipeline/src/trace_buffer/mod.rs
Due: libdd-data-pipeline

fix: apply suggestion
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/src/lib.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/tracer_header_tags.rs
  libdd-trace-utils/src/tracer_metadata.rs
Due: libdd-data-pipeline, libdd-trace-utils

feat: add best-effort drop impl for the tracebuffer that flushes
  libdd-data-pipeline/src/trace_buffer/mod.rs
Due: libdd-data-pipeline

fix: allow old PascalCase fields in agent redis/memcached obfuscation config
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/agent_info/schema.rs
  libdd-data-pipeline/src/trace_exporter/trace_filter.rs
Due: libdd-data-pipeline

fix: update dd apm test agent version
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
Due: libdd-trace-utils

fix(ci): handle other kinds of minor semver changes (#2000)
  scripts/semver-level.sh
Due: none

test(ffe): use canonical fixtures (#1979)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/test-ffi.yml
  .gitlab/benchmarks.yml
  .gitmodules
  Cargo.lock
  Cargo.toml
  README.md
  datadog-ffe-test-suite/Cargo.toml
  datadog-ffe-test-suite/benches/eval.rs
  datadog-ffe-test-suite/src/lib.rs
  datadog-ffe-test-suite/tests/canonical_fixtures.rs
  datadog-ffe/Cargo.toml
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/models.rs
  datadog-ffe/tests/data/flags-v1.json
  datadog-ffe/tests/data/tests/test-case-boolean-one-of-matches.json
  datadog-ffe/tests/data/tests/test-case-comparator-operator-flag.json
  datadog-ffe/tests/data/tests/test-case-disabled-flag.json
  datadog-ffe/tests/data/tests/test-case-empty-flag.json
  datadog-ffe/tests/data/tests/test-case-flag-with-empty-string.json
  datadog-ffe/tests/data/tests/test-case-integer-flag.json
  datadog-ffe/tests/data/tests/test-case-kill-switch-flag.json
  datadog-ffe/tests/data/tests/test-case-new-user-onboarding-flag.json
  datadog-ffe/tests/data/tests/test-case-no-allocations-flag.json
  datadog-ffe/tests/data/tests/test-case-null-operator-flag.json
  datadog-ffe/tests/data/tests/test-case-null-targeting-key.json
  datadog-ffe/tests/data/tests/test-case-numeric-flag.json
  datadog-ffe/tests/data/tests/test-case-numeric-one-of.json
  datadog-ffe/tests/data/tests/test-case-regex-flag.json
  datadog-ffe/tests/data/tests/test-case-start-and-end-date-flag.json
  datadog-ffe/tests/data/tests/test-flag-that-does-not-exist.json
  datadog-ffe/tests/data/tests/test-json-config-flag.json
  datadog-ffe/tests/data/tests/test-no-allocations-flag.json
  datadog-ffe/tests/data/tests/test-special-characters.json
  datadog-ffe/tests/data/tests/test-string-with-special-characters.json
  examples/ffi/README.md
  examples/ffi/ffe.c
  tools/docker/Dockerfile.build
  tools/src/bin/ffi_test.rs
Due: none

fix: rollback test agent version
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
Due: libdd-trace-utils

fix: allow old PascalCase fields in agent redis/memcached obfuscation config
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline

Fix merge
  .github/workflows/check-crypto-providers.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test-ffi.yml
  .github/workflows/test.yml
Due: none

refactor(profiling): avoid panic on out-of-bounds label set id (#2002)
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling

feat(trace-utils): add from_string to span text
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/v04/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

remove uneeded cow
  libdd-trace-utils/src/span/v04/mod.rs
Due: libdd-trace-utils

refactor(profiling): more try_reserve fixes
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling-ffi/src/profiles/interning_api.rs
  libdd-profiling/src/internal/profile/interning_api/mod.rs
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling, libdd-profiling-ffi

benchmarks(sampling): use convert str to cow
  libdd-sampling/benches/sampling_bench.rs
Due: none

fix: remove useless rename_all = "PascalCase"
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline

refactor(profiling): more try_reserve fixes (#2010)
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling-ffi/src/profiles/interning_api.rs
  libdd-profiling/src/internal/profile/interning_api/mod.rs
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling, libdd-profiling-ffi

fix: rollback test agent changes
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
Due: libdd-trace-utils

test(sampling): wrap str
  libdd-sampling/src/v04_span.rs
Due: none

feat: add more AgentInfo parsing tests
  Cargo.lock
  LICENSE-3rdparty.csv
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline

refacto(json): move json_scanner in new submodule json for clarity
  libdd-trace-obfuscation/src/json/mod.rs
  libdd-trace-obfuscation/src/json/scanner.rs
  libdd-trace-obfuscation/src/lib.rs
Due: libdd-trace-obfuscation

fix: conver str to cow
  libdd-sampling/benches/sampling_bench.rs
  libdd-sampling/src/v04_span.rs
Due: none

feat(trace_buffer)!: flush based on size of chunks in bytes (#1953)
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
Due: libdd-data-pipeline

fix: typo
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline

fix(libdd-trace-obfuscation): cargo clippy fix with all lints (#1947)
  .github/CODEOWNERS
  Cargo.toml
  clippy.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
  libdd-trace-obfuscation/benches/benchmarks/ip_address_bench.rs
  libdd-trace-obfuscation/benches/benchmarks/redis_obfuscation_bench.rs
  libdd-trace-obfuscation/benches/benchmarks/replace_trace_tags_bench.rs
  libdd-trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
  libdd-trace-obfuscation/src/credit_cards.rs
  libdd-trace-obfuscation/src/http.rs
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-obfuscation/src/json/mod.rs
  libdd-trace-obfuscation/src/json/scanner.rs
  libdd-trace-obfuscation/src/lib.rs
  libdd-trace-obfuscation/src/memcached.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
  libdd-trace-obfuscation/src/redis.rs
  libdd-trace-obfuscation/src/redis_tokenizer.rs
  libdd-trace-obfuscation/src/replacer.rs
  libdd-trace-obfuscation/src/sql.rs
  libdd-trace-obfuscation/tests/test_span_obfuscation.rs
Due: libdd-trace-obfuscation

ci(release): accept multiple crates in release-proposal-dispatch
  .github/workflows/release-proposal-dispatch.yml
Due: none

fix: address comments
  libdd-data-pipeline/tests/snapshots/compare_exporter_v04_to_v1_trace_snapshot_test.json
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix(libdd-data-pipeline): add workspace lints + cargo clippy --fix
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/examples/send-traces-with-stats.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/agent_info/schema.rs
  libdd-data-pipeline/src/health_metrics.rs
  libdd-data-pipeline/src/lib.rs
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/telemetry/error.rs
  libdd-data-pipeline/src/telemetry/metrics.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/agent_response.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/error.rs
  libdd-data-pipeline/src/trace_exporter/metrics.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-data-pipeline/tests/test_fetch_info.rs
Due: libdd-data-pipeline

fix(libdd-data-pipeline): clippy match_same_arms, missing_fields_in_debug, items_after_statements, match_wildcard, hidden_lifetime, from_iter, similar_names
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/health_metrics.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
Due: libdd-data-pipeline

fix(libdd-data-pipeline): clippy assigning_clones, or_fun_call, redundant_closure, lifetime params, significant_drop_tightening, match_same_arms
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
Due: libdd-data-pipeline
