Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

Add feature to sub-dependency so that ring is available
  ddcommon-net1/Cargo.toml
Due: ddcommon

style: use consistent FROM ... AS ... casing
  tools/docker/Dockerfile.build
Due: none

shrink diff to base branch
  ddcommon-ffi/src/lib.rs
  live-debugger-ffi/Cargo.toml
  profiling-ffi/Cargo.toml
Due: ddcommon, ddcommon-ffi, profiling, profiling-ffi

keep trying to fix build
  README.md
  build-profiling-ffi.sh
  builder/src/arch/apple.rs
  builder/src/common_net1.rs
  ddcommon-net1-ffi/build.rs
  ddcommon-net1-ffi/cbindgen.toml
  examples/ffi/crashtracking.c
  examples/ffi/telemetry.c
  examples/ffi/telemetry_metrics.c
Due: ddcommon

Fixes log struct not being able to be sent through the sidecar RPC
  ddtelemetry/src/data/payloads.rs
Due: ddtelemetry

normalizer
  crashtracker-ffi/src/crash_info/api.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
Due: crashtracker

Fixes log struct not being able to be sent through the sidecar RPC (#780)
  ddtelemetry/src/data/payloads.rs
Due: ddtelemetry

telemetry worker: flush data after stops
  ddtelemetry/src/worker/mod.rs
Due: ddtelemetry

Fix actions not being relayed in some circumstances
  sidecar/src/service/sidecar_server.rs
Due: sidecar

Fix configurations, integrations, deps being relayed over and over
  ddtelemetry/src/worker/mod.rs
  ddtelemetry/src/worker/store.rs
Due: ddtelemetry

Add test for copy_to_string
  data-pipeline/src/trace_exporter.rs
  tinybytes/src/bytes_string.rs
Due: data-pipeline

[APMSP-1583] Re-enable Client-side stats in TraceExporter (#769)
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
  tinybytes/src/bytes_string.rs
  trace-utils/src/span_v04/mod.rs
  trace-utils/src/span_v04/span.rs
  trace-utils/src/span_v04/trace_utils.rs
Due: data-pipeline, trace-utils

Use Cow in AggregationKey fields
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
Due: data-pipeline

Add docs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
Due: data-pipeline

[PROF-11007] Package libdatadog v14.3.1 for Ruby
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

[PROF-11007] Package libdatadog v14.3.1 for Ruby (#782)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

Add new API and error handling to FFI layer.
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/trace_exporter.rs
  ddcommon-ffi/src/option.rs
Due: data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi

Fix handling response from SendDataResult.
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/send_data_result.rs
Due: data-pipeline, trace-utils

Rework configuration
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/agent_response.rs
  examples/ffi/trace_exporter.c
Due: data-pipeline, data-pipeline-ffi

Add debug information to Error in FFI.
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Improve error handling in the FFI layer.
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/agent_response.rs
  data-pipeline/src/trace_exporter/mod.rs
  examples/ffi/trace_exporter.c
Due: data-pipeline, data-pipeline-ffi

Add Error definitions and agent response handling to TraceExporter module.
  data-pipeline/src/trace_exporter/agent_response.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
  dogstatsd-client/src/lib.rs
Due: data-pipeline

Fix PR comments.
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/error.rs
Due: data-pipeline, data-pipeline-ffi

Fix test where an empty body was causing a deserialization error.
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

resolve names
  crashtracker-ffi/src/crash_info/api.rs
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
Due: crashtracker

make the builder consistently return a result
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker-ffi/src/crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  ddcommon-ffi/src/slice.rs
Due: crashtracker, ddcommon, ddcommon-ffi

Disable test in ARM platforms.
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Refator API for Trace Exporter FFI (#768)
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/agent_response.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
  ddcommon-ffi/src/option.rs
  dogstatsd-client/src/lib.rs
  examples/ffi/trace_exporter.c
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/send_data_result.rs
Due: data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, trace-utils

Add comment
  ddtelemetry/src/worker/mod.rs
Due: ddtelemetry

Alternative method to prevent repetition of confs, integrations, deps
  ddtelemetry/src/worker/mod.rs
  ddtelemetry/src/worker/store.rs
Due: ddtelemetry

make crashtracker.c compile
  examples/ffi/crashtracking.c
Due: none

example works, need to add a stack trace
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  examples/ffi/crashinfo.cpp
Due: crashtracker

extract result macro
  examples/ffi/crashinfo.cpp
Due: none

nicer macros for extract result
  examples/ffi/crashinfo.cpp
Due: none

stacktrace in example
  crashtracker-ffi/src/crash_info/stackframe.rs
  examples/ffi/crashinfo.cpp
Due: crashtracker

Add tests
  trace-utils/src/span_v04/trace_utils.rs
  trace-utils/src/trace_utils.rs
Due: trace-utils

Simplify set_top_level_span
  trace-utils/src/span_v04/trace_utils.rs
  trace-utils/src/trace_utils.rs
Due: trace-utils

Simplify imports in tests
  trace-utils/src/trace_utils.rs
Due: trace-utils

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
