Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

Limit PR titles and include latest tracer version in proposal-test
  .github/workflows/release-proposal-dispatch.yml
  .github/workflows/release-proposal-test.yml
Due: none

sts - remove testing config
  .github/chainguard/gitlab.github-access.write-contents.sts.yaml
Due: none

chore: bump workspace to v36.0.0
  Cargo.lock
  Cargo.toml
Due: none

chore: remove redundant version from libdd-agent-client (#2139)
  libdd-agent-client/Cargo.toml
  libdd-http-client/Cargo.toml
Due: none

address review comments
  libdd-otel-thread-ctx-ffi/README.md
  libdd-otel-thread-ctx-ffi/tests/elf_properties.rs
  libdd-otel-thread-ctx/src/lib.rs
Due: none

ci: proposal wf fixes and cleanup (#2140)
  .github/chainguard/gitlab.github-access.write-contents.sts.yaml
  .github/workflows/release-proposal-dispatch.yml
  .github/workflows/release-proposal-test.yml
Due: none

chore: bump version v36.0.0 (#2141)
  Cargo.lock
  Cargo.toml
Due: none

feat(data-pipeline: TraceExporter): no longer pinned to ForkSafeRuntime
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/examples/send-traces-with-stats.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/tests/test_trace_exporter.rs
  libdd-data-pipeline/tests/test_trace_filters.rs
  libdd-shared-runtime-ffi/src/shared_runtime.rs
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/basic.rs
  libdd-shared-runtime/src/shared_runtime/fork_safe.rs
  libdd-shared-runtime/src/shared_runtime/local.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-telemetry/src/worker/mod.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry

Use oneshot flusher instead of async manual future
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/stats_flusher.rs
  datadog-sidecar/src/service/tracing/trace_flusher.rs
  datadog-sidecar/src/service/tracing/trace_send_data.rs
Due: datadog-sidecar

feat: get agent uuid from host
  libdd-common/Cargo.toml
  libdd-common/src/lib.rs
  libdd-common/src/machine_id/linux.rs
  libdd-common/src/machine_id/macos.rs
  libdd-common/src/machine_id/mod.rs
  libdd-common/src/machine_id/windows.rs
  libdd-remote-config/src/agentless_client/mod.rs
Due: libdd-common

Baseline
  Cargo.lock
  libdd-profiling/Cargo.toml
  libdd-profiling/examples/arena_memory.rs
Due: libdd-profiling

New scenario
  libdd-profiling/examples/arena_memory.rs
Due: libdd-profiling

Fix socket path length
  datadog-ipc/src/platform/unix/sockets/macos.rs
  datadog-sidecar/src/crashtracker.rs
Due: datadog-ipc, datadog-sidecar

Better macos support
  datadog-ipc/src/platform/unix/sockets/macos.rs
  datadog-sidecar/src/setup/thread_listener.rs
  datadog-sidecar/src/setup/unix.rs
Due: datadog-ipc, datadog-sidecar

Handle MacOS EMSGSIZE
  datadog-ipc/src/platform/unix/sockets/macos.rs
  datadog-ipc/src/platform/unix/sockets/mod.rs
  datadog-sidecar/src/unix.rs
Due: datadog-ipc, datadog-sidecar

refactor(sidecar): Use oneshot flusher instead of async manual future (#2143)
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/stats_flusher.rs
  datadog-sidecar/src/service/tracing/trace_flusher.rs
  datadog-sidecar/src/service/tracing/trace_send_data.rs
Due: datadog-sidecar

fix: always emit a lowercased uuid
  libdd-common/src/machine_id/linux.rs
  libdd-common/src/machine_id/macos.rs
  libdd-common/src/machine_id/mod.rs
  libdd-common/src/machine_id/windows.rs
Due: libdd-common

Apply suggestion from @yannham
  libdd-trace-utils/Cargo.toml
Due: libdd-trace-utils

test(trace-utils): build V05 bench payload via from_v04_span
  libdd-trace-utils/benches/deserialization_v05.rs
Due: libdd-trace-utils

test(trace-utils): add VecMap microbenchmarks (#2126)
  benchmark/run_benchmarks_ci.sh
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/benches/vec_map_bench.rs
Due: libdd-trace-utils

Update flagevaluation EVP endpoint contract
  datadog-ffe/src/telemetry/flagevaluation.rs
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
  datadog-sidecar/src/service/mod.rs
Due: datadog-sidecar

Fix flagevaluation flusher clippy handling
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
Due: datadog-sidecar

feat(data-pipeline)!: export client-computed span stats as OTLP trace metrics (#2067)
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-ddsketch/src/lib.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  libdd-trace-utils/src/otlp_encoder/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

chore(protobuf): add serde to trilean
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb.rs
Due: libdd-trace-protobuf

chore(stats): use trilean for is_trace_root
  datadog-ipc/src/shm_stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: datadog-ipc

feat: encoder v1 to v04 + refacto
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span_v1_to_v04.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04_to_v1.rs
  libdd-trace-utils/tests/snapshots/compare_v04_native_and_v1_to_v04_encoders_snapshot_test.json
  libdd-trace-utils/tests/test_send_data.rs
Due: libdd-trace-utils

fix(trace-utils): use Throughput::Elements for V05 bench to avoid CI failure
  libdd-trace-utils/benches/deserialization_v05.rs
Due: libdd-trace-utils

ci(nix): add nightly scheduled run
  .github/workflows/nix.yml
Due: none

chore(nix): track nixpkgs 26.05
  flake.lock
  flake.nix
Due: none

chore(nix): build devshell with mkShell
  flake.nix
Due: none

Revert "nit: apply `with pkgs;` suggestion"
  flake.nix
Due: none

feat(stats): add whole-key cardinality limit
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/benches/span_concentrator_bench.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

Avoid notifying in set_request_config
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/shm_remote_config.rs
Due: datadog-sidecar

Reexport Endpoint and Tag common types
  libdd-remote-config/src/lib.rs
Due: none

fix: remove intermediary cache
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/src/fetch/agentless.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/mod.rs
  libdd-remote-config/src/lib.rs
Due: none

fix: remove debug statemements
  libdd-remote-config/src/fetch/agentless.rs
Due: none

test(trace-utils): add V05 msgpack decode microbenchmark (#2127)
  libdd-trace-utils/benches/deserialization_v05.rs
  libdd-trace-utils/benches/main.rs
Due: libdd-trace-utils

remove unduplicated deps
  Cargo.lock
  libdd-remote-config/Cargo.toml
Due: none

Sanitize type and message for unhandled exceptions
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker
