Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log

add tags and upload logs for datadog CI visibility
  .github/workflows/test.yml
Due: none

feat: apply PR suggestions
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-trace-protobuf/src/remoteconfig.rs
Due: datadog-sidecar, datdog-sidecar-ffi, datadog-trace-protobuf

add tags and upload logs for datadog CI visibility (#1131)
  .github/workflows/test.yml
Due: none

WIP: creating FFI layer for ddsketch
  Cargo.lock
  Cargo.toml
  ddsketch-ffi/Cargo.toml
  ddsketch-ffi/build.rs
  ddsketch-ffi/cbindgen.toml
  ddsketch-ffi/src/error.rs
  ddsketch-ffi/src/lib.rs
  ddsketch-ffi/src/sketch.rs
Due: none

WIP: incorporate PR feedback
  ddsketch-ffi/src/error.rs
  ddsketch-ffi/src/sketch.rs
Due: none

add helper function for CString to unwrap an empty string when unwrap fails
  ddcommon-ffi/src/cstr.rs
  ddsketch-ffi/src/error.rs
  ddsketch-ffi/src/sketch.rs
Due: ddcommon, ddcommon-ffi

wip: update dockerfile for FFI bake
  tools/docker/Dockerfile.build
Due: none

implement set_target for SendData (#1134)
  datadog-trace-utils/src/send_data/mod.rs
Due: datadog-trace-utils

create FFI layer for ddsketch
  Cargo.lock
  Cargo.toml
  ddsketch-ffi/Cargo.toml
  ddsketch-ffi/build.rs
  ddsketch-ffi/cbindgen.toml
  ddsketch-ffi/src/error.rs
  ddsketch-ffi/src/lib.rs
  ddsketch-ffi/src/sketch.rs
Due: none

FIXUP: incorporate PR feedback
  ddsketch-ffi/src/error.rs
  ddsketch-ffi/src/sketch.rs
Due: none

FIXUP: fix profiling bindings test to include ddsketch
  .github/workflows/test.yml
Due: none

Add function to enable/disable rates payload versioning.
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

feat(data-pipeline): Add getter for RequestError message
  data-pipeline/src/trace_exporter/error.rs
Due: data-pipeline

Update datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/lib.rs
Due: none

implement with_endpoint for SendData
  datadog-trace-utils/src/send_data/mod.rs
Due: datadog-trace-utils

lint
  datadog-trace-utils/src/send_data/mod.rs
Due: datadog-trace-utils

take endpoint as ref
  datadog-trace-utils/src/send_data/mod.rs
Due: datadog-trace-utils

Add ddsketch to windows features list.
  windows/build-artifacts.ps1
Due: none

use the timeout value in the trace exporter builder
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

test(data-pipeline): Add unit tests for request error
  data-pipeline/src/trace_exporter/error.rs
Due: data-pipeline

feat(data-pipeline): Add getter for RequestError message (#1137)
  data-pipeline/src/trace_exporter/error.rs
Due: data-pipeline

Add SendData.get_target_mut()
  datadog-trace-utils/src/send_data/mod.rs
Due: datadog-trace-utils

Add function to enable/disable rates payload versioning. (#1136)
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

take Endpoint param
  datadog-trace-utils/src/send_data/mod.rs
Due: datadog-trace-utils

add unit test for SendData.with_endpoint function
  datadog-trace-protobuf/src/remoteconfig.rs
  datadog-trace-utils/src/send_data/mod.rs
  datadog-trace-utils/src/send_with_retry/retry_strategy.rs
Due: datadog-trace-protobuf, datadog-trace-utils

FIXUP: reformatted the protobuf file by mistake
  datadog-trace-protobuf/src/remoteconfig.rs
Due: datadog-trace-protobuf

Update Cargo.toml
  datadog-trace-utils/Cargo.toml
Due: datadog-trace-utils

PR fixes
  datadog-trace-utils/src/send_data/mod.rs
Due: datadog-trace-utils

fmt
  datadog-trace-utils/src/send_data/mod.rs
Due: datadog-trace-utils

feat: remove needs for version
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

Make connection timeout configurable.
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline, data-pipeline-ffi

Ignore miri test due to unsupported function.
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

Implement `with_endpoint` for `SendData` (#1139)
  datadog-trace-utils/src/send_data/mod.rs
  datadog-trace-utils/src/send_with_retry/retry_strategy.rs
Due: datadog-trace-utils
