Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

cleanup
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

refacto: extract telemetry stuff into its own module
  datadog-ipc/src/shm_stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: datadog-ipc

fix: assert -> debug_assert, avoid useless unreachable!
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
Due: none

add tests for multiple per-key collapse
  libdd-trace-stats/src/stats_exporter.rs
Due: none

wip telemetry
  datadog-ipc/src/shm_stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: datadog-ipc

feat: cherry pick simple 1 collapsed field tests from old pr
  libdd-trace-stats/src/stats_exporter.rs
Due: none

feat: fields combination metrics, dogstatsd only
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: none

fix: bitshift operations are hard...
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

fix: another assert -> debug_assert
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
Due: none

better doc
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
Due: none

fix comment
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
Due: none

remove old fixme
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
Due: none

refacto: make drain_due_buckets return a FlushResult
  datadog-ipc/src/shm_stats.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: datadog-ipc

refacto: make telemetry field set api nicer + fix not using the 1<<0 (1) flag
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
Due: none

feat: telemetry for additional metric tags collapse
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

chore: update cargo lock file
  Cargo.lock
  libdd-ffe-ffi/Cargo.toml
  libdd-ffe/CHANGELOG.md
  libdd-ffe/Cargo.toml
Due: none

fix(sidecar): drop stray PeerCredentials param from send_trace_v1_* handlers
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

revert(telemetry): remove idle connection eviction
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities/src/http.rs
  libdd-common/src/http_common.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-common, libdd-telemetry

fix(telemetry): disable connection pooling
  datadog-sidecar/src/service/ffe_exposures_flusher.rs
  datadog-sidecar/src/service/ffe_metrics_flusher.rs
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities/src/http.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-data-pipeline, libdd-telemetry, datadog-sidecar

chore(libdd-http-client): prepare crate to be published
  Cargo.lock
  libdd-http-client/Cargo.toml
Due: none

test(sidecar): make shared-session regression portable
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

feat(stats)!: add telemetry for per-field cardinality limits (#2227)
  datadog-ipc/src/shm_stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: datadog-ipc

feat(data-pipeline): add meta struct blob setter
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore(libdd-tracer-flare): prepare tracer flare for publishing (#2293)
  libdd-tracer-flare/Cargo.toml
Due: libdd-tracer-flare

chore(libdd-http-client): prepare crate to be published (#2294)
  Cargo.lock
  libdd-http-client/Cargo.toml
Due: none

feat(data-pipeline): add span event FFI
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

feat(data-pipeline): add batched span links FFI
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

feat(data-pipeline): encode structured values
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/lib.rs
  libdd-data-pipeline-ffi/src/structured_value.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

feat(stats)!: per-field cardinality limits (#2211)
  datadog-ipc/src/shm_stats.rs
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, datadog-ipc

test(data-pipeline): cover span event arrays
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

test(data-pipeline): verify owned value blobs
  examples/ffi/trace_exporter.c
  libdd-data-pipeline-ffi/src/structured_value.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

feat(data-pipeline): set structured span values
  libdd-data-pipeline-ffi/src/structured_value.rs
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

ci(otel-telemetry): add CODEOWNERS entry for libdd-otel-telemetry
  .github/CODEOWNERS
Due: none

feat(otel-telemetry): scaffold libdd-otel-telemetry crate
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  libdd-otel-telemetry/Cargo.toml
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/config.rs
  libdd-otel-telemetry/src/error.rs
  libdd-otel-telemetry/src/instrument.rs
  libdd-otel-telemetry/src/lib.rs
  libdd-otel-telemetry/src/resource.rs
  libdd-otel-telemetry/tests/basic.rs
Due: none

feat(trace): preserve dropped span link counts
  libdd-data-pipeline-ffi/src/tracer.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
  libdd-trace-utils/src/json_log_encoder/mod.rs
  libdd-trace-utils/src/json_log_encoder/span.rs
  libdd-trace-utils/src/msgpack_decoder/decode/span_link.rs
  libdd-trace-utils/src/msgpack_decoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v1/span.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span_v04.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span_v1.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v1.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  libdd-trace-utils/src/span/v04/mod.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/span/v1/mod.rs
  libdd-trace-utils/tests/test_send_data.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-utils

wip poc - llmobs handling at processing time
  libdd-data-pipeline/src/lib.rs
  libdd-data-pipeline/src/llmobs/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

fix(otel-telemetry): match libdd-shared-runtime/tracing versions available at v37.0.0
  libdd-otel-telemetry/Cargo.toml
Due: none

feat(otel-thread-ctx)!: publish W3C trace flags
  libdd-otel-thread-ctx-ffi/src/lib.rs
  libdd-otel-thread-ctx/src/lib.rs
Due: none

refactor(otel-telemetry)!: rename TelemetryAggregator to OtelMetricsAggregator
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/error.rs
  libdd-otel-telemetry/src/instrument.rs
  libdd-otel-telemetry/src/lib.rs
  libdd-otel-telemetry/tests/basic.rs
Due: none
