Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

Fix windows constant.
  builder/src/arch/windows.rs
Due: none

Add names to memfds
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar-ffi/src/lib.rs
Due: ipc, sidecar, sidecar-ffi

Revert commit on build from profiling-ffi
  builder/src/profiling.rs
Due: none

[crashtracking] fix SA_ONSTACK (#713)
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

log build in gitlab
  builder/src/profiling.rs
Due: none

[crashtracker] RFC to mitigate hangs
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Due: none

v14.0.0 release for Ruby (#709)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

PR Comments
  crashtracker/src/receiver.rs
Due: crashtracker

chore(ci): stop using macos-12 in github actions (#710)
  .github/workflows/test.yml
Due: none

Collect agent info from sidecar (#701)
  Cargo.lock
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/agent_info/schema.rs
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/agent_info.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Due: data-pipeline, sidecar, sidecar-ffi

[crashtracker] Enable timeout on receiver (#702)
  crashtracker/src/receiver.rs
Due: crashtracker

Initial
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

Initial (#718)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

Rename version to app_version
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Don't build crashtracker since it's being built through profiling.
  builder/src/crashtracker.rs
  builder/src/profiling.rs
Due: none

Update docs/RFCs/0004-crashtracker-prevent-hangs.md
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Due: none

PR Comments
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Due: none

typo
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Due: none

set actual timeouts and heartbeat
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Due: none

[crashtracker] RFC to mitigate hangs (#716)
  docs/RFCs/0004-crashtracker-prevent-hangs.md
Due: none

Add explicit test for extra children
  crashtracker/src/collector/api.rs
Due: crashtracker

fmt
  crashtracker/src/collector/api.rs
Due: crashtracker

[APMSP-1512] Add metadata headers for stats (#712)
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Add named UDS support back to crashtracking
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/shared/configuration.rs
Due: crashtracker

update span namespace for azure spring apps and google cloud run functions v1
  trace-utils/src/trace_utils.rs
Due: trace-utils

WIP
  crashtracker/src/collector/faultinfo.rs
Due: crashtracker

bump datadog-serverless-trace-mini-agent version to 0.9.0
  Cargo.lock
  serverless/Cargo.toml
Due: serverless

update span namespace for azure spring apps and google cloud run functions v1 (#711)
  trace-utils/src/trace_utils.rs
Due: trace-utils

pass over PR comments
  docs/RFCs/0002-crashtracker-user-visable-log.md
Due: none

more PR comments
  docs/RFCs/0002-crashtracker-user-visable-log.md
Due: none

Update api.rs
  crashtracker/src/collector/api.rs
Due: crashtracker

[crashtracking] Add explicit test for extra children (#720)
  crashtracker/src/collector/api.rs
Due: crashtracker

[WIP] refactor proxy handling.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Due: data-pipeline, sidecar, trace-mini-agent, trace-utils

Refactor proxy handling.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/tests/test_send_data.rs
Due: data-pipeline, sidecar, trace-mini-agent, trace-utils

Pass RUSTFLAGS to each architecture.
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/common.rs
  builder/src/crashtracker.rs
  builder/src/profiling.rs
Due: none
