Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

doc: fix typo
  libdd-otel-thread-ctx-ffi/src/lib.rs
Due: none

ci: remove lld invocation
  .github/workflows/test.yml
Due: none

ci: tentative fix for missing ld command
  .github/workflows/test.yml
Due: none

ci: tentative fix for missing ld command, part II
  .github/workflows/test.yml
Due: none

fix(telemetry): don't reset FlushData from ExtendedHeartbeat handler
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

Ptrace in collector child
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/collector/ptrace_collector.rs
  libdd-crashtracker/src/collector/signal_handler_manager.rs
  libdd-crashtracker/src/collector/thread_context_buffer.rs
Due: libdd-crashtracker

Collect all threads first pass
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/collector/signal_handler_manager.rs
  libdd-crashtracker/src/collector/thread_context_buffer.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/builder.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
  libdd-crashtracker/src/shared/constants.rs
Due: libdd-crashtracker

waitpid
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

Ptrace in receiver (need libunwind bindings)
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

No waitpid at all
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

Fix musl libc boundary issue
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Use remote ptrace
  Cargo.lock
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/signal_handler_manager.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

Spin wait
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Hacky fix for alpine by not using waitpid
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

feat(datadog-ffe): add semver conditions handling
  Cargo.lock
  datadog-ffe/Cargo.toml
  datadog-ffe/src/rules_based/eval/eval_rules.rs
  datadog-ffe/src/rules_based/ufc/models.rs
Due: none

Clean stale comment
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

chore: install go on ubuntu
  .github/workflows/test.yml
Due: none

chore(libdd-tracer-flare): set publish to true
  libdd-tracer-flare/Cargo.toml
Due: libdd-tracer-flare

feat: use type of the SpawnCapability directly on Native
  Cargo.lock
  libdd-shared-runtime/Cargo.toml
  libdd-shared-runtime/src/lib.rs
Due: none

fix(sidecar/telemetry): retry FFI telemetry batches when session config not yet available
  datadog-sidecar/src/service/telemetry.rs
  libdd-telemetry-ffi/src/lib.rs
Due: libdd-telemetry, libdd-telemetry-ffi, datadog-sidecar

chore(crashtracking): clean up stale in-line comment (#1935)
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

feat: apply suggestions
  libdd-data-pipeline/src/agent_info/schema.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/src/lib.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: libdd-data-pipeline

cleanup
  Cargo.lock
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
  libdd-crashtracker/src/shared/constants.rs
Due: libdd-crashtracker

fix(telemetry): remove unused Scheduler::schedule_events
  libdd-telemetry/src/worker/scheduler.rs
Due: libdd-telemetry

Update libdd-common/src/azure_app_services.rs
  libdd-common/src/azure_app_services.rs
Due: libdd-common

fix clippy
  libdd-common/src/azure_app_services.rs
Due: libdd-common

Fix crashes caused by `getenv` while retrieving AAS env vars
  libdd-common/src/azure_app_services.rs
Due: libdd-common

Capture only AAS env vars
  libdd-common/src/azure_app_services.rs
Due: libdd-common

feat: add Hash trait to TracerMetadata (#1931)
  libdd-library-config/src/tracer_metadata.rs
Due: none

feat(datadog-ffe): add semver conditions handling (#1934)
  Cargo.lock
  datadog-ffe/Cargo.toml
  datadog-ffe/src/rules_based/eval/eval_rules.rs
  datadog-ffe/src/rules_based/ufc/models.rs
Due: none

ci: prevent runner from going out of space (#1932)
  .github/workflows/test.yml
Due: none

Update libdd-library-config/src/lib.rs
  libdd-library-config/src/lib.rs
Due: none

fix(sidecar/telemetry): retry FFI telemetry batches when session conifg not yet available (#1929)
  datadog-sidecar/src/service/telemetry.rs
  libdd-telemetry-ffi/src/lib.rs
Due: libdd-telemetry, libdd-telemetry-ffi, datadog-sidecar

refactor: pass the whole of client config to backend
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/mod.rs
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/src/client.rs
Due: none

fix: compile-time mutability error
  libdd-http-client/src/backend/hyper_backend.rs
Due: none

feat(http-client): add knob to disable connection pooling
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/mod.rs
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/src/client.rs
  libdd-http-client/src/config.rs
Due: none

doc: remove superfluous mention of the agent
  libdd-http-client/src/config.rs
Due: none

tests: verify allow_connection_pooling config propagation
  libdd-http-client/src/config.rs
Due: none

doc: use shorter reference in doc comment
  libdd-http-client/src/config.rs
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
