Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

Improve tests speed
  agent-info/src/fetcher.rs
Due: none

Add integration tests with test-agent
  .github/workflows/test.yml
  Cargo.lock
  agent-info/Cargo.toml
  agent-info/tests/test_fetch_info.rs
  trace-utils/tests/test_send_data.rs
Due: trace-utils

Add span_kinds to schema
  agent-info/src/schema.rs
Due: none

Update README
  README.md
Due: none

Apply suggestions
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

bump datadog-serverless-trace-mini-agent version to 0.7.0
  Cargo.lock
  serverless/Cargo.toml
Due: serverless

Update shutdown signature
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

refactor dogstatsd-client to not need mutability
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
  sidecar/src/service/sidecar_server.rs
Due: data-pipeline, data-pipeline-ffi, sidecar

use vec default to avoid unneeded allocation
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

fmt
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Due: data-pipeline, sidecar, sidecar-ffi

Fix soname
  .github/workflows/test.yml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/profiling.rs
Due: none

add dogstatsd-client to docker build tool
  tools/docker/Dockerfile.build
Due: none

clean up cargo.toml
  Cargo.toml
Due: none

remove unneeded dep
  Cargo.lock
  dogstatsd-client/Cargo.toml
Due: none

use AsRef for metric strings, improve perf and simplify usage
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Due: data-pipeline, sidecar

simplify emitting stats in data-pipeline
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

fix lint
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Fix CI failure: update libdatadog_profiling.so SONAME (#624)
  .github/workflows/test.yml
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  builder/build/arch/musl.rs
  builder/build/arch/windows.rs
  builder/build/profiling.rs
Due: none

Move benchmarks to separate project
  Cargo.lock
  benchmark/Cargo.lock
  benchmark/Cargo.toml
  benchmark/data-pipeline-benches/Cargo.toml
  benchmark/data-pipeline-benches/benches/main.rs
  benchmark/data-pipeline-benches/benches/span_concentrator_bench.rs
  benchmark/data-pipeline-benches/src/lib.rs
  benchmark/ipc-benches/Cargo.toml
  benchmark/ipc-benches/benches/ipc.rs
  benchmark/ipc-benches/src/lib.rs
  benchmark/profiling-benches/Cargo.toml
  benchmark/profiling-benches/benches/interning_strings.rs
  benchmark/profiling-benches/benches/main.rs
  benchmark/profiling-benches/src/lib.rs
  benchmark/run_benchmarks_ci.sh
  benchmark/trace-normalization-benches/Cargo.toml
  benchmark/trace-normalization-benches/benches/normalization_utils.rs
  benchmark/trace-normalization-benches/src/lib.rs
  benchmark/trace-obfuscation-benches/Cargo.toml
  benchmark/trace-obfuscation-benches/benches/benchmarks/credit_cards_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/mod.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/redis_obfuscation_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/replace_trace_tags_bench.rs
  benchmark/trace-obfuscation-benches/benches/benchmarks/sql_obfuscation_bench.rs
  benchmark/trace-obfuscation-benches/benches/trace_obfuscation.rs
  benchmark/trace-obfuscation-benches/src/lib.rs
  benchmark/trace-utils-benches/Cargo.toml
  benchmark/trace-utils-benches/benches/deserialization.rs
  benchmark/trace-utils-benches/benches/main.rs
  benchmark/trace-utils-benches/src/lib.rs
  data-pipeline/Cargo.toml
  ipc/Cargo.toml
  profiling/Cargo.toml
  trace-normalization/Cargo.toml
  trace-obfuscation/Cargo.toml
  trace-utils/Cargo.toml
Due: data-pipeline, ipc, profiling, trace-normalization, trace-obfuscation, trace-utils

Fix build in Gitlab
  build-profiling-ffi.sh
Due: none

fix: make test utils public
  dogstatsd/src/aggregator.rs
Due: none

add: stand alone dogstatsd binary as example
  Cargo.lock
  dogstatsd/rust-toolchain.toml
  dogstatsd/src/main.rs
Due: none

feat: upstream dogstatsd from datadog lambda extension
  dogstatsd/src/aggregator.rs
Due: none

fix: imports
  Cargo.lock
  dogstatsd/src/aggregator.rs
Due: none

fix: make entry public
  dogstatsd/src/aggregator.rs
Due: none

fix: more test utils public
  dogstatsd/src/aggregator.rs
Due: none

fix: clippy
  dogstatsd/src/aggregator.rs
  dogstatsd/src/main.rs
Due: none

fix: make test config public
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
Due: none

refactor: do one step parsing
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/datadog.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Due: none

Revert "fix: make test config public"
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
Due: none

fix: make fields public for tests and assertions
  dogstatsd/src/aggregator.rs
Due: none

refactor: remove unused error
  dogstatsd/src/datadog.rs
Due: none

fix: duplicate dependencies from conflicts
  Cargo.lock
Due: none

format: format and clippy test: fix test format with # for tags. It also changed the byte wise test expected result
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
  dogstatsd/tests/integration_test.rs
Due: none

refactor: use type for sorted tags and ustr
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/main.rs
  dogstatsd/src/metric.rs
  dogstatsd/tests/integration_test.rs
Due: none

fix: statsd parsing and tests
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Due: none

fix: use only minimum regexp
  dogstatsd/Cargo.toml
Due: none

fix: increase to 10k context size, lost in refactors/moving
  dogstatsd/src/constants.rs
Due: none

Fix build in Gitlab (#626)
  build-profiling-ffi.sh
Due: none
