Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log

[crashtracker] Remove anyhow from the collector
  datadog-crashtracker/src/collector/additional_tags.rs
  datadog-crashtracker/src/collector/atomic_set.rs
  datadog-crashtracker/src/collector/spans.rs
Due: datadog-crashtracker

miri ignore tests that miri doesn't support
  ddcommon/src/unix_utils/process.rs
  ddcommon/tests/execve_integration.rs
Due: ddcommon

more miri tests
  ddcommon/src/unix_utils/file_ops.rs
  ddcommon/src/unix_utils/process.rs
Due: ddcommon

ignore even more miri tests
  ddcommon/src/timeout.rs
  ddcommon/src/unix_utils/process.rs
  ddcommon/tests/execve_integration.rs
Due: ddcommon

[ddcommon] Cleanup unix_utils and add unit tests (#1120)
  Cargo.lock
  datadog-crashtracker/src/collector/api.rs
  datadog-crashtracker/src/collector/collector_manager.rs
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/process_handle.rs
  datadog-crashtracker/src/collector/receiver_manager.rs
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/timeout.rs
  ddcommon/src/unix_utils.rs
  ddcommon/src/unix_utils/execve.rs
  ddcommon/src/unix_utils/file_ops.rs
  ddcommon/src/unix_utils/fork.rs
  ddcommon/src/unix_utils/mod.rs
  ddcommon/src/unix_utils/process.rs
  ddcommon/tests/execve_integration.rs
Due: datadog-crashtracker, ddcommon

remove more anyhows
  Cargo.lock
  datadog-crashtracker/Cargo.toml
  datadog-crashtracker/src/collector/atomic_set.rs
  datadog-crashtracker/src/collector/spans.rs
Due: datadog-crashtracker

lets not use an unnecessary string
  datadog-crashtracker/src/collector/atomic_set.rs
  datadog-crashtracker/src/collector/collector_manager.rs
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/spans.rs
Due: datadog-crashtracker

receiver_manager
  datadog-crashtracker/src/collector/receiver_manager.rs
Due: datadog-crashtracker

Wrap ffi calls with catch_unwind.
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Add guard in case panic is change to abort.
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

feat(agent_info): use unit message for trigger
  data-pipeline/src/agent_info/fetcher.rs
Due: data-pipeline

style(agent_info): rename response_observer
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

Add error logging while catching panics.
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Refresh info using agent state header (#1113)
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_fetch_info.rs
Due: data-pipeline

Wrap ffi calls with catch_unwind. (#1083)
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/error.rs
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

fix: windows path
  datadog-tracer-flare/src/zip.rs
Due: none

remove anyhow from receiver manager
  datadog-crashtracker/src/collector/crash_handler.rs
  datadog-crashtracker/src/collector/receiver_manager.rs
  datadog-crashtracker/src/crash_info/telemetry.rs
Due: datadog-crashtracker

remove even more anyhow
  datadog-crashtracker/src/collector/counters.rs
  datadog-crashtracker/src/collector/emitters.rs
Due: datadog-crashtracker

removed anyhow from tests
  Cargo.lock
  datadog-crashtracker/src/collector/atomic_set.rs
Due: datadog-crashtracker

removed api test anyhow
  datadog-crashtracker/src/collector/api.rs
Due: datadog-crashtracker

Add config for dd-octo-sts so gitlab jobs can access repo (#1119)
  .github/chainguard/gitlab.libddprof-comment-pr.sts.yaml
  .github/chainguard/gitlab.libddprof-draft-release.sts.yaml
Due: none

fix linux
  datadog-crashtracker/src/collector/receiver_manager.rs
Due: datadog-crashtracker

fix unrelated clippy warning
  ddtelemetry/src/worker/mod.rs
Due: ddtelemetry

don't change this file anymore
  datadog-crashtracker/src/crash_info/telemetry.rs
Due: datadog-crashtracker

even more clippy fixes
  datadog-crashtracker/src/collector/emitters.rs
  datadog-crashtracker/src/collector/process_handle.rs
  datadog-crashtracker/src/receiver/entry_points.rs
  datadog-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

style: fix missed clippy::uninlined-format-args
  datadog-library-config/src/tracer_metadata.rs
Due: none

style: fix missed clippy::uninlined-format-args
  datadog-crashtracker-ffi/src/collector_windows/api.rs
  datadog-crashtracker-ffi/tests/test_app/src/main.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

style: fix missed clippy::uninlined-format-args
  datadog-crashtracker-ffi/tests/test_app/src/main.rs
  datadog-profiling-replayer/src/main.rs
  datadog-trace-utils/src/stats_utils.rs
  tests/spawn_from_lib/tests/spawn.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi, datadog-profiling, datadog-trace-utils

style: fix missed clippy::uninlined-format-args
  tests/spawn_from_lib/tests/spawn.rs
Due: none

add go to devcontainer, which is required by fips
  .devcontainer/devcontainer.json
Due: none

style: fix more lints
  data-pipeline/tests/test_trace_exporter.rs
  datadog-crashtracker/src/collector/api.rs
  datadog-profiling/src/internal/profile/mod.rs
  datadog-trace-utils/src/stats_utils.rs
Due: datadog-crashtracker, data-pipeline, datadog-profiling, datadog-trace-utils

style: fix more lints on windows
  datadog-ipc/src/platform/windows/mem_handle.rs
Due: datadog-ipc

style: fix more lints on windows
  spawn_worker/tests/trampoline_windows.rs
Due: spawn-worker

style: fix more lints on windows
  datadog-crashtracker-ffi/tests/collector_windows_test.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

style: fix more lints off the beaten path
  datadog-crashtracker-ffi/tests/test_app/src/main.rs
  datadog-trace-utils/src/test_utils/datadog_test_agent.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi, datadog-trace-utils
