Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

fix(trace-utils): keep VecMap retain_mut and remove duplicate-safe
  libdd-trace-model/src/lib.rs
  libdd-trace-utils/src/span/vec_map.rs
Due: libdd-trace-utils

chore: improve comment
  libdd-data-pipeline/Cargo.toml
Due: libdd-data-pipeline

fix(ai-usage): sum Datadog counts by their final tags, and keep the profile off OTLP points
  libdd-ai-usage/src/batch.rs
  libdd-ai-usage/src/datadog.rs
  libdd-ai-usage/tests/otlp.rs
Due: none

docs(trace-model): drop implementation rationale from ValueTypesEq docs
  libdd-trace-model/src/lib.rs
Due: none

refactor(ffe): reuse the shared sidecar sender
  datadog-sidecar-ffi/src/ffe_submission.rs
  datadog-sidecar-ffi/tests/ffe_submission.c
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/ffe_submission.rs
  datadog-sidecar/src/service/flagevaluation_privacy_tests.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sender/ffe_submission_tests.rs
  libdd-ipc-macros/src/lib.rs
  libdd-ipc/src/client.rs
  libdd-ipc/src/codec.rs
  libdd-ipc/tests/oneway.rs
Due: datadog-sidecar, datdog-sidecar-ffi

refactor(sidecar): coalesce EVP transport updates in one outbox slot
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/evp_transport.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

test(sidecar): remove redundant EVP signature assertion
  datadog-sidecar-ffi/tests/sidecar.rs
Due: datadog-sidecar, datdog-sidecar-ffi

Bind state fully by Connection instead of by InstanceId
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/remote_config_notification.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar/src/appsec.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/self_telemetry.rs
  datadog-sidecar/src/service/agent_info.rs
  datadog-sidecar/src/service/application.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/connection_session.rs
  datadog-sidecar/src/service/dogstatsd_pool.rs
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
  datadog-sidecar/src/service/flagevaluation_privacy_tests.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/queue_id.rs
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/signal_flush.rs
  datadog-sidecar/src/service/stats_flusher.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/setup/thread_listener.rs
  datadog-sidecar/src/setup/thread_listener_windows.rs
  datadog-sidecar/src/tokio_util.rs
  datadog-sidecar/src/tracer.rs
  datadog-sidecar/tests/connection_auth.rs
  datadog-sidecar/tests/thread_listener_fork.rs
  libdd-ipc-macros/src/lib.rs
  libdd-ipc/src/example_interface.rs
  libdd-ipc/src/platform/unix/sockets/mod.rs
  libdd-ipc/tests/oneway.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix(sidecar): replay session state on new config, expose fork reconnection
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar, datdog-sidecar-ffi
