Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log

fix lint
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
  libdd-trace-utils/src/test_utils/mod.rs
Due: none

fix: lints
  tinybytes/src/lib.rs
Due: tinybytes

Try with cc=1.0 in spawn_worker
  Cargo.lock
  ddcommon/Cargo.toml
  spawn_worker/Cargo.toml
Due: ddcommon, spawn-worker

Refactor crash ping builder pattern
  datadog-crashtracker/src/crash_info/telemetry.rs
  datadog-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

Lint
  datadog-crashtracker/src/crash_info/telemetry.rs
  datadog-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

Miri
  datadog-crashtracker/src/crash_info/telemetry.rs
Due: datadog-crashtracker

FFI first pass
  Cargo.lock
  datadog-crashtracker-ffi/Cargo.toml
  datadog-crashtracker-ffi/src/crash_info/mod.rs
  datadog-crashtracker-ffi/src/crash_info/ping_info.rs
  datadog-crashtracker/src/crash_info/telemetry.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

Dont unnecessarily copy and use .context
  datadog-crashtracker/src/crash_info/telemetry.rs
  datadog-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

Fix sidecar-ffi tests.
  libdd-sidecar-ffi/tests/sidecar.rs
  libdd-sidecar-ffi/tests/span.rs
Due: none

fix crashtracker benches
  libdd-crashtracker/benches/receiver_bench.rs
Due: none

Remove module and class name field and update bin test
  bin_tests/src/modes/unix/test_010_runtime_callback_frame.rs
  bin_tests/src/modes/unix/test_011_runtime_callback_string.rs
  bin_tests/tests/crashtracker_bin_test.rs
  datadog-crashtracker-ffi/src/runtime_callback.rs
  datadog-crashtracker/src/runtime_callback.rs
  docs/RFCs/artifacts/0011-crashtracker-unified-runtime-stack-schema.json
Due: datadog-crashtracker, datadog-crashtracker-ffi

Dont pass in runtime type
  datadog-crashtracker-ffi/src/runtime_callback.rs
  datadog-crashtracker/src/collector/emitters.rs
  datadog-crashtracker/src/receiver/receive_report.rs
  datadog-crashtracker/src/runtime_callback.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

Fix: lint + test
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Add bin tests
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_010_runtime_callback_frame.rs
  bin_tests/src/modes/unix/test_011_runtime_callback_string.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Test function sign update
  bin_tests/src/modes/unix/test_010_runtime_callback_frame.rs
  bin_tests/src/modes/unix/test_011_runtime_callback_string.rs
Due: none

Schema update
  docs/RFCs/artifacts/0011-crashtracker-unified-runtime-stack-schema.json
Due: none

First pass
  datadog-crashtracker-ffi/src/lib.rs
  datadog-crashtracker-ffi/src/runtime_callback.rs
  datadog-crashtracker/src/collector/emitters.rs
  datadog-crashtracker/src/crash_info/builder.rs
  datadog-crashtracker/src/crash_info/experimental.rs
  datadog-crashtracker/src/crash_info/mod.rs
  datadog-crashtracker/src/lib.rs
  datadog-crashtracker/src/receiver/receive_report.rs
  datadog-crashtracker/src/runtime_callback.rs
  datadog-crashtracker/src/shared/constants.rs
  docs/RFCs/artifacts/0011-crashtracker-unified-runtime-stack-schema.json
Due: datadog-crashtracker, datadog-crashtracker-ffi

Writer pointer magic
  datadog-crashtracker-ffi/src/runtime_callback.rs
  datadog-crashtracker/src/runtime_callback.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

Test no callback registered
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Line by line receiver bug fix
  bin_tests/src/modes/unix/test_011_runtime_callback_string.rs
  bin_tests/tests/crashtracker_bin_test.rs
  datadog-crashtracker/src/runtime_callback.rs
Due: datadog-crashtracker

Only send frame and construct JSON array in receiver
  datadog-crashtracker/src/collector/emitters.rs
  datadog-crashtracker/src/receiver/receive_report.rs
  datadog-crashtracker/src/runtime_callback.rs
Due: datadog-crashtracker

Clean up comments for clarity
  bin_tests/src/modes/unix/test_010_runtime_callback_frame.rs
  bin_tests/src/modes/unix/test_011_runtime_callback_string.rs
  bin_tests/tests/crashtracker_bin_test.rs
  datadog-crashtracker-ffi/src/runtime_callback.rs
  datadog-crashtracker/src/receiver/receive_report.rs
  datadog-crashtracker/src/runtime_callback.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

feat: send uses tracerflaremanager log level instead of argument
  datadog-tracer-flare/src/zip.rs
Due: none

[crashtracking] Refactor crash ping build pattern (#1275)
  datadog-crashtracker/src/crash_info/telemetry.rs
  datadog-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

Fix clippy
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-dogstatsd-client/src/lib.rs
  libdd-sidecar-ffi/tests/span.rs
Due: none

Fix lint
  libdd-dogstatsd-client/src/lib.rs
Due: none

Prepare publication and exclude some crates
  bin_tests/Cargo.toml
  builder/Cargo.toml
  libdd-common-ffi/Cargo.toml
  libdd-crashtracker-ffi/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-ffe/Cargo.toml
  libdd-ipc-macros/Cargo.toml
  libdd-ipc/Cargo.toml
  libdd-library-config-ffi/Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-live-debugger-ffi/Cargo.toml
  libdd-live-debugger/Cargo.toml
  libdd-log-ffi/Cargo.toml
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-replayer/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-sidecar-ffi/Cargo.toml
  libdd-sidecar-macros/Cargo.toml
  libdd-sidecar/Cargo.toml
  libdd-sketch-ffi/Cargo.toml
  libdd-telemetry-ffi/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
  spawn_worker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  tests/spawn_from_lib/Cargo.toml
  tools/Cargo.toml
  tools/sidecar_mockgen/Cargo.toml
Due: spawn-worker

Fix windows compilation
  libdd-crashtracker-ffi/tests/test_app/src/main.rs
Due: none

feat(tinybytes): fix miri failures due to ptr aliasing (#1281)
  datadog-trace-utils/src/msgpack_decoder/v04/mod.rs
  datadog-trace-utils/src/msgpack_decoder/v05/mod.rs
  tinybytes/src/lib.rs
  tinybytes/src/test.rs
Due: tinybytes, datadog-trace-utils

Resolve merge conflicts and use new refactored CP
  datadog-crashtracker/src/crash_info/errors_intake.rs
  datadog-crashtracker/src/crash_info/mod.rs
  datadog-crashtracker/src/crash_info/telemetry.rs
  datadog-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

Fix missing newlines at ends of files
  datadog-ffe-ffi/Cargo.toml
  datadog-ffe-ffi/build.rs
  datadog-ffe-ffi/cbindgen.toml
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe-ffi/src/configuration.rs
  datadog-ffe-ffi/src/error.rs
  datadog-ffe-ffi/src/evaluation_context.rs
  datadog-ffe-ffi/src/lib.rs
Due: none

Add FFI bindings for datadog-ffe
  Cargo.lock
  Cargo.toml
  datadog-ffe-ffi/Cargo.toml
  datadog-ffe-ffi/build.rs
  datadog-ffe-ffi/cbindgen.toml
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe-ffi/src/configuration.rs
  datadog-ffe-ffi/src/error.rs
  datadog-ffe-ffi/src/evaluation_context.rs
  datadog-ffe-ffi/src/lib.rs
Due: none

Fix Rust formatting issues in datadog-ffe-ffi
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe-ffi/src/configuration.rs
  datadog-ffe-ffi/src/evaluation_context.rs
Due: none

Remove unused NULL_POINTER_ERROR constant from error.rs
  datadog-ffe-ffi/src/error.rs
Due: none

Fix formatting in assignment.rs by removing trailing whitespace from doc comments
  datadog-ffe-ffi/src/assignment.rs
Due: none

feat(regex_to_regex-lite): added benchmarking for cgroups stuff
  Cargo.toml
  regex-experiments/.gitignore
  regex-experiments/Cargo.lock
  regex-experiments/Cargo.toml
  regex-experiments/README.md
  regex-experiments/src/lib.rs
Due: none

fix: Label2 aren't supposed to intern string values
  datadog-profiling-ffi/src/profiles/datatypes.rs
  datadog-profiling/src/api2.rs
  datadog-profiling/src/internal/profile/mod.rs
Due: datadog-profiling, datadog-profiling-ffi

Assume both versions, datadog-profiling and datadog-profiling-ffi, must match.
  datadog-profiling-ffi/Cargo.toml
  datadog-profiling-ffi/src/exporter.rs
  datadog-profiling/Cargo.toml
Due: datadog-profiling, datadog-profiling-ffi
