Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

ci: remove depth from fetch
  .github/actions/changed-crates/action.yml
Due: none

ci: remove depth so it can cause problems when getting the diffs
  .github/actions/changed-crates/action.yml
Due: none

ci: remove depth so it can cause problems when getting the diffs (#1657)
  .github/actions/changed-crates/action.yml
Due: none

feat: handle fork in otel process ctx
  libdd-library-config/src/otel_process_ctx.rs
Due: none

feat(trace-protobuf): process context definition
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/_includes.rs
  libdd-trace-protobuf/src/opentelemetry.proto.common.v1.rs
  libdd-trace-protobuf/src/opentelemetry.proto.resource.v1.rs
  libdd-trace-protobuf/src/pb/opentelemetry/proto/common/v1/common.proto
  libdd-trace-protobuf/src/pb/opentelemetry/proto/common/v1/process_context.proto
  libdd-trace-protobuf/src/pb/opentelemetry/proto/resource/v1/resource.proto
Due: libdd-trace-protobuf

feat(library-config): protobuf encoding of process ctxt
  Cargo.lock
  libdd-library-config/Cargo.toml
  libdd-library-config/src/otel_process_ctx.rs
  libdd-trace-protobuf/src/pb/opentelemetry/proto/common/v1/common.proto
Due: libdd-trace-protobuf

feat: otel process ctxt FFI
  Cargo.lock
  libdd-library-config-ffi/Cargo.toml
  libdd-library-config-ffi/src/lib.rs
  libdd-library-config-ffi/src/otel_process_ctx.rs
Due: none

build(macOS): set the LC_ID_DYLIB for mac binaries to set correct name for linking (#1646)
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/bin/release.rs
  builder/src/builder.rs
Due: none

Cleanup limiters on sidecar shutdown
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
  datadog-sidecar/src/tracer.rs
Due: datadog-sidecar

Wrap libunwind in a crate
  .gitmodules
  Cargo.lock
  Cargo.toml
  libdd-libunwind/Cargo.toml
  libdd-libunwind/build.rs
  libdd-libunwind/src/lib.rs
Due: none

Improve bindings
  .github/workflows/fuzz.yml
  Cargo.lock
  libdd-libunwind/Cargo.toml
  libdd-libunwind/build.rs
  libdd-libunwind/src/lib.rs
  libdd-libunwind/src/lib_aliases.rs
Due: none

Since populate git modules
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  libdd-libunwind/build.rs
Due: none

Try fixing CI
  libdd-libunwind/build.rs
  tools/docker/Dockerfile.build
Due: none

Clean up a bit
  Cargo.lock
  libdd-libunwind/Cargo.toml
  libdd-libunwind/build.rs
  libdd-libunwind/src/lib.rs
  libdd-libunwind/src/lib_aliases.rs
Due: none

Fix formatting
  libdd-libunwind/build.rs
  libdd-libunwind/src/lib.rs
Due: none

Add unw_backtrace2
  libdd-libunwind/src/lib.rs
Due: none

Fix clippy
  libdd-libunwind/src/lib.rs
  tools/docker/Dockerfile.build
Due: none

Fix Miri job
  libdd-libunwind/src/lib.rs
Due: none

still fixing CI
  libdd-libunwind/src/lib.rs
  tools/docker/Dockerfile.build
Due: none

Clean things up A LOT: do not rely on bindgen
  libdd-libunwind/build.rs
  libdd-libunwind/src/lib.rs
  libdd-libunwind/src/libunwind_aarch64.rs
  libdd-libunwind/src/libunwind_x86_64.rs
Due: none

Fix cargo cross build
  libdd-libunwind/build.rs
  tools/docker/Dockerfile.centos
Due: none

Fix clippy
  libdd-libunwind/src/libunwind_aarch64.rs
  libdd-libunwind/src/libunwind_x86_64.rs
Due: none

Fix CI
  libdd-libunwind/src/lib.rs
  libdd-libunwind/src/libunwind_aarch64.rs
  libdd-libunwind/src/libunwind_x86_64.rs
Due: none

Clean up PR
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
Due: none

Clone libunwind repo instead of embarking the whole source code
  libdd-libunwind/build.rs
Due: none

Fix docker based tests
  libdd-libunwind/build.rs
  tools/docker/Dockerfile.centos
Due: none

Go back to git submodules
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .gitmodules
  libdd-libunwind/build.rs
  tools/docker/Dockerfile.build
Due: none

Fix CODEOWNERS validation job
  .github/CODEOWNERS
Due: none

Fix failed merged
  Cargo.lock
  Cargo.toml
  libdd-libunwind-sys/Cargo.toml
  libdd-libunwind-sys/build.rs
  libdd-libunwind-sys/src/lib.rs
  libdd-libunwind-sys/src/libunwind_aarch64.rs
  libdd-libunwind-sys/src/libunwind_x86_64.rs
  tools/docker/Dockerfile.build
Due: none

Unify all computation in one action
  .github/actions/Cargo.lock
  .github/actions/affected-crates/action.yml
  .github/actions/changed-crates/action.yml
  .github/actions/ci-crates/Cargo.toml
  .github/actions/ci-crates/src/bin/affected_crates.rs
  .github/actions/ci-crates/src/bin/changed_crates.rs
  .github/actions/ci-crates/src/git.rs
  .github/actions/ci-crates/src/workspace.rs
  .github/actions/ci-shared/src/crate_detection.rs
Due: none

chore: remove redundant chmod 0o777 on socket (unused in thread mode on Linux)
  datadog-sidecar/src/setup/unix.rs
Due: datadog-sidecar

remove depth
  .github/actions/changed-crates/action.yml
  .github/actions/ci-crates/src/bin/changed_crates.rs
  .github/actions/ci-crates/src/git.rs
Due: none

chore(ci): fix crashtracker receiver binary rpath setting (#1652)
  libdd-crashtracker/CMakeLists.txt
Due: libdd-crashtracker

fix(sidecar): Cleanup limiters on sidecar shutdown (#1659)
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
  datadog-sidecar/src/tracer.rs
Due: datadog-sidecar

refactor(runtime): move shutdown to runtime
  libdd-data-pipeline/src/shared_runtime.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

Fix call to action
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
Due: none

test(telemetry): Add sleep after send
  libdd-data-pipeline/src/telemetry/mod.rs
Due: libdd-data-pipeline

compile action
  .github/actions/changed-crates/action.yml
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
