Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

fix: versions
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities/Cargo.toml
  libdd-common/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-common, libdd-trace-utils

fix: cargo fmt
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-trace-obfuscation/src/obfuscate.rs
Due: libdd-data-pipeline, libdd-trace-obfuscation

feat(otel_thread_ctx): thread-level ctx publication (#1791)
  Cargo.lock
  libdd-library-config/src/otel_process_ctx.rs
  libdd-profiling/Cargo.toml
  libdd-profiling/build.rs
  libdd-profiling/src/lib.rs
  libdd-profiling/src/otel_thread_ctx.rs
  libdd-profiling/src/tls_shim.c
Due: libdd-profiling

feat: reuse client one more time
  libdd-capabilities/src/http.rs
  libdd-common/src/http_common.rs
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline, libdd-common

fix: re enable tokio rt-multi-threaded when not in wasm for trace-utils
  libdd-trace-utils/Cargo.toml
Due: libdd-trace-utils

revert: use alias to thing instead of str thingy
  libdd-trace-utils/src/send_data/mod.rs
Due: libdd-trace-utils

fix: use bundle type instead of alias for capabilities bundle
  Cargo.lock
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities-impl/src/lib.rs
Due: none

span eligible debug logs
  Cargo.lock
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: none

Include prediagnosis RFC in repo
  docs/RFCs/0014-crashtrracker-pre-diagnosis.md
Due: none

Add pull_request: branches trigger
  .github/workflows/release-proposal-test.yml
Due: none

feat(data-pipeline): feature-gate stats obfuscation behind stats-obfuscation feature flag
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

refactor(data-pipeline): use Arc<AtomicBool> for shared obfuscation state between StatsExporter and stats enum
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

feat!: bump libdd-data-pipeline to major version
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
Due: libdd-data-pipeline

test(telemetry): add unit tests for extended heartbeat interval propagation
  libdd-telemetry/src/config.rs
Due: libdd-telemetry

test(telemetry): add env var test for DD_TELEMETRY_EXTENDED_HEARTBEAT_INTERVAL
  libdd-telemetry/src/config.rs
Due: libdd-telemetry

Support custom message for errors intake
  bin_tests/tests/crashtracker_bin_test.rs
  docs/RFCs/0013-crashtracker-errors-intake-payload.md
  libdd-crashtracker/src/crash_info/error_data.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
Due: libdd-crashtracker

Make arch optional
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/0014-crashtrracker-pre-diagnosis.md
Due: none

PR comments
  .github/workflows/lint.yml
  datadog-ipc/src/shm_stats.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/stats_flusher.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: datadog-ipc, datadog-sidecar

refactor(telemetry): use EnvGuard in extended heartbeat env var test
  libdd-telemetry/Cargo.toml
  libdd-telemetry/src/config.rs
Due: libdd-telemetry

style: fix rustfmt formatting
  libdd-telemetry/src/config.rs
Due: libdd-telemetry

fix: make timeout infinite of None, instead of disabled
  libdd-data-pipeline/src/trace_buffer/mod.rs
Due: libdd-data-pipeline

feat(crashtracking)!: improve parity between errors intake payload and telemetry intake payload (#1823)
  bin_tests/tests/crashtracker_bin_test.rs
  docs/RFCs/0013-crashtracker-errors-intake-payload.md
  libdd-crashtracker/src/crash_info/error_data.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
Due: libdd-crashtracker

chore(docs): crashtracker pre-diagnosis RFC (#1829)
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/0014-crashtrracker-pre-diagnosis.md
Due: none

fix: cargo fmt
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

ci: compilation of libdd-data-pipeline to wasm32
  .github/workflows/test.yml
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-utils

chore(libdd-data-pipeline-ffi): use import path in macro (#1827)
  libdd-data-pipeline-ffi/src/lib.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

ci: treat relevant warnings as errors
  .github/workflows/test.yml
Due: none

Fix bin_tests in gitlab
  bin_tests/src/bin/crashing_test_app.rs
  bin_tests/src/bin/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-libunwind-sys/src/libunwind_aarch64.rs
  libdd-libunwind-sys/src/libunwind_x86_64.rs
Due: libdd-crashtracker

fix(telemetry): wire up DD_TELEMETRY_EXTENDED_HEARTBEAT_INTERVAL to scheduler (#1824)
  libdd-telemetry/Cargo.toml
  libdd-telemetry/src/config.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

run macOS jobs in GitLab for MergeQueue. Remove broken label rule
  .gitlab-ci.yml
Due: none

fix(crashtracker): Fix bin_tests in gitlab (#1832)
  bin_tests/src/bin/crashing_test_app.rs
  bin_tests/src/bin/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-libunwind-sys/src/libunwind_aarch64.rs
  libdd-libunwind-sys/src/libunwind_x86_64.rs
Due: libdd-crashtracker

ci: compilation of libdd-data-pipeline to wasm32 (#1830)
  .github/workflows/test.yml
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-utils

perf: add trace buffer benchmarks
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/benches/trace_buffer.rs
Due: libdd-data-pipeline

chore: fix unused variable in ffi example (#1825)
  examples/ffi/array_queue.cpp
Due: none

chore(ci): run macOS jobs in GitLab for MergeQueue. Remove broken label rule (#1833)
  .gitlab-ci.yml
Due: none

map empty value for datadog-client-computed-stats to false
  libdd-trace-utils/src/tracer_header_tags.rs
Due: libdd-trace-utils

Fix stale prebuilt artifacts
  bin_tests/src/bin/prebuild.rs
  bin_tests/src/lib.rs
  bin_tests/src/test_runner.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
Due: none

Fix Rust doc
  bin_tests/src/test_runner.rs
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
