Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

Fix logic when tag value not available
  dogstatsd/src/origin.rs
Due: none

elide the lifetimes
  dogstatsd/src/origin.rs
Due: none

Add safety comment
  profiling/src/collections/string_storage.rs
Due: profiling

[PROF-11405] Replace managed string storage Rc with Arc (#919)
  profiling-ffi/src/string_storage.rs
  profiling/src/collections/string_storage.rs
  profiling/src/internal/profile/mod.rs
Due: profiling, profiling-ffi

WIP mimalloc experiments
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
Due: profiling, profiling-ffi

Trigger memory bloat in libdatadog
  examples/ffi/CMakeLists.txt
  examples/ffi/profiles.c
Due: none

Use our own fork of libmimalloc-sys to apply customization
  Cargo.lock
  Cargo.toml
  profiling-ffi/Cargo.toml
Due: profiling, profiling-ffi

Include mimalloc stats in profiles automatically
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
  profiling/src/exporter/mod.rs
Due: profiling, profiling-ffi

Enable newly-created stat feature + bump commit
  Cargo.lock
  Cargo.toml
  profiling/Cargo.toml
Due: profiling

Replace not-very-useful mimalloc stats with new mimalloc+proc stats
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/mod.rs
  profiling/tests/form.rs
Due: profiling, profiling-ffi

Fix broken build on non-linux os's
  profiling/src/exporter/mod.rs
Due: profiling

Use mimalloc only for Linux
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
  profiling/Cargo.toml
  profiling/src/exporter/mod.rs
Due: profiling, profiling-ffi

Bump version of our fork to replace `patch` usage with `git apply`
  Cargo.lock
  Cargo.toml
Due: none

Bump version of our fork to avoid header that fails on alpine
  Cargo.lock
  Cargo.toml
Due: none

Don't use mimalloc with miri
  profiling-ffi/src/lib.rs
Due: profiling, profiling-ffi

Refactor to avoid use to avoid warnings on non-linux
  profiling/src/exporter/mod.rs
Due: profiling

Mark args as explicitly unused to avoid warnings
  profiling/src/exporter/mod.rs
Due: profiling

feat: add custom serialization for attributes
  trace-utils/src/msgpack_decoder/decode/span_event.rs
Due: trace-utils

tests: add tests to the decoder
  trace-utils/src/msgpack_decoder/decode/span_event.rs
Due: trace-utils

feat(trace-exporter): add span events and its decoder
  trace-utils/src/msgpack_decoder/decode/mod.rs
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/span/trace_utils.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
Due: trace-utils

fix: rebase from main
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/v05/mod.rs
Due: trace-utils

refacto: added more genericity to remove duplication
  trace-utils/src/msgpack_decoder/decode/span_event.rs
Due: trace-utils

test: add tests and apply review
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
Due: trace-utils

refacto: fix clippy
  trace-utils/src/msgpack_decoder/decode/span_event.rs
Due: trace-utils

fix: doc
  trace-utils/src/span/mod.rs
Due: trace-utils

chore: remove dev comments
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
Due: trace-utils

fix: apply review
  trace-utils/src/msgpack_decoder/decode/span_event.rs
Due: trace-utils

Fix another warning on non-linux
  profiling/src/exporter/mod.rs
Due: profiling

Make feature conditional on windows
  crashtracker-ffi/Cargo.toml
  crashtracker/src/collector_windows/api.rs
Due: crashtracker

Fix warning on windows
  profiling/src/exporter/mod.rs
Due: profiling

Update README.md
  README.md
Due: none

fix: remove unwrap use
  trace-utils/src/msgpack_decoder/decode/span_event.rs
Due: trace-utils

Address PR feedback
  crashtracker-ffi/tests/collector_windows_test.rs
  crashtracker-ffi/tests/test_app/src/main.rs
Due: crashtracker

Use gcc 9 on centos 7 to be able to build mimalloc
  tools/docker/Dockerfile.centos
Due: none

updated
  NOTICE
Due: none

refacto: use of from trait
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/span/mod.rs
Due: trace-utils

test: add key in json test
  trace-utils/src/test_utils/mod.rs
Due: trace-utils

Add safety comments
  crashtracker-ffi/tests/test_app/src/main.rs
  crashtracker/src/collector_windows/api.rs
Due: crashtracker
