Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

fix: call method
  dogstatsd/src/metric.rs
Due: none

fix: thx clippy
  dogstatsd/src/metric.rs
Due: none

fix: make clear() deterministic
  dogstatsd/src/aggregator.rs
Due: none

fix: used wrong variable
  dogstatsd/src/metric.rs
Due: none

println
  dogstatsd/src/metric.rs
Due: none

Aj/honor metric timestamps (#904)
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Due: none

Minor: Use `context` for cleaner error handling
  profiling/src/collections/string_storage.rs
Due: profiling

[PROF-11405] Fix managed string storage causing corrupt profiles (#896)
  profiling/src/collections/string_storage.rs
  profiling/src/internal/profile/mod.rs
Due: profiling

Fixes
  crashtracker-ffi/src/collector_windows/api.rs
  crashtracker-ffi/tests/test_app/Cargo.toml
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

Remove extra lib
  Cargo.lock
  Cargo.toml
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/tests/collector_windows_test.rs
  crashtracker-ffi/tests/test_app/Cargo.toml
  crashtracker-ffi/tests/test_app/src/main.rs
  crashtracker-ffi/tests/test_app_lib/Cargo.toml
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

Lint
  crashtracker-ffi/tests/test_app/src/main.rs
  sidecar/src/windows.rs
Due: crashtracker, sidecar

Clippy
  crashtracker-ffi/tests/collector_windows_test.rs
Due: crashtracker

Improve error handling in collect_trace_chunks_function.
  data-pipeline/src/trace_exporter/mod.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/span/v05/dict.rs
  trace-utils/src/span/v05/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, trace-mini-agent, trace-utils

Use Mutex
  crashtracker-ffi/src/collector_windows/api.rs
Due: crashtracker

Newline
  crashtracker-ffi/Cargo.toml
Due: crashtracker

Move core logic
  Cargo.lock
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/src/collector_windows/api.rs
  crashtracker/Cargo.toml
  crashtracker/src/collector_windows/api.rs
  crashtracker/src/collector_windows/mod.rs
  crashtracker/src/lib.rs
Due: crashtracker

Clippy
  crashtracker/src/collector_windows/api.rs
Due: crashtracker

Remove duplicated tests
  crashtracker/src/collector_windows/api.rs
Due: crashtracker

Mark `unintern` as requiring a mutable reference
  profiling-ffi/src/string_storage.rs
  profiling/src/collections/string_storage.rs
Due: profiling, profiling-ffi

Use checked operations when touching usage_count
  profiling/src/collections/string_storage.rs
Due: profiling

Minor: Simplify error handling by using `context`
  profiling/src/collections/string_storage.rs
Due: profiling

Minor: Refuse to read string back if refcount is zero
  profiling/src/collections/string_storage.rs
Due: profiling

Make `get_seq_num` require `mut self`
  profiling/src/collections/string_storage.rs
  profiling/src/internal/profile/mod.rs
Due: profiling

* use anyhow rather than Result<T, String>
  ddcommon/src/tracer_metadata.rs
Due: ddcommon

fix fmt
  ddcommon/src/tracer_metadata.rs
Due: ddcommon

Replace `RwLock` with `Mutex` for managed string storage
  profiling-ffi/src/string_storage.rs
  profiling/src/internal/profile/mod.rs
Due: profiling, profiling-ffi

Rename the test
  crashtracker-ffi/tests/collector_windows_test.rs
Due: crashtracker

feat(stats-exporter): add retry logic
  data-pipeline/src/stats_exporter.rs
Due: data-pipeline

fix(stats-exporter): fix rustfmt
  data-pipeline/src/stats_exporter.rs
Due: data-pipeline

add `aggregator.rs`
  trace-mini-agent/src/aggregator.rs
Due: trace-mini-agent

update `TraceFlusher` to use the `TraceAggregator`
  trace-mini-agent/src/trace_flusher.rs
Due: trace-mini-agent

make `MiniAgent` use `TraceAggregator` on `TraceFlusher`
  serverless/src/main.rs
  trace-mini-agent/src/lib.rs
  trace-mini-agent/src/mini_agent.rs
Due: serverless, trace-mini-agent

fmt + clippy
  serverless/src/main.rs
Due: serverless

add license
  trace-mini-agent/src/aggregator.rs
Due: trace-mini-agent

feat(stats-exporter): add test and rework the retry logic
  data-pipeline/src/stats_exporter.rs
Due: data-pipeline

fix(stats-exporter): fix clippy
  data-pipeline/src/stats_exporter.rs
Due: data-pipeline

code review
  ddcommon/src/tracer_metadata.rs
Due: ddcommon

feat: add API for process discovery (#867)
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/tracer_metadata.rs
Due: ddcommon

fix(stats-exporter): apply review
  data-pipeline/src/stats_exporter.rs
Due: data-pipeline

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
