Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

improve assert failure message for send_data retry tests and increase tolerance for time measurements (#610)
  trace-utils/src/send_data/retry_strategy.rs
Due: trace-utils

Add defensive ddcommon_ffi checks for Slice (#604)
  ddcommon-ffi/src/slice.rs
Due: ddcommon, ddcommon-ffi

upgrade to rust 1.76.0 (#612)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  Cargo.toml
  README.md
  crashtracker-ffi/src/collector/spans.rs
  tools/docker/Dockerfile.build
Due: crashtracker

Require docs on all public things in data-pipeline
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

just use allow missing_docs until we have a template for our docs here
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

rust fmt
  data-pipeline/src/lib.rs
Due: data-pipeline

feat: 10k contexts
  dogstatsd/src/constants.rs
Due: none

use dogstatsd in serverless
  Cargo.lock
  serverless/Cargo.toml
  serverless/src/main.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
Due: serverless, trace-mini-agent

move dogstatsd-client to separate crate so it can be shared
  Cargo.lock
  Cargo.toml
  dogstatsd-client/Cargo.toml
  dogstatsd-client/src/lib.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Due: sidecar, sidecar-ffi

Require docs on all public things in data-pipeline (#614)
  data-pipeline/src/lib.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

enable demangler feature
  builder/Cargo.toml
  profiling-ffi/Cargo.toml
Due: profiling, profiling-ffi

check if ddog_crasht_demangle can be linked against
  examples/ffi/crashtracking.c
Due: none

Fix example
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
Due: none

Use ArcSwapOption
  agent-info/src/lib.rs
Due: none

Add docs
  agent-info/src/lib.rs
Due: none

Move mods to separate files
  agent-info/src/fetcher.rs
  agent-info/src/lib.rs
  agent-info/src/schema.rs
Due: none

Add AgentInfoFetcher
  Cargo.lock
  Cargo.toml
  agent-info/Cargo.toml
  agent-info/src/lib.rs
Due: none

Add test for fetch_info
  agent-info/src/lib.rs
Due: none

Add tests
  Cargo.lock
  agent-info/Cargo.toml
  agent-info/src/lib.rs
Due: none

adding some initial stats and tests
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
Due: data-pipeline

make traceexporter mut
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

convert env var value to lowercase and nest dogstatsd logic
  serverless/src/main.rs
Due: serverless

update powershell script
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Due: none

Clean up examples build folder
  .github/workflows/test.yml
Due: none

[profiling] Ensure shared library name has no soname set.
  build-profiling-ffi.sh
Due: none

miri can ignore unit test
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

refactor to move loop outside of conditional dogstatsd block
  serverless/src/main.rs
Due: serverless

add environment variables for hardcoded values and refactor start_dogstatsd
  serverless/src/main.rs
Due: serverless

fix unit test
  trace-mini-agent/src/config.rs
Due: trace-mini-agent

add env var for default dogstatsd port
  trace-mini-agent/src/config.rs
Due: trace-mini-agent

showing example to make TraceExporter not so mutable
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

adds readme for dogstatsd
  dogstatsd/README.md
Due: none

[Profiling/Build] Add crashtracking feature for windows (event it's not ready yet) (#613)
  .github/workflows/test.yml
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Due: none

adds readme for dogstatsd (#621)
  dogstatsd/README.md
Due: none

Don't run all the workflows
  .github/workflows/fuzz.yml.disabled
  .github/workflows/miri.yml.disabled
  .github/workflows/test-ruby.yml.disabled
  .github/workflows/test.yml
  .gitlab-ci.yml
Due: none
