Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

chore(codeowners): make common component co-codeowner of otlp exporter in data-pipeline
  .github/CODEOWNERS
Due: none

chore(codeowners): make common component co-codeowner of otlp exporter in data-pipeline (#2493)
  .github/CODEOWNERS
Due: none

feat(profiling): add timestamped samples to CXX profile API
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/pprof/test_utils.rs
Due: libdd-profiling

refactor!: rename new_without_connection_pooling to new_periodic
  datadog-sidecar/src/service/ffe_exposures_flusher.rs
  datadog-sidecar/src/service/ffe_metrics_flusher.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities/src/http.rs
  libdd-data-pipeline-core/src/agentless/exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/common/mock_http.rs
  libdd-ffe/src/telemetry/flagevaluation/sender.rs
  libdd-live-debugger/src/sender.rs
  libdd-remote-config/examples/remote_config_agentless_bench.rs
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/src/fetch/agentless.rs
  libdd-remote-config/src/fetch/agentless/integration_tests.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/multitarget.rs
  libdd-remote-config/src/fetch/shared.rs
  libdd-telemetry/src/worker/mod.rs
  libdd-tracer-flare/src/lib.rs
Due: libdd-data-pipeline, libdd-telemetry, datadog-sidecar, libdd-tracer-flare

feat!: use low keep-alive pooling for periodic clients in libdd-http-client and libdd-agent-client
  libdd-agent-client/src/builder.rs
  libdd-http-client/Cargo.toml
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/src/config.rs
Due: none

refactor: also limit connection pooling cardinality for libdd-http-client
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/src/config.rs
Due: none

chore: update comment
  libdd-agent-client/src/builder.rs
Due: none

chore: grammar in comment
  libdd-http-client/src/config.rs
Due: none

chore: rework some comments
  libdd-capabilities-impl/src/http.rs
  libdd-http-client/Cargo.toml
  libdd-http-client/src/config.rs
Due: none

refactor: remove useless periodic API for agent client
  libdd-agent-client/src/builder.rs
Due: none

ci: add downstream impact analysis
  .github/downstream-consumers.json
  .github/workflows/downstream-impact.yml
  scripts/downstream-impact.py
  scripts/tests/test_downstream_impact.py
Due: none

test: ci
  libdd-profiling/DOWNSTREAM_IMPACT_TEST.md
Due: libdd-profiling

fix: missing function renaming
  libdd-agent-client/src/builder.rs
  libdd-remote-config/src/fetch/single.rs
Due: none

fix(shared-runtime): fully discard state on MicroVM identity refresh
  .gitignore
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/agent_info/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-shared-runtime/src/shared_runtime/fork_safe.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-shared-runtime/src/worker.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

ci: validate dd-trace-rs against pull request crates
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/DOWNSTREAM_IMPACT_TEST.md
  libdd-profiling/DOWNSTREAM_IMPACT_TEST.md
Due: libdd-data-pipeline, libdd-profiling

feat(profiling)!: add gc-time sample type (PROF-15894) (#2442)
  libdd-profiling/src/api/sample_type.rs
  libdd-profiling/src/cxx.rs
Due: libdd-profiling

test: remove downstream build smoke test
  libdd-data-pipeline/DOWNSTREAM_IMPACT_TEST.md
Due: libdd-data-pipeline

Update license
  LICENSE-3rdparty.csv
Due: none

ci: generalize Cargo downstream validation
  .github/downstream-consumers.json
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/DOWNSTREAM_IMPACT_TEST.md
  scripts/downstream-impact.py
  scripts/tests/test_downstream_impact.py
Due: libdd-data-pipeline

test: remove Cargo matrix smoke test
  libdd-data-pipeline/DOWNSTREAM_IMPACT_TEST.md
Due: libdd-data-pipeline

Compare downstream builds against PR base
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/DOWNSTREAM_IMPACT_TEST.md
Due: libdd-data-pipeline

Remove downstream validation smoke test
  libdd-data-pipeline/DOWNSTREAM_IMPACT_TEST.md
Due: libdd-data-pipeline

Revert "feat(crashtracking): GOT patch sigaction (#2448)"
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/collector/sigaction_interceptor.rs
Due: libdd-crashtracker

Detect new errors on failing downstream baselines
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/src/lib.rs
  scripts/compare-cargo-diagnostics.py
  scripts/tests/test_compare_cargo_diagnostics.py
Due: libdd-data-pipeline

Smoke test additional downstream regressions
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/src/lib.rs
Due: libdd-data-pipeline

Trigger downstream regression smoke tests
  libdd-data-pipeline/DOWNSTREAM_FAILURE_SMOKE_TEST.md
Due: libdd-data-pipeline

Detect new Cargo resolution failures
  .github/workflows/downstream-impact.yml
  scripts/compare-cargo-diagnostics.py
  scripts/tests/test_compare_cargo_diagnostics.py
Due: none

Expose downstream regression classifications
  .github/workflows/downstream-impact.yml
Due: none

Remove downstream regression smoke injection
  .github/workflows/downstream-impact.yml
  libdd-data-pipeline/DOWNSTREAM_FAILURE_SMOKE_TEST.md
Due: libdd-data-pipeline

Fix Cargo error formatting in job summaries
  .github/workflows/downstream-impact.yml
Due: none

fix(crashtracking): revert "feat(crashtracking): GOT patch sigaction (#2448)" (#2495)
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/collector/sigaction_interceptor.rs
Due: libdd-crashtracker

feat(profiling): expose dictionary-backed samples in CXX API
  examples/cxx/README.md
  examples/cxx/build-profiling-api2.ps1
  examples/cxx/build-profiling-api2.sh
  examples/cxx/profiling_api2.cpp
  libdd-profiling-ffi/src/profiles/datatypes.rs
  libdd-profiling/benches/add_samples.rs
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/internal/profile/mod.rs
  libdd-profiling/src/profiles/datatypes/function.rs
  libdd-profiling/src/profiles/datatypes/mapping.rs
  libdd-profiling/src/profiles/datatypes/string.rs
Due: libdd-profiling, libdd-profiling-ffi

feat(data-pipeline)!: OTLP gRPC trace export (#2171)
  .github/CODEOWNERS
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/otlp/grpc_exporter.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_grpc.rs
  libdd-trace-utils/src/send_with_retry/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-utils

Unpatch
  libdd-gotter/src/elf.rs
Due: none

store slots
  libdd-gotter/src/elf.rs
Due: none

One pass no dlopen race, TOCTOU race, docuemnt LIFO unpatching
  libdd-gotter/src/elf.rs
Due: none

Revert "fix(crashtracking): revert "feat(crashtracking): GOT patch sigaction (#2448)" (#2495)"
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/collector/sigaction_interceptor.rs
Due: libdd-crashtracker

Ordering tests
  libdd-gotter/src/elf.rs
Due: none

feat(profiling): expose split CXX profile export API
  examples/cxx/profiling.cpp
  libdd-profiling/src/cxx.rs
Due: libdd-profiling

feat(remote-config): add an agentless fetcher constructor
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/single.rs
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
