Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

Bump a few more dependencies and make sure there are no downgrades
  Cargo.lock
Due: none

Explicitly pin version of deps from saluki-backport repo
  Cargo.lock
  dogstatsd/Cargo.toml
Due: none

Enable code coverage.
  .github/workflows/all-checks.yml
  .github/workflows/coverage.yml
Due: none

Enable code coverage. (#681)
  .github/workflows/all-checks.yml
  .github/workflows/coverage.yml
Due: none

feat: Prefer DD_PROXY_HTTPS over HTTPS_PROXY (#673)
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
  serverless/src/main.rs
  trace-mini-agent/src/config.rs
Due: serverless, trace-mini-agent

Restrict RC path to a definite 31 chars (#676)
  sidecar/src/shm_remote_config.rs
Due: sidecar

Use ELF virtual address instead of file offset
  crashtracker/src/crash_info/stacktrace.rs
Due: crashtracker

[PROF-10680] Use ELF virtual address instead of file offset (#680)
  crashtracker/src/crash_info/stacktrace.rs
Due: crashtracker

Enable backports/deprecated features on hyper crate
  bin_tests/Cargo.toml
  crashtracker-ffi/Cargo.toml
  crashtracker/Cargo.toml
  data-pipeline/Cargo.toml
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddtelemetry/Cargo.toml
  dogstatsd-client/Cargo.toml
  live-debugger/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
  remote-config/Cargo.toml
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  trace-mini-agent/Cargo.toml
  trace-utils/Cargo.toml
Due: crashtracker, data-pipeline, ddcommon, ddcommon-ffi, ddtelemetry, profiling, profiling-ffi, sidecar, sidecar-ffi, trace-mini-agent, trace-utils

Fix all compatibility warnings emitted by hyper crate
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/trace_exporter.rs
  ddtelemetry/src/worker/http_client.rs
  live-debugger/src/sender.rs
  profiling-ffi/src/exporter.rs
  profiling/tests/form.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/test_server.rs
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/http_utils.rs
  trace-utils/src/send_data/send_data_result.rs
  trace-utils/src/stats_utils.rs
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/trace_utils.rs
Due: data-pipeline, ddtelemetry, profiling, profiling-ffi, sidecar, trace-mini-agent, trace-utils

Remove hyper dependency from crates that don't seem to use it
  Cargo.lock
  bin_tests/Cargo.toml
  dogstatsd-client/Cargo.toml
Due: none

Fix build error due to "set_http1_header_read_timeout" not being found
  data-pipeline/Cargo.toml
Due: data-pipeline

Fix latest stable rust clippy complaints
  profiling/src/exporter/mod.rs
Due: profiling

Stabilize credit_cards_bench inlining
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Due: trace-obfuscation

format
  crashtracker/src/crash_info/structured_log_format/thread.rs
Due: crashtracker

Resolve clippy warnings
  builder/build/arch/apple.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  sidecar/src/service/sidecar_server.rs
Due: ipc, sidecar

Resolve clippy warnings (#684)
  builder/build/arch/apple.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  sidecar/src/service/sidecar_server.rs
Due: ipc, sidecar

adding temp comment to trigger gh actions
  data-pipeline/tests/test_fetch_info.rs
Due: data-pipeline

Optimize is_card_number to use array
  trace-obfuscation/src/credit_cards.rs
Due: trace-obfuscation

fix single-span sampling
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Allow attaching to the sidecar via gdb
  spawn_worker/src/trampoline.c
  trace-utils/Cargo.toml
Due: spawn-worker, trace-utils

Allow attaching to the sidecar via gdb (#687)
  spawn_worker/src/trampoline.c
  trace-utils/Cargo.toml
Due: spawn-worker, trace-utils

Lock down nightly version for reproducible builds
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  README.md
  bin_tests/src/bin/test_the_tests.rs
  bin_tests/tests/crashtracker_bin_test.rs
  builder/build/arch/apple.rs
  builder/build/arch/linux.rs
  crashtracker-ffi/src/collector/spans.rs
  data-pipeline/src/health_metrics.rs
  ddcommon-ffi/src/slice.rs
  ddcommon/src/connector/named_pipe.rs
  ddcommon/src/entity_id/unix/mod.rs
  ddtelemetry/src/metrics.rs
  ipc/tarpc/plugins/src/lib.rs
  ipc/tarpc/plugins/tests/server.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  profiling/src/api.rs
  profiling/src/collections/string_table/wordpress_test_data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/file_storage.rs
  remote-config/src/path.rs
  remote-config/src/targets.rs
  sidecar/src/log.rs
  sidecar/src/one_way_shared_memory.rs
  spawn_worker/src/win32.rs
Due: crashtracker, data-pipeline, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, sidecar, spawn-worker

define keys as const and fix analytics key
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Regroup same branches for clippy
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

add stale PR GH workflow
  .github/workflows/stale.yml
Due: none

update pr message with keep-open label instructions
  .github/workflows/stale.yml
Due: none

Remove sed invocation from profiling plugin.
  builder/build/profiling.rs
Due: none

Ignore weak symbols in mockgen
  tools/sidecar_mockgen/src/lib.rs
Due: none

free up large packages to provide more disk space to CI
  .github/workflows/test.yml
Due: none

add stale PR GH workflow (#688)
  .github/workflows/stale.yml
  .github/workflows/test.yml
Due: none

Add SAMPLING prefix
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

[APMSP-1458] Fix single-span sampling (#689)
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Ignore weak symbols in mockgen (#691)
  tools/sidecar_mockgen/src/lib.rs
Due: none

Initial
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/Cargo.toml
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
Due: crashtracker

Initia;
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Formatting and revert altstack change
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/lib.rs
Due: crashtracker

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
