Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Update after codex comments
  datadog-sidecar/src/setup/thread_listener.rs
  datadog-sidecar/src/setup/unix.rs
  libdd-ipc/src/platform/unix/private_dir.rs
Due: datadog-sidecar

Fix
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/setup/thread_listener_windows.rs
  datadog-sidecar/src/setup/unix.rs
Due: datadog-sidecar

Guard SHM Rate limiter writes against OOB-reads
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-common/src/rate_limiter.rs
  libdd-ipc/src/rate_limiter.rs
Due: libdd-common, datadog-sidecar

Fix miri
  datadog-sidecar/src/setup/unix.rs
  datadog-sidecar/tests/connection_auth.rs
  libdd-ipc/src/platform/unix/private_dir.rs
  libdd-ipc/src/platform/unix/process.rs
  libdd-ipc/src/platform/unix/shm_guard.rs
Due: datadog-sidecar

Harden ShmStats layout to avoid revalidation
  libdd-ipc/src/shm_stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

Harden ShmLimiter get()/find()
  libdd-ipc/src/rate_limiter.rs
Due: none

Use a fixed mapping instead of remapping
  datadog-sidecar/src/agent_remote_config.rs
  datadog-sidecar/src/service/agent_info.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-ipc/src/one_way_shared_memory.rs
  libdd-ipc/src/platform/mem_handle.rs
  libdd-ipc/src/platform/unix/mem_handle.rs
  libdd-ipc/src/platform/unix/mem_handle_macos.rs
  libdd-ipc/src/platform/unix/sockets/macos.rs
  libdd-ipc/src/platform/windows/mem_handle.rs
  libdd-ipc/src/rate_limiter.rs
Due: datadog-sidecar

Make ShmLimiter alloc and fork-safe
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-common/src/rate_limiter.rs
  libdd-ipc/src/platform/unix/mem_handle.rs
  libdd-ipc/src/platform/unix/mem_handle_macos.rs
  libdd-ipc/src/platform/windows/mem_handle.rs
  libdd-ipc/src/rate_limiter.rs
Due: libdd-common, datadog-sidecar

Guard against unauthorized file access
  datadog-sidecar/src/auth.rs
  datadog-sidecar/src/crashtracker.rs
  datadog-sidecar/src/log.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/setup/thread_listener.rs
  libdd-capabilities-impl/src/http.rs
  libdd-common/src/connector/conn_stream.rs
  libdd-common/src/dump_server.rs
  libdd-common/src/unix_utils/mod.rs
  libdd-common/src/unix_utils/restricted_file.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/lib.rs
  libdd-crashtracker/src/receiver/benchmark.rs
  libdd-crashtracker/src/receiver/entry_points.rs
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-dogstatsd-client/src/client/sink.rs
Due: libdd-crashtracker, libdd-common, libdd-dogstatsd-client, datadog-sidecar

Address PR feedback
  Cargo.lock
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/log.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/setup/mod.rs
  datadog-sidecar/src/setup/thread_listener.rs
  datadog-sidecar/src/setup/thread_listener_windows.rs
  datadog-sidecar/src/setup/unix.rs
  datadog-sidecar/src/tracer.rs
  datadog-sidecar/tests/connection_auth.rs
  libdd-ipc/src/platform/unix/mem_handle.rs
  libdd-ipc/src/platform/unix/process.rs
  libdd-ipc/src/rate_limiter.rs
  libdd-ipc/src/shm_stats.rs
  spawn_worker/src/unix/spawn.rs
Due: datadog-sidecar, spawn-worker

Unwind thread stacks in the collector child
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/error_data.rs
  libdd-crashtracker/src/lib.rs
  libdd-crashtracker/src/ptrace_collector.rs
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/constants.rs
Due: libdd-crashtracker

fix(crashtracker): set access policy in the test receiver
  bin_tests/src/bin/crashtracker_receiver.rs
Due: none

test(sidecar): skip process startup test under Miri
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
Due: datadog-sidecar

fix(crashtracker): emit crash registers without allocating
  libdd-crashtracker/src/collector/emitters.rs
Due: libdd-crashtracker

fix(rate-limiter): refresh rates without consuming capacity
  libdd-common/src/rate_limiter.rs
Due: libdd-common

test(sidecar): use synthetic identities and native descriptor aliases
  datadog-sidecar/tests/composer_paths.rs
  datadog-sidecar/tests/thread_listener_identity.rs
Due: datadog-sidecar

fix(ipc): avoid Windows shared memory collisions after PID reuse
  libdd-ipc/src/platform/windows/mem_handle.rs
Due: none

fix(sidecar): enqueue telemetry startup before exposing the client
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

fix(sidecar): preserve Windows shared memory name hashes
  datadog-sidecar/src/agent_remote_config.rs
  datadog-sidecar/src/service/agent_info.rs
  datadog-sidecar/src/service/stats_flusher.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/shm_remote_config.rs
Due: datadog-sidecar

fix(remote-config): keep a consistent cache lock order
  libdd-remote-config/src/fetch/shared.rs
Due: none

fix(spawn_worker): run the trampoline under the host loader
  spawn_worker/Cargo.toml
  spawn_worker/build.rs
  spawn_worker/src/unix/elf_interp.rs
  spawn_worker/src/unix/mod.rs
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker

fix(ci): keep Clippy clean for no_std library-config builds
  libdd-common-ffi/src/slice.rs
  libdd-common-ffi/src/vec.rs
  libdd-library-config-ffi/src/lib.rs
Due: libdd-common, libdd-common-ffi

feat(otel-thread-ctx): add autoclean feature to avoid leaks (v43 backport) (#2566)
  libdd-otel-thread-ctx-ffi/Cargo.toml
  libdd-otel-thread-ctx-ffi/README.md
  libdd-otel-thread-ctx-ffi/src/lib.rs
  libdd-otel-thread-ctx-ffi/tests/thread_exit_autoclean.rs
  libdd-otel-thread-ctx/Cargo.toml
  libdd-otel-thread-ctx/README.md
  libdd-otel-thread-ctx/src/lib.rs
  libdd-otel-thread-ctx/src/test_utils/mod.rs
  libdd-otel-thread-ctx/tests/thread_exit_autoclean.rs
Due: none

perf(ipc): refresh limiter arena size only after a lookup miss
  libdd-ipc/src/rate_limiter.rs
Due: none

ci(semver): log semver-level.sh progress
  scripts/release-version-bumps.sh
  scripts/semver-level.sh
Due: none

chore(version): bump to v43.0.2
  Cargo.lock
  Cargo.toml
Due: none

Clean up and align CT report tag building
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/sig_info.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
Due: libdd-crashtracker

feat(otel-thread-ctx): add autoclean feature to avoid leaks (v43 backport) (#2597)
  Cargo.lock
  Cargo.toml
  libdd-otel-thread-ctx-ffi/Cargo.toml
  libdd-otel-thread-ctx-ffi/README.md
  libdd-otel-thread-ctx-ffi/src/lib.rs
  libdd-otel-thread-ctx-ffi/tests/thread_exit_autoclean.rs
  libdd-otel-thread-ctx/Cargo.toml
  libdd-otel-thread-ctx/README.md
  libdd-otel-thread-ctx/src/lib.rs
  libdd-otel-thread-ctx/src/test_utils/mod.rs
  libdd-otel-thread-ctx/tests/thread_exit_autoclean.rs
Due: none

chore(crashtracking): clean up and align CT report tag building (#2596)
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/sig_info.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
Due: libdd-crashtracker

address review comments
  spawn_worker/build.rs
  spawn_worker/src/trampoline.c
Due: spawn-worker

feat(ffe): normalize privacy fields and report bounded context omissions
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/self_telemetry.rs
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  libdd-ffe-ffi/src/configuration.rs
  libdd-ffe-test-suite/benches/eval.rs
  libdd-ffe/src/telemetry/flagevaluation.rs
  libdd-ffe/src/telemetry/flagevaluation/privacy.rs
  libdd-ffe/src/telemetry/flagevaluation/sender.rs
Due: datadog-sidecar, datdog-sidecar-ffi

test(ffe): verify matched sidecar IPC and raw payload privacy
  datadog-sidecar/src/service/flagevaluation_privacy_tests.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

fix(library-config): reject non-UTF-8 stable config paths instead of lossy conversion
  libdd-library-config/src/lib.rs
Due: none

docs(ffe): explain privacy bounds and matched native integration
  libdd-ffe/README.md
  libdd-ffe/src/telemetry/flagevaluation.rs
Due: none

fix(ipc): use atomic deadlines for shared limiters
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
  libdd-common/src/rate_limiter.rs
  libdd-ipc/src/rate_limiter.rs
Due: libdd-common, datadog-sidecar

make with_thread ffi API passthrough
  libdd-crashtracker-ffi/src/crash_info/builder.rs
Due: libdd-crashtracker, libdd-crashtracker-ffi

fix(examples): prevent profiling example timestamp overflow
  examples/ffi/profile_intern.cpp
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
