Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, tinybytes, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

Path conditions:
  crashtracker: any of: crashtracker
  crashtracker-ffi: any of: crashtracker-ffi
  datadog-alloc: any of: alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils

feat(span): v04 from bytes to slice usage
  data-pipeline/src/trace_exporter/mod.rs
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
  trace-utils/src/msgpack_decoder/decode/error.rs
  trace-utils/src/msgpack_decoder/decode/map.rs
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/decode/metrics.rs
  trace-utils/src/msgpack_decoder/decode/number.rs
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/decode/string.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, tinybytes, trace-utils

fix: apply review
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, trace-utils

feat: apply review
  tinybytes/src/bytes_string.rs
Due: tinybytes

chore: cleanup code and refacto
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
Due: trace-utils

feat: add support for borrow on v05
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/span/mod.rs
Due: trace-utils

fix(doc): repair comment
  trace-utils/src/msgpack_decoder/v05/mod.rs
Due: trace-utils

chore: cleanup code and refacto
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/decode/metrics.rs
  trace-utils/src/msgpack_decoder/decode/number.rs
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/decode/string.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
Due: trace-utils

chore: cleanup code and refacto
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, trace-utils

[APMSP-1764] Support borrowed buffer for msgpack decoding (#1004)
  data-pipeline/src/trace_exporter/mod.rs
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
  trace-utils/src/msgpack_decoder/decode/error.rs
  trace-utils/src/msgpack_decoder/decode/map.rs
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/decode/metrics.rs
  trace-utils/src/msgpack_decoder/decode/number.rs
  trace-utils/src/msgpack_decoder/decode/span_event.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/decode/string.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, tinybytes, trace-utils

Add default-features=false to crashtracker-ffi
  sidecar/Cargo.toml
Due: sidecar

does this still count as code
  crashtracker/src/collector/receiver_manager.rs
Due: crashtracker

Add default-features=false to crashtracker-ffi (#1016)
  sidecar/Cargo.toml
Due: sidecar

fix: work around bug in nix 0.29.0
  ipc/src/platform/unix/sockets.rs
Due: ipc

use nix .29
  Cargo.lock
  ddcommon/Cargo.toml
Due: ddcommon

[crashtracker] Refactor receiver manager (#1010)
  Cargo.lock
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/receiver_manager.rs
  crashtracker/src/collector/signal_handler_manager.rs
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/unix_utils.rs
Due: crashtracker, ddcommon

chore: update verify_fips_deps script to account for additional features
  scripts/verify_fips_deps.sh
Due: none

chore: ddcommon fips feature
  Cargo.lock
  ddcommon/Cargo.toml
  local-linux.Dockerfile
  scripts/verify_fips_deps.sh
Due: ddcommon

chore: propagate ddcommon/fips to trace-utils
  trace-utils/Cargo.toml
Due: trace-utils

[crashtracker] API to enable/disable crash report collection
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/lib.rs
Due: crashtracker, crashtracker-ffi

Fix coding style
  library-config-ffi/src/lib.rs
Due: none

Expose 'config_id' in LibraryConfig struct
  library-config-ffi/src/lib.rs
Due: none

Add config_id to the payload
  ddtelemetry-ffi/src/builder.rs
  ddtelemetry/src/data/payloads.rs
  sidecar-ffi/src/lib.rs
Due: ddtelemetry, ddtelemetry-ffi, sidecar, sidecar-ffi

Add config_id argument to the FFI functions
  ddtelemetry-ffi/src/builder.rs
  sidecar-ffi/src/lib.rs
Due: ddtelemetry, ddtelemetry-ffi, sidecar, sidecar-ffi

chore: replace `log` with `tracing` for improved logging
  Cargo.lock
  crashtracker-ffi/Cargo.toml
  data-pipeline/Cargo.toml
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
  ddcommon/Cargo.toml
  trace-utils/Cargo.toml
  trace-utils/src/trace_utils.rs
Due: crashtracker, crashtracker-ffi, data-pipeline, ddcommon, trace-utils

chore: replace `log` with `tracing` for improved logging
  trace-utils/src/stats_utils.rs
Due: trace-utils

feat(ddlog): add `ddlog` and `ddlog-ffi` packages with logging functionality
  Cargo.lock
  Cargo.toml
  ddlog-ffi/Cargo.toml
  ddlog-ffi/src/lib.rs
  ddlog/Cargo.toml
  ddlog/src/lib.rs
  ddlog/src/logger.rs
Due: none

feat(ddlog): add `ddlog-ffi` integration and logging support
  Cargo.lock
  build-profiling-ffi.sh
  ddlog-ffi/Cargo.toml
  ddlog-ffi/build.rs
  ddlog-ffi/cbindgen.toml
  ddlog-ffi/src/lib.rs
  ddlog/src/lib.rs
  ddlog/src/logger.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
Due: profiling, profiling-ffi

fix: clippy errors
  ddlog/src/logger.rs
Due: none

fix: container build
  Cargo.toml
  tools/docker/Dockerfile.build
Due: none

fix: add `bench` configuration to ddlog
  ddlog/Cargo.toml
Due: none

fix: update copyright year in header
  ddlog-ffi/cbindgen.toml
Due: none

docs: link and justification
  ddlog/src/logger.rs
Due: none

Propagate trace_flusher errors
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/send_data_result.rs
  trace-utils/src/send_with_retry/mod.rs
  trace-utils/tests/test_send_data.rs
Due: sidecar, trace-mini-agent, trace-utils

fix: update dogstatsd-client with structured logging
  dogstatsd-client/src/lib.rs
Due: dogstatsd-client

chore: add RFC
  docs/RFCs/0009-cross-language-logging-integration.md
Due: none

fix: update status
  docs/RFCs/0009-cross-language-logging-integration.md
Due: none

docs: add warning block
  ddlog-ffi/src/lib.rs
  ddlog/src/logger.rs
Due: none
