Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

feat(trace-utils)!: introduce VecMap datastructure (#2022)
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/vec_map.rs
Due: libdd-trace-utils

feat(native-span): add dedup convenience to VecMap
  libdd-trace-utils/src/span/vec_map.rs
Due: libdd-trace-utils

fix(send_with_retry): use exact number of retries
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/send_with_retry/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

Use `ddog_MaybeError` for tracer construction function errors
  Cargo.lock
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Return `ByteSlice` from `ddog_trace_exporter_response_get_body`
  libdd-data-pipeline-ffi/src/response.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Accept nullable `fields` pointer in `ddog_tracer_span_new`
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Format `tracer.rs` with stable rustfmt
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

address clippy must_use errors in tests
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Update third-party license inventory
  LICENSE-3rdparty.csv
Due: none

Add `anyhow` to Cargo.lock for libdd-data-pipeline-ffi
  Cargo.lock
Due: none

regen license file after cargo.lock fix
  LICENSE-3rdparty.csv
Due: none

fix: restore Option<Box<ExporterError>>
  libdd-data-pipeline-ffi/src/response.rs
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix: treat nullable parameters
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix: address PR comment to simplyfy get_body return
  libdd-data-pipeline-ffi/src/response.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore: improve test coverage
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore: remove dependency
  Cargo.lock
  libdd-data-pipeline-ffi/Cargo.toml
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix: double log when deduping vec_map
  libdd-trace-utils/src/span/vec_map.rs
Due: libdd-trace-utils

test: fix failing test (vecmap order not guaranteed)
  libdd-trace-utils/src/span/vec_map.rs
Due: libdd-trace-utils

chore(sidecar): keep FFE exposure PR focused
  .github/CODEOWNERS
  Cargo.lock
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/ffe_metrics_flusher.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  libdd-profiling/src/internal/profile/interning_api/mod.rs
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-profiling, datadog-sidecar, datdog-sidecar-ffi, libdd-trace-obfuscation

feat(sidecar): forward FFE evaluation metrics to OTLP intake
  .github/CODEOWNERS
  Cargo.lock
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/ffe_metrics_flusher.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

Flatten all threads object into a []ThreadData
  bin_tests/tests/crashtracker_bin_test.rs
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_8.json
  libdd-crashtracker/src/collector_windows/api.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/error_data.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

Move FFE metric encoding into datadog-ffe
  Cargo.lock
  datadog-ffe/Cargo.toml
  datadog-ffe/src/lib.rs
  datadog-ffe/src/telemetry/evaluation_metrics.rs
  datadog-ffe/src/telemetry/mod.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/ffe_metrics_flusher.rs
  datadog-sidecar/src/service/mod.rs
Due: datadog-sidecar

Move FFE exposure logic into datadog-ffe
  Cargo.lock
  datadog-ffe/Cargo.toml
  datadog-ffe/src/lib.rs
  datadog-ffe/src/telemetry/exposures.rs
  datadog-ffe/src/telemetry/mod.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/ffe_exposures_flusher.rs
  datadog-sidecar/src/service/mod.rs
Due: datadog-sidecar

fix(crashtracking)!: flatten all threads object into a list of `ThreadData` (#2054)
  bin_tests/tests/crashtracker_bin_test.rs
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_8.json
  libdd-crashtracker/src/collector_windows/api.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/error_data.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

Rename FFE exposure feature gate
  datadog-ffe/Cargo.toml
  datadog-ffe/src/lib.rs
  datadog-sidecar/Cargo.toml
Due: datadog-sidecar

Rename FFE metric feature gate
  datadog-ffe/Cargo.toml
  datadog-ffe/src/lib.rs
  datadog-sidecar/Cargo.toml
Due: datadog-sidecar

chore: address PR comment
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Disable libdd-common default features
  libdd-sampling/Cargo.toml
Due: none

fix(sampling): disable libdd-common default features (#2057)
  libdd-sampling/Cargo.toml
Due: none

feat!: Align tracer FFI error and response types with common conventions (#2029)
  libdd-data-pipeline-ffi/src/response.rs
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix proposal-test pinning cargo version
  .github/workflows/release-proposal-test.yml
Due: none

fix(ci): pin cargo version in release-proposal-test.yml (#2059)
  .github/workflows/release-proposal-test.yml
Due: none

Expose fork safety hooks through trace exporter FFI
  libdd-data-pipeline-ffi/src/tracer.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Add cancellation token support for trace chunk sending
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore(agents_md): grep can take a long time when looking in target dir
  AGENTS.md
Due: none

chore(agents_md): grep can take a long time when looking in target dir (#2060)
  AGENTS.md
Due: none

chore(shared-runtime): add weak waker to shared-runtime
  libdd-shared-runtime/Cargo.toml
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-shared-runtime/src/weak_waker.rs
Due: none

feat(worker)!: remove worker on_pause
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-shared-runtime/src/worker.rs
Due: libdd-data-pipeline

fix: address comments and add temporary stress test
  .github/workflows/test.yml
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

libdd-trace-utils major bump
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-sampling/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/CHANGELOG.md
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-obfuscation, libdd-trace-utils, libdd-tracer-flare

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
