Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

Ensure responses from flushed traces are handled immediately instead of when all responses returned (#466)
  sidecar/src/service/tracing/trace_flusher.rs
Due: sidecar

Fix bug introduced in APMSP-1020 that was not setting trace count header (#465)
  trace-utils/src/send_data.rs
Due: trace-utils

Use empty controller as default for cgroupV1
  ddcommon/src/entity_id/unix/cgroup_inode.rs
Due: ddcommon

Add explicit synchronous flush capability to sidecar.
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/service/tracing/trace_send_data.rs
Due: sidecar, sidecar-ffi

Add explicit synchronous flush capability to sidecar. (#467)
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/service/tracing/trace_send_data.rs
Due: sidecar, sidecar-ffi

bump serverless mini agent version to 0.4.0
  Cargo.lock
  trace-mini-agent/Cargo.toml
Due: trace-mini-agent

update third party license file for test-utils feature in trace-utils crate
  LICENSE-3rdparty.yml
Due: none

Put trace_test_utils behind a test-utils feature flag
  sidecar/Cargo.toml
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/trace_processor.rs
  trace-obfuscation/src/obfuscate.rs
  trace-utils/Cargo.toml
  trace-utils/src/lib.rs
  trace-utils/src/send_data.rs
  trace-utils/src/test_utils.rs
  trace-utils/src/trace_test_utils.rs
  trace-utils/src/trace_utils.rs
Due: sidecar, trace-mini-agent, trace-obfuscation, trace-utils

Spawn one sidecar per user
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/unix/mod.rs
  ipc/src/platform/windows/channel/metadata.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/setup/unix.rs
  sidecar/src/setup/windows.rs
  sidecar/src/unix.rs
  sidecar/src/windows.rs
Due: ipc, sidecar

Add docs and rename bucket to bin
  ddsketch/src/lib.rs
Due: none

Reserve only required amount
  ddsketch/src/lib.rs
Due: none

move trace_util test helpers behind a feature flag (#461)
  LICENSE-3rdparty.yml
  sidecar/Cargo.toml
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/trace_processor.rs
  trace-obfuscation/src/obfuscate.rs
  trace-utils/Cargo.toml
  trace-utils/src/lib.rs
  trace-utils/src/send_data.rs
  trace-utils/src/test_utils.rs
  trace-utils/src/trace_test_utils.rs
  trace-utils/src/trace_utils.rs
Due: sidecar, trace-mini-agent, trace-obfuscation, trace-utils

Add some logs around agent remote config opening
  sidecar/src/agent_remote_config.rs
Due: sidecar

Remove unused field
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/windows/mem_handle.rs
Due: ipc

Format protobuf generated module
  ddsketch/src/lib.rs
  ddsketch/src/pb.rs
Due: none

Bump libdatadog version to 10.0.0 in preparation for release
  Cargo.lock
  Cargo.toml
Due: none

Deprecate telemetry distribution
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/data/payload.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  sidecar/src/self_telemetry.rs
Due: ddtelemetry, sidecar

Bump libdatadog version to 10.0.0 in preparation for release (#470)
  Cargo.lock
  Cargo.toml
Due: none

Remove telemetry distributions
  ddtelemetry/src/data/metrics.rs
  ddtelemetry/src/data/payload.rs
  ddtelemetry/src/data/payloads.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
Due: ddtelemetry

debugging info for CI
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

If parsing the input fails, give a partial crash report, instead of borking
  crashtracker/src/receiver.rs
Due: crashtracker

Add another possible expected error to the test
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

[crashtracker] Enable collecting to a UNIX socket (#420)
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_receiver.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/api.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver.rs
  examples/ffi/crashtracking.c
  profiling-ffi/src/crashtracker/collector.rs
Due: crashtracker, profiling, profiling-ffi

Spawn one sidecar per user (#469)
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/unix/mod.rs
  ipc/src/platform/windows/channel/metadata.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar/src/agent_remote_config.rs
  sidecar/src/setup/unix.rs
  sidecar/src/setup/windows.rs
  sidecar/src/unix.rs
  sidecar/src/windows.rs
Due: ipc, sidecar

Explicitly use the <string> header in crashinfo.cpp
  examples/ffi/crashinfo.cpp
Due: none

Explicitly use the <string> header in crashinfo.cpp (#472)
  examples/ffi/crashinfo.cpp
Due: none

[crashtracker] Take relative address and build id for remote symbolication
  crashtracker/src/stacktrace.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Due: crashtracker, profiling, profiling-ffi

Fix Windows signature compatibility in entity_id functions
  ddcommon/src/entity_id/fallback.rs
Due: ddcommon

Fix Windows signature compatibility in entity_id functions (#474)
  ddcommon/src/entity_id/fallback.rs
Due: ddcommon

Skip normalization & obfuscation and coalesce instead
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/trace_utils.rs
Due: data-pipeline, sidecar, trace-mini-agent, trace-utils

Update trace-utils/src/trace_utils.rs
  trace-utils/src/trace_utils.rs
Due: trace-utils

Update trace-mini-agent/src/trace_processor.rs
  trace-mini-agent/src/trace_processor.rs
Due: trace-mini-agent

Add comment back
  trace-utils/Cargo.toml
Due: trace-utils

Skip normalization & obfuscation and coalesce instead (#475)
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/Cargo.toml
  trace-utils/src/trace_utils.rs
Due: data-pipeline, sidecar, trace-mini-agent, trace-utils

Fix the wrong thing being not normalized
  trace-utils/src/trace_utils.rs
Due: trace-utils

Fix the wrong thing being not normalized (#476)
  trace-utils/src/trace_utils.rs
Due: trace-utils

[crashtracker] Add a 'wait_for_receiver' param, and use it in both the stdin and unix socket cases
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Due: crashtracker, profiling, profiling-ffi

avoid unneeded temporary
  crashtracker/src/crash_handler.rs
Due: crashtracker

[crashtracker] Add a 'wait_for_receiver' param, and use it in both the stdin and unix socket cases (#477)
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/configuration.rs
  crashtracker/src/crash_handler.rs
  crashtracker/src/receiver.rs
  crashtracker/src/telemetry.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Due: crashtracker, profiling, profiling-ffi
