Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-tracer-flare, datadog-log

refactor to a metadata struct
  examples/cxx/owned_sample.cpp
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/owned_sample/metadata.rs
  libdd-profiling/src/owned_sample/mod.rs
  libdd-profiling/src/owned_sample/pool.rs
  libdd-profiling/src/owned_sample/tests.rs
  profile_owned_sample.pprof
Due: datadog-profiling

max frames
  examples/cxx/owned_sample.cpp
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/owned_sample/mod.rs
  libdd-profiling/src/owned_sample/tests.rs
Due: datadog-profiling

sampleTypes
  examples/cxx/owned_sample.cpp
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/owned_sample/label_key.rs
  libdd-profiling/src/owned_sample/metadata.rs
  libdd-profiling/src/owned_sample/mod.rs
  libdd-profiling/src/owned_sample/pool.rs
  libdd-profiling/src/owned_sample/sample_type.rs
  libdd-profiling/src/owned_sample/tests.rs
Due: datadog-profiling

better bumpalo usage, with max allocation size
  examples/cxx/owned_sample.cpp
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/owned_sample/metadata.rs
  libdd-profiling/src/owned_sample/mod.rs
  libdd-profiling/src/owned_sample/pool.rs
  libdd-profiling/src/owned_sample/tests.rs
Due: datadog-profiling

cleanup owned_sample api
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/owned_sample/mod.rs
  libdd-profiling/src/owned_sample/pool.rs
  libdd-profiling/src/owned_sample/tests.rs
Due: datadog-profiling

[crashtracker] Set OS info in the crash info builder when receiving report (#1388)
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

format
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/owned_sample/label_key.rs
  libdd-profiling/src/owned_sample/metadata.rs
  libdd-profiling/src/owned_sample/mod.rs
  libdd-profiling/src/owned_sample/pool.rs
  libdd-profiling/src/owned_sample/sample_type.rs
  libdd-profiling/src/owned_sample/tests.rs
Due: datadog-profiling

Fix CI
  examples/cxx/build-and-run-crashinfo.ps1
  libdd-crashtracker/build.rs
Due: datadog-crashtracker

Fix CI (#1389)
  examples/cxx/build-and-run-crashinfo.ps1
  libdd-crashtracker/build.rs
Due: datadog-crashtracker

Add support for process_tags
  examples/ffi/exporter.cpp
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/tests/form.rs
Due: datadog-profiling, datadog-profiling-ffi

Add test for FFI
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/tests/form.rs
Due: datadog-profiling, datadog-profiling-ffi

Add unit tests
  libdd-profiling/tests/form.rs
Due: datadog-profiling

process_tags as a string instead of an object
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/tests/form.rs
Due: datadog-profiling, datadog-profiling-ffi

Retrieve panic message when crashing
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/constants.rs
Due: datadog-crashtracker

Improve and add tests
  bin_tests/src/bin/crashing_test_app.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

Disable tests on macos, empty stack returned
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Do not replace RUSTFLAGS value
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Check previous hook being called
  bin_tests/src/bin/crashing_test_app.rs
Due: none

Add more unit tests
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

Add comment about information emission order
  libdd-crashtracker/src/collector/emitters.rs
Due: datadog-crashtracker

add bin_test to validate fork
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_013_panic_hook_after_fork.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Fix fork test
  bin_tests/src/modes/unix/test_013_panic_hook_after_fork.rs
Due: none

Make sure we panic/abort for fork test
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Fix ci
  bin_tests/src/modes/unix/test_013_panic_hook_after_fork.rs
Due: none

Fix test
  bin_tests/src/test_runner.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Fix test
  bin_tests/src/bin/crashing_test_app.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

fix(common: connector: rustls): don't always panic if rustls CryptoProvider already installed
  libdd-common/src/connector/mod.rs
Due: ddcommon

feat(common: connector: rustls): good practice seem to not validate arbitrarily installed CryptoProvider
  libdd-common/src/connector/mod.rs
Due: ddcommon

file output
  libdd-profiling/src/exporter/reqwest_exporter.rs
  libdd-profiling/tests/form_reqwest.rs
Due: datadog-profiling

C bindings
  .gitignore
  Cargo.lock
  examples/ffi/CMakeLists.txt
  examples/ffi/reqwest_exporter.cpp
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling-ffi/src/lib.rs
  libdd-profiling-ffi/src/reqwest_exporter.rs
Due: datadog-profiling, datadog-profiling-ffi

cxx bindings
  .github/workflows/test.yml
  Cargo.lock
  examples/cxx/build-and-run-profiling.ps1
  examples/cxx/build-and-run-profiling.sh
  examples/cxx/build-and-run.ps1
  examples/cxx/build-and-run.sh
  examples/cxx/profiling_exporter.cpp
  libdd-profiling/CXX_BINDINGS.md
  libdd-profiling/Cargo.toml
  libdd-profiling/build.rs
  libdd-profiling/src/exporter/cxx.rs
  libdd-profiling/src/exporter/mod.rs
  release/cmake/DatadogConfig.cmake
  release/include/datadog/blazesym.h
  release/include/datadog/common.h
  release/include/datadog/crashtracker.h
  release/include/datadog/data-pipeline.h
  release/include/datadog/ddsketch.h
  release/include/datadog/ffe.h
  release/include/datadog/library-config.h
  release/include/datadog/log.h
  release/include/datadog/profiling.h
  release/include/datadog/telemetry.h
  release/lib/pkgconfig/datadog_profiling-static.pc
  release/lib/pkgconfig/datadog_profiling.pc
  release/lib/pkgconfig/datadog_profiling_with_rpath.pc
Due: datadog-profiling

code review improvements: deduplicate code, improve error handling, use iterators
  .gitignore
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling-ffi/src/lib.rs
  libdd-profiling-ffi/src/reqwest_exporter.rs
  libdd-profiling/build.rs
  libdd-profiling/src/exporter/cxx.rs
  libdd-profiling/src/exporter/reqwest_exporter.rs
  libdd-profiling/tests/form_reqwest.rs
  profile_owned_sample.pprof
  release/cmake/DatadogConfig.cmake
  release/include/datadog/blazesym.h
  release/include/datadog/common.h
  release/include/datadog/crashtracker.h
  release/include/datadog/data-pipeline.h
  release/include/datadog/ddsketch.h
  release/include/datadog/ffe.h
  release/include/datadog/library-config.h
  release/include/datadog/log.h
  release/include/datadog/profiling.h
  release/include/datadog/telemetry.h
  release/lib/pkgconfig/datadog_profiling-static.pc
  release/lib/pkgconfig/datadog_profiling.pc
  release/lib/pkgconfig/datadog_profiling_with_rpath.pc
Due: datadog-profiling, datadog-profiling-ffi

[profiling] Add support for process_tags (#1359)
  examples/ffi/exporter.cpp
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/tests/form.rs
Due: datadog-profiling, datadog-profiling-ffi

initial
  libdd-trace-utils/src/trace_utils.rs
Due: datadog-trace-utils

tests: simplify reqwest exporter tests with helper function
  libdd-profiling/tests/form_reqwest.rs
Due: datadog-profiling

tests: combine redundant tests and add file content verification
  libdd-profiling/tests/common/mod.rs
  libdd-profiling/tests/form_reqwest.rs
Due: datadog-profiling

Path conditions:
  datadog-crashtracker: any of: libdd-crashtracker
  datadog-crashtracker-ffi: any of: libdd-crashtracker-ffi
  datadog-alloc: any of: libdd-alloc
  data-pipeline: any of: libdd-data-pipeline
  data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  ddcommon: any of: libdd-common
  ddcommon-ffi: any of: libdd-common-ffi
  ddtelemetry: any of: libdd-telemetry
  ddtelemetry-ffi: any of: libdd-telemetry-ffi
  dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: libdd-profiling
  datadog-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: libdd-tinybytes
  datadog-trace-normalization: any of: libdd-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: libdd-trace-protobuf
  datadog-trace-utils: any of: libdd-trace-utils
  datadog-tracer-flare: any of: datadog-tracer-flare
  datadog-log: any of: libdd-log
