Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

crashtracker in its own ffi library
  Cargo.lock
  LICENSE-3rdparty.yml
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/datatypes/mod.rs
  crashtracker-ffi/src/demangler/datatypes.rs
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker-ffi/src/lib.rs
  crashtracker-ffi/src/receiver.rs
Due: crashtracker

[crashtracker] Move FFI into its own library
  Cargo.lock
  Cargo.toml
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/build.rs
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/lib.rs
Due: crashtracker

ddcommon endpoint explicit
  ddcommon-ffi/src/endpoint.rs
Due: ddcommon, ddcommon-ffi

use the common endpoint
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/receiver.rs
  ddcommon-ffi/src/endpoint.rs
  profiling-ffi/src/crashtracker/collector/datatypes.rs
Due: crashtracker, ddcommon, ddcommon-ffi, profiling, profiling-ffi

builds as its own crate
  Cargo.lock
  build-profiling-ffi.sh
  crashtracker-ffi/cbindgen.toml
  crashtracker/libdatadog-crashtracking-receiver.c
  profiling-ffi/Cargo.toml
  profiling-ffi/src/crashtracker/collector/counters.rs
  profiling-ffi/src/crashtracker/collector/datatypes.rs
  profiling-ffi/src/crashtracker/collector/mod.rs
  profiling-ffi/src/crashtracker/collector/spans.rs
  profiling-ffi/src/crashtracker/crash_info/datatypes.rs
  profiling-ffi/src/crashtracker/crash_info/mod.rs
  profiling-ffi/src/crashtracker/datatypes/mod.rs
  profiling-ffi/src/crashtracker/demangler/datatypes.rs
  profiling-ffi/src/crashtracker/demangler/mod.rs
  profiling-ffi/src/crashtracker/mod.rs
  profiling-ffi/src/crashtracker/receiver.rs
  profiling-ffi/src/lib.rs
Due: crashtracker, profiling, profiling-ffi

Actually seems to work
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/datatypes/mod.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/README.md
  crashtracker/src/receiver.rs
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
Due: crashtracker

fix the dockerfile
  tools/docker/Dockerfile.build
Due: none

trailing newline
  examples/ffi/crashinfo.cpp
Due: none

don't use unnecessart quantification
  ddcommon-ffi/src/endpoint.rs
Due: ddcommon, ddcommon-ffi

[ddcommon] Add token bucket rate limiter implementation
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/rate_limiter.rs
Due: ddcommon

Use the security ID of the user as sidecar identifier
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/setup/windows.rs
  sidecar/src/windows.rs
Due: sidecar

fix clippy warnings
  ddcommon/src/rate_limiter.rs
Due: ddcommon

fix formatting
  ddcommon/src/rate_limiter.rs
Due: ddcommon

fix doctest
  crashtracker-ffi/src/collector/mod.rs
Due: crashtracker

FIXUP: Address clippy warnings and remove ignores
  trace-utils/src/msgpack/decoder.rs
  trace-utils/src/tracer_payload.rs
Due: trace-utils

add support for map16 decoding
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Due: trace-utils

Add basic decoding for v0.4 msgpack traces.
  trace-utils/src/lib.rs
  trace-utils/src/msgpack/decoder.rs
  trace-utils/src/msgpack/error.rs
  trace-utils/src/msgpack/mod.rs
  trace-utils/src/msgpack/number.rs
  trace-utils/src/tracer_payload.rs
Due: trace-utils

improve messages in decoding errors and fix tests to use public functions
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/error.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/tracer_payload.rs
Due: trace-utils

FIXUP: Refactor decoder to be more readable and maintainable
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/error.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/tracer_payload.rs
Due: trace-utils

more edits
  rfc/0001-crashtracker-user-visable-log.md
Due: none

actually added the file
  rfc/0001-crashtracker-user-visable-log.md
Due: none

[crashtracker] RFC for structured log format
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/stacktrace.rs
Due: crashtracker

more fields
  rfc/0001-crashtracker-user-visable-log.md
Due: none

schema
  Cargo.lock
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/schema.rs
  crashtracker/src/crash_info/stacktrace.rs
  ddcommon/Cargo.toml
  ddcommon/src/tag.rs
  rfc/0001-crashtracker-user-visable-log.md
Due: crashtracker, ddcommon

finish stack frame
  rfc/0001-crashtracker-user-visable-log.md
Due: none

stacktrace format
  rfc/0001-crashtracker-user-visable-log.md
Due: none

collapsable
  rfc/0001-crashtracker-user-visable-log.md
Due: none

base format
  rfc/0001-crashtracker-user-visable-log.md
Due: none

cleanup mandadory and optional fields
  rfc/0001-crashtracker-user-visable-log.md
Due: none

tags
  rfc/0001-crashtracker-user-visable-log.md
Due: none

seperate html and json
  rfc/0001-crashtracker-user-visable-log.md
Due: none

rename appendecies
  rfc/0001-crashtracker-user-visable-log.md
Due: none

fix bold
  rfc/0001-crashtracker-user-visable-log.md
Due: none

just the rfc
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/schema.rs
  crashtracker/src/crash_info/stacktrace.rs
  ddcommon/Cargo.toml
  ddcommon/src/tag.rs
Due: crashtracker, ddcommon

[crashtracker] RFC for structured log format
  rfc/0001-crashtracker-user-visable-log.md
Due: none

update trace-mini-agent description to include Azure Spring Apps
  trace-mini-agent/Cargo.toml
Due: trace-mini-agent

[Serverless Mini Agent] Add _dd.mini_agent_version tag to all spans for Azure Functions, Google Cloud Functions, and Azure Spring Apps (#548)
  Cargo.lock
  serverless/src/main.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Due: serverless, trace-mini-agent, trace-utils

fix formatting
  trace-mini-agent/src/http_utils.rs
Due: trace-mini-agent

[Serverless Mini Agent] Run in Azure Spring Apps (#547)
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/http_utils.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/config_utils.rs
  trace-utils/src/trace_utils.rs
Due: trace-mini-agent, trace-utils

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
