Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

fix: use http::HeaderMap
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/send_with_retry/mod.rs
  libdd-trace-utils/src/tracer_header_tags.rs
Due: libdd-data-pipeline, libdd-trace-utils

chore(crashtracking): rename target triple to runtime platform (#1747)
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
Due: libdd-crashtracker

perf: reserve header names capacity
  libdd-trace-utils/src/tracer_header_tags.rs
Due: libdd-trace-utils

fix: cleanup header value conversion
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-trace-utils/src/send_data/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix: post rebase fixes of broken stuff
  Cargo.lock
  datadog-remote-config/Cargo.toml
  datadog-tracer-flare/Cargo.toml
  libdd-common/Cargo.toml
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/stats_utils.rs
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
Due: libdd-data-pipeline, libdd-common, libdd-trace-utils

fix: example
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
Due: libdd-trace-utils

Add log message for size
  datadog-ipc-macros/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
Due: datadog-ipc, datadog-sidecar

Fixup windows
  datadog-ipc-macros/src/lib.rs
  datadog-ipc/src/handles.rs
  datadog-ipc/src/lib.rs
  datadog-ipc/src/platform/unix/handles.rs
  datadog-ipc/src/platform/unix/mod.rs
  datadog-ipc/src/platform/unix/sockets/mod.rs
  datadog-ipc/src/platform/windows/handles.rs
  datadog-ipc/src/platform/windows/mod.rs
  datadog-ipc/src/platform/windows/sockets.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/mod.rs
Due: datadog-ipc, datadog-sidecar, datdog-sidecar-ffi

Clippy
  datadog-ipc/src/client.rs
  datadog-ipc/src/platform/message.rs
  datadog-ipc/src/platform/unix/message.rs
  datadog-ipc/src/platform/unix/sockets/macos.rs
  datadog-ipc/src/platform/unix/sockets/mod.rs
  datadog-ipc/src/platform/windows/sockets.rs
  datadog-ipc/tests/blocking_client.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/setup/unix.rs
Due: datadog-ipc, datadog-sidecar

Fixup windows
  datadog-ipc/src/platform/unix/sockets/linux.rs
  datadog-ipc/src/platform/windows/sockets.rs
  datadog-sidecar/src/setup/windows.rs
Due: datadog-ipc, datadog-sidecar

Add configurable size
  datadog-ipc-macros/src/lib.rs
  datadog-ipc/src/client.rs
  datadog-ipc/src/lib.rs
  datadog-ipc/src/platform/unix/sockets/macos.rs
  datadog-ipc/src/platform/unix/sockets/mod.rs
  datadog-ipc/src/platform/windows/sockets.rs
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/setup/windows.rs
  datadog-sidecar/src/unix.rs
  datadog-sidecar/src/windows.rs
Due: datadog-ipc, datadog-sidecar

rm -rf / (not quite)
  Cargo.lock
  datadog-ipc-macros/src/lib.rs
  datadog-ipc/Cargo.toml
  datadog-ipc/src/platform/message.rs
  datadog-ipc/src/platform/unix/message.rs
  datadog-ipc/src/platform/unix/mod.rs
  datadog-ipc/src/platform/unix/sockets/mod.rs
  datadog-ipc/src/platform/windows/channel.rs
  datadog-ipc/src/platform/windows/channel/async_channel.rs
  datadog-ipc/src/platform/windows/channel/metadata.rs
  datadog-ipc/src/platform/windows/message.rs
  datadog-ipc/src/platform/windows/mod.rs
  tools/docker/Dockerfile.build
Due: datadog-ipc

fmt
  datadog-ipc/benches/ipc.rs
  datadog-ipc/src/client.rs
  datadog-ipc/src/handles.rs
  datadog-ipc/src/lib.rs
  datadog-ipc/src/platform/unix/handles.rs
  datadog-ipc/src/platform/unix/mod.rs
  datadog-ipc/src/platform/unix/sockets/linux.rs
  datadog-ipc/src/platform/unix/sockets/macos.rs
  datadog-ipc/src/platform/unix/sockets/mod.rs
  datadog-ipc/src/platform/windows/handles.rs
  datadog-ipc/src/platform/windows/sockets.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/setup/windows.rs
  datadog-sidecar/src/unix.rs
  datadog-sidecar/src/windows.rs
Due: datadog-ipc, datadog-sidecar, datdog-sidecar-ffi

macos is a special kind of snowflake
  datadog-ipc/src/platform/unix/handles.rs
  datadog-ipc/src/platform/unix/sockets/macos.rs
  datadog-ipc/src/platform/unix/sockets/mod.rs
  datadog-ipc/src/platform/windows/sockets.rs
Due: datadog-ipc

Refactor ClearQueueId
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

Deduplicate payload counting
  datadog-ipc-macros/src/lib.rs
  datadog-ipc/src/example_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-ipc, datadog-sidecar

Avoid re-registering metrics all the time
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  libdd-telemetry/src/metrics.rs
Due: libdd-telemetry, datadog-sidecar

Cleanup outstanding
  datadog-ipc/src/client.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
Due: datadog-ipc, datadog-sidecar

No session ids
  datadog-ipc/src/platform/unix/sockets/linux.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-ipc, datadog-sidecar, datdog-sidecar-ffi

Fixup windows
  datadog-ipc/src/example_interface.rs
  datadog-ipc/src/platform/windows/handles.rs
  datadog-ipc/src/platform/windows/sockets.rs
  datadog-ipc/tests/windows_shm.rs
  datadog-sidecar/src/setup/windows.rs
  datadog-sidecar/src/windows.rs
Due: datadog-ipc, datadog-sidecar

Cleanup windows pid shm stuff
  datadog-ipc/src/platform/windows/sockets.rs
  datadog-sidecar/src/setup/windows.rs
  datadog-sidecar/src/windows.rs
Due: datadog-ipc, datadog-sidecar

Dynamically allocate receive buffer to avoid unbounded committed memory growth
  datadog-ipc-macros/src/lib.rs
  datadog-ipc/src/platform/unix/sockets/mod.rs
  datadog-ipc/src/platform/windows/sockets.rs
Due: datadog-ipc

More cleanup
  datadog-sidecar-macros/src/lib.rs
Due: datadog-sidecar

PR Feedback
  datadog-ipc-macros/src/lib.rs
  datadog-ipc/src/codec.rs
Due: datadog-ipc

fix: remove unnecessary unwrap
  libdd-trace-utils/src/send_data/mod.rs
Due: libdd-trace-utils

Avoid unnecessary session_id clones
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

pr feedback
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/utils.rs
Due: libdd-trace-utils

fixes
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/trace.rs
Due: libdd-trace-utils

trace getter
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

more pr feedback
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/change_buffer/change_buffer.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
  libdd-trace-utils/src/lib.rs
Due: libdd-trace-utils

initial change buffer impl
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/trace.rs
  libdd-trace-utils/src/change_buffer/utils.rs
  libdd-trace-utils/src/lib.rs
Due: libdd-trace-utils

fmt / clippy
  libdd-trace-utils/src/change_buffer/buffer.rs
  libdd-trace-utils/src/change_buffer/change_buffer.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
Due: libdd-trace-utils

add from
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

tests
  libdd-trace-utils/src/change_buffer/change_buffer.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
Due: libdd-trace-utils

fix: adapt change_buffer to v04 Span<TraceData> API
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

feat(profiling): emit an otel protobuf
  libdd-profiling/src/internal/location.rs
  libdd-profiling/src/internal/mapping.rs
  libdd-profiling/src/internal/mod.rs
  libdd-profiling/src/internal/otel_style_observation.rs
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling

Try making m4 dir first
  libdd-libunwind-sys/build.rs
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
