Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

fix: assert -> debug_assert, avoid useless unreachable!
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
Due: none

refacto: extract telemetry stuff into its own module
  datadog-ipc/src/shm_stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: datadog-ipc

feat: telemetry for additional metric tags collapse
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

remove old fixme
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
Due: none

feat: added file capability [APMSP-3780] (#2240)
  Cargo.lock
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities-impl/src/file.rs
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities/src/file.rs
  libdd-capabilities/src/lib.rs
Due: none

fix: don't iterate twice
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

feat(dogstatsd): add shared_runtime buffered sink
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-dogstatsd-client/Cargo.toml
  libdd-dogstatsd-client/src/client/mod.rs
  libdd-dogstatsd-client/src/client/shared_runtime_sink.rs
Due: libdd-data-pipeline, libdd-dogstatsd-client

chore(runtime): restart all workers on invalid state
  libdd-shared-runtime/src/shared_runtime/fork_safe.rs
Due: none

fix: drain the mailbox before stopping (#2258)
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry

feat(data-pipeline): emit additional_metric_tags on OTLP span duration metric
  libdd-data-pipeline/src/otlp/metrics.rs
Due: libdd-data-pipeline

feat(trace_exporter)!: expose restart_after_fork option
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

feat(prof): add adaptive sampling to the heap profiling sampler
  libdd-profiling-heap-allocator/src/lib.rs
  libdd-profiling-heap-gotter-ffi/src/lib.rs
  libdd-profiling-heap-gotter/src/lib.rs
  libdd-profiling-heap-sampler/include/datadog/heap/tl_state.h
  libdd-profiling-heap-sampler/src/allocation_requested.c
  libdd-profiling-heap-sampler/src/generated/bindings.rs
  libdd-profiling-heap-sampler/src/lib.rs
  libdd-profiling-heap-sampler/src/tl_state.c
Due: libdd-profiling

feat(heap-profiling): add USDT semaphores to skip slow path when unattached
  libdd-profiling-heap-sampler/src/allocation_requested.c
  libdd-profiling-heap-sampler/src/probes.c
Due: libdd-profiling

feat: pass big_resource from /info to span_concentrator
  libdd-data-pipeline/src/agent_info/schema.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: libdd-data-pipeline

feat: truncate string fields
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: none

feat: add test for string truncation
  Cargo.lock
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

test: add case without obfuscation
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

lint: fix clippy without `stats-obfuscation`
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: none

fix: another assert -> debug_assert
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
Due: none

fix: apply big_resource when stats are first enabled
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

doc: document truncate()
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

feat(dogstatsd)!: add shared_runtime buffered sink (#2224)
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-dogstatsd-client/Cargo.toml
  libdd-dogstatsd-client/src/client/mod.rs
  libdd-dogstatsd-client/src/client/shared_runtime_sink.rs
Due: libdd-data-pipeline, libdd-dogstatsd-client

feat(stats): implement reset on stats exporter
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

update missed spawn_worker
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

feat(heap-profiling): move semaphore check into fast path
  libdd-profiling-heap-allocator/src/lib.rs
  libdd-profiling-heap-sampler/include/datadog/heap/allocation_requested.h
  libdd-profiling-heap-sampler/include/datadog/heap/probes.h
  libdd-profiling-heap-sampler/src/allocation_requested.c
  libdd-profiling-heap-sampler/src/lib.rs
  libdd-profiling-heap-sampler/src/probes.c
Due: libdd-profiling

chore: bump workspace version to 38.0.0
  Cargo.lock
  Cargo.toml
Due: none

refactor: disable default features for workspace deps, opt-in per leaf
  Cargo.toml
  datadog-ffe-test-suite/Cargo.toml
  datadog-ffe/Cargo.toml
  datadog-ipc/Cargo.toml
  datadog-sidecar-ffi/Cargo.toml
  libdd-agent-client/Cargo.toml
  libdd-common-ffi/Cargo.toml
  libdd-common/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-http-client/Cargo.toml
  libdd-log/Cargo.toml
  libdd-profiling-ffi/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-shared-runtime-ffi/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, libdd-trace-utils, libdd-log

feat: consolidate Phase 1 dependencies at workspace level
  Cargo.toml
  builder/Cargo.toml
  datadog-ffe-test-suite/Cargo.toml
  datadog-ffe/Cargo.toml
  datadog-ipc/Cargo.toml
  datadog-live-debugger/Cargo.toml
  datadog-profiling-replayer/Cargo.toml
  datadog-sidecar-ffi/Cargo.toml
  libdd-agent-client/Cargo.toml
  libdd-capabilities-impl/Cargo.toml
  libdd-common-ffi/Cargo.toml
  libdd-common/Cargo.toml
  libdd-crashtracker-ffi/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-http-client/Cargo.toml
  libdd-library-config-ffi/Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-log/Cargo.toml
  libdd-otel-thread-ctx/Cargo.toml
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-sampling/Cargo.toml
  libdd-shared-runtime-ffi/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-tinybytes/Cargo.toml
  libdd-trace-normalization/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-protobuf/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
  spawn_worker/Cargo.toml
  tools/Cargo.toml
  tools/cc_utils/Cargo.toml
Due: libdd-crashtracker, libdd-crashtracker-ffi, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

refactor: consolidate core dependencies at workspace level (phase 1) (#2253)
  Cargo.toml
  builder/Cargo.toml
  datadog-ffe-test-suite/Cargo.toml
  datadog-ffe/Cargo.toml
  datadog-ipc/Cargo.toml
  datadog-live-debugger/Cargo.toml
  datadog-profiling-replayer/Cargo.toml
  datadog-sidecar-ffi/Cargo.toml
  libdd-agent-client/Cargo.toml
  libdd-capabilities-impl/Cargo.toml
  libdd-common-ffi/Cargo.toml
  libdd-common/Cargo.toml
  libdd-crashtracker-ffi/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-http-client/Cargo.toml
  libdd-library-config-ffi/Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-log/Cargo.toml
  libdd-otel-thread-ctx/Cargo.toml
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-sampling/Cargo.toml
  libdd-shared-runtime-ffi/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-tinybytes/Cargo.toml
  libdd-trace-normalization/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-protobuf/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
  spawn_worker/Cargo.toml
  tools/Cargo.toml
  tools/cc_utils/Cargo.toml
Due: libdd-crashtracker, libdd-crashtracker-ffi, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Use GOT patching to retrieve c assert message
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/assert_interceptor.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/got_hook.rs
  libdd-crashtracker/src/collector/mod.rs
Due: libdd-crashtracker

fix(tools): collapse intra-file duplicate typedefs in base header
  tools/src/lib.rs
Due: none

Add Installation signature and AppProduct changes payloads
  Cargo.lock
  datadog-sidecar-ffi/src/lib.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-telemetry-ffi/src/worker_handle.rs
  libdd-telemetry/Cargo.toml
  libdd-telemetry/examples/tm-ping.rs
  libdd-telemetry/src/config.rs
  libdd-telemetry/src/data/metrics.rs
  libdd-telemetry/src/data/payload.rs
  libdd-telemetry/src/data/payloads.rs
  libdd-telemetry/src/lib.rs
  libdd-telemetry/src/metrics.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-data-pipeline, libdd-telemetry, libdd-telemetry-ffi, datadog-sidecar, datdog-sidecar-ffi

Store key metadata separately from Dependency
  libdd-telemetry/src/data/payloads.rs
  libdd-telemetry/src/worker/mod.rs
  libdd-telemetry/src/worker/store.rs
Due: libdd-telemetry

Adjust order
  libdd-telemetry/src/data/metrics.rs
  libdd-telemetry/src/data/payloads.rs
Due: libdd-telemetry

fix(tools): collapse intra-file duplicate typedefs in base header (#2149)
  tools/src/lib.rs
Due: none

Fix compilation
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

Add streaming to http capabilities
  Cargo.lock
  datadog-live-debugger/Cargo.toml
  datadog-live-debugger/src/sender.rs
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities/Cargo.toml
  libdd-capabilities/src/http.rs
  libdd-capabilities/src/lib.rs
  libdd-capabilities/src/maybe_send.rs
  libdd-http-client/src/backend/hyper_backend.rs
Due: none

Abort the spawned request
  datadog-live-debugger/src/sender.rs
  libdd-capabilities/src/http.rs
Due: none

Expose HttpClientCapability in remote config
  Cargo.lock
  datadog-sidecar/src/shm_remote_config.rs
  libdd-capabilities-impl/src/http.rs
  libdd-remote-config/Cargo.toml
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/multitarget.rs
  libdd-remote-config/src/fetch/shared.rs
  libdd-remote-config/src/fetch/single.rs
  libdd-tracer-flare/Cargo.toml
  libdd-tracer-flare/src/lib.rs
Due: datadog-sidecar, libdd-tracer-flare

Rename new() functions
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/src/fetch/single.rs
  libdd-tracer-flare/src/lib.rs
Due: libdd-tracer-flare
