Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

fix(obfuscation): prevent crash and cap recursion in SQL/HTTP obfuscation
  libdd-trace-obfuscation/src/http.rs
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

feat(profiling): add GcTime and GcSamples profile types
  libdd-profiling/src/api/sample_type.rs
  libdd-profiling/src/cxx.rs
Due: libdd-profiling

feat(otel-thread-ctx): expose update-and-attach through FFI
  libdd-otel-thread-ctx-ffi/src/lib.rs
Due: none

feat(otel-thread-ctx): update CHANGELOG
  libdd-otel-thread-ctx/CHANGELOG.md
Due: none

feat(data-pipeline): add fork-safe OTLP gRPC trace transport (#2273)
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/grpc_exporter.rs
  libdd-data-pipeline/src/otlp/mod.rs
Due: libdd-data-pipeline

fix(data-pipeline): pass obfuscation config to OTLP stats
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

fix(obfuscation): fix userinfo-stripping scan bound and address PR review nits
  libdd-trace-obfuscation/src/http.rs
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

feat(data-pipeline)!: OTLP gRPC trace export
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/otlp/grpc_exporter.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_grpc.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix(data-pipeline): harden OTLP gRPC retries and dialing
  .github/CODEOWNERS
  libdd-data-pipeline/src/otlp/grpc_exporter.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

refactor: migrate HTTP & networking deps to workspace level (phase 5)
  Cargo.lock
  Cargo.toml
  bin_tests/Cargo.toml
  datadog-live-debugger-ffi/Cargo.toml
  datadog-live-debugger/Cargo.toml
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar/Cargo.toml
  libdd-agent-client/Cargo.toml
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities/Cargo.toml
  libdd-common/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-ffe/Cargo.toml
  libdd-http-client/Cargo.toml
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-tinybytes/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
  spawn_worker/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-telemetry, libdd-dogstatsd-client, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-obfuscation, libdd-trace-utils, libdd-tracer-flare

refactor: attach flate2 workspace comment to the correct entry
  Cargo.toml
Due: none

feat: bound the number of pooled connections
  libdd-common/src/http_common.rs
Due: libdd-common

feat(data-pipeline): emit native trace export telemetry (#2338)
  libdd-data-pipeline-core/src/agentless/exporter.rs
  libdd-data-pipeline-core/src/agentless/mod.rs
  libdd-data-pipeline-core/src/lib.rs
  libdd-data-pipeline/src/agentless/exporter.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/telemetry/metrics.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/send_with_retry/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

feat(otel-thread-ctx): add update-and-attach operation (#2443)
  libdd-otel-thread-ctx-ffi/src/lib.rs
  libdd-otel-thread-ctx/CHANGELOG.md
  libdd-otel-thread-ctx/src/lib.rs
Due: none

feat: do not entirely disable connection pooling for periodic connections (#2440)
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities/src/http.rs
  libdd-common/src/http_common.rs
Due: libdd-common

feat(build-common): embed Windows VERSIONINFO resource in cdylib builds
  Cargo.lock
  LICENSE-3rdparty.csv
  build-common/Cargo.toml
  build-common/src/lib.rs
  build-common/src/version_info.rs
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-ffi/build.rs
Due: libdd-profiling, libdd-profiling-ffi

chore: set proper owners for scripts files
  .github/CODEOWNERS
Due: none

chore: set proper owners for scripts files (#2445)
  .github/CODEOWNERS
Due: none

feat(sidecar-ffi): add v1->v0.4 downgrade serialize FFI for in-process sender
  datadog-sidecar-ffi/src/lib.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix: codex comment
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests_v1.rs
Due: libdd-trace-utils

remove doc
  docs/release-proposals.md
Due: none

Fix socket leak in forks
  datadog-sidecar/src/setup/thread_listener.rs
Due: datadog-sidecar

fix: post-rebase mess
  libdd-data-pipeline/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-utils

docs(release): fix semver review skill's minor rule and tool citations
  .claude/skills/release-proposal-pr-review-bumps/SKILL.md
Due: none

fix(release): propagate semver-level.sh tool failures to the caller
  scripts/semver-level.sh
Due: none

chore(scripts): clear shellcheck warnings in the release scripts
  scripts/check_cargo_metadata.sh
  scripts/major-bumps-level.sh
Due: none

refactor(release): move the commit range calculation into commits-since-release.sh
  .github/workflows/release-proposal-dispatch.yml
  scripts/commits-since-release.sh
Due: none

refactor(release): move the latest-tag lookup into commits-since-release.sh
  .github/workflows/release-proposal-dispatch.yml
  scripts/commits-since-release.sh
Due: none

refactor(release): drop pending-major-only.json in favour of a flag on api-changes.json
  .github/workflows/release-proposal-dispatch.yml
Due: none

refactor(release): move the version-bumps loop into release-version-bumps.sh
  .github/workflows/release-proposal-dispatch.yml
  scripts/release-version-bumps.sh
Due: none

refactor(release): export tag reachability as a boolean instead of a branch list
  .github/workflows/release-proposal-dispatch.yml
  scripts/commits-since-release.sh
Due: none

refactor(release): pass BRANCH_NAME to the major-bumps step through env
  .github/workflows/release-proposal-dispatch.yml
Due: none

refactor(release): move CHANGELOG generation into release-generate-changelogs.sh
  .github/workflows/release-proposal-dispatch.yml
  scripts/release-generate-changelogs.sh
Due: none

refactor(release): move the major-bump audit into release-version-major-bumps.sh
  .github/workflows/release-proposal-dispatch.yml
  scripts/release-version-major-bumps.sh
Due: none

refactor(release): pass the ephemeral branch to Generate CHANGELOGS through env
  .github/workflows/release-proposal-dispatch.yml
Due: none

chore(codeowners): add the extracted release scripts
  .github/CODEOWNERS
Due: none

fix(release): propagate a failing jq into the release script loops
  scripts/release-generate-changelogs.sh
  scripts/release-version-bumps.sh
  scripts/release-version-major-bumps.sh
Due: none

fix(release): resolve --api-changes before the major-bump audit changes directory
  scripts/release-version-major-bumps.sh
Due: none

ci(release): hint at crates left out of a proposal affected by its major bumps (#2391)
  .github/workflows/release-proposal-dispatch.yml
  scripts/release-excluded-crates-hints.sh
Due: none

Remove apostrophe inside jq
  .github/CODEOWNERS
  scripts/release-excluded-crates-hints.sh
  scripts/semver-level.sh
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
