Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

fix: document error on apply
  libdd-remote-config/src/fetch/agentless.rs
Due: none

refactor: migrate HTTP & networking deps to workspace level (phase 5)
  Cargo.lock
  Cargo.toml
  bin_tests/Cargo.toml
  datadog-live-debugger-ffi/Cargo.toml
  datadog-live-debugger/Cargo.toml
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar/Cargo.toml
  libdd-agent-client/Cargo.toml
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities/Cargo.toml
  libdd-common/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-ffe/Cargo.toml
  libdd-http-client/Cargo.toml
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-tinybytes/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
  spawn_worker/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-telemetry, libdd-dogstatsd-client, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-obfuscation, libdd-trace-utils, libdd-tracer-flare

Bypass pdeathsig in spawn_worker
  spawn_worker/src/unix/fork.rs
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker

Update libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
Due: none

revert async move removal, since we need it for tests
  libdd-shared-runtime/src/shared_runtime/mod.rs
Due: none

chore: release v41.0.0 (#2349)
  Cargo.lock
  Cargo.toml
Due: none

Add fn to hook but exclude self
  libdd-gotter/src/elf.rs
Due: none

Test that skip works
  libdd-gotter/src/elf.rs
Due: none

Add some more detail and context on these APIs
  libdd-gotter/src/elf.rs
Due: none

non PIE executable support
  libdd-gotter/src/elf.rs
Due: none

exclude self while resolving original
  libdd-gotter/src/elf.rs
Due: none

clean up inline commments
  libdd-gotter/src/elf.rs
Due: none

find_containing_load_segment + tests
  libdd-gotter/src/elf.rs
Due: none

docs(ffe): clarify rejected flag ingestion
  libdd-ffe/src/rules_based/error.rs
Due: none

fix(ffe): report rejected flags as parse errors (#2339)
  libdd-ffe-ffi/src/assignment.rs
  libdd-ffe-test-suite/tests/canonical_fixtures.rs
  libdd-ffe/src/rules_based/error.rs
  libdd-ffe/src/rules_based/eval/eval_assignment.rs
  libdd-ffe/src/rules_based/eval/eval_rules.rs
  libdd-ffe/src/rules_based/ufc/models.rs
Due: none

refactor: attach flate2 workspace comment to the correct entry
  Cargo.toml
Due: none

feat(remote-config)!: agentless RC fetcher (#2112)
  .github/workflows/lint.yml
  .github/workflows/test-ffi.yml
  .github/workflows/test.yml
  Cargo.lock
  LICENSE-3rdparty.csv
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-common/src/lib.rs
  libdd-remote-config/Cargo.toml
  libdd-remote-config/examples/remote_config_agentless_bench.rs
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/roots/gov/config_root.json
  libdd-remote-config/roots/gov/director_root.json
  libdd-remote-config/roots/prod/config_root.json
  libdd-remote-config/roots/prod/director_root.json
  libdd-remote-config/roots/staging/config_root.json
  libdd-remote-config/roots/staging/director_root.json
  libdd-remote-config/src/fetch/agentless.rs
  libdd-remote-config/src/fetch/agentless/integration_tests.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/mod.rs
  libdd-remote-config/src/fetch/shared.rs
  libdd-remote-config/src/fetch/single.rs
  libdd-remote-config/src/fetch/test_server.rs
  libdd-remote-config/src/file_change_tracker.rs
  libdd-remote-config/src/file_storage.rs
  libdd-remote-config/src/parse.rs
  libdd-remote-config/src/path.rs
  libdd-tracer-flare/Cargo.toml
  libdd-tracer-flare/src/lib.rs
Due: libdd-common, datadog-sidecar, datdog-sidecar-ffi, libdd-tracer-flare

fix(ffe): align semantic version evaluation errors
  libdd-ffe-ffi/src/assignment.rs
  libdd-ffe-test-suite/tests/canonical_fixtures.rs
  libdd-ffe/src/rules_based/error.rs
  libdd-ffe/src/rules_based/eval/eval_assignment.rs
  libdd-ffe/src/rules_based/eval/eval_rules.rs
  libdd-ffe/src/rules_based/ufc/compiled_flag_config.rs
  libdd-ffe/src/rules_based/ufc/models.rs
Due: none

feat(shared-runtime): add block_on_with_timeout to BlockingRuntime (#2333)
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/basic.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
Due: none

chore: tell agents to avoid lossy numeric conversions (#2340)
  AGENTS.md
Due: none

fix: use language version and language in stats version
  libdd-data-pipeline/src/agentless/stats.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

feat(gotter)!: add fn to hook symbol but exclude self (#2312)
  libdd-gotter/src/elf.rs
Due: none

feat(crashtracker): capture C assert expression in crash reports
  Cargo.lock
  bin_tests/build.rs
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/c/trigger_assert.c
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/assert_interceptor.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-gotter/README.md
  tools/docker/Dockerfile.build
Due: libdd-crashtracker

Safety comments
  libdd-crashtracker/src/collector/assert_interceptor.rs
Due: libdd-crashtracker

Prioritize rust Panic msg
  libdd-crashtracker/src/collector/crash_handler.rs
Due: libdd-crashtracker

Use new hook_symbol return type
  libdd-crashtracker/src/collector/assert_interceptor.rs
Due: libdd-crashtracker

test(ffe): validate regex conformance fixture contract
  libdd-ffe-test-suite/tests/targeting_regex_conformance.rs
Due: none

feat: add stats bucket splitting
  libdd-data-pipeline/src/agentless/stats.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/src/stats_payload_encoder/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

Atomic ordering fixes
  libdd-crashtracker/src/collector/assert_interceptor.rs
  libdd-crashtracker/src/collector/crash_handler.rs
Due: libdd-crashtracker

Gate once
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/assert_interceptor.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/mod.rs
Due: libdd-crashtracker

Cap panic / assert message. Also rmv usage of msg pointer
  libdd-crashtracker/src/collector/assert_interceptor.rs
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
Due: libdd-crashtracker

Guard installation against concurrent calls
  libdd-crashtracker/src/collector/assert_interceptor.rs
Due: libdd-crashtracker

feat(crashtracking)!: retrieve c assert message for linux when `__assert_fail` is dynamically loaded (#2268)
  Cargo.lock
  bin_tests/build.rs
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/c/trigger_assert.c
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/assert_interceptor.rs
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-gotter/README.md
  tools/docker/Dockerfile.build
Due: libdd-crashtracker

test(ffe): accept targeting regex contract v2
  libdd-ffe-test-suite/tests/targeting_regex_conformance.rs
Due: none

fix(otel): align HTTP trace metric semantics
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: libdd-data-pipeline

fix(trace-stats): validate OTel metric dimensions
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

fix(trace-exporter): mark OTLP client-computed stats
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
Due: libdd-data-pipeline

chore(rc): add DEBUG product
  libdd-remote-config/src/path.rs
Due: none

fix(trace-exporter): mark OTLP client-computed stats (#2245)
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
Due: libdd-data-pipeline
