Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

test(telemetry): skip the worker deadline test under Miri
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

test(crashtracker): ignore the real agent socket in the endpoint priority test
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

fix(shared-runtime): allow double_must_use on the Worker trait
  libdd-shared-runtime/src/worker.rs
Due: none

fix(otel-thread-ctx): allow the unused parameter without thread-exit-autoclean
  libdd-otel-thread-ctx/src/lib.rs
Due: none

ci: compare the public API against the PR base branch
  .github/workflows/pr-title-semver-check.yml
Due: none

fix(common): gate platform-specific utilities
  libdd-common/src/lib.rs
  libdd-common/src/unix_utils/mod.rs
Due: libdd-common

fix(common): limit platform gate changes to AIX
  libdd-common/src/lib.rs
  libdd-common/src/unix_utils/mod.rs
Due: libdd-common

fix(ipc)!: `AtomicOption` -> `AtomicOptionBox` to fix potential undefined behaviors (#2618)
  libdd-ipc/src/atomic_option.rs
  libdd-ipc/src/atomic_option_box.rs
  libdd-ipc/src/lib.rs
  libdd-ipc/src/platform/mem_handle.rs
Due: none

feat: More things triggering full tests (#2616)
  .gitlab/impacted-crates.yml
Due: none

fix(libdd-dogstatsd-client): fix --no-default-features tests (#2620)
  libdd-dogstatsd-client/src/client/mod.rs
Due: libdd-dogstatsd-client

fix(common): exclude AIX from restricted file utilities
  libdd-common/src/unix_utils/mod.rs
Due: libdd-common

fix(common): keep restricted paths disabled on AIX
  Cargo.lock
  libdd-common/src/connector/conn_stream.rs
  libdd-common/src/dump_server.rs
Due: libdd-common

chore: leave Mio resolution to consumers
  Cargo.lock
Due: none

Add missing safety comments
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

fix(common): gate platform-specific utilities on AIX (#2628)
  libdd-common/src/connector/conn_stream.rs
  libdd-common/src/dump_server.rs
  libdd-common/src/lib.rs
  libdd-common/src/unix_utils/mod.rs
Due: libdd-common

fix(ffe): preserve macOS backpressure recovery and validate C bindings
  .github/workflows/test-ffi.yml
  libdd-ipc/src/platform/unix/sockets/mod.rs
  scripts/test_sidecar_ffi.sh
Due: none

test(ffe): fully saturate sockets and assign smoke test owners
  .github/CODEOWNERS
  datadog-sidecar/src/service/sender/ffe_submission_tests.rs
Due: datadog-sidecar

Make the mapping private before adding the retired marker
  datadog-sidecar/src/service/agent_info.rs
  libdd-ipc/src/one_way_shared_memory.rs
  libdd-ipc/src/platform/mem_handle.rs
  libdd-ipc/src/platform/unix/mem_handle.rs
  libdd-ipc/src/platform/unix/mem_handle_macos.rs
  libdd-ipc/src/platform/unix/mod.rs
  libdd-ipc/src/platform/unix/shm_names.rs
  libdd-ipc/src/rate_limiter.rs
Due: datadog-sidecar

refactor(ffe): address privacy review cleanups
  Cargo.lock
  datadog-sidecar/src/self_telemetry.rs
  libdd-ffe/Cargo.toml
  libdd-ffe/src/telemetry/flagevaluation.rs
  libdd-ffe/src/telemetry/flagevaluation/privacy.rs
Due: datadog-sidecar

perf(ffe): avoid redundant error and batch copies
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/sidecar_server.rs
  libdd-ffe/src/telemetry/flagevaluation.rs
Due: datadog-sidecar, datdog-sidecar-ffi

perf(ffe): prune borrowed evaluation context before copying
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/mod.rs
  libdd-ffe/src/telemetry/flagevaluation.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(rc)!: add PROFILING product
  libdd-remote-config/src/path.rs
Due: none

fix(sidecar): keep working when the calling thread impersonates another user
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/windows.rs
  libdd-ipc/src/platform/windows/impersonation.rs
  libdd-ipc/src/platform/windows/mem_handle.rs
  libdd-ipc/src/platform/windows/mod.rs
  libdd-ipc/src/platform/windows/sockets.rs
Due: datadog-sidecar

fix(sidecar)!: properly handle sidecar master promotions (#2625)
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/agent_remote_config.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/agent_info.rs
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
  datadog-sidecar/src/service/remote_configs.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/setup/thread_listener.rs
  datadog-sidecar/src/setup/thread_listener_windows.rs
  datadog-sidecar/src/shm_remote_config.rs
  datadog-sidecar/src/tracer.rs
  datadog-sidecar/tests/thread_listener_fork.rs
  libdd-ipc/src/one_way_shared_memory.rs
  libdd-ipc/src/platform/mem_handle.rs
  libdd-ipc/src/platform/unix/mem_handle.rs
  libdd-ipc/src/platform/unix/mem_handle_macos.rs
  libdd-ipc/src/platform/unix/mod.rs
  libdd-ipc/src/platform/unix/shm_names.rs
  libdd-ipc/src/rate_limiter.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(trace-utils)!: V1 span payload attributes and native v0.4 downgrade
  libdd-trace-stats/src/span_concentrator/stat_span.rs
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/json_log_encoder/span_v1.rs
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span_v1.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v1.rs
  libdd-trace-utils/src/span/v1/mod.rs
  libdd-trace-utils/src/span/vec_map.rs
  libdd-trace-utils/src/trace_filter.rs
Due: libdd-trace-utils

feat(sidecar)!: V1 trace send path with /info negotiation
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/tracer.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(sidecar-ffi)!: pointer-handle V1 builder and send FFI for tracers
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/src/span_v04.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar-ffi/tests/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

address review
  datadog-sidecar-ffi/cbindgen.toml
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/span.rs
  datadog-sidecar/src/service/sidecar_server.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span_v1.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v1.rs
  libdd-trace-utils/src/span/vec_map.rs
Due: datadog-sidecar, datdog-sidecar-ffi, libdd-trace-utils

address review: named process-token constant, warn once, cache the peer process
  datadog-sidecar/src/windows.rs
  libdd-ipc/src/platform/windows/impersonation.rs
  libdd-ipc/src/platform/windows/sockets.rs
  libdd-ipc/src/platform/windows/sockets/writer.rs
  libdd-ipc/tests/windows_impersonation.rs
Due: datadog-sidecar

feat(data-pipeline)!: follow the full sql config in CSS obfuscation (#2535)
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agent_info/schema.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/tests/snapshots/client_side_stats_follows_agent_sql_config_snapshot_test.json
  libdd-data-pipeline/tests/snapshots/client_side_stats_follows_agent_sql_config_snapshot_test_tracestats.json
  libdd-data-pipeline/tests/test_stats_obfuscation.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: libdd-data-pipeline, libdd-trace-obfuscation

fix(ffi): Expose tracer top-level markings
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore: use base APM SDK Capabilities team in CODEOWNERS
  .github/CODEOWNERS
Due: none

test(ffi): Guarantee misaligned event array
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

host/port should take prio over uds socket
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

fix(crashtracking): host/port should take prio over uds socket for errortracking upload (#2633)
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

feat(ffe): protect PII in native flagevaluation events (#2605)
  Cargo.lock
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/self_telemetry.rs
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
  datadog-sidecar/src/service/flagevaluation_privacy_tests.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  libdd-ffe-ffi/src/configuration.rs
  libdd-ffe-test-suite/benches/eval.rs
  libdd-ffe/Cargo.toml
  libdd-ffe/README.md
  libdd-ffe/src/telemetry/exposures.rs
  libdd-ffe/src/telemetry/flagevaluation.rs
  libdd-ffe/src/telemetry/flagevaluation/privacy.rs
  libdd-ffe/src/telemetry/flagevaluation/sender.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix(ffi): Expose tracer top-level markings (#2632)
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix(gotter): Preserve GOT page permissions
  libdd-gotter/src/elf.rs
  libdd-gotter/tests/fixtures/late_load.c
  libdd-gotter/tests/late_load.rs
  libdd-gotter/tests/page_protections.rs
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling

feat(data-pipeline): mark native trace exports with _dd.sdk.otlp_export
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/snapshots/client_side_stats_follows_agent_sql_config_snapshot_test.json
  libdd-data-pipeline/tests/snapshots/compare_exporter_v04_to_v05_trace_snapshot_test.json
  libdd-data-pipeline/tests/snapshots/compare_exporter_v04_to_v1_trace_snapshot_test.json
  libdd-data-pipeline/tests/snapshots/compare_exporter_v04_trace_snapshot_test.json
  libdd-data-pipeline/tests/snapshots/compare_exporter_v04_trace_snapshot_uds_test.json
  libdd-data-pipeline/tests/snapshots/compare_exporter_v05_trace_snapshot_test.json
  libdd-data-pipeline/tests/snapshots/trace_filters_snapshot_test.json
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-data-pipeline, libdd-trace-utils
