Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

feat(remote-config): add new capabilities
  remote-config/src/lib.rs
Due: none

Add test for WerContext
  crashtracker-ffi/src/collector_windows/api.rs
Due: crashtracker

lint
  crashtracker-ffi/src/collector_windows/api.rs
  sidecar/src/windows.rs
Due: crashtracker, sidecar

Clippy is a well deserved name
  crashtracker-ffi/src/collector_windows/api.rs
Due: crashtracker

feat(remote-config): add new capabilities (#893)
  remote-config/src/lib.rs
Due: none

...
  crashtracker-ffi/src/collector_windows/api.rs
  sidecar/src/windows.rs
Due: crashtracker, sidecar

Fix
  crashtracker-ffi/src/collector_windows/api.rs
  sidecar/src/windows.rs
Due: crashtracker, sidecar

More clippy
  crashtracker-ffi/src/collector_windows/api.rs
Due: crashtracker

Add test for pdb info
  Cargo.lock
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/src/collector_windows/api.rs
Due: crashtracker

Restore version of symbolic-common
  Cargo.lock
Due: none

Clippy
  crashtracker-ffi/src/collector_windows/api.rs
Due: crashtracker

feat: Ten second rolling buckets
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Due: none

ci: fix clippy lint for unused-imports
  dogstatsd/src/datadog.rs
Due: none

debuggin
  dogstatsd/src/aggregator.rs
  dogstatsd/src/metric.rs
Due: none

ci: add serverless as code owners for dogstatsd
  .github/CODEOWNERS
Due: none

ci: add serverless as code owners for dogstatsd (#903)
  .github/CODEOWNERS
Due: none

Add v05 decoding.
  tinybytes/src/bytes_string.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/v05/mod.rs
Due: trace-utils

Integrate v05 decoding/encoding in the trace exporter.
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/msgpack_decoder/v05/mod.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/trace_utils.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v04/span.rs
  trace-utils/src/span/v05/dict.rs
  trace-utils/src/span/v05/mod.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, data-pipeline-ffi, trace-mini-agent, trace-utils

Add integration test, rename callbacks
  Cargo.lock
  Cargo.toml
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/src/collector_windows/api.rs
  crashtracker-ffi/tests/collector_windows_test.rs
  crashtracker-ffi/tests/test_app/Cargo.toml
  crashtracker-ffi/tests/test_app/src/main.rs
  crashtracker-ffi/tests/test_app_lib/Cargo.toml
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

Lint
  crashtracker-ffi/tests/test_app/src/main.rs
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

Lint
  crashtracker-ffi/tests/test_app/src/main.rs
Due: crashtracker

remove debug line
  dogstatsd/src/metric.rs
Due: none

fix: remove time from aggr
  dogstatsd/src/aggregator.rs
Due: none

Lint?
  crashtracker-ffi/tests/test_app/src/main.rs
Due: crashtracker

Debugging why it fails in the CI
  crashtracker-ffi/tests/collector_windows_test.rs
Due: crashtracker

Try hardcoding the path to see what happens in the CI
  crashtracker-ffi/tests/collector_windows_test.rs
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

Refactor send and send_deser_ser.
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

fix compiltion
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

More debug
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

Compilation error
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

Prevent invalid modes combination in the builder in order to avoid panicking.
  data-pipeline-ffi/src/error.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline, data-pipeline-ffi

Try to log stuff
  crashtracker-ffi/src/collector_windows/api.rs
  crashtracker-ffi/tests/collector_windows_test.rs
Due: crashtracker

feat: Clean up parse code, refactor floored buckets to metrics
  dogstatsd/src/metric.rs
Due: none

Change error mode
  crashtracker-ffi/tests/test_app_lib/Cargo.toml
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

feat: comment docs
  dogstatsd/src/metric.rs
Due: none

CLeanup
  crashtracker-ffi/src/collector_windows/api.rs
  crashtracker-ffi/tests/collector_windows_test.rs
  crashtracker-ffi/tests/test_app_lib/src/lib.rs
Due: crashtracker

feat: Cleanup impl
  dogstatsd/src/metric.rs
Due: none

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
