Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

chore: reduce symbol visibility and streamlime symbol reexporting
  libdd-data-pipeline-ffi/src/error.rs
  libdd-data-pipeline-ffi/src/response.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/lib.rs
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

test(shared-runtime): improve tests
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

test(shared-runtime-ffi): add transmute annotations
  libdd-shared-runtime-ffi/src/shared_runtime.rs
Due: none

chore(ci): fix trace exporter FFI examples (#1839)
  examples/ffi/trace_exporter.c
  tools/src/bin/ffi_test.rs
Due: none

feat(data-pipeline): wrap TracerMetadata in ArcSwap for shared mutable access
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

fix(spawn_worker): address review issues in stable trampoline path
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker

test(info_fetcher): remove needless assert
  libdd-data-pipeline/src/agent_info/fetcher.rs
Due: libdd-data-pipeline

test(telemetry): increase sleep time
  libdd-data-pipeline/src/telemetry/mod.rs
Due: libdd-data-pipeline

doc: update opcode data
  notes.md
Due: none

tmp: panic to see if the code is really called
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

fix(library-config): replace yaml_peg with yaml_serde, address review
  Cargo.lock
  Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-library-config/src/lib.rs
Due: none

feat(library-config-ffi): add no_std FFI entry point, address review comments
  libdd-common-ffi/src/slice.rs
  libdd-library-config-ffi/src/lib.rs
  libdd-library-config/src/lib.rs
Due: libdd-common, libdd-common-ffi

style(library-config): fix rustfmt blank line between doc comment and TODO
  libdd-library-config/src/lib.rs
Due: none

fix: use main's Cargo.lock with minimal dep additions
  Cargo.lock
Due: none

chore: regenerate LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Due: none

fix(otel-thread-ctx): add missing compiler fence
  libdd-profiling/src/otel_thread_ctx.rs
Due: libdd-profiling

fix(lint): fmt import ordering and clippy precedence warning
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker, libdd-trace-utils

Revert "tmp: panic to see if the code is really called"
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

ci: add a test for the release proposal workflow (#1820)
  .github/workflows/release-proposal-test.yml
Due: none

remove unused vars
  .github/workflows/release-proposal-dispatch.yml
Due: none

fetch WF_SHA
  .github/workflows/release-proposal-dispatch.yml
Due: none

license header and CODEOWNERS
  .github/CODEOWNERS
  scripts/major-bumps-level.sh
Due: none

fix(library-config-ffi): wrap get_from_bytes in catch_unwind for panic safety
  libdd-library-config-ffi/src/lib.rs
Due: none

test(telemetry): increase sleep
  libdd-data-pipeline/src/telemetry/mod.rs
Due: libdd-data-pipeline

refactor(library-config-ffi): generalize catch_panic macro for multiple return types
  libdd-library-config-ffi/src/lib.rs
Due: none

Remove fetch before worktree
  .github/workflows/release-proposal-dispatch.yml
Due: none

test(telemetry): spawn worker outside of the block_on
  libdd-data-pipeline/src/telemetry/mod.rs
Due: libdd-data-pipeline

chore(spawn_worker): trim verbose comments to 2-3 lines
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker

Fix major-bumps-level multiple dep rows
  scripts/major-bumps-level.sh
Due: none

fix: obfuscation config optional in /info
  libdd-data-pipeline/src/agent_info/schema.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

test(telemetry): use poll_for_mock_hits
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-trace-utils/src/test_utils/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix(spawn_worker): defer trampoline self-deletion via env var instead of stable path
  spawn_worker/src/trampoline.c
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker

perf: try with debug info
  Cargo.toml
Due: none

perf: reduce change_buffer memory footprint with 16-bit opcodes and string indices
  libdd-trace-utils/benches/change_buffer.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
  libdd-trace-utils/src/change_buffer/utils.rs
Due: libdd-trace-utils

feat(runtime)!: add shared runtime (#1602)
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  libdd-common/src/lib.rs
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/examples/send-traces-with-stats.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/lib.rs
  libdd-data-pipeline/src/pausable_worker.rs
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/tests/test_fetch_info.rs
  libdd-shared-runtime-ffi/Cargo.toml
  libdd-shared-runtime-ffi/build.rs
  libdd-shared-runtime-ffi/cbindgen.toml
  libdd-shared-runtime-ffi/src/lib.rs
  libdd-shared-runtime-ffi/src/shared_runtime.rs
  libdd-shared-runtime/Cargo.toml
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-shared-runtime/src/worker.rs
  libdd-telemetry/Cargo.toml
  libdd-telemetry/src/worker/mod.rs
  libdd-telemetry/src/worker/store.rs
  libdd-trace-utils/src/test_utils/mod.rs
  tools/docker/Dockerfile.build
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-telemetry, libdd-trace-utils

Check for multiple cloud-specific environment variables to detect environment
  libdd-trace-utils/src/config_utils.rs
Due: libdd-trace-utils

perf: bit-encode simple opcodes with kind+field_idx dispatch
  libdd-trace-utils/benches/change_buffer.rs
  libdd-trace-utils/src/change_buffer/field_table.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
  notes.md
Due: libdd-trace-utils

make is_span_eligible public
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: none

Fix syntax
  libdd-trace-utils/src/config_utils.rs
Due: libdd-trace-utils

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
