Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

add missing license header
  datadog-ffe-ffi/src/handle.rs
Due: none

fix tests
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/assignment.rs
Due: none

chore: imported wip
  antithesis-pocs/dangling-ref-example/.gitignore
  antithesis-pocs/dangling-ref-example/Cargo.lock
  antithesis-pocs/dangling-ref-example/Cargo.toml
  antithesis-pocs/dangling-ref-example/src/main.rs
  antithesis-pocs/datarace-example/.gitignore
  antithesis-pocs/datarace-example/Cargo.lock
  antithesis-pocs/datarace-example/Cargo.toml
  antithesis-pocs/datarace-example/Dockerfile
  antithesis-pocs/datarace-example/docker-compose.yml
  antithesis-pocs/datarace-example/src/main.rs
  antithesis-pocs/ordering-bug/.gitignore
  antithesis-pocs/ordering-bug/Cargo.lock
  antithesis-pocs/ordering-bug/Cargo.toml
  antithesis-pocs/ordering-bug/src/main.rs
Due: none

Fix name of http endpoint/method in ClientGroupedStats
  datadog-trace-protobuf/build.rs
  datadog-trace-protobuf/src/pb.rs
  datadog-trace-protobuf/src/pb_test.rs
  datadog-trace-utils/src/stats_utils.rs
Due: datadog-trace-protobuf, datadog-trace-utils

Remove authors
  libdd-trace-protobuf/Cargo.toml
Due: none

fix conflict
  datadog-trace-utils/src/msgpack_decoder/v04/mod.rs
  datadog-trace-utils/src/tracer_payload.rs
Due: datadog-trace-utils

Fix name of http endpoint/method in ClientGroupedStats (#1308)
  datadog-trace-protobuf/build.rs
  datadog-trace-protobuf/src/pb.rs
  datadog-trace-protobuf/src/pb_test.rs
  datadog-trace-utils/src/stats_utils.rs
Due: datadog-trace-protobuf, datadog-trace-utils

fix: avoid git symlink for Git on Windows
  tools/cc_utils/src/lib.rs
Due: none

atempt to reduce flakiness of crashtracker builds on windows tests by excluding the working directory from windows defender
  bin_tests/Cargo.toml
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

atempt to reduce flakiness of crashtracker builds on windows tests by excluding the working directory from windows defender (#1311)
  bin_tests/Cargo.toml
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Use /dev/fd instead of /proc/self/fd
  spawn_worker/src/trampoline.c
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker

Fix FFI tests
  builder/src/bin/release.rs
Due: none

fix: docker stupid mistake
  antithesis-pocs/datarace-example/Dockerfile
  antithesis-pocs/datarace-example/docker-compose.yml
Due: none

Support ENOENT as shm_open failure mode
  datadog-ipc/src/platform/unix/mem_handle.rs
Due: datadog-ipc

feat: better arch for antithesis
  antithesis-pocs/datarace-example/Dockerfile
  antithesis-pocs/datarace-example/ressources/driver.sh
  antithesis-pocs/datarace-example/ressources/libvoidstar.so
  antithesis-pocs/datarace-example/src/main.rs
Due: none

Try to fix package_ffi_on_windows gitlab job
  datadog-profiling-ffi/Cargo.toml
Due: datadog-profiling, datadog-profiling-ffi

fix parsing RawValue through TryParse
  datadog-ffe/src/rules_based/eval/eval_rules.rs
  datadog-ffe/src/rules_based/ufc/models.rs
Due: none

chore: script to update LICENSE-3rdparty.yml
  scripts/update_license_3rdparty.sh
Due: none

windows fix
  datadog-sidecar/src/windows.rs
Due: datadog-sidecar

chore: update lint.yml to reference new script
  .github/workflows/lint.yml
Due: none

Fix crashtracker cbindgen.
  datadog-crashtracker-ffi/cbindgen.toml
Due: datadog-crashtracker, datadog-crashtracker-ffi

Support ENOENT as shm_open failure mode (#1315)
  datadog-ipc/src/platform/unix/mem_handle.rs
Due: datadog-ipc

fix: better arch
  antithesis-pocs/datarace-example/.gitignore
  antithesis-pocs/datarace-example/Dockerfile.config
  antithesis-pocs/datarace-example/Dockerfile.runner
  antithesis-pocs/datarace-example/docker-compose.yml
  antithesis-pocs/datarace-example/sleep.sh
Due: none

increase heartbeat in exporter_send_telemetry_test
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Fix CODEOWNERS
  .github/CODEOWNERS
Due: none

Fix CODEOWNERS (#1317)
  .github/CODEOWNERS
Due: none

chore: script to update LICENSE-3rdparty.yml (#1313)
  .github/workflows/lint.yml
  scripts/update_license_3rdparty.sh
Due: none

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log
