Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

moved wrap function to common
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/crash_info/stackframe.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/slice.rs
Due: crashtracker, ddcommon, ddcommon-ffi

[crashtracking] improve poll waiting logic (#754)
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/shared/constants.rs
Due: crashtracker

PR comments
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

more functions implemented
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/crash_info/stackframe.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker-ffi/src/datatypes/mod.rs
  crashtracker-ffi/src/lib.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/libdatadog-crashtracking-receiver.c
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  ddcommon-ffi/src/lib.rs
Due: crashtracker, ddcommon, ddcommon-ffi

fix: profiling-ffi
  Cargo.lock
  Cargo.toml
  ddcommon-net/src/compat.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/src/exporter.rs
  profiling/src/exporter/config.rs
  profiling/src/exporter/mod.rs
  profiling/tests/form.rs
Due: ddcommon, profiling, profiling-ffi

Bump version to 14.3.0 in preperation for release
  Cargo.lock
  Cargo.toml
Due: none

actually add the files
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker-ffi/src/crash_info/metadata.rs
  ddcommon-ffi/src/result.rs
  ddcommon-ffi/src/utils.rs
Due: crashtracker, ddcommon, ddcommon-ffi

document Uri::from_path, clean up Cargo.toml
  Cargo.lock
  ddcommon-net/Cargo.toml
  ddcommon-net/src/http.rs
  profiling/src/exporter/config.rs
Due: ddcommon, profiling

fix: bad error messages
  ddcommon-net/src/http.rs
Due: ddcommon

fix: docker bake
  tools/docker/Dockerfile.build
Due: none

style: fix clippy lints
  ddcommon-net/src/http.rs
Due: ddcommon

update Cargo.lock after merge
  Cargo.lock
Due: none

style: fix clippy lint on windows
  ddcommon-net/src/http.rs
Due: ddcommon

Bump version to 14.3.0 in preperation for release (#760)
  Cargo.lock
  Cargo.toml
Due: none

build: try adding back lib for Windows
  Cargo.lock
  profiling-ffi/Cargo.toml
Due: profiling, profiling-ffi

WIP: Attempting to no-copy from ByteSlice to TinyBytes
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/src/slice.rs
Due: data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi

add back some deps?
  Cargo.lock
  profiling-ffi/Cargo.toml
Due: profiling, profiling-ffi

hardcode filter metric
  dogstatsd/src/dogstatsd.rs
Due: none

merge in master
  Cargo.lock
Due: none

[crashtracker] Fix CrashtrackerReceiverConfig: its allowed to have empty log filenames
  crashtracker/src/shared/configuration.rs
Due: crashtracker

[crashtracker] Fix CrashtrackerReceiverConfig: its allowed to have empty log filenames (#762)
  crashtracker/src/shared/configuration.rs
Due: crashtracker

Bump version to 14.3.1 in preperation for release
  Cargo.lock
  Cargo.toml
Due: none

Bump version to 14.3.1 in preperation for release (#763)
  Cargo.lock
  Cargo.toml
Due: none

PR comments (#759)
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Add crashracker label (#757)
  .github/labeler.yml
Due: none

Fix hash implementation
  tinybytes/src/bytes_string.rs
Due: none

Use Self as in impl
  tinybytes/src/bytes_string.rs
Due: none

Add From impl
  tinybytes/src/bytes_string.rs
Due: none

Add tests for hash and from trait
  tinybytes/src/bytes_string.rs
Due: none

Fixup after merge
  crashtracker/src/rfc5_crash_info/mod.rs
Due: crashtracker

[APMSP-1583] Fix hash in BytesString (#767)
  tinybytes/src/bytes_string.rs
Due: none

Add _dd.gcrfx.resource_name to mini agent for Google Cloud Functions
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Due: trace-mini-agent, trace-utils

Add BytesString compatible traceutils for spanv04
  trace-utils/src/span_v04/mod.rs
  trace-utils/src/span_v04/span.rs
  trace-utils/src/span_v04/trace_utils.rs
Due: trace-utils

Remove BytesString in AggregationKey
  data-pipeline/src/span_concentrator/aggregation.rs
  tinybytes/src/bytes_string.rs
Due: data-pipeline

Reenable client-side stats
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Use tinybytes spans in SpanConcentrator
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
Due: data-pipeline

fix: dangling temporary
  alloc/src/chain.rs
Due: none

test: skip problematic miri tests on MacOS
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  sidecar/src/service/session_info.rs
  trace-protobuf/src/pb_test.rs
  trace-utils/src/stats_utils.rs
  trace-utils/src/trace_utils.rs
Due: data-pipeline, sidecar, trace-protobuf, trace-utils

test: fix env test when running locally
  trace-mini-agent/src/config.rs
Due: trace-mini-agent

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
