Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

feat(telemetry): Support fork identity updates
  examples/ffi/trace_exporter.c
  libdd-common-ffi/src/mutable_metadata.rs
  libdd-common/src/mutable_metadata.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry

Expose exporter observations through C
  examples/ffi/trace_exporter.c
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

docs(ffi): Scope exporter shutdown deadlines
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

feat(sidecar-ffi)!: pointer-handle V1 builder and send FFI for tracers
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/src/span_v04.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar-ffi/tests/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(trace-utils)!: V1 span payload attributes and native v0.4 downgrade
  libdd-trace-stats/src/span_concentrator/stat_span.rs
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/json_log_encoder/span_v1.rs
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span_v1.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v1.rs
  libdd-trace-utils/src/span/v1/mod.rs
  libdd-trace-utils/src/span/vec_map.rs
  libdd-trace-utils/src/trace_filter.rs
Due: libdd-trace-utils

feat(sidecar)!: V1 trace send path with /info negotiation
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/tracer.rs
Due: datadog-sidecar

feat: still show errors
  benchmark/run_benchmarks_ci.sh
Due: none

fix: change exist and non empty to exist, to report if there was a failure but somehow the thing is not empty
  .gitlab/benchmarks.yml
  benchmark/run_benchmarks_ci.sh
Due: none

feat: shards from 2 to 3
  .gitlab/benchmarks.yml
Due: none

chore: Release
  Cargo.lock
  datadog-sidecar/Cargo.toml
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-ffe/Cargo.toml
  libdd-live-debugger/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-telemetry, datadog-sidecar, libdd-trace-utils

chore: Release
  Cargo.lock
  libdd-agent-client/Cargo.toml
  libdd-capabilities-impl/Cargo.toml
  libdd-common/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-ffe/Cargo.toml
  libdd-http-client/Cargo.toml
  libdd-ipc/Cargo.toml
  libdd-live-debugger/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-sampling/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-common, libdd-telemetry, libdd-dogstatsd-client, libdd-profiling, libdd-trace-obfuscation, libdd-trace-utils, libdd-tracer-flare

chore: Release
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-ddsketch/Cargo.toml
  libdd-ipc/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-stats/Cargo.toml
Due: libdd-data-pipeline, libdd-telemetry

chore: Release
  Cargo.lock
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-ipc/Cargo.toml
  libdd-tinybytes/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-tinybytes, libdd-trace-obfuscation, libdd-trace-utils

chore: Release
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-ffe/Cargo.toml
  libdd-ipc/Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-trace-normalization/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-protobuf/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils

chore: Release
  Cargo.lock
  libdd-capabilities-impl/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-live-debugger/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-utils, libdd-tracer-flare

chore: Release
  Cargo.lock
  libdd-trace-normalization/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-trace-normalization, libdd-trace-utils

chore: Release
  Cargo.lock
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-shared-runtime-ffi/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-stats/Cargo.toml
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry, libdd-dogstatsd-client

chore: Release
  Cargo.lock
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-sampling/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-obfuscation, libdd-trace-utils, libdd-tracer-flare

chore: Release
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-trace-stats/Cargo.toml
Due: libdd-data-pipeline, libdd-dogstatsd-client

chore: Release
  Cargo.lock
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-stats/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-telemetry

chore: Release
  Cargo.lock
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-obfuscation

chore: Release
  Cargo.lock
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-ipc/Cargo.toml
  libdd-trace-stats/Cargo.toml
Due: libdd-data-pipeline

chore: Release
  Cargo.lock
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline/Cargo.toml
Due: libdd-data-pipeline

chore: Release
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-live-debugger/Cargo.toml
Due: libdd-data-pipeline

chore(release): update version for libdd-capabilities-impl with major bumps
  Cargo.lock
  libdd-capabilities-impl/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-live-debugger/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-utils, libdd-tracer-flare

chore(release): update version for libdd-shared-runtime with major bumps
  Cargo.lock
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-shared-runtime-ffi/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-stats/Cargo.toml
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry, libdd-dogstatsd-client

chore(release): update version for libdd-dogstatsd-client with major bumps
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-trace-stats/Cargo.toml
Due: libdd-data-pipeline, libdd-dogstatsd-client

chore(release): update version for libdd-data-pipeline-core with major bumps
  Cargo.lock
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline/Cargo.toml
Due: libdd-data-pipeline

chore(release): update CHANGELOG.md for libdd-capabilities
  libdd-capabilities/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md for libdd-tinybytes
  libdd-tinybytes/CHANGELOG.md
Due: libdd-tinybytes

chore(release): update CHANGELOG.md for libdd-ddsketch
  libdd-ddsketch/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md for libdd-common
  libdd-common/CHANGELOG.md
Due: libdd-common

chore(release): update CHANGELOG.md for libdd-shared-runtime
  libdd-shared-runtime/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md for libdd-trace-normalization
  libdd-trace-normalization/CHANGELOG.md
Due: libdd-trace-normalization

chore(release): update CHANGELOG.md for libdd-capabilities-impl
  libdd-capabilities-impl/CHANGELOG.md
Due: none

chore(release): update CHANGELOG.md for libdd-trace-protobuf
  libdd-trace-protobuf/CHANGELOG.md
Due: libdd-trace-protobuf

chore(release): update CHANGELOG.md for libdd-dogstatsd-client
  libdd-dogstatsd-client/CHANGELOG.md
Due: libdd-dogstatsd-client

chore(release): update CHANGELOG.md for libdd-telemetry
  libdd-telemetry/CHANGELOG.md
Due: libdd-telemetry

chore(release): update CHANGELOG.md for libdd-trace-utils
  libdd-trace-utils/CHANGELOG.md
Due: libdd-trace-utils

chore(release): update CHANGELOG.md for libdd-data-pipeline-core
  libdd-data-pipeline-core/CHANGELOG.md
Due: libdd-data-pipeline

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
