Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

doc: better doc explaining get_or_insert vs get_or_insert_span_text
  libdd-trace-types/src/span/v05/dict.rs
Due: none

chore: rename get_or_insert_from_span_text
  libdd-trace-types/src/span/v05/dict.rs
  libdd-trace-utils/src/span/v05/mod.rs
Due: libdd-trace-utils

add codeowner for the new trace-types crate
  .github/CODEOWNERS
Due: none

feat(ci): require allow(workspace-deps-features) marker for feature exceptions
  .github/actions/workspace-deps-lint/src/lint.rs
  .github/actions/workspace-deps-lint/src/main.rs
  AGENTS.md
  Cargo.toml
Due: none

fix: remove rustls-native-certs
  Cargo.lock
  libdd-common/Cargo.toml
Due: libdd-common

ci: ignore native cert version pin
  Cargo.toml
Due: none

ci: check unused dependencies with cargo machete
  .github/workflows/cargo-machete.yml
  Cargo.toml
Due: none

fix(libdd-ipc): implement LivenessAware for OwnedFd
  libdd-ipc/src/platform/unix/sockets/mod.rs
Due: none

fix: remove rustls-native-certs
  Cargo.toml
Due: none

refactor(benchmarks): share thread CPU measurement
  Cargo.lock
  libdd-common/Cargo.toml
  libdd-common/src/bench_utils.rs
  libdd-profiling-heap-allocator/Cargo.toml
  libdd-profiling-heap-allocator/benches/sampler_overhead.rs
Due: libdd-common, libdd-profiling

fix(libdd-ipc): drain queued data before treating liveness as terminal
  libdd-ipc/src/platform/unix/sockets/macos.rs
  libdd-ipc/src/platform/unix/sockets/mod.rs
Due: none

refactor(sidecar): make EVP fallback transport reusable
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/evp_transport.rs
  datadog-sidecar/src/service/ffe_exposures_flusher.rs
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore(libdd-ffe): bump pyo3 to 0.29
  Cargo.lock
  Cargo.toml
  libdd-ffe/Cargo.toml
Due: none

Update license
  LICENSE-3rdparty.csv
Due: none

bench(data-pipeline): isolate enqueue timing
  libdd-data-pipeline/benches/trace_buffer.rs
Due: libdd-data-pipeline

ci(data-pipeline): preserve trace buffer benchmark series
  libdd-data-pipeline/benches/trace_buffer.rs
Due: libdd-data-pipeline

Apply suggestion from @BridgeAR
  libdd-data-pipeline/benches/trace_buffer.rs
Due: libdd-data-pipeline

bench(data-pipeline): use adaptive trace buffer sampling
  libdd-data-pipeline/benches/trace_buffer.rs
Due: libdd-data-pipeline

fix(ipc): remove unused fork-unsafe signal feature
  datadog-ipc/Cargo.toml
Due: datadog-ipc

fix(ci): use dd-sts instead of gh secret for API key (#2520)
  .github/workflows/weekly-verify-proto-files.yml
Due: none

fix(libdd-ipc)!: detect liveness in macos IPC recv mechanism (#2519)
  libdd-ipc/src/platform/unix/sockets/macos.rs
  libdd-ipc/src/platform/unix/sockets/mod.rs
Due: none

test(sidecar): harden generic EVP transport boundary
  Cargo.lock
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/tests/evp_transport_abi.c
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar/src/service/evp_transport.rs
  datadog-sidecar/src/service/ffe_exposures_flusher.rs
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
  datadog-sidecar/src/service/ffe_metrics_flusher.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix: adress codex comments
  libdd-trace-utils/benches/serialization.rs
Due: libdd-trace-utils

perf(serialization): bench the actual path used by the trace exporter (#2512)
  libdd-trace-utils/benches/serialization.rs
Due: libdd-trace-utils

use errors for everything
  examples/cxx/README.md
  examples/cxx/exporter_manager.cpp
  examples/cxx/profiling.cpp
  examples/cxx/profiling_api2.cpp
  libdd-profiling/src/cxx.rs
Due: libdd-profiling

feat(sidecar): schedule wall-time profiling samples
  datadog-sidecar-ffi/cbindgen.toml
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/remote_configs.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/wall_time.rs
  libdd-common-ffi/cbindgen.toml
  libdd-profiling/src/exporter/profile_exporter.rs
  libdd-profiling/tests/file_exporter_test.rs
Due: libdd-common, libdd-common-ffi, libdd-profiling, datadog-sidecar, datdog-sidecar-ffi

chore(sidecar): reduce wall-time scheduler logging
  datadog-sidecar/src/service/wall_time.rs
Due: datadog-sidecar

test(profiling): expect intake path for file exports
  libdd-profiling/tests/exporter_e2e.rs
Due: libdd-profiling

fix(ipc): preserve method cfg in service macro
  libdd-ipc-macros/src/lib.rs
Due: none

fix(sidecar): compile wall-time scheduling only on Unix
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix(clippy): preserve portable c_char conversion
  libdd-gotter/src/elf.rs
Due: none

fix(spawn-worker): accept auto-reaped children
  spawn_worker/src/unix/spawn.rs
Due: spawn-worker

use errors, cleanup the api
  examples/cxx/README.md
  examples/cxx/build-profiling-dictionary.ps1
  examples/cxx/build-profiling-dictionary.sh
  examples/cxx/exporter_manager.cpp
  examples/cxx/profiling.cpp
  examples/cxx/profiling_api2.cpp
  examples/cxx/profiling_dictionary.cpp
  libdd-profiling/README.md
  libdd-profiling/build.rs
  libdd-profiling/include/datadog/profiling.hpp
  libdd-profiling/src/cxx.rs
Due: libdd-profiling

test in ci
  .github/workflows/test-ffi.yml
Due: none

remove unneded helper function
  examples/cxx/exporter_manager.cpp
  examples/cxx/profiling.cpp
Due: none

cleaner overloads
  examples/cxx/README.md
  examples/cxx/profiling_dictionary.cpp
  libdd-profiling/src/cxx.rs
Due: libdd-profiling

split up the cxx into multiple files
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/cxx/cancellation.rs
  libdd-profiling/src/cxx/conversions.rs
  libdd-profiling/src/cxx/dictionary.rs
  libdd-profiling/src/cxx/errors.rs
  libdd-profiling/src/cxx/exporter_manager.rs
  libdd-profiling/src/cxx/ids.rs
  libdd-profiling/src/cxx/profile.rs
  libdd-profiling/src/cxx/profile_exporter.rs
  libdd-profiling/src/cxx/tests.rs
Due: libdd-profiling

continued code simplification
  examples/cxx/exporter_manager.cpp
  examples/cxx/profiling.cpp
  examples/cxx/profiling_dictionary.cpp
  libdd-profiling/README.md
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/cxx/dictionary.rs
  libdd-profiling/src/cxx/errors.rs
  libdd-profiling/src/cxx/ids.rs
  libdd-profiling/src/cxx/profile.rs
  libdd-profiling/src/cxx/profile_exporter.rs
  libdd-profiling/src/cxx/tests.rs
Due: libdd-profiling

more simplification
  examples/cxx/profiling.cpp
  examples/cxx/profiling_dictionary.cpp
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/cxx/cancellation.rs
  libdd-profiling/src/cxx/dictionary.rs
  libdd-profiling/src/cxx/errors.rs
  libdd-profiling/src/cxx/exporter_manager.rs
  libdd-profiling/src/cxx/profile.rs
  libdd-profiling/src/cxx/tests.rs
Due: libdd-profiling

remove unneeded api surface
  examples/cxx/exporter_manager.cpp
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/cxx/dictionary.rs
  libdd-profiling/src/cxx/errors.rs
  libdd-profiling/src/cxx/exporter_manager.rs
  libdd-profiling/src/cxx/profile.rs
  libdd-profiling/src/cxx/profile_exporter.rs
  libdd-profiling/src/cxx/tests.rs
Due: libdd-profiling
