Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

test: otel process context update
  libdd-library-config/src/otel_process_ctxt.rs
Due: none

Add impls for trace deser/sending
  Cargo.lock
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/msgpack_decoder/decode/map.rs
  libdd-trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  libdd-trace-utils/src/msgpack_decoder/decode/metrics.rs
  libdd-trace-utils/src/msgpack_decoder/decode/span_event.rs
  libdd-trace-utils/src/msgpack_decoder/decode/string.rs
  libdd-trace-utils/src/msgpack_decoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v05/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v1/trace.rs
  libdd-trace-utils/src/msgpack_encoder/v1/trace.rs
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/projection/attributes.rs
  libdd-trace-utils/src/span/table.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v04/mod.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/span/v1/mod.rs
  libdd-trace-utils/src/span/v1/to_v04.rs
  libdd-trace-utils/src/test_utils/mod.rs
  libdd-trace-utils/src/tracer_payload.rs
  libdd-trace-utils/tests/test_send_data.rs
Due: libdd-trace-utils

ci: undo debugging changes to chainguards (#1620)
  .github/chainguard/self.read.members.sts.yaml
  .github/chainguard/self.write.pr.sts.yaml
Due: none

chore: format
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/stats_utils.rs
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-data-pipeline, libdd-trace-utils

ci(ruby): Package libdatadog v28.0.0 for Ruby (#1621)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

chore(crashtracker): use default-features=false for aws-lc-sys
  libdd-crashtracker/Cargo.toml
Due: libdd-crashtracker

chore(crashtracker): use default-features=false for aws-lc-sys (#1625)
  libdd-crashtracker/Cargo.toml
Due: libdd-crashtracker

Run in subprcess for thread count
  Cargo.lock
  libdd-common/Cargo.toml
  libdd-common/src/test_utils.rs
Due: libdd-common

chore(cargo): bump version to v28.0.1
  Cargo.lock
  Cargo.toml
Due: none

Use instead of new dev dep
  Cargo.lock
  libdd-common/Cargo.toml
  libdd-common/src/test_utils.rs
Due: libdd-common

update bytes to 1.11.1 for RUSTSEC-2026-0007
  Cargo.lock
  datadog-ipc/Cargo.toml
  datadog-ipc/tarpc/Cargo.toml
  datadog-live-debugger/Cargo.toml
  datadog-tracer-flare/Cargo.toml
  libdd-common/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-common, datadog-ipc, libdd-profiling, libdd-trace-utils

test: properly release process context after update
  libdd-library-config/src/otel_process_ctxt.rs
Due: none

chore(cargo): bump version to v28.0.1 (#1627)
  Cargo.lock
  Cargo.toml
Due: none

chore(ci): run thread count test as single threaded (#1626)
  libdd-common/src/test_utils.rs
Due: libdd-common

chore: consolidate changes from release-proposal
  Cargo.lock
  libdd-common-ffi/Cargo.toml
  libdd-common/CHANGELOG.md
  libdd-common/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline/CHANGELOG.md
  libdd-data-pipeline/Cargo.toml
  libdd-ddsketch/CHANGELOG.md
  libdd-ddsketch/Cargo.toml
  libdd-dogstatsd-client/CHANGELOG.md
  libdd-dogstatsd-client/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-telemetry/CHANGELOG.md
  libdd-telemetry/Cargo.toml
  libdd-trace-normalization/CHANGELOG.md
  libdd-trace-normalization/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-protobuf/CHANGELOG.md
  libdd-trace-protobuf/Cargo.toml
  libdd-trace-stats/CHANGELOG.md
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/CHANGELOG.md
  libdd-trace-utils/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-dogstatsd-client, libdd-profiling, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils

feat(trace-protobuf): Add two fields to ClientGroupedStats
  libdd-trace-protobuf/src/pb/stats.proto
Due: libdd-trace-protobuf

Update Rust structs and test
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb.rs
  libdd-trace-protobuf/src/pb_test.rs
Due: libdd-trace-protobuf

fix(trace-protobuf): Sync stats.proto with datadog-agent and update pb.rs
  .github/workflows/verify-proto-files.yml
  libdd-trace-protobuf/src/pb.rs
  libdd-trace-protobuf/src/pb/stats.proto
Due: libdd-trace-protobuf

fix(trace-stats): Add new ClientGroupedStats fields in encode_grouped_stats
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

fix(bin-tests): Fix function-casts-as-integer clippy lint
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
Due: none

fix(sidecar): Fix unnecessary_unwrap clippy lint in appsec_config handling
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/entry.rs
Due: datadog-sidecar

fix(trace-utils): Add new ClientGroupedStats fields in stats_utils test
  libdd-trace-utils/src/stats_utils.rs
Due: libdd-trace-utils

fix(bin-tests): Fix remaining function-casts-as-integer lint in behavior.rs
  bin_tests/src/modes/behavior.rs
Due: none

chore(shared-runtime): return detailed errors in before_fork
  libdd-data-pipeline/src/shared_runtime.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

add core API types and crate scaffold
  Cargo.lock
  Cargo.toml
  libdd-http-client/Cargo.toml
  libdd-http-client/src/backend/mod.rs
  libdd-http-client/src/client.rs
  libdd-http-client/src/config.rs
  libdd-http-client/src/error.rs
  libdd-http-client/src/lib.rs
  libdd-http-client/src/request.rs
  libdd-http-client/src/response.rs
  tools/docker/Dockerfile.build
Due: none

add CODEOWNERS entry for libdd-http-client
  .github/CODEOWNERS
Due: none

implement reqwest backend with integration tests
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/tests/connection_pool.rs
  libdd-http-client/tests/http_round_trip.rs
  libdd-http-client/tests/timeout_test.rs
Due: none

add configurable retry with exponential backoff
  libdd-http-client/src/retry.rs
  libdd-http-client/tests/retry_test.rs
Due: none

add UDS, Windows Named Pipe, and FIPS TLS support
  libdd-http-client/tests/uds_round_trip.rs
Due: none

add miri ignore for tests involving hickorydns
  libdd-http-client/src/client.rs
Due: none

add tests for windows named pipes
  libdd-http-client/tests/retry_test.rs
  libdd-http-client/tests/timeout_test.rs
  libdd-http-client/tests/windows_named_pipe.rs
Due: none

add README
  libdd-http-client/README.md
Due: none

add hyper backend and shared multipart encoder
  .github/workflows/test.yml
  Cargo.lock
  libdd-common/src/lib.rs
  libdd-common/src/multipart.rs
  libdd-http-client/Cargo.toml
  libdd-http-client/README.md
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/mod.rs
  libdd-http-client/src/client.rs
  libdd-http-client/src/lib.rs
Due: libdd-common

fix(libdd-http-client): resolve --all-features conflict between backends
  libdd-http-client/src/backend/mod.rs
  libdd-http-client/src/client.rs
  libdd-http-client/src/lib.rs
Due: none

add multipart form-data upload support
  Cargo.lock
  libdd-http-client/Cargo.toml
  libdd-http-client/README.md
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/src/lib.rs
  libdd-http-client/src/request.rs
  libdd-http-client/tests/multipart_test.rs
Due: none

fix(mini_agent): possibility of providing own client
  libdd-trace-utils/src/stats_utils.rs
Due: libdd-trace-utils
