Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

[crashtracker] Implement telemetry for RFC5
  crashtracker/src/collector/api.rs
  crashtracker/src/lib.rs
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/proc_info.rs
  crashtracker/src/rfc5_crash_info/sig_info.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
  crashtracker/src/rfc5_crash_info/test_utils.rs
Due: crashtracker

version detection in same step
  .github/workflows/dotnet.yml
Due: none

Make it better
  tests/windows_package/windows_package.vcxproj
  windows/libdatadog.props
Due: none

Allow dynamic linking on Windows (#746)
  tests/windows_package/windows_package.vcxproj
  windows/libdatadog.csproj
  windows/libdatadog.props
Due: none

fix stacktrace for test
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
Due: crashtracker

licence header
  crashtracker/src/rfc5_crash_info/telemetry.rs
Due: crashtracker

[telemetry] Add missing origin field
  crashtracker/src/crash_info/telemetry.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/src/data/common.rs
  ddtelemetry/src/worker/mod.rs
Due: crashtracker, ddtelemetry

style: sort Cargo dependencies
  ddcommon/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
Due: ddcommon, profiling, profiling-ffi

WIP ddcommon-net crate + profiling updated
  Cargo.lock
  Cargo.toml
  ddcommon-net/Cargo.toml
  ddcommon-net/src/compat.rs
  ddcommon-net/src/http.rs
  ddcommon-net/src/lib.rs
  profiling/Cargo.toml
  profiling/src/exporter/config.rs
  profiling/src/exporter/mod.rs
Due: ddcommon, profiling

test: fix removal of config:: items
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/exporter/config.rs
  profiling/tests/form.rs
Due: profiling

Bump v14.2.0
  Cargo.lock
  Cargo.toml
Due: none

Bump v14.2.0 (#749)
  Cargo.lock
  Cargo.toml
Due: none

[chore] Use elapsed() if possible when calculating durations
  bin_tests/src/lib.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/crash_info/telemetry.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/span_concentrator/mod.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  dogstatsd/src/aggregator.rs
  sidecar/src/service/blocking.rs
  trace-mini-agent/src/stats_processor.rs
  trace-mini-agent/src/trace_processor.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
Due: crashtracker, data-pipeline, ddtelemetry, sidecar, trace-mini-agent, trace-normalization

[chore] Use elapsed() if possible when calculating durations (#750)
  bin_tests/src/lib.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/crash_info/telemetry.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/span_concentrator/mod.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-ping.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  dogstatsd/src/aggregator.rs
  sidecar/src/service/blocking.rs
  trace-mini-agent/src/stats_processor.rs
  trace-mini-agent/src/trace_processor.rs
  trace-normalization/src/normalize_utils.rs
  trace-normalization/src/normalizer.rs
Due: crashtracker, data-pipeline, ddtelemetry, sidecar, trace-mini-agent, trace-normalization

chore: enable data-pipeline feature in shipped artifacts
  build-profiling-ffi.sh
  windows/build-artifacts.ps1
Due: none

[crashtracker] Add builder class for CrashInfo
  crashtracker/src/lib.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/os_info.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/unknown_value.rs
Due: crashtracker

Initial move to use SendData in trace exporter
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

rust fmt
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

wrap macro
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker-ffi/src/crash_info/to_inner.rs
Due: crashtracker

use the wrap macro more
  Cargo.lock
  crashtracker-ffi/Cargo.toml
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
Due: crashtracker

stacktrace
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
Due: crashtracker

stackframe
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  crashtracker-ffi/src/crash_info/stackframe.rs
  crashtracker-ffi/src/datatypes/mod.rs
  ddcommon-ffi/src/slice.rs
Due: crashtracker, ddcommon, ddcommon-ffi

temporarilly comment out client stats code
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

[crashtracker] Implement telemetry for RFC5 (#741)
  crashtracker/src/collector/api.rs
  crashtracker/src/lib.rs
  crashtracker/src/rfc5_crash_info/error_data.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/mod.rs
  crashtracker/src/rfc5_crash_info/proc_info.rs
  crashtracker/src/rfc5_crash_info/sig_info.rs
  crashtracker/src/rfc5_crash_info/stacktrace.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
  crashtracker/src/rfc5_crash_info/test_utils.rs
Due: crashtracker

more clippy
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Fix const, port to libc
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

comment out doc comment
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Also give some extra time for reaping
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/shared/constants.rs
Due: crashtracker

add test for failing to deser traces to improve coverage
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Update data-pipeline/src/trace_exporter.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

clean up and add jira tickets from pr review
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

oops formatting
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

just mark these consts as dead_code
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

clean up
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Add crashracker label
  .github/labeler.yml
Due: none

Initial move to use SendData in trace exporter (APMSP-1586) (#753)
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/health_metrics.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Expose set_procinfo
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  examples/ffi/crashinfo.cpp
Due: crashtracker

Run crashinfo test
  .github/workflows/test.yml
Due: none

fix(crashtracker) : Fix crash when sending crashinfo (#756)
  .github/workflows/test.yml
  crashtracker-ffi/src/crash_info/datatypes.rs
  crashtracker-ffi/src/crash_info/mod.rs
  examples/ffi/crashinfo.cpp
Due: crashtracker
