Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-tracer-flare, datadog-log

First phase adding windows crashtracker bin_tests tests
  Cargo.lock
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test_windows.rs
  bin_tests/src/lib.rs
  bin_tests/src/test_runner_windows.rs
  bin_tests/src/test_types_windows.rs
  bin_tests/src/validation_windows.rs
  bin_tests/src/wer_handler.rs
  bin_tests/tests/crashtracker_bin_test_windows.rs
Due: none

Debugging
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test_windows.rs
  bin_tests/src/lib.rs
  bin_tests/src/test_runner_windows.rs
  bin_tests/src/wer_handler.rs
  bin_tests/tests/crashtracker_bin_test_windows.rs
  libdd-crashtracker/src/collector_windows/api.rs
Due: datadog-crashtracker

Add WER simulator
  .config/nextest.toml
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test_windows.rs
  bin_tests/src/bin/wer_simulator.rs
  bin_tests/src/lib.rs
  bin_tests/src/test_runner_windows.rs
  bin_tests/src/validation_windows.rs
  bin_tests/src/wer_handler.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test_windows.rs
  libdd-crashtracker-ffi/src/collector_windows/api.rs
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector_windows/api.rs
  libdd-crashtracker/src/lib.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi

Make sure bin_tests contribute to code coverage
  bin_tests/src/lib.rs
  bin_tests/src/test_runner.rs
Due: none

Do not build test.so during cargo publish (#1365)
  libdd-crashtracker/build.rs
Due: datadog-crashtracker

Try something
  .github/workflows/coverage.yml
  bin_tests/src/lib.rs
Due: none

WIP wait for main to be updated
  .github/workflows/coverage.yml
  bin_tests/src/lib.rs
  bin_tests/src/test_runner_windows.rs
Due: none

chore(remote-config): add client feature flag to exclude client code
  Cargo.lock
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/lib.rs
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/lib.rs
Due: datadog-tracer-flare

Fix docker-bake job
  tools/docker/Dockerfile.build
Due: none

New tests
  bin_tests/doc/WINDOWS_BIN_TESTS_ARCHITECTURE.md
  bin_tests/tests/crashtracker_bin_test_windows.rs
Due: none

Try something for Windows code coverage: only bin_tests for now
  .github/workflows/coverage.yml
Due: none

Make sure Windows bin_tests with event does not collide
  bin_tests/Cargo.toml
  bin_tests/src/lib.rs
  bin_tests/src/test_runner_windows.rs
Due: none

Make sure new crash happen as expected
  .github/workflows/coverage.yml
  bin_tests/src/bin/crashtracker_bin_test_windows.rs
Due: none

Fix windows code coverage job
  .github/workflows/coverage.yml
  bin_tests/src/bin/crashtracker_bin_test_windows.rs
Due: none

feat: added small sdk assertions
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agent_info/fetcher.rs
Due: data-pipeline

Fix all
  .github/workflows/coverage.yml
  Cargo.lock
  bin_tests/Cargo.toml
Due: none

improve junit upload
  .github/workflows/test.yml
Due: none

[PROF-12853] Catch panics inside `wrap_with_ffi_result` and `wrap_with_void_ffi_result` (#1334)
  Cargo.lock
  examples/ffi/crashinfo.cpp
  libdd-common-ffi/Cargo.toml
  libdd-common-ffi/src/error.rs
  libdd-common-ffi/src/result.rs
  libdd-common-ffi/src/string.rs
  libdd-common-ffi/src/utils.rs
  libdd-common-ffi/src/vec.rs
  libdd-crashtracker-ffi/src/crash_info/builder.rs
Due: datadog-crashtracker, datadog-crashtracker-ffi, ddcommon, ddcommon-ffi

workflows
  .github/workflows/block_if_release.yml.off
  .github/workflows/block_if_release_rerun.yml.off
  .github/workflows/cargo_checks.yml
  .github/workflows/coverage.yml.off
  .github/workflows/fuzz.yml.off
  .github/workflows/lint.yml.off
  .github/workflows/miri.yml.off
  .github/workflows/release-dispatch.yml
  .github/workflows/release-publish.yml
  .github/workflows/release_merge_check.yml
  .github/workflows/test.yml.off
  .github/workflows/verify-proto-files.yml.off
  .github/workflows/version-and-changelog.yml
  .github/workflows/weekly-verify-proto-files.yml.off
  Cargo.lock
  scripts/ensure-version-bump-and-changelog.sh
  scripts/extract_changelog_vnext.sh
Due: none

libdd-common CHANGELOG.md
  libdd-common/CHANGELOG.md
Due: ddcommon

fix(libdd-common): is_file_endpoint
  libdd-common/src/lib.rs
Due: ddcommon

Try something
  .github/workflows/coverage.yml
Due: none

Switch from hyper and tokio to reqwest
  Cargo.lock
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/Cargo.toml
  libdd-profiling/src/exporter/errors.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/tests/form.rs
Due: datadog-profiling, datadog-profiling-ffi

fix(data-pipeline: antithesis): more calls to cataloger since I don't think the tests are being registered
  libdd-data-pipeline/src/agent_info/fetcher.rs
Due: data-pipeline

improve junit upload (#1376)
  .github/workflows/test.yml
Due: none

add failing tests
  datadog-trace-utils/src/msgpack_decoder/v04/mod.rs
  datadog-trace-utils/src/trace_utils.rs
Due: none

test: v1 and v2 have compat reprs
  libdd-profiling/src/profiles/datatypes/function.rs
  libdd-profiling/src/profiles/datatypes/mapping.rs
Due: datadog-profiling

refactor: move transmute into From
  libdd-profiling/src/profiles/datatypes/function.rs
  libdd-profiling/src/profiles/datatypes/mapping.rs
  libdd-profiling/src/profiles/datatypes/profiles_dictionary.rs
Due: datadog-profiling

chore(remote-config): add client feature flag to exclude client code (#1375)
  Cargo.lock
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/lib.rs
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/lib.rs
Due: datadog-tracer-flare

refactor: more cautious around transmutes
  libdd-profiling/src/internal/profile/mod.rs
  libdd-profiling/src/internal/profile/profiles_dictionary_translator.rs
  libdd-profiling/src/profiles/datatypes/mapping.rs
  libdd-profiling/src/profiles/datatypes/profiles_dictionary.rs
Due: datadog-profiling

docs: repr(C) Function/Mapping
  libdd-profiling/src/profiles/datatypes/function.rs
  libdd-profiling/src/profiles/datatypes/mapping.rs
Due: datadog-profiling

refactor: expand unsafe and better document it
  libdd-profiling/benches/add_samples.rs
  libdd-profiling/src/internal/profile/mod.rs
  libdd-profiling/src/internal/profile/profiles_dictionary_translator.rs
Due: datadog-profiling

docs: try_reserve_exact optimization for Box<[]>
  libdd-profiling/src/internal/profile/mod.rs
Due: datadog-profiling

crashtracker: support cxx bindings for crashinfo
  .gitignore
  Cargo.lock
  examples/cxx/README.md
  examples/cxx/build-and-run.sh
  examples/cxx/crashinfo.cpp
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/build.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/cxx.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/stacktrace.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: datadog-crashtracker

fix cbindgen issue
  libdd-crashtracker-ffi/cbindgen.toml
Due: datadog-crashtracker, datadog-crashtracker-ffi

Add seq_id to telemetry configuration payload
  datadog-sidecar-ffi/src/lib.rs
  libdd-telemetry-ffi/src/builder.rs
  libdd-telemetry/src/data/payloads.rs
Due: ddtelemetry, ddtelemetry-ffi, datadog-sidecar, datdog-sidecar-ffi

Add Calculated origin
  libdd-telemetry/src/data/payloads.rs
Due: ddtelemetry

rename enums to avoid CI issue
  examples/cxx/crashinfo.cpp
  libdd-crashtracker/src/crash_info/cxx.rs
Due: datadog-crashtracker

Latest errors_intake.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: datadog-crashtracker

Path conditions:
  datadog-crashtracker: any of: libdd-crashtracker
  datadog-crashtracker-ffi: any of: libdd-crashtracker-ffi
  datadog-alloc: any of: libdd-alloc
  data-pipeline: any of: libdd-data-pipeline
  data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  ddcommon: any of: libdd-common
  ddcommon-ffi: any of: libdd-common-ffi
  ddtelemetry: any of: libdd-telemetry
  ddtelemetry-ffi: any of: libdd-telemetry-ffi
  dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: libdd-profiling
  datadog-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: libdd-tinybytes
  datadog-trace-normalization: any of: libdd-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: libdd-trace-protobuf
  datadog-trace-utils: any of: libdd-trace-utils
  datadog-tracer-flare: any of: datadog-tracer-flare
  datadog-log: any of: libdd-log
