Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

feat(data-pipeline): dispatch OTLP encoder by protocol + protobuf test
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_protobuf_export.rs
Due: libdd-data-pipeline

refactor(data-pipeline): narrow otlp pub surface + exhaustive content-type match
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_protobuf_export.rs
Due: libdd-data-pipeline

feat(data-pipeline-ffi): add ddog_trace_exporter_config_set_otlp_protocol
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

test(data-pipeline-ffi): cover set_otlp_protocol + clarify contract
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix(trace-protobuf): disable comments on vendored OTLP trace protos to avoid doctest failures
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/opentelemetry.proto.collector.trace.v1.rs
  libdd-trace-protobuf/src/opentelemetry.proto.trace.v1.rs
Due: libdd-trace-protobuf

docs(data-pipeline): clarify parse_u64/kind fallbacks and unreachable Grpc content-type arm
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-trace-utils/src/otlp_encoder/proto_convert.rs
Due: libdd-data-pipeline, libdd-trace-utils

feat(datadog-ffe): add flagevaluation EVP payload module + Cargo feature gate
  datadog-ffe/Cargo.toml
  datadog-ffe/src/lib.rs
  datadog-ffe/src/telemetry/flagevaluation.rs
  datadog-ffe/src/telemetry/mod.rs
Due: none

chore(crashtracking)!: remove frame count experimental field (#2114)
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_8.json
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/experimental.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

feat(datadog-sidecar): add FfeFlagEvaluationBatch sidecar action + EVP flusher
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

chore: drop in-repo planning docs (moved to chonk)
  docs/superpowers/plans/2026-06-12-otlp-http-protobuf-export.md
  docs/superpowers/specs/2026-06-12-otlp-http-protobuf-export-design.md
Due: none

Potential fix for pull request finding
  docs/RFCs/0015-no-std.md
Due: none

fix(data-pipeline): reject unsupported OTLP gRPC at build time
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-trace-utils/src/otlp_encoder/proto_convert.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix(ffe): honor shared fixture result metadata (#2109)
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe-test-suite/tests/canonical_fixtures.rs
  datadog-ffe/src/rules_based/error.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/assignment.rs
  datadog-ffe/src/rules_based/ufc/compiled_flag_config.rs
Due: none

fix(ffe): make flagevaluation batch bincode-safe over the sidecar IPC
  Cargo.lock
  datadog-ffe/Cargo.toml
  datadog-ffe/src/telemetry/flagevaluation.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

improve sample operations: batching on add and remove
  libdd-profiling-ffi/src/profiles/datatypes.rs
  libdd-profiling/src/collections/string_table/mod.rs
  libdd-profiling/src/internal/observation/observations.rs
  libdd-profiling/src/internal/observation/trimmed_observation.rs
  libdd-profiling/src/internal/profile/mod.rs
  libdd-profiling/src/pprof/test_utils.rs
Due: libdd-profiling, libdd-profiling-ffi

feat(signal-safe-http-client): add no_std HTTP client
  Cargo.lock
  Cargo.toml
  libdd-signal-safe-http-client/Cargo.toml
  libdd-signal-safe-http-client/examples/README.md
  libdd-signal-safe-http-client/examples/http_only_no_std.rs
  libdd-signal-safe-http-client/examples/http_only_no_std/dns.rs
  libdd-signal-safe-http-client/examples/http_only_no_std/downloads.rs
  libdd-signal-safe-http-client/examples/http_only_no_std/linux_net.rs
  libdd-signal-safe-http-client/examples/http_only_no_std/logger.rs
  libdd-signal-safe-http-client/examples/http_only_no_std/support.rs
  libdd-signal-safe-http-client/examples/http_only_no_std/verifier.rs
  libdd-signal-safe-http-client/src/lib.rs
  license-tool.toml
  tools/docker/Dockerfile.build
Due: none

fix: cleanup code
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/sidecar_server.rs
  libdd-common/src/lib.rs
  libdd-remote-config/Cargo.toml
  libdd-remote-config/src/agentless_client/mod.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/single.rs
  libdd-trace-protobuf/build.rs
  libdd-tracer-flare/src/lib.rs
Due: libdd-common, datadog-sidecar, datdog-sidecar-ffi, libdd-trace-protobuf, libdd-tracer-flare

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

docs: initialize project
  .planning/PROJECT.md
Due: none

chore: add project config
  .planning/config.json
Due: none

docs: add project research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: none

docs: define v1 requirements
  .planning/REQUIREMENTS.md
Due: none

docs: create roadmap (4 phases)
  .planning/ROADMAP.md
  .planning/STATE.md
  CLAUDE.md
Due: none

docs(01): capture phase context
  .planning/phases/01-auth-ci-scaffolding/01-CONTEXT.md
  .planning/phases/01-auth-ci-scaffolding/01-DISCUSSION-LOG.md
Due: none

docs(state): record phase 1 context session
  .planning/STATE.md
Due: none

Treat absent and null as no-op for DynamicConfig fields
  datadog-sidecar/src/shm_remote_config.rs
  libdd-remote-config/src/config/dynamic.rs
  libdd-remote-config/src/config/mod.rs
Due: datadog-sidecar

docs(01): research phase 1 auth and CI scaffolding
  .planning/phases/01-auth-ci-scaffolding/01-RESEARCH.md
Due: none

docs(01-auth-ci-scaffolding): create phase plan
  .planning/ROADMAP.md
  .planning/phases/01-auth-ci-scaffolding/01-01-PLAN.md
  .planning/phases/01-auth-ci-scaffolding/SKELETON.md
Due: none

docs(01): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-auth-ci-scaffolding/01-PATTERNS.md
  .planning/phases/01-auth-ci-scaffolding/01-VALIDATION.md
Due: none

fix: typos
  libdd-remote-config/src/agentless_client/mod.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/shared.rs
Due: none

ci(01-01): add dd-octo-sts policy for PR-branch GitHub access
  .github/chainguard/bench-analysis.write-pr.sts.yaml
Due: none

ci(01-01): add bench-analysis CI job and wire into .gitlab-ci.yml
  .gitlab-ci.yml
  .gitlab/bench-analysis.yml
Due: none

docs(01-01): complete auth-ci-scaffolding plan 01
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-auth-ci-scaffolding/01-01-SUMMARY.md
Due: none

multi thread collection harden
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

Update errors intake payload
  docs/RFCs/0013-crashtracker-errors-intake-payload.md
Due: none

ci(01-01): fix YAML quoting in bench-analysis script block
  .gitlab/bench-analysis.yml
Due: none

ci(01-01): remove rules filter, run bench-analysis on every trigger
  .gitlab/bench-analysis.yml
Due: none

ci(01-01): use arch:amd64 tag for default runner
  .gitlab/bench-analysis.yml
Due: none

style(ffe): rustfmt + fix clippy expect-on-Option in enqueue_actions_reliable
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
Due: datadog-sidecar

ci(01-01): install authanywhere at runtime from binaries.ddbuild.io
  .gitlab/bench-analysis.yml
Due: none
