Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

chore: [SVLS-5992] we do not need to be unsafe after all
  dogstatsd/src/datadog.rs
  dogstatsd/tests/integration_test.rs
Due: none

chore: [SVLS-5992] static regular expressions
  dogstatsd/src/datadog.rs
Due: none

temporarily add debug symbols to release builds
  Cargo.toml
Due: none

style: use consistent FROM ... AS ... casing
  tools/docker/Dockerfile.build
Due: none

build: fix missing dependency features
  ddcommon-net2/Cargo.toml
Due: ddcommon

Fix RC shmem synchronization protocol
  sidecar/src/one_way_shared_memory.rs
Due: sidecar

Add details to quantize ip doc
  trace-obfuscation/src/ip_address.rs
Due: trace-obfuscation

Build config component by default in profiling artifacts
  build-profiling-ffi.sh
Due: none

Bump workspace from 14.3.1 to 15.0.0
  Cargo.lock
  Cargo.toml
Due: none

remove commented line
  build-profiling-ffi.sh
Due: none

Prepare 15.0.0 release (#832)
  Cargo.lock
  Cargo.toml
  build-profiling-ffi.sh
Due: none

[crashtracker] Receiver speaks RFC5
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker-ffi/src/crash_info/metadata.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/spans.rs
  crashtracker/src/receiver/entry_points.rs
  crashtracker/src/receiver/mod.rs
  crashtracker/src/receiver/receive_report.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/sig_info.rs
Due: crashtracker

rename metadata in tests
  crashtracker/src/collector/api.rs
Due: crashtracker

Update safety comment
  data-pipeline-ffi/src/response.rs
Due: data-pipeline, data-pipeline-ffi

Rename Mini Agent Version tag to Serverless Compat Version (#830)
  serverless/src/main.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
Due: serverless, trace-utils

Fix tests
  crashtracker/src/collector/spans.rs
  crashtracker/src/receiver/mod.rs
Due: crashtracker

clearer about where we flush
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/emitters.rs
Due: crashtracker

see what the actual value is for the crash tests
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

fix sig_info in test
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

fix tags in test
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

fix small telemetry bug
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
Due: crashtracker

fix telemetry test
  crashtracker/src/rfc5_crash_info/telemetry.rs
Due: crashtracker

si_code can be differnt on osx arm
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

si_code was in another place
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

[crashtracker] Receiver speaks RFC5 (#834)
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker-ffi/src/crash_info/metadata.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/counters.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/spans.rs
  crashtracker/src/receiver/entry_points.rs
  crashtracker/src/receiver/mod.rs
  crashtracker/src/receiver/receive_report.rs
  crashtracker/src/rfc5_crash_info/builder.rs
  crashtracker/src/rfc5_crash_info/metadata.rs
  crashtracker/src/rfc5_crash_info/sig_info.rs
  crashtracker/src/rfc5_crash_info/telemetry.rs
Due: crashtracker

Revert rasp products (#816)
  remote-config/src/path.rs
Due: none

Introduce StringId copies of all functions that deal with Sample
  profiling/src/api.rs
  profiling/src/internal/profile/mod.rs
Due: profiling

Introduce StringStorage implementation
  profiling/src/collections/mod.rs
  profiling/src/collections/string_storage.rs
Due: profiling

Introduce StringStorage instance into Profile
  profiling/src/internal/profile/mod.rs
Due: profiling

Ran `cargo fmt`
  profiling/src/internal/profile/mod.rs
Due: profiling

Introduce use of PersistentStringId in StringId* variants
  profiling/src/api.rs
  profiling/src/internal/profile/mod.rs
Due: profiling

Ran `cargo fmt`
  profiling/src/api.rs
  profiling/src/internal/profile/mod.rs
Due: profiling

Fix label validation
  profiling/src/internal/profile/mod.rs
Due: profiling
