Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Switch logger from locks to ArcSwap
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/log.rs
Due: datadog-sidecar

fix: reject all non-TLSDESC TLS relocations in sanity check
  libdd-otel-thread-ctx-ffi/tests/elf_properties.rs
  libdd-otel-thread-ctx/src/sanity_check.rs
Due: none

ci: remove Codecov coverage upload (#2094)
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/coverage.yml
Due: none

Remove SERVICE_CONTEXT env var from tests
  libdd-common/src/azure_app_services.rs
Due: libdd-common

Make shared consts public and add fallback logic for resolving instance name
  libdd-common/src/azure_app_services.rs
Due: libdd-common

Prevent whitespace from leaking into the instance name before using it
  libdd-common/src/azure_app_services.rs
Due: libdd-common

Prioritize COMPUTERNAME if WEBSITE_SKU is empty and do not lowercase the instance name
  libdd-common/src/azure_app_services.rs
Due: libdd-common

remove test
  libdd-common/src/azure_app_services.rs
Due: libdd-common

Keep fallback logic consistent regardless of hosting plan
  libdd-common/src/azure_app_services.rs
Due: libdd-common

feat(live-debugger): agentless intake forwarding (#2075)
  Cargo.lock
  datadog-live-debugger-ffi/src/sender.rs
  datadog-live-debugger/Cargo.toml
  datadog-live-debugger/src/sender.rs
Due: none

Update resolve_instance_name function parameters to match priority order
  libdd-common/src/azure_app_services.rs
Due: libdd-common

Fix dropped attributes count calculation toaccount for OTel Trace Compatibility
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-trace-utils

Update the DD span => OTLP span mapping to remove the 'error.msg' and 'error.message' span tags on the output OTLP span when OTel Trace Compatibility is enabled
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-trace-utils

feat(otel): Update the trace exporter with a OTel trace compatbility mode.
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-data-pipeline, libdd-trace-utils

Run the linter
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-data-pipeline, libdd-trace-utils

doc: avoid double negative in constraint description
  libdd-otel-thread-ctx-ffi/tests/elf_properties.rs
Due: none

fix: cargo doc warnings
  libdd-otel-thread-ctx-ffi/tests/elf_properties.rs
  libdd-otel-thread-ctx/src/sanity_check.rs
Due: none

test: fix timeouts on heavily contended scenarios (#2093)
  libdd-common/src/timeout.rs
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/send_with_retry/retry_strategy.rs
Due: libdd-common, libdd-trace-utils

ci(release): propagate cargo metadata failures and dedupe hotfix regex
  .github/workflows/release-proposal-dispatch.yml
Due: none

feat: SharedRuntime Borrowed & Owned mode
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/examples/send-traces-with-stats.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-shared-runtime-ffi/src/shared_runtime.rs
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/borrowed.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/owned.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-telemetry/src/worker/mod.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry

refacto(sharedruntime: owned): separate modules for wasm and native
  libdd-shared-runtime/src/shared_runtime/owned.rs
Due: none

fix(crashtracker): increase test_waitall_nohang timeout to 500ms
  libdd-crashtracker/src/collector/api.rs
Due: libdd-crashtracker

refactor(datadog-remote-config): rename as libdd-remote-config (#2085)
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  datadog-ffe/Cargo.toml
  datadog-ffe/src/remote_config.rs
  datadog-live-debugger/Cargo.toml
  datadog-live-debugger/src/remote_config.rs
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/cbindgen.toml
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/remote_configs.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-remote-config/Cargo.toml
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/src/config/agent_config.rs
  libdd-remote-config/src/config/agent_task.rs
  libdd-remote-config/src/config/dynamic.rs
  libdd-remote-config/src/config/mod.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/mod.rs
  libdd-remote-config/src/fetch/multitarget.rs
  libdd-remote-config/src/fetch/shared.rs
  libdd-remote-config/src/fetch/single.rs
  libdd-remote-config/src/fetch/test_server.rs
  libdd-remote-config/src/file_change_tracker.rs
  libdd-remote-config/src/file_storage.rs
  libdd-remote-config/src/lib.rs
  libdd-remote-config/src/parse.rs
  libdd-remote-config/src/path.rs
  libdd-remote-config/src/targets.rs
  libdd-tracer-flare/Cargo.toml
  libdd-tracer-flare/src/lib.rs
  libdd-tracer-flare/src/zip.rs
  libdd-tracer-flare/tests/test_tracer_flare.rs
  tools/docker/Dockerfile.build
Due: datadog-sidecar, datdog-sidecar-ffi, libdd-tracer-flare

perf(sidecar): Switch logger from locks to ArcSwap (#2096)
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/log.rs
Due: datadog-sidecar

fix(crashtracker): increase test_waitall_nohang timeout to 500ms (#2097)
  libdd-crashtracker/src/collector/api.rs
Due: libdd-crashtracker

Add experimental frame count field
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_8.json
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/experimental.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

feat: add snapshot test using test agent
  libdd-data-pipeline/tests/snapshots/trace_filters_snapshot_test.json
  libdd-data-pipeline/tests/test_trace_filters.rs
Due: libdd-data-pipeline

remove old no test agent snapshot test
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/snapshots/libdd_data_pipeline__trace_exporter__single_threaded_tests__trace_filters.snap
Due: libdd-data-pipeline

feat: move tracefilter's conf arcswap to the trace exporter
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/trace_filter.rs
Due: libdd-data-pipeline

fix: address comments
  Cargo.lock
  LICENSE-3rdparty.csv
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v1.rs
  libdd-trace-utils/src/span/v1/mod.rs
  libdd-trace-utils/tests/snapshots/compare_send_data_v1_native_trace_snapshot_test.json
  libdd-trace-utils/tests/test_send_data.rs
Due: libdd-trace-utils

feat(connector): use rustls platform verifier
  Cargo.lock
  libdd-common/Cargo.toml
  libdd-common/src/connector/mod.rs
Due: libdd-common

fix: avoid expect(), use default instead
  libdd-trace-utils/src/msgpack_decoder/decode/string.rs
Due: libdd-trace-utils

fix: post-rebase shenanigan
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

refactor(spans): use VecMap for Span meta, metrics, and meta_struct
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/span.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-trace-stats/benches/span_concentrator_bench.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-utils/src/msgpack_decoder/decode/map.rs
  libdd-trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  libdd-trace-utils/src/msgpack_decoder/decode/metrics.rs
  libdd-trace-utils/src/msgpack_decoder/decode/span_link.rs
  libdd-trace-utils/src/msgpack_decoder/decode/string.rs
  libdd-trace-utils/src/msgpack_decoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v04/span.rs
  libdd-trace-utils/src/msgpack_decoder/v05/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v04/mod.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/test_utils/mod.rs
  libdd-trace-utils/src/trace_utils.rs
  libdd-trace-utils/src/tracer_payload.rs
  libdd-trace-utils/tests/test_send_data.rs
Due: libdd-data-pipeline, datadog-sidecar, datdog-sidecar-ffi, libdd-trace-utils

fix: do not require mutability for counting span bytes
  libdd-data-pipeline/src/trace_buffer/mod.rs
Due: libdd-data-pipeline

style: rename ...to_strings -> ...to_vecmap
  libdd-trace-utils/src/msgpack_decoder/decode/string.rs
Due: libdd-trace-utils

style: minor improvement
  libdd-trace-utils/src/msgpack_decoder/decode/string.rs
Due: libdd-trace-utils

fix: fix rebase removal artifact
  datadog-sidecar-ffi/src/span.rs
  libdd-trace-stats/benches/span_concentrator_bench.rs
Due: datadog-sidecar, datdog-sidecar-ffi

style: avoid expect() for vec capacity
  libdd-trace-utils/src/msgpack_decoder/v05/mod.rs
Due: libdd-trace-utils

refactor(decoder): return VecMap directly from msgpack decoders
  libdd-trace-utils/src/msgpack_decoder/decode/map.rs
  libdd-trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  libdd-trace-utils/src/msgpack_decoder/decode/metrics.rs
  libdd-trace-utils/src/msgpack_decoder/decode/string.rs
  libdd-trace-utils/src/msgpack_decoder/v04/span.rs
  libdd-trace-utils/src/msgpack_decoder/v05/mod.rs
Due: libdd-trace-utils

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
