Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

add multipart form-data upload support
  libdd-http-client/Cargo.toml
  libdd-http-client/README.md
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/src/lib.rs
  libdd-http-client/src/request.rs
  libdd-http-client/tests/multipart_test.rs
Due: none

add hyper backend and shared multipart encoder
  .github/workflows/test.yml
  Cargo.lock
  libdd-common/src/lib.rs
  libdd-common/src/multipart.rs
  libdd-http-client/Cargo.toml
  libdd-http-client/README.md
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/mod.rs
  libdd-http-client/src/client.rs
  libdd-http-client/src/lib.rs
Due: libdd-common

chore: move new() to Backend trait
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/mod.rs
  libdd-http-client/src/backend/reqwest_backend.rs
Due: none

chore: update libdd-common deps of libdd-http-client
  libdd-http-client/Cargo.toml
Due: none

add tests for windows named pipes
  libdd-http-client/tests/retry_test.rs
  libdd-http-client/tests/timeout_test.rs
  libdd-http-client/tests/windows_named_pipe.rs
Due: none

add response and fips tests
  libdd-http-client/Cargo.toml
  libdd-http-client/src/response.rs
  libdd-http-client/tests/fips_test.rs
Due: none

fix(libdd-http-client): resolve --all-features conflict between backends
  libdd-http-client/src/backend/mod.rs
  libdd-http-client/src/client.rs
  libdd-http-client/src/lib.rs
Due: none

chore: improve compile-time directive in http client
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/src/client.rs
  libdd-http-client/src/lib.rs
Due: none

add README
  libdd-http-client/README.md
Due: none

Add missing cbindgen file
  datadog-sidecar-appsec-ffi/cbindgen.toml
Due: datadog-sidecar

fix(ci): handle new crate addition in semver-check
  scripts/semver-level.sh
Due: none

feat(library-config): make libdd-library-config and libdd-library-config-ffi no_std compatible
  Cargo.lock
  libdd-library-config-ffi/Cargo.toml
  libdd-library-config-ffi/src/lib.rs
  libdd-library-config/Cargo.toml
  libdd-library-config/src/lib.rs
  libdd-profiling-ffi/Cargo.toml
Due: libdd-profiling, libdd-profiling-ffi

feat(library-config-ffi): add global allocator for no_std builds
  Cargo.lock
  Cargo.toml
  libdd-library-config-ffi/Cargo.toml
  libdd-library-config-ffi/src/lib.rs
Due: none

Add integration test for errno preservation
  Cargo.lock
  bin_tests/Cargo.toml
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_016_errno_preservation.rs
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

feat(library-config-ffi): enable FFI configurator functions in no_std builds
  libdd-library-config-ffi/src/lib.rs
Due: none

feat(library-config-ffi): make LibraryConfig available in no_std builds
  libdd-library-config-ffi/src/lib.rs
Due: none

refactor(library-config-ffi): use alloc::ffi::CString directly in no_std
  libdd-library-config-ffi/src/lib.rs
Due: none

update cargo.lock
  Cargo.lock
Due: none

update aws-lc-sys, aws-lc-fips-sys, aws-lc-rs due to dependabot security issues
  Cargo.lock
  libdd-common/Cargo.toml
  libdd-profiling/Cargo.toml
Due: libdd-common, libdd-profiling

remove outbound http requests in unit tests
  libdd-common/src/connector/mod.rs
Due: libdd-common

vianney review
  libdd-data-pipeline/src/agent_info/fetcher.rs
Due: libdd-data-pipeline

chore: fix windows compilation errors
  examples/ffi/CMakeLists.txt
  examples/ffi/array_queue.cpp
  examples/ffi/crashinfo.cpp
  examples/ffi/library_config.c
  examples/ffi/profile_intern.cpp
Due: none

fix(obfuscation/redis): fuzzer fixes [APMSP-2670] (#1694)
  libdd-trace-obfuscation/src/redis.rs
  libdd-trace-obfuscation/src/redis_tokenizer.rs
Due: libdd-trace-obfuscation

refactor(profiling): split upload function
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/exporter/profile_exporter.rs
Due: libdd-profiling, libdd-profiling-ffi

chore: allow runnin the full set of tests on merge queue branches
  .github/workflows/test-ffi.yml
  .github/workflows/test.yml
Due: none

fix(ci): handle new crate addition in semver-check (#1769)
  scripts/semver-level.sh
Due: none

fix(trace-stats): rename wrongly cased stats fields
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb.rs
Due: libdd-trace-protobuf

feat(agents)!: retrieve container tags hash from /info endpoint (#1700)
  datadog-sidecar-ffi/src/lib.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline, datadog-sidecar, datdog-sidecar-ffi

chore(examples): add compilation flags to prevent logic errors (#1766)
  examples/ffi/CMakeLists.txt
  examples/ffi/array_queue.cpp
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking_unhandled_exception.c
  examples/ffi/exporter.cpp
  examples/ffi/library_config.c
  examples/ffi/profile_intern.cpp
  examples/ffi/telemetry.c
  examples/ffi/telemetry_metrics.c
  examples/ffi/trace_exporter.c
Due: none

fix(library-config-ffi): exclude common.h types from cbindgen output
  libdd-library-config-ffi/cbindgen.toml
Due: none

add a reverse map from sample types to indicies
  Cargo.lock
  libdd-profiling/Cargo.toml
  libdd-profiling/src/api/sample_type.rs
  libdd-profiling/src/internal/otel_style_observation.rs
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling

wip: telemetry feature
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline-ffi/src/error.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/examples/send-traces-with-stats.rs
  libdd-data-pipeline/src/lib.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/error.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore(libdd-data-pipeline): opt-in health metrics
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

chore(crashtracking): preserve errno for crashtracker (#1767)
  Cargo.lock
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector/crash_handler.rs
Due: libdd-crashtracker

spawn_worker: add IntoRawHandle to Windows imports
  spawn_worker/src/win32.rs
Due: spawn-worker
