Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

Remove reference to nonexisting team
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Remove reference to nonexisting team (#417)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update README.md
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

have a way of differentating between Unix socket and child process receiver
  crashtracker/src/crash_handler.rs
Due: crashtracker

remove unnecessary clippy allow for needless collect in sidecar interface
  sidecar/src/interface.rs
Due: sidecar

refactor sidecar RuntimeInfo from interface.rs to separate file
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Due: sidecar

sidecar - refactor enqueued_telemetry_data and enqueued_telemetry_stats to separate files
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  sidecar/src/service/telemetry/enqueued_telemetry_stats.rs
  sidecar/src/service/telemetry/mod.rs
Due: sidecar

refactor sidecar_interface from interface.rs to separate file
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_interface.rs
Due: sidecar

Add rustdoc comments for public sidecar_server methods
  sidecar/src/service/sidecar_server.rs
Due: sidecar

Reduce visibility scope of types after sidecar::interface refactor
  sidecar-ffi/src/lib.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/request_identification.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/mod.rs
  sidecar/src/service/tracing/trace_flusher.rs
Due: sidecar, sidecar-ffi

Move SidecarStats and AppOrQueue structs to more appropriate locations.
  sidecar/src/service/mod.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/mod.rs
  sidecar/src/service/tracing/mod.rs
Due: sidecar

Refactor sidecar::interface::SessionInfo to its own file.
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/session_info.rs
Due: sidecar

refactor sidecar::AppInstance in to separate file
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/app_instance.rs
  sidecar/src/service/telemetry/mod.rs
Due: sidecar

extract session interceptor into separate function in sidecar_server
  sidecar/src/service/sidecar_server.rs
Due: sidecar

sidecar server - move logic for processing of interceptor response
  sidecar/src/service/sidecar_server.rs
Due: sidecar

refactor SidecarStats to telemetry namespace
  sidecar/src/interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  sidecar/src/service/telemetry/mod.rs
Due: sidecar

refactor Sidecar::Interface::InstanceId to separate file
  sidecar-ffi/src/lib.rs
  sidecar/src/interface.rs
  sidecar/src/lib.rs
  sidecar/src/service/instance_id.rs
  sidecar/src/service/mod.rs
Due: sidecar, sidecar-ffi

Sidecar - move SessionConfig, SidecarAction, and ApporQueue structs
  sidecar-ffi/src/lib.rs
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
Due: sidecar, sidecar-ffi

refactor complex type in sidecar RuntimeInfo
  sidecar/src/service/mod.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Due: sidecar

refactor RequestIdentifier and RequqestIdentification to separate file
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/request_identification.rs
Due: sidecar

minor cleanup of sidecar::interface file.
  sidecar/src/interface.rs
Due: sidecar

refactor Sidecar::SidecarServer to separate file
  sidecar/src/entry.rs
  sidecar/src/interface.rs
  sidecar/src/self_telemetry.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
Due: sidecar

sidecar - refactor tracing logic in interface.rs to separate files
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/tracing/mod.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/service/tracing/trace_send_data.rs
Due: sidecar

Minor tweak to sidecar session_info::shutdown_runtime to reduce mutex lock scope
  sidecar/src/service/session_info.rs
Due: sidecar

refactor sidecar::interface::RuntimeMeta to separate file
  sidecar-ffi/src/lib.rs
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/runtime_metadata.rs
Due: sidecar, sidecar-ffi

Move blocking sidecar_interface to separate file
  sidecar-ffi/src/lib.rs
  sidecar/src/entry.rs
  sidecar/src/interface.rs
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/mod.rs
Due: sidecar, sidecar-ffi

refactor Sidecar::Interface::QueueId to a separate file.
  sidecar-ffi/src/lib.rs
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/queue_id.rs
Due: sidecar, sidecar-ffi

refactor Sidecar::Interface::SerializedTracerHeaderTags to a separate file
  sidecar-ffi/src/lib.rs
  sidecar/src/interface.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
Due: sidecar, sidecar-ffi

refactor sidecar/interface.rs into smaller files (#395)
  sidecar-ffi/src/lib.rs
  sidecar/src/entry.rs
  sidecar/src/interface.rs
  sidecar/src/lib.rs
  sidecar/src/self_telemetry.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/instance_id.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/queue_id.rs
  sidecar/src/service/request_identification.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/runtime_metadata.rs
  sidecar/src/service/serialized_tracer_header_tags.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/app_instance.rs
  sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  sidecar/src/service/telemetry/enqueued_telemetry_stats.rs
  sidecar/src/service/telemetry/mod.rs
  sidecar/src/service/tracing/mod.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/service/tracing/trace_send_data.rs
Due: sidecar, sidecar-ffi

[PROF-9742] Package libdatadog v9.0.0 for Ruby
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

[PROF-8917] Add Ruby helper to get `ld_library_path` for libdatadog
  ruby/lib/libdatadog.rb
  ruby/spec/libdatadog_spec.rb
Due: none

build: bump version in datadog-alloc
  Cargo.lock
Due: none

refactor(profiling): backup sample types/period
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/replayer.rs
  profiling/examples/profiles.rs
  profiling/src/api.rs
  profiling/src/internal/mod.rs
  profiling/src/internal/owned_types.rs
  profiling/src/internal/profile.rs
Due: profiling, profiling-ffi

refactor(profiling): backup sample types/period (#403)
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/replayer.rs
  profiling/examples/profiles.rs
  profiling/src/api.rs
  profiling/src/internal/mod.rs
  profiling/src/internal/owned_types.rs
  profiling/src/internal/profile.rs
Due: profiling, profiling-ffi

doc: unsafe blocks
  alloc/src/chain.rs
Due: none

feat: add code coverage to alloc crate
  .codecov.yml
  .github/workflows/coverage.yml
Due: none

Run tests with nextest and publish results
  .config/nextest.toml
  .github/workflows/coverage.yml
  .github/workflows/miri.yml
  .github/workflows/test.yml
  README.md
  crashtracker/src/api.rs
  ddcommon-ffi/src/slice.rs
  ddcommon-ffi/src/vec.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/metrics.rs
  ipc/src/platform/unix/mod.rs
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/profiles.rs
  profiling/src/api.rs
  profiling/src/collections/identifiable/mod.rs
  profiling/src/internal/observation/observations.rs
  profiling/src/internal/observation/trimmed_observation.rs
  profiling/src/internal/profile.rs
  profiling/src/pprof/proto.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/log.rs
  spawn_worker/src/unix/fork.rs
Due: crashtracker, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, sidecar, sidecar-ffi, spawn-worker

Move away from deprecated github action versions
  .github/actions/cache/action.yaml
  .github/labeler.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/nightly-verify-proto-files.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/publish-serverless-agent.yml
  .github/workflows/test-ruby.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  ipc/tarpc/.github/workflows/main.yml
Due: ipc
