Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

feat(http-client-ffi): add C ABI for HttpClient (Task 9a core)
  Cargo.lock
  Cargo.toml
  builder/Cargo.toml
  builder/src/bin/release.rs
  builder/src/profiling.rs
  examples/ffi/CMakeLists.txt
  examples/ffi/build-examples.sh
  examples/ffi/http_client.c
  libdd-http-client-ffi/Cargo.toml
  libdd-http-client-ffi/build.rs
  libdd-http-client-ffi/cbindgen.toml
  libdd-http-client-ffi/include/datadog/http_client.h
  libdd-http-client-ffi/src/client.rs
  libdd-http-client-ffi/src/error.rs
  libdd-http-client-ffi/src/lib.rs
  libdd-http-client-ffi/src/request.rs
  libdd-http-client-ffi/src/response.rs
  libdd-http-client-ffi/src/send.rs
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-ffi/src/lib.rs
  tools/src/bin/ffi_test.rs
Due: libdd-profiling, libdd-profiling-ffi

feat(http-client-ffi): multipart, retry, and FIPS init (Task 9b)
  Cargo.toml
  examples/ffi/http_client.c
  libdd-http-client-ffi/Cargo.toml
  libdd-http-client-ffi/cbindgen.toml
  libdd-http-client-ffi/include/datadog/http_client.h
  libdd-http-client-ffi/src/client.rs
  libdd-http-client-ffi/src/lib.rs
  libdd-http-client-ffi/src/multipart.rs
  libdd-http-client-ffi/src/request.rs
  libdd-http-client-ffi/src/retry.rs
Due: none

feat(crashtracking)!: collect all threads (#1878)
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/src/modes/unix/test_018_thread_limit.rs
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_7.json
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/error_data.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-crashtracker/src/lib.rs
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/builder.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
  libdd-crashtracker/src/shared/constants.rs
Due: libdd-crashtracker

feat(agent-client-ffi): add C ABI for AgentClient (Task 10)
  Cargo.lock
  Cargo.toml
  builder/Cargo.toml
  builder/src/bin/release.rs
  builder/src/profiling.rs
  examples/ffi/CMakeLists.txt
  examples/ffi/agent_client.c
  examples/ffi/build-examples.sh
  libdd-agent-client-ffi/Cargo.toml
  libdd-agent-client-ffi/build.rs
  libdd-agent-client-ffi/cbindgen.toml
  libdd-agent-client-ffi/include/datadog/agent_client.h
  libdd-agent-client-ffi/src/agent_info.rs
  libdd-agent-client-ffi/src/builder.rs
  libdd-agent-client-ffi/src/error.rs
  libdd-agent-client-ffi/src/language_metadata.rs
  libdd-agent-client-ffi/src/lib.rs
  libdd-agent-client-ffi/src/response.rs
  libdd-agent-client-ffi/src/send.rs
  libdd-agent-client-ffi/src/string_slice.rs
  libdd-agent-client-ffi/src/telemetry.rs
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-ffi/src/lib.rs
  tools/src/bin/ffi_test.rs
Due: libdd-profiling, libdd-profiling-ffi

Update CT config ffi to reflect new config vals
  examples/ffi/crashtracking.c
  libdd-crashtracker-ffi/src/collector/datatypes.rs
Due: libdd-crashtracker, libdd-crashtracker-ffi

feat(crashtracking)!: update crashtracker config ffi to have values for collect all thread config (#1959)
  examples/ffi/crashtracking.c
  libdd-crashtracker-ffi/src/collector/datatypes.rs
Due: libdd-crashtracker, libdd-crashtracker-ffi

fix(profiling-ffi): Use `try_intern` instead of `intern` to avoid panicking in a `try_xxx` function (#1957)
  libdd-profiling/src/collections/string_table/error.rs
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling

v33.0.0
  Cargo.lock
  Cargo.toml
Due: none

chore(versioning): bump to v33.0.0 (#1960)
  Cargo.lock
  Cargo.toml
Due: none

fix(libdd-trace-obfuscation): revert random version bump
  Cargo.lock
  libdd-trace-obfuscation/Cargo.toml
Due: libdd-trace-obfuscation

refactor(remote-config): polish DI API + typed RemoteConfigContent trait
  Cargo.lock
  datadog-ffe/Cargo.toml
  datadog-ffe/src/remote_config.rs
  datadog-live-debugger/src/remote_config.rs
  datadog-remote-config/examples/remote_config_fetch.rs
  datadog-remote-config/src/file_storage.rs
  datadog-remote-config/src/lib.rs
  datadog-remote-config/src/parse.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-tracer-flare/src/lib.rs
Due: datadog-sidecar, libdd-tracer-flare

perf(sampling): change api to avoid collecting meta and metrics
  libdd-sampling/src/datadog_sampler.rs
  libdd-sampling/src/dd_sampling.rs
  libdd-sampling/src/sampling_rule.rs
  libdd-sampling/src/types.rs
  libdd-sampling/src/v04_span.rs
Due: none

chore(sampling): hook in the libdd-sampling crate
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  libdd-sampling/Cargo.toml
  libdd-sampling/src/dd_sampling.rs
  libdd-sampling/src/sampling_rule.rs
  libdd-sampling/src/sampling_rule_config.rs
Due: none

chore(sampling): add sampling types and benchmark for v04
  Cargo.lock
  benchmark/run_benchmarks_ci.sh
  libdd-sampling/Cargo.toml
  libdd-sampling/benches/sampling_bench.rs
  libdd-sampling/src/lib.rs
  libdd-sampling/src/v04_span.rs
Due: none

chore(sampling): appease the linting and miri gods
  .github/labeler.yml
  libdd-sampling/Cargo.toml
  libdd-sampling/src/datadog_sampler.rs
  libdd-sampling/src/rate_limiter.rs
  libdd-sampling/src/sampling_rule.rs
  libdd-sampling/src/v04_span.rs
  tools/docker/Dockerfile.build
Due: none

chore(sampling): move the libdd-sampling crate from dd-trace-rs
  .github/CODEOWNERS
  libdd-sampling/Cargo.toml
  libdd-sampling/src/agent_service_sampler.rs
  libdd-sampling/src/constants.rs
  libdd-sampling/src/datadog_sampler.rs
  libdd-sampling/src/dd_constants.rs
  libdd-sampling/src/dd_sampling.rs
  libdd-sampling/src/glob_matcher.rs
  libdd-sampling/src/lib.rs
  libdd-sampling/src/rate_limiter.rs
  libdd-sampling/src/rate_sampler.rs
  libdd-sampling/src/rules_sampler.rs
  libdd-sampling/src/sampling_rule.rs
  libdd-sampling/src/sampling_rule_config.rs
  libdd-sampling/src/types.rs
Due: none

chore(sampling): pr review feedback
  .codecov.yml
  libdd-common/src/lib.rs
  libdd-sampling/Cargo.toml
  libdd-sampling/benches/sampling_bench.rs
  libdd-sampling/src/agent_service_sampler.rs
  libdd-sampling/src/constants.rs
  libdd-sampling/src/datadog_sampler.rs
  libdd-sampling/src/dd_sampling.rs
  libdd-sampling/src/glob_matcher.rs
  libdd-sampling/src/lib.rs
  libdd-sampling/src/rate_limiter.rs
  libdd-sampling/src/rules_sampler.rs
  libdd-sampling/src/sampling_rule.rs
  libdd-sampling/src/sampling_rule_config.rs
  libdd-sampling/src/types.rs
  libdd-sampling/src/v04_span.rs
Due: libdd-common

fix(telemetry): include dependencies and integrations in app-extended-heartbeat
  Cargo.lock
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-telemetry/examples/tm-ping.rs
  libdd-telemetry/src/data/payload.rs
  libdd-telemetry/src/data/payloads.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-crashtracker, libdd-data-pipeline, libdd-telemetry

refactor(sampling): move the sampling logic from dd-trace-rs [APMSP-2946] (#1927)
  .codecov.yml
  .github/CODEOWNERS
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  benchmark/run_benchmarks_ci.sh
  libdd-common/src/lib.rs
  libdd-sampling/Cargo.toml
  libdd-sampling/benches/sampling_bench.rs
  libdd-sampling/src/agent_service_sampler.rs
  libdd-sampling/src/constants.rs
  libdd-sampling/src/datadog_sampler.rs
  libdd-sampling/src/dd_constants.rs
  libdd-sampling/src/dd_sampling.rs
  libdd-sampling/src/glob_matcher.rs
  libdd-sampling/src/lib.rs
  libdd-sampling/src/rate_limiter.rs
  libdd-sampling/src/rate_sampler.rs
  libdd-sampling/src/rules_sampler.rs
  libdd-sampling/src/sampling_rule.rs
  libdd-sampling/src/sampling_rule_config.rs
  libdd-sampling/src/types.rs
  libdd-sampling/src/v04_span.rs
  tools/docker/Dockerfile.build
Due: libdd-common

test(remote-config): cover parser registry edge cases + drop misleading anyhow alias
  datadog-remote-config/src/parse.rs
Due: none

feat(telemetry)!: include dependencies and integrations in app-extended-heartbeat (#1962)
  Cargo.lock
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-telemetry/examples/tm-ping.rs
  libdd-telemetry/src/data/payload.rs
  libdd-telemetry/src/data/payloads.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-crashtracker, libdd-data-pipeline, libdd-telemetry

normalize env tag in case span was skipped during normalization
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-trace-utils

apply formatting
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-trace-utils

add more unit tests
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-trace-utils

Create errorsintake crash ping directly from telemetry
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
Due: libdd-crashtracker

chore(docs): RFC 0015 opportunistic no_std
  docs/RFCs/0015-opportunistic-no-std.md
Due: none

feat(capablities): sleep & spawn capabilities
  Cargo.lock
  datadog-sidecar/src/service/agent_info.rs
  datadog-sidecar/src/service/stats_flusher.rs
  datadog-sidecar/src/service/tracing/trace_flusher.rs
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities-impl/README.md
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities-impl/src/sleep.rs
  libdd-capabilities-impl/src/spawn.rs
  libdd-capabilities/README.md
  libdd-capabilities/src/http.rs
  libdd-capabilities/src/lib.rs
  libdd-capabilities/src/sleep.rs
  libdd-capabilities/src/spawn.rs
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/send_with_retry/mod.rs
  libdd-trace-utils/src/send_with_retry/retry_strategy.rs
  libdd-trace-utils/src/stats_utils.rs
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
  libdd-trace-utils/tests/test_send_data.rs
Due: libdd-data-pipeline, datadog-sidecar, libdd-trace-utils

feat: laziely instantiate the httpclient in native so that it's closer to a ZST
  libdd-capabilities-impl/src/http.rs
Due: none

feat: use type of the SpawnCapability directly on Native
  Cargo.lock
  libdd-shared-runtime/Cargo.toml
  libdd-shared-runtime/src/lib.rs
Due: none

chore: rename sleeper to capabilites
  libdd-trace-utils/src/send_with_retry/retry_strategy.rs
Due: libdd-trace-utils

fix: remove RuntimeSpawner which was effectively a duplicate NativeSpawnCapability
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
Due: none

fix: remove spawner
  Cargo.lock
  libdd-capabilities-impl/README.md
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities-impl/src/spawn.rs
  libdd-capabilities/src/lib.rs
  libdd-capabilities/src/spawn.rs
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-shared-runtime/Cargo.toml
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

fix: remove references to spawn capability
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities-impl/src/spawn.rs
Due: none

revert: we still need tokio dependancy explicit here
  libdd-shared-runtime/Cargo.toml
Due: none

docs: add comment explaining stuff
  libdd-shared-runtime/src/shared_runtime/mod.rs
Due: none

feat: use sleep capability for the fetcher
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities-impl/src/sleep.rs
  libdd-capabilities/src/sleep.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

fix: keep runtime locked while spawning workers
  libdd-shared-runtime/src/shared_runtime/mod.rs
Due: none

feat: made tokio_spawn_fn a util function for native tasks instead of just a test util
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
Due: none

chore: fmt
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

nit: simplify code
  libdd-trace-utils/src/msgpack_encoder/v04/span.rs
Due: libdd-trace-utils

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
