Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

[crashtracker] Add tests for unix socket receiver, and mark slow tests ignore (#484)
  Cargo.lock
  LICENSE-3rdparty.yml
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_unix_socket_receiver.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
  crashtracker/src/receiver.rs
Due: crashtracker

[chore] Require all checks to pass on a PR
  .github/workflows/all-checks.yml
Due: none

Mark slow fuzz test miri ignore
  profiling/src/internal/profile/fuzz_tests.rs
Due: profiling

Retry 20 times
  .github/workflows/all-checks.yml
Due: none

fix indentation, see if that makes things better
  .github/workflows/all-checks.yml
Due: none

windows whackamole
  profiling-ffi/src/crashtracker/crash_info.rs
Due: profiling, profiling-ffi

[crashtracker] Take relative address and build id for remote symbolication (#473)
  crashtracker/src/crash_info.rs
  crashtracker/src/lib.rs
  crashtracker/src/stacktrace.rs
  profiling-ffi/src/crashtracker/crash_info.rs
  profiling-ffi/src/crashtracker/datatypes.rs
Due: crashtracker, profiling, profiling-ffi

Make it 30 minutes to give a better buffer for long running jobs
  .github/workflows/all-checks.yml
Due: none

Add support for handling v04 payloads.
  trace-utils/src/lib.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
Due: trace-utils

Change trace exporter, mini-agent and sidecar to handle TracerPayloadCollection type.
  data-pipeline/src/trace_exporter.rs
  sidecar/src/service/sidecar_server.rs
  trace-mini-agent/src/trace_processor.rs
Due: data-pipeline, sidecar, trace-mini-agent

bump hyper-rustls to 0.25
  Cargo.lock
  trace-utils/Cargo.toml
  trace-utils/src/stats_utils.rs
Due: trace-utils

update license
  LICENSE-3rdparty.yml
Due: none

Change url to use v0.4 endpoint when traces are sent to the agent.
  sidecar/src/tracer.rs
Due: sidecar

Add drop function on Telemetry builder object
  ddtelemetry-ffi/src/builder.rs
Due: ddtelemetry

Send whole collection instead of each trace separately.
  trace-utils/src/send_data/mod.rs
Due: trace-utils

feat: add Lambda
  trace-utils/src/config_utils.rs
  trace-utils/src/trace_utils.rs
Due: trace-utils

feat: env verifier
  trace-mini-agent/src/env_verifier.rs
Due: trace-mini-agent

add default values for peer_tags and is_trace_root when generating trace metrics
  trace-protobuf/src/pb.rs
Due: trace-protobuf

Remove coalesce data.
  sidecar/src/service/tracing/trace_flusher.rs
  trace-utils/src/send_data/mod.rs
Due: sidecar, trace-utils

Enable trace_api_bytes
  sidecar/src/self_telemetry.rs
Due: sidecar

Add trace.
  trace-utils/src/send_data/mod.rs
Due: trace-utils

Fix trace count.
  trace-utils/src/tracer_payload.rs
Due: trace-utils

Remove todo comments
  ddtelemetry/src/worker/mod.rs
Due: ddtelemetry

Remove unnecessary TODO comment from trace_utils.rs
  trace-utils/src/trace_utils.rs
Due: trace-utils

Remove unnecessary TODO comment from trace_utils.rs (#495)
  trace-utils/src/trace_utils.rs
Due: trace-utils

feat: set origin tag correctly
  trace-utils/src/trace_utils.rs
Due: trace-utils

blazesym update - Add a lifetime parameter
  crashtracker/src/stacktrace.rs
Due: crashtracker

PR comments
  .github/workflows/all-checks.yml
Due: none

[chore] Fix issue with the 'lint' github action
  .github/workflows/lint.yml
Due: none

Refactor and test parsing and evaluating
  Cargo.lock
  ddcommon-ffi/src/option.rs
  ddcommon-ffi/src/slice.rs
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/parse.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/parse_json_expr.rs
  live-debugger/src/parse_util.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
Due: ddcommon, ddcommon-ffi, sidecar, sidecar-ffi

[chore] Require all checks to pass on a PR (#490)
  .github/workflows/all-checks.yml
  profiling/src/internal/profile/fuzz_tests.rs
Due: profiling

use actionlint
  .github/workflows/lint.yml
Due: none

run on PR and push
  .github/workflows/lint.yml
Due: none

temp suppress Double quote to prevent globbing and word splitting [shellcheck]
  .github/workflows/lint.yml
Due: none

Fix: Use ./*glob* or -- *glob* so names with dashes won't become options
  .github/workflows/publish-serverless-agent.yml
Due: none

Try to fix SC2046
  .github/workflows/lint.yml
Due: none

Fix find/xargs lint SC2038
  .github/workflows/lint.yml
Due: none

debug: what is v5 sending us
  trace-utils/src/trace_utils.rs
Due: trace-utils

[chore] Add actionlint to CI, and fix issues it detects (#496)
  .github/workflows/lint.yml
  .github/workflows/publish-serverless-agent.yml
Due: none

revert
  trace-utils/src/trace_utils.rs
Due: trace-utils
