Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

Update rustls-native-certs to 0.8 because otherwise we add depend on two different versions
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
Due: ddcommon

Remove target feature
  crashtracker-ffi/Cargo.toml
Due: crashtracker

fix(ddcommon): Support 32bit in rate-limiter
  ddcommon/src/rate_limiter.rs
Due: ddcommon

fix warning on windows
  examples/ffi/profile_intern.cpp
Due: none

ci: update docker/bake-action
  .github/workflows/test.yml
Due: none

tokio tracing
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/ffi_logger.rs
Due: data-pipeline, data-pipeline-ffi

Update ddcommon/src/rate_limiter.rs
  ddcommon/src/rate_limiter.rs
Due: ddcommon

ci: update docker/bake-action (#967)
  .github/workflows/test.yml
Due: none

[Profiler] Implement interning API (#917)
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/slice_mut.rs
  examples/ffi/CMakeLists.txt
  examples/ffi/exporter.cpp
  examples/ffi/profile_intern.cpp
  examples/ffi/profiles.c
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/profiles/datatypes.rs
  profiling-ffi/src/profiles/interning_api.rs
  profiling-ffi/src/profiles/mod.rs
  profiling-ffi/src/string_storage.rs
  profiling/src/api.rs
  profiling/src/collections/identifiable/string_id.rs
  profiling/src/internal/function.rs
  profiling/src/internal/label.rs
  profiling/src/internal/location.rs
  profiling/src/internal/mapping.rs
  profiling/src/internal/profile/interning_api/generational_ids.rs
  profiling/src/internal/profile/interning_api/mod.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/sample.rs
  profiling/src/internal/stack_trace.rs
Due: ddcommon, ddcommon-ffi, profiling, profiling-ffi

Use cached default connector in hyper_migration.rs
  ddcommon/src/hyper_migration.rs
Due: ddcommon

Use cached default connector in hyper_migration.rs (#968)
  ddcommon/src/hyper_migration.rs
Due: ddcommon

feat: structured logging
  data-pipeline-ffi/src/ffi_logger.rs
  examples/logging/Console/Program.cs
Due: data-pipeline, data-pipeline-ffi

Fix 32bit in rate-limiter (#964)
  ddcommon/src/rate_limiter.rs
Due: ddcommon

[profiler] Don't prefix CancelationToken with prof_
  examples/ffi/exporter.cpp
  profiling-ffi/cbindgen.toml
Due: profiling, profiling-ffi

Make Connector::new() non-public
  ddcommon/src/connector/mod.rs
Due: ddcommon

Switch ENOTSUP and ENOSYS in shm_open fallback
  ipc/src/platform/unix/mem_handle.rs
Due: ipc

Switch ENOTSUP and ENOSYS in shm_open fallback (#969)
  ddcommon/src/connector/mod.rs
  ipc/src/platform/unix/mem_handle.rs
Due: ddcommon, ipc

(chore) Fix lint
  tools/docker/Dockerfile.build
Due: none

chore(ddcommon): Update rustls-native-certs to 0.8 (#965)
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
Due: ddcommon

enhance LogEvent structure with message field and update logging methods for structured logging
  data-pipeline-ffi/src/ffi_logger.rs
  examples/logging/Console/Program.cs
Due: data-pipeline, data-pipeline-ffi

integrate Serilog for structured logging and update logging methods
  examples/logging/Console/Console.csproj
  examples/logging/Console/Program.cs
Due: none

Move export to sidecar-ffi
  sidecar-ffi/Cargo.toml
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar/src/windows.rs
Due: sidecar, sidecar-ffi

lint
  sidecar/src/windows.rs
Due: sidecar

Add cargo.lock
  Cargo.lock
Due: none

Move ddog_setup_crashtracking export to sidecar-ffi (#976)
  Cargo.lock
  sidecar-ffi/Cargo.toml
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar/src/windows.rs
Due: sidecar, sidecar-ffi

remove dogstatsd version from dependency
  serverless/Cargo.toml
Due: serverless

test: skip certain tests on macos+miri
  data-pipeline-ffi/src/trace_exporter.rs
  trace-utils/src/trace_utils.rs
Due: data-pipeline, data-pipeline-ffi, trace-utils

style: fix dockerfile lint (#974)
  tools/docker/Dockerfile.build
Due: none

Add the source to the LibraryConfig struct
  library-config-ffi/src/lib.rs
Due: none

Fix REDACTED_NAMES_INITIALIZED
  live-debugger/src/redacted_names.rs
Due: none

Fix REDACTED_NAMES_INITIALIZED (#979)
  live-debugger/src/redacted_names.rs
Due: none

[profiler] Don't prefix CancelationToken with prof_ (#972)
  examples/ffi/exporter.cpp
  profiling-ffi/cbindgen.toml
Due: profiling, profiling-ffi

Add the source to the LibraryConfig struct (#978)
  library-config-ffi/src/lib.rs
Due: none
