Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

test more than one check
  dogstatsd/src/aggregator.rs
  dogstatsd/src/datadog.rs
Due: none

Make ExporterResponse opaque and add getter for body
  data-pipeline-ffi/src/response.rs
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

sanity check
  dogstatsd/src/aggregator.rs
Due: none

profiling: update DatadogConfig cmake to be used for windows builds (#853)
  cmake/DatadogConfig.cmake.in
Due: none

[crashtracker] Enable client to configure which signals to trap
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/crash_info/sig_info.rs
  crashtracker/src/receiver/mod.rs
  crashtracker/src/shared/configuration.rs
  examples/ffi/crashtracking.c
Due: crashtracker

apply to sketches
  dogstatsd/src/aggregator.rs
  dogstatsd/src/datadog.rs
Due: none

Ensure _DD_DEBUG_SIDECAR_LOG_LEVEL is kept as a permanent min log level
  sidecar/src/log.rs
Due: sidecar

Log crashtracker errors in sidecar
  crashtracker/src/lib.rs
  crashtracker/src/receiver/entry_points.rs
  crashtracker/src/receiver/mod.rs
  sidecar/src/entry.rs
  sidecar/src/log.rs
Due: crashtracker, sidecar

Avoid resetting the sidecar session on fork
  remote-config/src/fetch/multitarget.rs
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/entry.rs
  sidecar/src/log.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/tracing/trace_flusher.rs
  tinybytes/src/bytes_string.rs
Due: sidecar, sidecar-ffi

formatting
  dogstatsd/src/datadog.rs
Due: none

wip, broken
  data-pipeline/tests/test_trace_exporter.rs
Due: data-pipeline

APMSP-1779 add span deserialization and Payload collection construction to send data integration tests
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/tests/test_send_data.rs
Due: trace-mini-agent, trace-utils

WIP: refactor send_deser_ser
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

return the offending key when decoding v04 msgpack spans
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
Due: trace-utils

add origins list
  dogstatsd/src/aggregator.rs
  dogstatsd/src/lib.rs
Due: none

metrics origins
  dogstatsd/src/metrics_origins.rs
Due: none

Don't use non linux enums on linux
  crashtracker/src/crash_info/sig_info.rs
Due: crashtracker

fix linux only tests
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/lib.rs
  crashtracker/src/receiver/mod.rs
Due: crashtracker

try improving api
  crashtracker-ffi/src/crash_info/builder.rs
Due: crashtracker

Move around StringWrapper and co, so only one declaration/definition exist
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/demangler/datatypes.rs
  crashtracker-ffi/src/demangler/mod.rs
  ddcommon-ffi/src/string.rs
  examples/ffi/crashinfo.cpp
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/string_storage.rs
Due: crashtracker, ddcommon, ddcommon-ffi, profiling, profiling-ffi

Add code in example
  crashtracker-ffi/src/crash_info/sig_info.rs
  examples/ffi/crashinfo.cpp
Due: crashtracker

Clean up
  crashtracker-ffi/src/crash_info/sig_info.rs
  crashtracker/src/crash_info/stacktrace.rs
  examples/ffi/crashinfo.cpp
Due: crashtracker

Use usize instead of string in the FFI api
  crashtracker-ffi/src/crash_info/stackframe.rs
  ddcommon-ffi/src/string.rs
  examples/ffi/crashinfo.cpp
Due: crashtracker, ddcommon, ddcommon-ffi

Shorten some types name
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker-ffi/src/crash_info/stackframe.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  examples/ffi/crashinfo.cpp
Due: crashtracker

Address PR comment
  crashtracker-ffi/src/crash_info/stackframe.rs
  ddcommon-ffi/src/string.rs
  ddcommon-ffi/src/utils.rs
Due: crashtracker, ddcommon, ddcommon-ffi

[crashtracking] Little improvements to the FFI api (#842)
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/crash_info/builder.rs
  crashtracker-ffi/src/crash_info/stackframe.rs
  crashtracker-ffi/src/crash_info/stacktrace.rs
  crashtracker-ffi/src/demangler/datatypes.rs
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker/src/crash_info/stacktrace.rs
  ddcommon-ffi/src/string.rs
  ddcommon-ffi/src/utils.rs
  examples/ffi/crashinfo.cpp
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/string_storage.rs
Due: crashtracker, ddcommon, ddcommon-ffi, profiling, profiling-ffi

Prepare for new release
  Cargo.lock
  Cargo.toml
Due: none

Prepare for new release (#858)
  Cargo.lock
  Cargo.toml
Due: none

Make runtime id configurable in the trace exporter.
  data-pipeline/src/telemetry/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

Make runtime id configurable in the trace exporter. (#849)
  data-pipeline/src/telemetry/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

* Add Target enum with platform detection * expose path dependending on target for wasm intergation
  library-config/src/lib.rs
Due: none

Rename APM TRACING ENABLED configuration to correct name
  library-config-ffi/src/lib.rs
  library-config/src/lib.rs
Due: none

[library-configuration] Expose config file path for wasm dependencies (#860)
  library-config-ffi/src/lib.rs
  library-config/src/lib.rs
Due: none

Raise libdatadog to 16.0.1 in preparation for patch release
  Cargo.toml
Due: none

Update cargo lock file
  Cargo.lock
Due: none

Raise libdatadog to 16.0.1 in preparation for patch release (#861)
  Cargo.lock
  Cargo.toml
Due: none

Revert remove service name setter
  data-pipeline-ffi/src/response.rs
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

wip
  data-pipeline/tests/test_trace_exporter.rs
Due: data-pipeline

other serverless types
  dogstatsd/src/metrics_origins.rs
Due: none
