Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

bump datadog-serverless-trace-mini-agent version to 0.6.0
  Cargo.lock
  serverless/Cargo.toml
Due: serverless

bump datadog-serverless-trace-mini-agent version to 0.6.0 (#555)
  Cargo.lock
  serverless/Cargo.toml
Due: serverless

Make clippy happy
  sidecar/src/windows.rs
Due: sidecar

Use the Windows User ID as sidecar identifier instead of the Session ID (#558)
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/setup/windows.rs
  sidecar/src/windows.rs
Due: sidecar

Update crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/mod.rs
Due: crashtracker

rename to datadog-crashtracker-ffi
  Cargo.lock
  crashtracker-ffi/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
Due: crashtracker, profiling, profiling-ffi

[Serverless Mini Agent] Add _dd.mini_agent_version tag to all spans for Azure Functions, Google Cloud Functions, and Azure Spring Apps (#548)
  Cargo.lock
  serverless/src/main.rs
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Due: serverless, trace-mini-agent, trace-utils

function name
  crashtracker-ffi/src/collector/mod.rs
Due: crashtracker

_crasht_
  crashtracker-ffi/src/receiver.rs
  crashtracker/libdatadog-crashtracking-receiver.c
Due: crashtracker

[Serverless Mini Agent] Run in Azure Spring Apps (#547)
  trace-mini-agent/Cargo.toml
  trace-mini-agent/src/env_verifier.rs
  trace-mini-agent/src/http_utils.rs
  trace-mini-agent/src/mini_agent.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/config_utils.rs
  trace-utils/src/trace_utils.rs
Due: trace-mini-agent, trace-utils

go with lib for the ffi crate
  crashtracker-ffi/Cargo.toml
Due: crashtracker

_crasht_
  crashtracker-ffi/cbindgen.toml
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/crash_info/mod.rs
  examples/ffi/crashinfo.cpp
  examples/ffi/crashtracking.c
Due: crashtracker

delete when error
  examples/ffi/array_queue.cpp
Due: none

add license
  LICENSE-3rdparty.yml
  profiling-ffi/src/array_queue.rs
Due: profiling, profiling-ffi

cargo fmt
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

cargo clippy
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

Discard changes to profiling-ffi/cbindgen.toml
  profiling-ffi/cbindgen.toml
Due: profiling, profiling-ffi

safety comment
  ddcommon-ffi/src/array_queue.rs
  examples/ffi/array_queue.cpp
Due: ddcommon, ddcommon-ffi

update cbindgen
  ddcommon-ffi/cbindgen.toml
Due: ddcommon, ddcommon-ffi

resolve more comments
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

make compiler happy again
  examples/ffi/CMakeLists.txt
Due: none

Discard changes to examples/ffi/cmake_install.cmake
  examples/ffi/cmake_install.cmake
Due: none

push another
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

fix typo
  LICENSE-3rdparty.yml
Due: none

no leak
  ddcommon-ffi/src/array_queue.rs
  examples/ffi/array_queue.cpp
Due: ddcommon, ddcommon-ffi

single thread fuzzing
  Cargo.lock
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

put in ddcommon-ffi
  Cargo.lock
  ddcommon-ffi/Cargo.toml
  ddcommon-ffi/cbindgen.toml
  ddcommon-ffi/src/array_queue.rs
  ddcommon-ffi/src/lib.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/lib.rs
Due: ddcommon, ddcommon-ffi, profiling, profiling-ffi

clippy fix
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

len,is_empty,pop
  profiling-ffi/src/array_queue.rs
Due: profiling, profiling-ffi

array_queue
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling-ffi/src/array_queue.rs
  profiling-ffi/src/lib.rs
Due: profiling, profiling-ffi

use as_inner_ref
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

safety comments
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

compiles
  ddcommon-ffi/src/array_queue.rs
  examples/ffi/.gitignore
  examples/ffi/CMakeLists.txt
  examples/ffi/array_queue.cpp
  examples/ffi/cmake_install.cmake
  examples/ffi/crashinfo.cpp
Due: ddcommon, ddcommon-ffi

not sure whether this is right way? but builds and passes lint
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/array_queue.rs
  profiling/Cargo.toml
  profiling/src/internal/array_queue.rs
  profiling/src/internal/mod.rs
Due: profiling, profiling-ffi

compiles
  profiling-ffi/src/array_queue.rs
Due: profiling, profiling-ffi

address comments
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

fix lint
  profiling-ffi/src/array_queue.rs
Due: profiling, profiling-ffi

Discard changes to examples/ffi/crashinfo.cpp
  examples/ffi/crashinfo.cpp
Due: none

fix miri
  ddcommon-ffi/src/array_queue.rs
Due: ddcommon, ddcommon-ffi

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
