Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

Add metadata headers for stats
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Refactor to support different target compilations.
  Cargo.lock
  builder/Cargo.toml
  builder/build/data_pipeline.rs
  builder/build/main.rs
  builder/build/symbolizer.rs
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/mod.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/bin/dummy.rs
  builder/src/bin/release.rs
  builder/src/common.rs
  builder/src/crashtracker.rs
  builder/src/dd_builder.rs
  builder/src/lib.rs
  builder/src/module.rs
  builder/src/profiling.rs
  builder/src/utils.rs
  tools/src/bin/dedup_headers.rs
  tools/src/lib.rs
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Due: none

Fix CI scripts to use the new release binary.
  .github/workflows/test.yml
  windows/build-artifacts.ps1
Due: none

Ruby stuff
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

use macos-13
  .github/workflows/test.yml
Due: none

chore(ci): stop using macos-12 in github actions (#710)
  .github/workflows/test.yml
Due: none

v14.0.0 release for Ruby (#709)
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

Collect agent info from sidecar
  Cargo.lock
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/agent_info/schema.rs
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/agent_info.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Due: data-pipeline, sidecar, sidecar-ffi

Add comments and test for AgentInfo in sidecar
  sidecar/src/service/agent_info.rs
Due: sidecar

Fix compilation in alpine.
  builder/build/main.rs
  builder/src/bin/release.rs
  builder/src/builder.rs
  builder/src/lib.rs
  tools/docker/Dockerfile.build
Due: none

Save more space in centos7.
  .github/workflows/test.yml
Due: none

Fix gitlab build
  windows/build-artifacts.ps1
Due: none

hack to fix the issue
  builder/src/profiling.rs
Due: none

Fix x86 build
  builder/src/bin/release.rs
  windows/build-artifacts.ps1
Due: none

Fix format
  builder/src/bin/release.rs
  builder/src/lib.rs
  builder/src/profiling.rs
Due: none

Try building the old way to see if it fails or not
  windows/build-artifacts.ps1
Due: none

Disable benchmarking on builder.
  builder/Cargo.toml
Due: none

Fix merge error.
  builder/src/bin/release.rs
  builder/src/lib.rs
  builder/src/profiling.rs
Due: none

Collect agent info from sidecar (#701)
  Cargo.lock
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/agent_info/schema.rs
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/agent_info.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
Due: data-pipeline, sidecar, sidecar-ffi

Add commit_sha and interpreter_vendor to metadata
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Disable test.
  builder/Cargo.toml
Due: none

Fix SA_ONSTACK enablement
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Add doc for TraceExporterBuilder
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Add tests
  crashtracker/src/collector/api.rs
Due: crashtracker

These tests should only run on Linux
  crashtracker/src/collector/api.rs
Due: crashtracker

Ignore Miri, since it can't support fork
  crashtracker/src/collector/api.rs
Due: crashtracker

Fix examples.
  builder/src/builder.rs
  builder/src/lib.rs
  builder/src/module.rs
Due: none

Be more specific about the paradox test
  crashtracker/src/collector/api.rs
Due: crashtracker

Revert "Try building the old way to see if it fails or not"
  windows/build-artifacts.ps1
Due: none

Pass RUSTFLAGS to each architecture.
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/musl.rs
  builder/src/arch/windows.rs
  builder/src/profiling.rs
Due: none

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
