Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

WIP
  profiling/src/internal/function.rs
  profiling/src/internal/location.rs
  profiling/src/internal/mapping.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/stack_trace.rs
  profiling/src/pprof/encodable.rs
  profiling/src/pprof/mod.rs
  profiling/src/pprof/proto_map.rs
  profiling/src/serializer/compressed_streaming_encoder.rs
Due: profiling

Fix merge
  sidecar/src/windows.rs
Due: sidecar

Linter
  sidecar/src/windows.rs
Due: sidecar

Bump `protobuf` and related dependencies from 3.7.1 to 3.7.2
  Cargo.lock
Due: none

Upgrade `ring` from 0.17.8 to 0.17.14
  Cargo.lock
Due: none

Undo accidental changes to `windows-sys`
  Cargo.lock
Due: none

remove inline annotations from msgpack decoder
  trace-utils/src/msgpack_decoder/decode/map.rs
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/decode/metrics.rs
  trace-utils/src/msgpack_decoder/decode/string.rs
Due: trace-utils

optimize `parse` function
  dogstatsd/src/metric.rs
Due: none

feat: handle failed requests with non-success error codes. Add tests
  dogstatsd/src/datadog.rs
Due: none

Use &mut for trace exporter builder
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/telemetry/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_trace_exporter.rs
  ddtelemetry/src/worker/mod.rs
Due: data-pipeline, data-pipeline-ffi, ddtelemetry

style(profiling): fix clippy lints
  profiling/src/pprof/encodable.rs
  profiling/src/pprof/proto_map.rs
Due: profiling

Fix: move api tests to integrations
  dogstatsd/src/datadog.rs
  dogstatsd/tests/integration_test.rs
Due: none

fmt
  dogstatsd/src/datadog.rs
Due: none

fix: just borrow strategy from self
  dogstatsd/src/datadog.rs
Due: none

feat: vibecode miri to parallelize across 10 processes
  .github/workflows/miri.yml
Due: none

feat: Simplify loop and extract cloned builder into let =. Add test to ensure we fail correctly
  dogstatsd/src/datadog.rs
  dogstatsd/src/flusher.rs
  dogstatsd/tests/integration_test.rs
Due: none

maybe a space works?
  .github/workflows/miri.yml
Due: none

never build in gitlab for dogstatsd
  .gitlab-ci.yml
Due: none

skip report ci status
  .gitlab-ci.yml
Due: none

`MAX_TAGS` to `100`
  dogstatsd/src/constants.rs
Due: none

move tag limit check after dedup
  dogstatsd/src/metric.rs
Due: none

fix: potential overflow, take advantage of unsafe
  profiling/src/pprof/encodable.rs
  profiling/src/pprof/proto_map.rs
Due: profiling

style: avoid mut
  profiling/src/pprof/proto_map.rs
Due: profiling

handle/document edges differently
  profiling/src/pprof/encodable.rs
  profiling/src/pprof/proto_map.rs
Due: profiling

style(profiling): avoid panic in new code
  profiling/src/internal/profile/mod.rs
  profiling/src/pprof/proto_map.rs
Due: profiling

style(profiling): fix clippy::needless-borrow
  profiling/src/pprof/proto_map.rs
Due: profiling

run if true
  .gitlab-ci.yml
Due: none

yaml
  .gitlab-ci.yml
Due: none

style(profiling): fix clippy::ptr-arg and clippy::needless-borrow
  profiling/src/pprof/proto_map.rs
Due: profiling

Refactor logging implementation to use CharSlice and LogLevel enums for improved type safety and clarity
  data-pipeline-ffi/src/ffi_logger.rs
  examples/logging/Console/Folder.DotSettings.user
  examples/logging/Console/Program.cs
Due: data-pipeline, data-pipeline-ffi

working .net callback
  .gitignore
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/ffi_logger.rs
  data-pipeline-ffi/src/lib.rs
  examples/logging/Console/Console.csproj
  examples/logging/Console/Folder.DotSettings.user
  examples/logging/Console/LogsBenchmark.cs
  examples/logging/Console/Program.cs
  libdatadog.sln
Due: data-pipeline, data-pipeline-ffi

perf(profiling)!: remove Function.start_line
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/replayer.rs
  profiling/src/api.rs
  profiling/src/internal/function.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/pprof/proto.rs
  profiling/tests/wordpress.rs
Due: profiling, profiling-ffi

remove commented out deps
  trace-utils/Cargo.toml
Due: trace-utils

fix typo
  ddcommon/src/hyper_migration.rs
  ddtelemetry/src/worker/http_client.rs
  trace-mini-agent/src/env_verifier.rs
Due: ddcommon, ddtelemetry, trace-mini-agent
