Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

fix: wrap the call so that graceful continue actually happen
  benchmark/run_benchmarks_ci.sh
Due: none

ci(release): semver-level review (#2392)
  scripts/semver-level.sh
Due: none

fix(data-pipeline): pass obfuscation config to OTLP stats (#2444)
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

feat: enable sccache before the benchmarking runs (#2434)
  .gitlab/benchmarks.yml
  benchmark/run_benchmarks_ci.sh
Due: none

refactor(ci): release proposal dispatch wf (#2330)
  .github/CODEOWNERS
  .github/workflows/release-proposal-dispatch.yml
  scripts/check_cargo_metadata.sh
  scripts/commits-since-release.sh
  scripts/major-bumps-level.sh
  scripts/release-excluded-crates-hints.sh
  scripts/release-generate-changelogs.sh
  scripts/release-version-bumps.sh
  scripts/release-version-major-bumps.sh
Due: none

fix(trace-stats): read OTel HTTP names for the status and method dimensions (#2323)
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix(sidecar): socket leak in forks (#2447)
  datadog-sidecar/src/setup/thread_listener.rs
Due: datadog-sidecar

fix(data-pipeline): harden OTLP gRPC retries
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/otlp/grpc_exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

perf(trace): encode agentless IDs without formatting
  libdd-trace-utils/benches/agentless_encoding.rs
  libdd-trace-utils/benches/main.rs
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
Due: libdd-trace-utils

perf(trace): write agentless JSON directly
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
Due: libdd-trace-utils

perf(trace): cache repeated SQL obfuscation
  libdd-data-pipeline-core/src/agentless/exporter.rs
  libdd-trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
  libdd-trace-obfuscation/src/obfuscate.rs
Due: libdd-data-pipeline, libdd-trace-obfuscation

perf(common): add full regex ASCII mode
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  libdd-common/Cargo.toml
  libdd-common/src/regex_engine.rs
  libdd-common/tests/regex-ascii/.gitignore
  libdd-common/tests/regex-ascii/Cargo.toml
  libdd-common/tests/regex-ascii/src/lib.rs
  libdd-data-pipeline-core/Cargo.toml
  libdd-data-pipeline-core/src/agentless/exporter.rs
  libdd-data-pipeline/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-common, libdd-trace-obfuscation, libdd-trace-utils

fix(data-pipeline): align OTLP gRPC transport behavior
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/grpc_exporter.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_grpc.rs
  libdd-trace-utils/src/send_with_retry/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-utils

test(data-pipeline): avoid deprecated atomic API
  libdd-data-pipeline/tests/test_trace_exporter_otlp_grpc.rs
Due: libdd-data-pipeline

perf(data-pipeline): avoid parsing static entity header names
  libdd-data-pipeline-core/src/agentless/exporter.rs
Due: libdd-data-pipeline

feat(remote-config): add an agentless fetcher constructor
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/single.rs
Due: none

fix(data-pipeline): preserve gRPC transport errors
  libdd-data-pipeline/src/otlp/grpc_exporter.rs
Due: libdd-data-pipeline

refactor!: rename new_without_connection_pooling to new_periodic
  datadog-live-debugger/src/sender.rs
  datadog-sidecar/src/service/ffe_exposures_flusher.rs
  datadog-sidecar/src/service/ffe_metrics_flusher.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities/src/http.rs
  libdd-data-pipeline-core/src/agentless/exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/common/mock_http.rs
  libdd-ffe/src/telemetry/flagevaluation/sender.rs
  libdd-remote-config/examples/remote_config_agentless_bench.rs
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/src/fetch/agentless.rs
  libdd-remote-config/src/fetch/agentless/integration_tests.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/multitarget.rs
  libdd-remote-config/src/fetch/shared.rs
  libdd-telemetry/src/worker/mod.rs
  libdd-tracer-flare/src/lib.rs
Due: libdd-data-pipeline, libdd-telemetry, datadog-sidecar, libdd-tracer-flare

feat!: use low keep-alive pooling for periodic clients in libdd-http-client and libdd-agent-client
  libdd-agent-client/src/builder.rs
  libdd-http-client/Cargo.toml
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/src/config.rs
Due: none

chore: rework some comments
  libdd-capabilities-impl/src/http.rs
  libdd-http-client/Cargo.toml
  libdd-http-client/src/config.rs
Due: none

chore: bump platform base_image to contain sccache
  .gitlab-ci.yml
Due: none

refactor(datadog-live-debugger): prepare crate for publishing
  Cargo.lock
  Cargo.toml
  datadog-live-debugger/Cargo.toml
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-live-debugger-ffi/Cargo.toml
  libdd-live-debugger-ffi/build.rs
  libdd-live-debugger-ffi/cbindgen.toml
  libdd-live-debugger-ffi/src/data.rs
  libdd-live-debugger-ffi/src/evaluator.rs
  libdd-live-debugger-ffi/src/lib.rs
  libdd-live-debugger-ffi/src/parse.rs
  libdd-live-debugger-ffi/src/send_data.rs
  libdd-live-debugger-ffi/src/sender.rs
  libdd-live-debugger/Cargo.toml
  libdd-live-debugger/src/debugger_defs.rs
  libdd-live-debugger/src/expr_defs.rs
  libdd-live-debugger/src/expr_eval.rs
  libdd-live-debugger/src/lib.rs
  libdd-live-debugger/src/parse_json.rs
  libdd-live-debugger/src/probe_defs.rs
  libdd-live-debugger/src/redacted_names.rs
  libdd-live-debugger/src/remote_config.rs
  libdd-live-debugger/src/sender.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore: fix lint
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-live-debugger-ffi/src/data.rs
  libdd-live-debugger-ffi/src/evaluator.rs
  libdd-live-debugger-ffi/src/parse.rs
  libdd-live-debugger-ffi/src/send_data.rs
  libdd-live-debugger-ffi/src/sender.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore: fix codeowners file
  .github/CODEOWNERS
Due: none

chore: amend sidecar cbindgen
  datadog-sidecar-ffi/cbindgen.toml
Due: datadog-sidecar, datdog-sidecar-ffi

ci: docs
  benchmark/run_benchmarks_ci.sh
Due: none

feat: more logs when sccache can't start
  .gitlab/benchmarks.yml
  benchmark/run_benchmarks_ci.sh
Due: none

fix: additional checks for tmp fallback file in shmem
  libdd-ipc/src/platform/unix/mem_handle.rs
Due: none

feat(sidecar-ffi): replace per-field V1 span mutator FFI with direct builder access
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/src/span_v1.rs
  datadog-sidecar-ffi/tests/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix(trace-utils): encode v0.4 `_dd.p.dm` sampling mechanism 0 as `-0`
  libdd-trace-utils/src/msgpack_encoder/v04/span_v1.rs
Due: libdd-trace-utils

fix: permissions
  .gitlab/benchmarks.yml
  benchmark/run_benchmarks_ci.sh
Due: none

ci(fuzz): restrict fuzz job to protected refs
  .gitlab/fuzz.yml
Due: none

fix: remove debug which flooded the job
  .gitlab/benchmarks.yml
Due: none

fix: copilot comments
  libdd-trace-utils/src/otlp_encoder/mapper_v1.rs
Due: libdd-trace-utils

fix: comments
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests_v1.rs
Due: libdd-trace-utils

style(sidecar-ffi): apply rustfmt to v1 span send changes
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/src/span_v1.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar, datdog-sidecar-ffi

refactor: also limit connection pooling cardinality for libdd-http-client
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/backend/reqwest_backend.rs
  libdd-http-client/src/config.rs
Due: none

chore: update comment
  libdd-agent-client/src/builder.rs
Due: none

chore: grammar in comment
  libdd-http-client/src/config.rs
Due: none

docs(sidecar-ffi): tighten V1 send-path comments
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/src/span_v1.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar, datdog-sidecar-ffi
