Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

update example to include non-panic call works correctly too
  examples/ffi/trace_exporter_panic_containment.c
Due: none

use try_as_bytes instead of as_bytes to return meaningful error instead of panic error
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

update rustdoc comments to make clear vecmap defers dedup to serialization
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix safety comments
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

add test for empty string key on meta_struct
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix: feature gate compilation errors
  libdd-remote-config/src/fetch/agentless/integration_tests.rs
  libdd-remote-config/src/fetch/fetcher.rs
Due: none

feat(sampling): reconcile OTel rv against DD's own keep/drop in otel_consistent_sampling
  libdd-sampling/src/datadog_sampler.rs
  libdd-sampling/src/dd_sampling.rs
Due: none

fix(build): support Windows cross-compilation with zigbuild
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/build.rs
  spawn_worker/build.rs
  spawn_worker/src/crashtracking_trampoline.cpp
Due: libdd-crashtracker, spawn-worker

feat(sidecar): integrate AppSec helper logging
  datadog-sidecar/src/log.rs
Due: datadog-sidecar

perf(sidecar): borrow AppSec request data
  datadog-ipc-macros/src/lib.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
Due: datadog-ipc, datadog-sidecar, datdog-sidecar-ffi

feat(sidecar): route AppSec helper communication through sidecar
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/appsec.rs
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/lib.rs
  datadog-sidecar/src/log.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/unix.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(sidecar): expose in-process telemetry to AppSec
  datadog-sidecar/src/appsec.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

feat(sidecar): support AppSec in thread mode
  Cargo.lock
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/appsec.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

feat(data-pipeline): add agentless stats export
  libdd-common/src/lib.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agentless/mod.rs
  libdd-data-pipeline/src/agentless/stats.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/src/lib.rs
  libdd-trace-utils/src/stats_payload_encoder/mod.rs
Due: libdd-data-pipeline, libdd-common, libdd-trace-utils

fix(sidecar): consume AppSec arguments on non-Unix
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

chore: Address PR concerns
  .github/CODEOWNERS
  .github/workflows/lint.yml
  AGENTS.md
  builder/Cargo.toml
  builder/src/bin/release.rs
  builder/src/features.rs
  builder/src/lib.rs
  builder/src/profiling.rs
  examples/ffi/CMakeLists.txt
  examples/ffi/trace_exporter.c
  examples/ffi/trace_exporter_panic_containment.c
  libdd-profiling-ffi/Cargo.toml
  scripts/check_ffi_panic_containment.sh
Due: libdd-profiling, libdd-profiling-ffi

session_id sent in send_appsec_message should match connection's
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

fix(sidecar): do not evict unowned AppSec client ID
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar

refactor: extract shared GOT-patching primitives into libdd-got-hook
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  libdd-got-hook/Cargo.toml
  libdd-got-hook/src/elf.rs
  libdd-got-hook/src/lib.rs
  libdd-profiling-heap-gotter/Cargo.toml
  libdd-profiling-heap-gotter/src/elf.rs
  tools/docker/Dockerfile.build
Due: libdd-profiling

Comment clarity and rename pkg
  Cargo.toml
  libdd-gotter/Cargo.toml
  libdd-gotter/README.md
  libdd-gotter/src/elf.rs
  libdd-gotter/src/lib.rs
  libdd-profiling-heap-gotter/Cargo.toml
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling

slice api
  .github/CODEOWNERS
  libdd-gotter/src/elf.rs
  libdd-profiling-heap-gotter/src/elf.rs
  tools/docker/Dockerfile.build
Due: libdd-profiling

Safety comments, in code documentation, test for proc maps parsing
  Cargo.lock
  LICENSE-3rdparty.csv
  libdd-gotter/README.md
  libdd-gotter/src/elf.rs
Due: none

improve test coverage by validating builder/Cargo.toml contains catch panic and that all catch panic enabled crates are in the catch panic list
  builder/src/builder.rs
  builder/src/features.rs
Due: none

clean up comments
  builder/src/features.rs
Due: none

cleanup rustdocs
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix(trace): defer dropped span link counts
  libdd-data-pipeline-ffi/src/tracer.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
  libdd-trace-utils/src/json_log_encoder/mod.rs
  libdd-trace-utils/src/json_log_encoder/span.rs
  libdd-trace-utils/src/msgpack_decoder/decode/span_link.rs
  libdd-trace-utils/src/msgpack_decoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v1/span.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span_v04.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span_v1.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v1.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  libdd-trace-utils/src/span/v04/mod.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/span/v1/mod.rs
  libdd-trace-utils/tests/test_send_data.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-utils

fix(data-pipeline): contain panics in combined FFI (#2302)
  AGENTS.md
  builder/Cargo.toml
  builder/src/bin/release.rs
  builder/src/builder.rs
  builder/src/features.rs
  builder/src/lib.rs
  builder/src/profiling.rs
  examples/ffi/trace_exporter.c
  libdd-profiling-ffi/Cargo.toml
Due: libdd-profiling, libdd-profiling-ffi

feat(data-pipeline): add meta struct blob setter (#2303)
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore: address PR concerns
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix: make ddog_tracer_trace_chunks_free handle NULL values
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Initial reelase
  Cargo.lock
  libdd-gotter/Cargo.toml
  libdd-profiling-heap-gotter/Cargo.toml
Due: libdd-profiling

fix: align tests with latest changes
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

refactor(got-patching): extract shared GOT-patching primitives into libdd-got-hook (#2282)
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  libdd-gotter/Cargo.toml
  libdd-gotter/README.md
  libdd-gotter/src/elf.rs
  libdd-gotter/src/lib.rs
  libdd-profiling-heap-gotter/Cargo.toml
  libdd-profiling-heap-gotter/src/elf.rs
  tools/docker/Dockerfile.build
Due: libdd-profiling

feat(got-hook): add DT_HASH fallback, relocation type guard, and hook_symbol
  libdd-gotter/src/elf.rs
  libdd-gotter/src/lib.rs
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling

Restore/improve comments, cleaner type casting, unsafe comments
  libdd-gotter/src/elf.rs
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling

Safety comments
  libdd-gotter/src/elf.rs
Due: none

Try patch helper fn
  libdd-gotter/src/elf.rs
Due: none

Bounds checking
  libdd-gotter/src/elf.rs
Due: none

Add process reloc guard and add comment about REL processing
  libdd-gotter/src/elf.rs
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling
