Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

perf(sampling): change api to avoid collecting meta and metrics
  libdd-sampling/src/datadog_sampler.rs
  libdd-sampling/src/dd_sampling.rs
  libdd-sampling/src/sampling_rule.rs
  libdd-sampling/src/types.rs
  libdd-sampling/src/v04_span.rs
Due: none

chore(sampling): add sampling types and benchmark for v04
  Cargo.lock
  benchmark/run_benchmarks_ci.sh
  libdd-sampling/Cargo.toml
  libdd-sampling/benches/sampling_bench.rs
  libdd-sampling/src/lib.rs
  libdd-sampling/src/v04_span.rs
Due: none

chore(sampling): hook in the libdd-sampling crate
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  libdd-sampling/Cargo.toml
  libdd-sampling/src/dd_sampling.rs
  libdd-sampling/src/sampling_rule.rs
  libdd-sampling/src/sampling_rule_config.rs
Due: none

fix(libdd-common): crashes caused by `getenv` while retrieving AAS env vars (#1930)
  libdd-common/src/azure_app_services.rs
Due: libdd-common

fix: clippy lints
  libdd-trace-stats/benches/span_concentrator_bench.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/tests/test_send_data.rs
Due: libdd-trace-utils

chore(sampling): appease the linting and miri gods
  .github/labeler.yml
  libdd-sampling/Cargo.toml
  libdd-sampling/src/datadog_sampler.rs
  libdd-sampling/src/rate_limiter.rs
  libdd-sampling/src/sampling_rule.rs
  libdd-sampling/src/v04_span.rs
Due: none

fix: address comments
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
  libdd-trace-utils/src/send_data/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix: fmt
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
Due: libdd-trace-utils

fix: remove spawner
  Cargo.lock
  libdd-capabilities-impl/README.md
  libdd-capabilities-impl/src/lib.rs
  libdd-capabilities-impl/src/spawn.rs
  libdd-capabilities/src/lib.rs
  libdd-capabilities/src/spawn.rs
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-shared-runtime/Cargo.toml
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

Max threads testing
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_018_thread_limit.rs
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/lib.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
Due: libdd-crashtracker

feat: added regex-lite feature and changed code path to use libdd-common provided regex engine, which changes based on the feature
  Cargo.lock
  bin_tests/Cargo.toml
  bin_tests/tests/crashtracker_bin_test.rs
  builder/Cargo.toml
  builder/src/utils.rs
  datadog-ffe/Cargo.toml
  datadog-ffe/src/rules_based/ufc/models.rs
  datadog-live-debugger/Cargo.toml
  datadog-live-debugger/src/expr_eval.rs
  datadog-live-debugger/src/redacted_names.rs
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/config/agent_task.rs
  libdd-common/Cargo.toml
  libdd-common/src/azure_app_services.rs
  libdd-common/src/entity_id/unix/container_id.rs
  libdd-common/src/entity_id/unix/mod.rs
  libdd-common/src/lib.rs
  libdd-common/src/regex_engine.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-obfuscation/src/replacer.rs
  tools/Cargo.toml
  tools/src/lib.rs
Due: libdd-data-pipeline, libdd-common, libdd-trace-obfuscation

fix(library-config): enforce file-size limit on 32-bit and across readers
  .github/workflows/test.yml
  libdd-library-config/src/config_read.rs
  libdd-library-config/src/lib.rs
Due: none

chore: use shorthand and format
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-trace-obfuscation/src/replacer.rs
Due: libdd-data-pipeline, libdd-trace-obfuscation

refactor(libdd-common-ffi): move std gates from mod decls to module files
  libdd-common-ffi/src/array_queue.rs
  libdd-common-ffi/src/endpoint.rs
  libdd-common-ffi/src/error.rs
  libdd-common-ffi/src/handle.rs
  libdd-common-ffi/src/lib.rs
  libdd-common-ffi/src/option.rs
  libdd-common-ffi/src/result.rs
  libdd-common-ffi/src/slice_mut.rs
  libdd-common-ffi/src/string.rs
  libdd-common-ffi/src/tags.rs
  libdd-common-ffi/src/timespec.rs
  libdd-common-ffi/src/utils.rs
Due: libdd-common, libdd-common-ffi

refactor: hoist remaining std cfg gates into target module files
  libdd-common-ffi/src/lib.rs
  libdd-library-config-ffi/src/lib.rs
  libdd-library-config-ffi/src/tracer_metadata.rs
  libdd-library-config/src/lib.rs
  libdd-library-config/src/otel_process_ctx.rs
  libdd-library-config/src/tracer_metadata.rs
Due: libdd-common, libdd-common-ffi

refactor(libdd-common-ffi): single-source SliceConversionError messages
  Cargo.lock
  libdd-common-ffi/Cargo.toml
  libdd-common-ffi/src/slice.rs
Due: libdd-common, libdd-common-ffi

feat(libdd-common-ffi): add From<&CStr> for Error
  libdd-common-ffi/src/error.rs
Due: libdd-common, libdd-common-ffi

Revert "feat(libdd-common-ffi): add From<&CStr> for Error"
  libdd-common-ffi/src/error.rs
Due: libdd-common, libdd-common-ffi

chore: drop self-evident comment, name the no_std CI profile
  .github/workflows/test.yml
  Cargo.toml
  libdd-common-ffi/src/slice.rs
Due: libdd-common, libdd-common-ffi

Ptrace collector unit tests
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/shared/configuration/builder.rs
Due: libdd-crashtracker

Ptrace in collector child
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/collector/ptrace_collector.rs
  libdd-crashtracker/src/collector/signal_handler_manager.rs
  libdd-crashtracker/src/collector/thread_context_buffer.rs
Due: libdd-crashtracker

Collect all threads first pass
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/collector/signal_handler_manager.rs
  libdd-crashtracker/src/collector/thread_context_buffer.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/builder.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
  libdd-crashtracker/src/shared/constants.rs
Due: libdd-crashtracker

Use remote ptrace
  Cargo.lock
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/signal_handler_manager.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

Ptrace in receiver (need libunwind bindings)
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

cleanup
  Cargo.lock
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
  libdd-crashtracker/src/shared/constants.rs
Due: libdd-crashtracker

No waitpid at all
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

waitpid
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

Spin wait
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Hacky fix for alpine by not using waitpid
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

Fix musl libc boundary issue
  bin_tests/src/modes/unix/test_017_multi_thread_collection.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Fallback to ftruncate if fallocate gets EPERM
  datadog-ipc/src/platform/mem_handle.rs
  datadog-ipc/src/platform/unix/mem_handle.rs
Due: datadog-ipc

feat(ffe): add __dd_allocation_key metadata to ResolutionDetails
  datadog-ffe-ffi/src/assignment.rs
Due: none

Surface enumeration error
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

feat(ffe): add __dd_allocation_key metadata to ResolutionDetails (#1940)
  datadog-ffe-ffi/src/assignment.rs
Due: none

feat(ffe)!: remove extra_logging
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/assignment.rs
  datadog-ffe/src/rules_based/ufc/compiled_flag_config.rs
  datadog-ffe/src/rules_based/ufc/models.rs
Due: none

feat(ffe)!: remove extra_logging (#1941)
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/assignment.rs
  datadog-ffe/src/rules_based/ufc/compiled_flag_config.rs
  datadog-ffe/src/rules_based/ufc/models.rs
Due: none

fix: exclude datadog-ffe from this change.
  datadog-ffe/Cargo.toml
  datadog-ffe/src/rules_based/ufc/models.rs
Due: none

feat: remove env_filter and regex-automata
  datadog-live-debugger/Cargo.toml
  datadog-live-debugger/src/redacted_names.rs
  libdd-log/Cargo.toml
  libdd-log/src/logger.rs
Due: libdd-log
