Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log

fix: apply review
  datadog-tracer-flare/src/lib.rs
Due: none

fix: fmt and clippy
  datadog-tracer-flare/src/lib.rs
Due: none

fix: fmt
  datadog-tracer-flare/src/lib.rs
Due: none

fix: clean up
  .github/CODEOWNERS
  datadog-tracer-flare/src/lib.rs
Due: none

fix: apply review
  .codecov.yml
  datadog-tracer-flare/src/lib.rs
Due: none

fix: apply last review
  datadog-remote-config/src/config/agent_config.rs
  datadog-remote-config/src/config/agent_task.rs
Due: none

feat: add checker of config
  datadog-tracer-flare/src/lib.rs
Due: none

feat: add tests
  Cargo.lock
  datadog-remote-config/src/config/agent_config.rs
  datadog-remote-config/src/config/agent_task.rs
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/lib.rs
Due: none

fix(ddcommon_ffi): StringWrapper and Error drop
  ddcommon-ffi/src/error.rs
  ddcommon-ffi/src/string.rs
Due: ddcommon, ddcommon-ffi

fix(ddcommon_ffi): StringWrapper and Error drop (#1098)
  ddcommon-ffi/src/error.rs
  ddcommon-ffi/src/string.rs
Due: ddcommon, ddcommon-ffi

code cleanup
  datadog-profiling-ffi/src/manager/profiler_manager.rs
Due: datadog-profiling, datadog-profiling-ffi

Bump version to v19.0.0.
  Cargo.lock
  Cargo.toml
Due: none

Bump version to v19.0.0. (#1100)
  Cargo.lock
  Cargo.toml
Due: none

feat: add function to zip the flare
  Cargo.lock
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/error.rs
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
Due: none

fix: fmt and clippy
  datadog-tracer-flare/src/zip.rs
Due: none

feat(sidecar): clean sidecar server telemetry behaviour
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/runtime_info.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_data.rs
  datadog-sidecar/src/service/telemetry/enqueued_telemetry_stats.rs
  datadog-sidecar/src/service/telemetry/mod.rs
  datadog-sidecar/src/tracer.rs
Due: datadog-sidecar, datdog-sidecar-ffi

ci: move back to main branch since PR merged
  .gitlab-ci.yml
Due: none

feat(data-pipeline): signal agent response payload version and only send body when changed
  data-pipeline-ffi/src/response.rs
  data-pipeline/src/trace_exporter/agent_response.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

fix: linux only test
  data-pipeline/tests/test_trace_exporter.rs
Due: data-pipeline

Make max memory of sidecar configurable
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/watchdog.rs
Due: datadog-sidecar

fix: add miri skips
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

fix: expose AgentResponse publicly since it is in the public API of the trace exporter
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

Test branch on libddprof-build.
  .gitlab-ci.yml
Due: none

Try increasing the timeout
  bin_tests/src/bin/crashtracker_bin_test.rs
Due: none

Wait for file creation.
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Use test branch so macos runners are triggered.
  .gitlab-ci.yml
Due: none

Make max memory of sidecar configurable (#1105)
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/watchdog.rs
Due: datadog-sidecar

Add routine in order to check crash report existence.
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Fix format.
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

trace_exporter: statically cache agent info responses
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/agent_info/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_fetch_info.rs
Due: data-pipeline

Move constants to a new file so they are in sync across tests.
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/constants.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

do not include devflow/merge check in all checks as it creates a circular block
  .github/workflows/all-checks.yml
Due: none

[crashtracker] Fix timeout
  datadog-crashtracker/src/collector/crash_handler.rs
Due: datadog-crashtracker

don't reformat vs main
  datadog-trace-protobuf/src/remoteconfig.rs
Due: datadog-trace-protobuf
