Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

fix(telemetry): remove v1 payloads which are not supported
  libdd-telemetry/src/data/common.rs
Due: libdd-telemetry

Octo-STS file that allows writing from gitlab pipeline
  .github/chainguard/gitlab.github-access.write-contents.sts.yaml
Due: none

Revert "fix(telemetry): remove v1 payloads which are not supported"
  libdd-telemetry/src/data/common.rs
Due: libdd-telemetry

Add testing branch
  .github/chainguard/gitlab.github-access.write-contents.sts.yaml
Due: none

test(crashtracker): update tests for logs payload format changes
  libdd-crashtracker/src/crash_info/telemetry.rs
Due: libdd-crashtracker

fix: Make sure build fails if command returns non-zero code
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/musl.rs
  builder/src/common.rs
  builder/src/profiling.rs
  builder/src/utils.rs
Due: none

ci: octo-STS file that allows writing from gitlab pipeline (#1497)
  .github/chainguard/gitlab.github-access.write-contents.sts.yaml
Due: none

Make linters happy
  builder/src/utils.rs
Due: none

Octo-STS remove pipeline source
  .github/chainguard/gitlab.github-access.write-contents.sts.yaml
Due: none

Octo-STS remove pipeline source (#1500)
  .github/chainguard/gitlab.github-access.write-contents.sts.yaml
Due: none

test(bin_tests): update crashtracker tests for logs payload format changes
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

octo-STS fix ref attribute
  .github/chainguard/gitlab.github-access.write-contents.sts.yaml
Due: none

fix(telemetry): remove telemetry v1 which is not supported
  libdd-telemetry/examples/tm-ping.rs
  libdd-telemetry/examples/tm-send-sketch.rs
  libdd-telemetry/src/data/common.rs
Due: libdd-telemetry

chore(bin_tests): format
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

fix: Make sure build fails if command returns non-zero code (#1499)
  builder/src/arch/apple.rs
  builder/src/arch/linux.rs
  builder/src/arch/musl.rs
  builder/src/common.rs
  builder/src/profiling.rs
  builder/src/utils.rs
Due: none

Use ucontext and wrap libunwind
  libdd-crashtracker/build.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/libunwind_unwinder.rs
  libdd-crashtracker/src/collector/mod.rs
Due: libdd-crashtracker

Clean up
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/collector/frame_pointer_walker.rs
  libdd-crashtracker/src/collector/libunwind_unwinder.rs
  libdd-crashtracker/src/collector/platform.rs
Due: libdd-crashtracker

Add alpine x86_64
  .devcontainer/alpine-x86_64/devcontainer.json
Due: none

Don't bail
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

Add alpine x86_64 (#1501)
  .devcontainer/alpine-x86_64/devcontainer.json
Due: none

Don't bail (#1494)
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

suggestions
  .github/workflows/release-proposal-dispatch.yml
  cliff.toml
  scripts/commits-since-release.sh
  scripts/publication-order.sh
Due: none

octo-STS fix ref attribute (#1502)
  .github/chainguard/gitlab.github-access.write-contents.sts.yaml
Due: none

tmp: does not work
  libdd-trace-utils/src/msgpack_decoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v1/span.rs
  libdd-trace-utils/src/span/trace.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/span/v1/mod.rs
Due: libdd-trace-utils

snapshot
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/trace.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-trace-utils

refactor: make reqwest available in common
  Cargo.lock
  libdd-common-ffi/src/slice.rs
  libdd-common-ffi/src/slice_mut.rs
  libdd-common/Cargo.toml
  libdd-common/src/cc_utils.rs
  libdd-common/src/dump_server.rs
  libdd-common/src/lib.rs
  libdd-common/src/test_utils.rs
  libdd-common/tests/reqwest_builder_test.rs
  libdd-profiling/Cargo.toml
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/src/exporter/profile_exporter.rs
  libdd-profiling/tests/exporter_e2e.rs
  libdd-profiling/tests/file_exporter_test.rs
Due: libdd-common, libdd-common-ffi, libdd-profiling

add binary stub for FFI tests
  tools/docker/Dockerfile.build
Due: none

script to add file attribute to junit.xml output
  .github/workflows/test.yml
  Cargo.lock
  tools/Cargo.toml
  tools/src/bin/add_junit_file_attributes.rs
  tools/src/junit_file_attributes.rs
  tools/src/lib.rs
Due: none

Skip test on musl alpine
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

snapshot refcopy
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/table.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/span/v1/mod.rs
Due: libdd-trace-utils

Skip test on musl alpine (#1505)
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

fix miri
  libdd-common/tests/reqwest_builder_test.rs
Due: libdd-common

PR comment
  libdd-common/src/lib.rs
Due: libdd-common

Update libdd-common/src/lib.rs
  libdd-common/src/lib.rs
Due: libdd-common

Bump os-info and also add some unit tests
  Cargo.lock
  bin_tests/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/crash_info/builder.rs
Due: libdd-crashtracker

fixes
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/table.rs
  libdd-trace-utils/src/span/trace.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/span/v1/mod.rs
Due: libdd-trace-utils

Miri skip
  libdd-crashtracker/src/crash_info/builder.rs
Due: libdd-crashtracker
