Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

kill based tests
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/crash_info/emit_sicodes.c
Due: crashtracker

comment toml
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/Cargo.toml
Due: crashtracker

only check for SI_USER on not mac
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Rearrange folder structure.
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/decode/error.rs
  trace-utils/src/msgpack_decoder/decode/map.rs
  trace-utils/src/msgpack_decoder/decode/meta.rs
  trace-utils/src/msgpack_decoder/decode/metrics.rs
  trace-utils/src/msgpack_decoder/decode/mod.rs
  trace-utils/src/msgpack_decoder/decode/number.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/decode/string.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v04/span.rs
  trace-utils/src/span/v04/trace_utils.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, data-pipeline-ffi, trace-utils

Move number, string and map decoding to separate modules
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span/map.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span/number.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span/span_link.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span/string.rs
  trace-utils/src/msgpack_decoder/v04/error.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
Due: trace-utils

remove ffi attempt and fix code
  ddcommon-ffi/src/tracer_metadata.rs
  ddcommon/src/tracer_metadata.rs
Due: ddcommon, ddcommon-ffi

crashtracking - libunwind Switch the default to OFF
  crashtracker/build.rs
  crashtracker/src/shared/configuration.rs
  docs/RFCs/0008-custom-unwinder.md
Due: crashtracker

Solve PR comments.
  trace-utils/src/msgpack_decoder/decode/map.rs
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/decode/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
Due: trace-utils

crashtracking: libunwind unwinding - minor adjustement Remove useless allocation
  crashtracker/build.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/shared/configuration.rs
  docs/RFCs/0008-custom-unwinder.md
Due: crashtracker

Rearrange msgpack decoder folder structure. (#877)
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/decode/error.rs
  trace-utils/src/msgpack_decoder/decode/map.rs
  trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  trace-utils/src/msgpack_decoder/decode/metrics.rs
  trace-utils/src/msgpack_decoder/decode/mod.rs
  trace-utils/src/msgpack_decoder/decode/number.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/decode/string.rs
  trace-utils/src/msgpack_decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/span/mod.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v04/span.rs
  trace-utils/src/span/v04/trace_utils.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, data-pipeline-ffi, trace-utils

Add generic for span
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/benches/span_concentrator_bench.rs
  data-pipeline/src/span_concentrator/aggregation.rs
  data-pipeline/src/span_concentrator/mod.rs
  data-pipeline/src/span_concentrator/tests.rs
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/msgpack_decoder/decode/span_link.rs
  trace-utils/src/msgpack_decoder/v04/mod.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/span/v04/mod.rs
  trace-utils/src/span/v04/span.rs
  trace-utils/src/span/v04/trace_utils.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
Due: data-pipeline, data-pipeline-ffi, trace-utils

don't set serverless compat version from binary (#872)
  serverless/src/main.rs
Due: serverless

fix: skip serialization of optional properties in a span link
  tinybytes/src/bytes_string.rs
  trace-utils/src/span/v04/span.rs
Due: trace-utils

Apply suggestions
  data-pipeline/src/telemetry/mod.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

fix: skip serialization of span type when empty
  trace-utils/src/span/v04/span.rs
Due: trace-utils

update aggregator
  dogstatsd/src/aggregator.rs
  dogstatsd/src/origin.rs
Due: none

bump datadog-serverless-trace-mini-agent to 0.12.0 (#873)
  Cargo.lock
  serverless/Cargo.toml
Due: serverless

mark optional SpanLink fields optional with `#[serde(default)]`
  trace-protobuf/src/pb.rs
Due: trace-protobuf

add test `test_get_traces_from_request_body_with_span_links`
  trace-utils/src/trace_utils.rs
Due: trace-utils

lint
  trace-utils/src/trace_utils.rs
Due: trace-utils

refactor origin
  dogstatsd/src/metric.rs
  dogstatsd/src/origin.rs
Due: none

Apply suggestions from code review
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

clippy
  dogstatsd/src/origin.rs
Due: none

update build.rs
  trace-protobuf/build.rs
Due: trace-protobuf

fix snapshot
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
Due: trace-utils

Fix conflicts
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

Use send_with_retry in the trace exporter (#871)
  data-pipeline-ffi/src/error.rs
  data-pipeline/src/telemetry/mod.rs
  data-pipeline/src/trace_exporter/error.rs
  data-pipeline/src/trace_exporter/mod.rs
  ddcommon/src/lib.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/send_data_result.rs
  trace-utils/src/send_with_retry/mod.rs
Due: data-pipeline, data-pipeline-ffi, ddcommon, trace-utils

Fix possible deadlock with remote configuration expiring during insertion
  remote-config/src/fetch/multitarget.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Due: sidecar

Print memory statistics on memory exceeded
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  sidecar/src/entry.rs
  sidecar/src/log.rs
  sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/enqueued_telemetry_stats.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/watchdog.rs
Due: ddtelemetry, sidecar

Add warning to report_failure
  .gitlab-ci.yml
Due: none

code review
  ddcommon/src/tracer_metadata.rs
Due: ddcommon

Fix possible deadlock with simultaneous remote config insertion and removal
  remote-config/src/fetch/multitarget.rs
Due: none

Fix possible deadlock with remote configuration expiring during insertion (#888)
  ddtelemetry/src/metrics.rs
  ddtelemetry/src/worker/mod.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  sidecar/src/entry.rs
  sidecar/src/log.rs
  sidecar/src/service/debugger_diagnostics_bookkeeper.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/enqueued_telemetry_stats.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/shm_remote_config.rs
  sidecar/src/watchdog.rs
Due: ddtelemetry, sidecar

Fix span link deserialization when missing optional fields (#887)
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
  trace-utils/src/trace_utils.rs
Due: trace-protobuf, trace-utils

Add warning to report_failure (#889)
  .gitlab-ci.yml
Due: none
