Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

fix(stats): align with css spec (#1790)
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: libdd-data-pipeline

feat(stats_exporter)!: add process tags to CSS payloads (#1709)
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore(version): bump to v28.0.4
  Cargo.lock
  Cargo.toml
Due: none

upscale otel style
  libdd-profiling/src/api/mod.rs
  libdd-profiling/src/internal/otel_style_observation.rs
  libdd-profiling/src/internal/profile/mod.rs
  libdd-profiling/src/internal/upscaling.rs
Due: libdd-profiling

emit otel
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/profile_exporter.rs
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling

use single threaded to avoid race conditions for sa guard tests
  libdd-crashtracker/src/collector/saguard.rs
Due: libdd-crashtracker

perf(change-buffer): Vec string table, FxHashMap, span cache, merge trace maps
  Cargo.lock
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/trace.rs
Due: libdd-trace-utils

Trigger CI
  bin_tests/src/validation.rs
Due: none

fix(05-01): remove start_at/end_at from reason computation
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
Due: none

test(05-01): add reason values to all 20 fixture JSON files
  datadog-ffe/tests/data/tests/test-case-boolean-one-of-matches.json
  datadog-ffe/tests/data/tests/test-case-comparator-operator-flag.json
  datadog-ffe/tests/data/tests/test-case-disabled-flag.json
  datadog-ffe/tests/data/tests/test-case-empty-flag.json
  datadog-ffe/tests/data/tests/test-case-flag-with-empty-string.json
  datadog-ffe/tests/data/tests/test-case-integer-flag.json
  datadog-ffe/tests/data/tests/test-case-kill-switch-flag.json
  datadog-ffe/tests/data/tests/test-case-new-user-onboarding-flag.json
  datadog-ffe/tests/data/tests/test-case-no-allocations-flag.json
  datadog-ffe/tests/data/tests/test-case-null-operator-flag.json
  datadog-ffe/tests/data/tests/test-case-null-targeting-key.json
  datadog-ffe/tests/data/tests/test-case-numeric-flag.json
  datadog-ffe/tests/data/tests/test-case-numeric-one-of.json
  datadog-ffe/tests/data/tests/test-case-regex-flag.json
  datadog-ffe/tests/data/tests/test-case-start-and-end-date-flag.json
  datadog-ffe/tests/data/tests/test-flag-that-does-not-exist.json
  datadog-ffe/tests/data/tests/test-json-config-flag.json
  datadog-ffe/tests/data/tests/test-no-allocations-flag.json
  datadog-ffe/tests/data/tests/test-special-characters.json
  datadog-ffe/tests/data/tests/test-string-with-special-characters.json
Due: none

style: apply rustfmt formatting
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
Due: none

refactor(09-08): use ffe-system-test-data submodule for UFC fixtures
  .github/dependabot.yml
  .gitmodules
  datadog-ffe/benches/eval.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/models.rs
  datadog-ffe/tests/data/flags-v1.json
  datadog-ffe/tests/data/tests/test-case-boolean-one-of-matches.json
  datadog-ffe/tests/data/tests/test-case-comparator-operator-flag.json
  datadog-ffe/tests/data/tests/test-case-disabled-flag.json
  datadog-ffe/tests/data/tests/test-case-empty-flag.json
  datadog-ffe/tests/data/tests/test-case-flag-with-empty-string.json
  datadog-ffe/tests/data/tests/test-case-integer-flag.json
  datadog-ffe/tests/data/tests/test-case-kill-switch-flag.json
  datadog-ffe/tests/data/tests/test-case-new-user-onboarding-flag.json
  datadog-ffe/tests/data/tests/test-case-no-allocations-flag.json
  datadog-ffe/tests/data/tests/test-case-null-operator-flag.json
  datadog-ffe/tests/data/tests/test-case-null-targeting-key.json
  datadog-ffe/tests/data/tests/test-case-numeric-flag.json
  datadog-ffe/tests/data/tests/test-case-numeric-one-of.json
  datadog-ffe/tests/data/tests/test-case-regex-flag.json
  datadog-ffe/tests/data/tests/test-case-start-and-end-date-flag.json
  datadog-ffe/tests/data/tests/test-flag-that-does-not-exist.json
  datadog-ffe/tests/data/tests/test-json-config-flag.json
  datadog-ffe/tests/data/tests/test-no-allocations-flag.json
  datadog-ffe/tests/data/tests/test-special-characters.json
  datadog-ffe/tests/data/tests/test-string-with-special-characters.json
Due: none

chore(release): proposal for libdd-data-pipeline (#1785)
  Cargo.lock
  libdd-common-ffi/Cargo.toml
  libdd-common/CHANGELOG.md
  libdd-common/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline/CHANGELOG.md
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/CHANGELOG.md
  libdd-dogstatsd-client/Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-telemetry/CHANGELOG.md
  libdd-telemetry/Cargo.toml
  libdd-trace-normalization/CHANGELOG.md
  libdd-trace-normalization/Cargo.toml
  libdd-trace-obfuscation/CHANGELOG.md
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-protobuf/CHANGELOG.md
  libdd-trace-protobuf/Cargo.toml
  libdd-trace-stats/CHANGELOG.md
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/CHANGELOG.md
  libdd-trace-utils/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-dogstatsd-client, libdd-profiling, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils

test(ci): add exporter_e2e regression test without CA certificates
  .github/workflows/test.yml
  tools/docker/Dockerfile.no-certs
Due: none

Fix new lines
  .github/workflows/release-proposal-dispatch.yml
Due: none

feat(stats): propagate service source from span meta to client stats payload
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

test(crashtracking): skip sigchld_exec test on CentOS 7 deadlock
  .config/nextest.toml
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

ci(centos7): cache Docker image layers, shrink build context, pre-fetch deps
  .github/workflows/test.yml
Due: none

test(crashtracking): skip sigchld_exec test on CentOS 7 deadlock (#1804)
  .config/nextest.toml
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

test(obfuscate): add span_obfuscation testcases
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
  libdd-trace-obfuscation/src/sql.rs
  libdd-trace-obfuscation/tests/data/obfuscation_test_spans.jsonl
  libdd-trace-obfuscation/tests/test_span_obfuscation.rs
Due: libdd-trace-obfuscation

fix(obfuscation): license header + correct path for jsonl
  libdd-trace-obfuscation/tests/test_span_obfuscation.rs
Due: libdd-trace-obfuscation

feat(stats): propagate service source from span meta to client stats payload (#1803)
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

release proposal test
  .github/workflows/release-proposal-test.yml
Due: none

fix(obfuscate): wrong test data path
  libdd-trace-obfuscation/tests/test_span_obfuscation.rs
Due: libdd-trace-obfuscation

fix(ci): use single threaded to avoid race conditions for sa guard tests (#1800)
  libdd-crashtracker/src/collector/saguard.rs
Due: libdd-crashtracker

Dont fully suppress sigchld
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/process_handle.rs
  libdd-crashtracker/src/collector/saguard.rs
Due: libdd-crashtracker

Re-enable sigchld exec test adn fix unit tests
  .config/nextest.toml
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/saguard.rs
Due: libdd-crashtracker

feat(change-buffer): add direct span mutation methods
  libdd-trace-utils/benches/change_buffer.rs
  libdd-trace-utils/benches/main.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/trace.rs
Due: libdd-trace-utils

exclude libdd-libunwind-sys
  .github/workflows/release-proposal-test.yml
Due: none

feat(shared_runtime): add block_on method to runtime
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/tests/test_fetch_info.rs
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-shared-runtime/src/worker.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry

fix(obfuscate): check credit card enabled before obfuscating it
  libdd-trace-obfuscation/src/obfuscate.rs
Due: libdd-trace-obfuscation

Set longer timeout for receiver
  bin_tests/src/bin/crashtracker_bin_test.rs
Due: none

feat(obfuscation): add obfuscate_span test with credit card disabled
  libdd-trace-obfuscation/tests/data/obfuscation_test_spans.jsonl
Due: libdd-trace-obfuscation

feat(capabilities): trait architecture http draft
  Cargo.lock
  Cargo.toml
  libdd-capabilities/Cargo.toml
  libdd-capabilities/src/http.rs
  libdd-capabilities/src/lib.rs
  libdd-capabilities/src/maybe_send.rs
  libdd-common/Cargo.toml
  libdd-common/src/capabilities/http.rs
  libdd-common/src/capabilities/mod.rs
  libdd-common/src/lib.rs
Due: libdd-common

feat: allow cross boundary default client
  Cargo.lock
  Cargo.toml
  libdd-provider/Cargo.toml
  libdd-provider/src/lib.rs
Due: none

debug
  .github/workflows/release-proposal-test.yml
Due: none

feat: example of using the DefaultHttpClient in libdatadog
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-provider/src/lib.rs
Due: libdd-data-pipeline

feat(capabilities: http): increase trait api surface
  libdd-capabilities/src/http.rs
  libdd-common/src/capabilities/http.rs
Due: libdd-common

feat(capabilities): cargo patch version
  Cargo.lock
  Cargo.toml
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities-impl/src/lib.rs
  libdd-common/src/capabilities/http.rs
  libdd-common/src/capabilities/mod.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-provider/src/lib.rs
Due: libdd-data-pipeline, libdd-common
