Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

refactor(data-pipeline): simplify OTLP metric mapping
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-data-pipeline, libdd-trace-utils

refactor(data-pipeline): align OTLP metric attribute order
  libdd-data-pipeline/src/otlp/metrics.rs
Due: libdd-data-pipeline

test: add test asserting spans and stats are sent correctly with drops
  libdd-data-pipeline/tests/test_agentless_stats.rs
Due: libdd-data-pipeline

perf: add agent_info skip if agentless enabled
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

fix: lints
  libdd-data-pipeline/tests/test_agentless_stats.rs
Due: libdd-data-pipeline

refactor(data-pipeline): remove unused OTLP mapper option
  libdd-data-pipeline/src/otlp/metrics.rs
Due: libdd-data-pipeline

ci(release): resolve dd-trace-rs test matrix from remote tags
  .github/workflows/release-proposal-test.yml
Due: none

method and path are not optional on telemetry Endpoints
  datadog-sidecar-ffi/src/lib.rs
  libdd-telemetry/src/data/payloads.rs
Due: libdd-telemetry, datadog-sidecar, datdog-sidecar-ffi

feat(shared-runtime): add block_on_with_timeout to BlockingRuntime
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/basic.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
Due: none

fix: do not tag with compute stats when stats enabled
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix: do not enable stats when obfuscation not enabled
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

feat(data-pipeline)!: add flush_and_close to the trace buffer (#2313)
  libdd-data-pipeline/src/trace_buffer/mod.rs
Due: libdd-data-pipeline

Return Option for hook_symbol
  libdd-gotter/README.md
  libdd-gotter/src/elf.rs
Due: none

Result with error variants
  libdd-gotter/README.md
  libdd-gotter/src/elf.rs
Due: none

feat(crashtracker): capture C assert expression in crash reports
  Cargo.lock
  bin_tests/build.rs
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/c/trigger_assert.c
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/assert_interceptor.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-gotter/README.md
  tools/docker/Dockerfile.build
Due: libdd-crashtracker

Add fn to hook but exclude self
  libdd-gotter/src/elf.rs
Due: none

Test that skip works
  libdd-gotter/src/elf.rs
Due: none

exclude self while resolving original
  libdd-gotter/src/elf.rs
Due: none

Add some more detail and context on these APIs
  libdd-gotter/src/elf.rs
Due: none

non PIE executable support
  libdd-gotter/src/elf.rs
Due: none

format
  libdd-gotter/src/elf.rs
Due: none

Restore/improve comments, cleaner type casting, unsafe comments
  libdd-gotter/src/elf.rs
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling

Add process reloc guard and add comment about REL processing
  libdd-gotter/src/elf.rs
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling

Bounds checking
  libdd-gotter/src/elf.rs
Due: none

feat(got-hook): add DT_HASH fallback, relocation type guard, and hook_symbol
  libdd-gotter/src/elf.rs
  libdd-gotter/src/lib.rs
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling

Try patch helper fn
  libdd-gotter/src/elf.rs
Due: none

Safety comments
  libdd-gotter/src/elf.rs
Due: none

Unit test for checking ptr size
  libdd-gotter/src/elf.rs
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling

Hard fail on compile fail
  Cargo.lock
  libdd-gotter/Cargo.toml
  libdd-gotter/src/elf.rs
Due: none

Make DynInfo contain prevalidated slices
  libdd-gotter/src/elf.rs
Due: none

Include sym_entry api and clarify docs
  libdd-gotter/src/elf.rs
Due: none

chore(libdd-trace-inferrer): Handle EventBridge Datadog carriers in SNS-wrapped messages
  libdd-trace-inferrer/src/triggers/aws/sns.rs
  libdd-trace-inferrer/src/triggers/aws/sqs.rs
Due: none

batch the artifact builds for bin_tests prebuild into single cargo command
  bin_tests/src/lib.rs
Due: none

fix: comments
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-utils/src/span/trace_utils_v1.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix: comments
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: datadog-sidecar, datdog-sidecar-ffi, libdd-trace-utils

fix(library-config): omit absent process context attributes
  libdd-library-config/src/tracer_metadata.rs
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
