Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

fix(http): preserve fragment when removing query string for ?#frag URLs
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): encode Cat2 chars when any Cat1 char triggers Go's escape() fallback
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): preserve fragment for ?query#frag when removing query string
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): reject invalid percent-encoding in fragment (not just path)
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): encode Cat2 chars (!, ', etc.) when path contains double-quote
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): strip empty trailing fragment for query-only URLs
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): encode non-ASCII fragment chars for query-only URLs
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): normalize percent-encoded unreserved chars in path
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): don't restore bare '#' fragment when restoring raw query
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): clippy warnings
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): HTTP non-ASCII path check
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): reject URLs where pre-fragment path starts with colon
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): cargo fmt
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix file name
  .github/workflows/test.yml
Due: none

chore(ci): setup miri crates before running (#1679)
  .github/workflows/miri.yml
Due: none

test(telemetry): fix deadlocks in telemetry tests
  libdd-data-pipeline/src/telemetry/mod.rs
Due: libdd-data-pipeline

feat: add dummy function
  libdd-common/src/lib.rs
Due: libdd-common

feat: add dummy function to test transitive dependencies
  libdd-data-pipeline-ffi/src/lib.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix spellcheck
  .github/workflows/test-ffi.yml
  .github/workflows/test.yml
Due: none

chore: make sure all tracer fields are exported
  libdd-library-config/src/tracer_metadata.rs
Due: none

chore: set empty string for unset fields in otel ctx
  libdd-library-config/src/tracer_metadata.rs
Due: none

Handle backpressure more gracefully
  datadog-ipc/Cargo.toml
  datadog-ipc/src/platform/unix/channel/metadata.rs
  datadog-ipc/src/sequential.rs
  datadog-sidecar-macros/src/lib.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-ipc, datadog-sidecar

libunwind
  .github/workflows/test.yml
  Cargo.lock
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/Cargo.toml
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/shared/configuration.rs
Due: libdd-crashtracker

fix(sidecar): Handle backpressure more gracefully (#1682)
  datadog-ipc/Cargo.toml
  datadog-ipc/src/platform/unix/channel/metadata.rs
  datadog-ipc/src/sequential.rs
  datadog-sidecar-macros/src/lib.rs
  datadog-sidecar/src/service/sidecar_interface.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-ipc, datadog-sidecar

implement feedback
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/json_types.rs
  libdd-data-pipeline/src/otlp/mapper.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Add unsafe comments
  libdd-crashtracker/src/collector/emitters.rs
Due: libdd-crashtracker

lint and private fields
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/json_types.rs
  libdd-data-pipeline/src/otlp/mapper.rs
Due: libdd-data-pipeline

Enable crashtracking ffi example tests in CI
  examples/ffi/crashtracking.c
  tools/src/bin/ffi_test.rs
Due: none

feat(trace-protobuf)!: Add two fields to ClientGroupedStats [SVLS-8627] (#1630)
  .github/workflows/verify-proto-files.yml
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb.rs
  libdd-trace-protobuf/src/pb/stats.proto
  libdd-trace-protobuf/src/pb_test.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-utils/src/stats_utils.rs
Due: libdd-trace-protobuf, libdd-trace-utils

Replace use of cargo cross with manually starting docker container to run centOS7 tests. And switch to nextest as a test runner for CentOS7 so we can upload junit.xml files
  .github/workflows/test.yml
  tools/docker/Dockerfile.centos
Due: none

exclude libdatadog from ADMS auto-generated PRs for dependency updates
  repository.datadog.yml
Due: none

make clippy and rustfmt dynamic
  .github/workflows/lint.yml
Due: none

fix shellcheck
  .github/workflows/lint.yml
Due: none

fix: search crates by exact name rather than substring
  .github/actions/ci-crates/src/bin/changed_crates.rs
  .github/actions/ci-crates/src/workspace.rs
Due: none

fix: only run tests on crates containing tracing integration tests
  .github/workflows/test.yml
Due: none

wip: add dummy function to get baseline data
  libdd-common/src/lib.rs
Due: libdd-common

wip(libdd-data-pipeline-ffi): get baseline times for pipeline
  libdd-data-pipeline-ffi/src/lib.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Prevent build up of unprocessed requests
  datadog-ipc/tarpc/src/server.rs
Due: datadog-ipc
