Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log

Change artifact name. Use libdd-profiling-ffi
  bin_tests/tests/test_the_tests.rs
Due: none

libdd-sidecar path in Dockerfile
  tools/docker/Dockerfile.build
Due: none

libdd_crashtracker_ffi.dll name
  libdd-crashtracker-ffi/tests/test_app/src/main.rs
Due: none

Manifest metadata
  build-common/Cargo.toml
  libdd-alloc/Cargo.toml
  libdd-common/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-ipc/README.md
  libdd-log/Cargo.toml
  libdd-profiling-protobuf/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-sketch/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-tinybytes/Cargo.toml
  libdd-trace-normalization/Cargo.toml
  libdd-trace-protobuf/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: none

Snapshot path
  libdd-data-pipeline/tests/test_trace_exporter.rs
Due: none

Prepare publication and exclude some crates
  bin_tests/Cargo.toml
  builder/Cargo.toml
  libdd-common-ffi/Cargo.toml
  libdd-crashtracker-ffi/Cargo.toml
  libdd-crashtracker-ffi/tests/test_app/src/main.rs
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-ffe/Cargo.toml
  libdd-ipc-macros/Cargo.toml
  libdd-ipc/Cargo.toml
  libdd-library-config-ffi/Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-live-debugger-ffi/Cargo.toml
  libdd-live-debugger/Cargo.toml
  libdd-log-ffi/Cargo.toml
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-replayer/Cargo.toml
  libdd-remote-config/Cargo.toml
  libdd-sidecar-ffi/Cargo.toml
  libdd-sidecar-macros/Cargo.toml
  libdd-sidecar/Cargo.toml
  libdd-sketch-ffi/Cargo.toml
  libdd-telemetry-ffi/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-tracer-flare/Cargo.toml
  spawn_worker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  tests/spawn_from_lib/Cargo.toml
  tools/Cargo.toml
  tools/sidecar_mockgen/Cargo.toml
Due: spawn-worker

Fix builder.
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
  builder/src/common.rs
  builder/src/crashtracker.rs
  builder/src/profiling.rs
  libdd-common-ffi/cbindgen.toml
  libdd-crashtracker-ffi/Cargo.toml
  libdd-crashtracker-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-library-config-ffi/cbindgen.toml
  libdd-library-config/Cargo.toml
  libdd-live-debugger-ffi/cbindgen.toml
  libdd-log-ffi/Cargo.toml
  libdd-log-ffi/cbindgen.toml
  libdd-log/Cargo.toml
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-ffi/cbindgen.toml
  libdd-sidecar-ffi/cbindgen.toml
  libdd-sketch-ffi/cbindgen.toml
  libdd-telemetry-ffi/cbindgen.toml
Due: none

Fix windows release script.
  windows/build-artifacts.ps1
Due: none

docs: add todo for potential optimization
  datadog-profiling/src/internal/profile/mod.rs
Due: datadog-profiling

style: fix clippy lints
  datadog-profiling-ffi/src/profiles/mod.rs
  datadog-profiling-ffi/src/profiles/utf8.rs
  datadog-profiling-replayer/src/main.rs
  datadog-profiling/src/api2.rs
Due: datadog-profiling, datadog-profiling-ffi

Replace single-attribute constructor with multi-attribute API
  datadog-ffe-ffi/src/evaluation_context.rs
Due: none

Remove unnecessary whitespace in evaluation_context.rs
  datadog-ffe-ffi/src/evaluation_context.rs
Due: none

fix: Rust MSRV compat issue with Default
  datadog-profiling/src/api2.rs
Due: datadog-profiling

Fix documentation formatting in evaluation_context.rs
  Cargo.toml
  datadog-ffe-ffi/src/evaluation_context.rs
Due: none

Fix Cargo.toml
  Cargo.toml
Due: none

style: fix clippy::useless_conversion
  datadog-profiling/benches/add_sample_vs_add2.rs
Due: datadog-profiling

crate publising gitlab workflow
  .gitlab-ci.yml
  .gitlab/publish.yml
Due: none

fix: undo StringId -> InternalStringId renaming as it breaks FFI
  datadog-profiling-ffi/cbindgen.toml
  datadog-profiling-ffi/src/profiles/interning_api.rs
  datadog-profiling/benches/interning_strings.rs
  datadog-profiling/src/collections/identifiable/string_id.rs
  datadog-profiling/src/collections/string_storage.rs
  datadog-profiling/src/collections/string_table/mod.rs
  datadog-profiling/src/internal/endpoints.rs
  datadog-profiling/src/internal/function.rs
  datadog-profiling/src/internal/label.rs
  datadog-profiling/src/internal/mapping.rs
  datadog-profiling/src/internal/profile/interning_api/mod.rs
  datadog-profiling/src/internal/profile/mod.rs
  datadog-profiling/src/internal/upscaling.rs
Due: datadog-profiling, datadog-profiling-ffi

install jq
  .gitlab/publish.yml
Due: none

Fix features for windows build.
  windows/build-artifacts.ps1
Due: none

simplify workflow
  .gitlab/publish.yml
Due: none

fix: undo Internal{Mapping,Function}Id renames too
  datadog-profiling-ffi/src/profiles/interning_api.rs
  datadog-profiling/src/internal/function.rs
  datadog-profiling/src/internal/location.rs
  datadog-profiling/src/internal/mapping.rs
  datadog-profiling/src/internal/profile/interning_api/mod.rs
  datadog-profiling/src/internal/profile/mod.rs
Due: datadog-profiling, datadog-profiling-ffi

fix: impl Send for ProfilesDictionaryTranslator
  datadog-profiling/src/internal/profile/mod.rs
Due: datadog-profiling

remove reference to the iostack from info fetcher
  data-pipeline/src/agent_info/fetcher.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

fix fmt
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

Prevent malloc error in drop functions
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe-ffi/src/configuration.rs
Due: none

Update drop functions to simplify error handling
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe-ffi/src/configuration.rs
Due: none

fix drop chunks for chunk with multiple top level
  datadog-trace-utils/src/span/trace_utils.rs
Due: datadog-trace-utils

Refactor EvaluationContext API
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe-ffi/src/evaluation_context.rs
Due: none

Add comment for drain
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

feat: add api2::Label::{str,num} constructors
  datadog-profiling/src/api2.rs
Due: datadog-profiling

[ffe] add pyo3 conversion methods
  Cargo.lock
  datadog-ffe/Cargo.toml
  datadog-ffe/src/lib.rs
  datadog-ffe/src/pyo3.rs
  datadog-ffe/src/rules_based/attributes.rs
  datadog-ffe/src/rules_based/eval/evaluation_context.rs
  datadog-ffe/src/rules_based/str.rs
  datadog-ffe/src/rules_based/ufc/assignment.rs
  datadog-ffe/src/rules_based/ufc/models.rs
Due: none

Check if pipeline is already running (commented out)
  .gitlab/publish.yml
Due: none

Fix dependencies to cc_utils
  Cargo.lock
  libdd-crashtracker/Cargo.toml
  spawn_worker/Cargo.toml
Due: spawn-worker

publish stage and do not run benchmarks on tag
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
  .gitlab/publish.yml
Due: none

set stage
  .gitlab/benchmarks.yml
Due: none
