Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

fix lint and errors
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

chore: add license
  libdd-data-pipeline/src/telemetry/worker.rs
Due: libdd-data-pipeline

chore: remove cfg statements
  libdd-data-pipeline-ffi/src/error.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix(sql): lowercase limit collapse
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

feat(sql): add all testcases extracted from the agent
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

refactor(shared-runtime): move shared runtime to a module
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-shared-runtime/src/worker.rs
Due: none

fix(sql): limit should not be collapsed on mode == obfuscate_and_normalize
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

fix(sql): fmt + failing test
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

chore: add debug logs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
Due: none

chore: Release
  Cargo.lock
  libdd-common-ffi/Cargo.toml
  libdd-common/CHANGELOG.md
  libdd-common/Cargo.toml
  libdd-crashtracker/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/Cargo.toml
  libdd-profiling/Cargo.toml
  libdd-telemetry/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-crashtracker, libdd-data-pipeline, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-dogstatsd-client, libdd-profiling, libdd-trace-obfuscation, libdd-trace-utils

chore: Release
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-trace-normalization/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-protobuf/CHANGELOG.md
  libdd-trace-protobuf/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils

chore: Release
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-trace-stats/CHANGELOG.md
  libdd-trace-stats/Cargo.toml
Due: libdd-data-pipeline

chore: Release
  Cargo.lock
  libdd-trace-obfuscation/CHANGELOG.md
  libdd-trace-obfuscation/Cargo.toml
Due: libdd-trace-obfuscation

chore: Release
  Cargo.lock
  libdd-trace-normalization/CHANGELOG.md
  libdd-trace-normalization/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-trace-normalization, libdd-trace-utils

chore: Release
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/CHANGELOG.md
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-obfuscation, libdd-trace-utils

chore: Release
  Cargo.lock
  libdd-data-pipeline/CHANGELOG.md
  libdd-data-pipeline/Cargo.toml
Due: libdd-data-pipeline

chore: Release
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-dogstatsd-client/CHANGELOG.md
  libdd-dogstatsd-client/Cargo.toml
Due: libdd-data-pipeline, libdd-dogstatsd-client

revisions
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-utils/src/otlp_encoder/json_types.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-data-pipeline, libdd-trace-utils

revisions part 2
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/otlp_encoder/json_types.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-trace-utils

fix(obfuscation/sql): fmt
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

feat(obfuscation/sql): feature parity on sql obfuscation
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

fix(sql): wrong non_exhaustive enum
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

fix(sql): clippy
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

fix(sql): fuzzing fixes + refacto
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

feat(obfuscation): obfuscate_span
  libdd-trace-obfuscation/src/json.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

lint and cargo
  Cargo.lock
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

span name edit
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-trace-utils

error message update
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-trace-utils

Guard sigchld and sigpipe; add unit tests
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/collector/saguard.rs
Due: libdd-crashtracker

Write bin test for saguard
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_017_sigchld_sigpipe_saguard.rs
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

No need to explicitly call drop since SaGuard goes out of scope
  libdd-crashtracker/src/collector/saguard.rs
Due: libdd-crashtracker

fix(crashtracking): guard sigchld and sigpipe during crashtracker signal handler execution (#1771)
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/mod.rs
  libdd-crashtracker/src/collector/saguard.rs
Due: libdd-crashtracker

feat: add cross-platform session ID shared memory carrier
  Cargo.lock
  Cargo.toml
  datadog-session-id-ffi/Cargo.toml
  datadog-session-id-ffi/build.rs
  datadog-session-id-ffi/src/lib.rs
  datadog-session-id/Cargo.toml
  datadog-session-id/src/lib.rs
Due: none

refactor: generalize to cross-platform named SHM primitives
  Cargo.lock
  Cargo.toml
  datadog-session-id-ffi/src/lib.rs
  datadog-session-id/src/lib.rs
  datadog-shm-ffi/Cargo.toml
  datadog-shm-ffi/build.rs
  datadog-shm-ffi/src/lib.rs
  datadog-shm/Cargo.toml
  datadog-shm/src/lib.rs
Due: none

feat(change-buffer): add CreateSpan, CreateSpanFull, BatchSetMeta, BatchSetMetric opcodes
  libdd-trace-utils/src/change_buffer/buffer.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
Due: libdd-trace-utils

feat(obfuscation/sql): feature parity on sql obfuscation [APMSP-2667] (#1708)
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation
