Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

feat(data-pipeline-ffi): add proper logging
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi

feat(data-pipeline-ffi): migrate export function to sidecar-ffi
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/span.rs
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/lib.rs
Due: data-pipeline, data-pipeline-ffi, datadog-sidecar, datdog-sidecar-ffi

feat(data-pipeline-ffi): add function to manipulate meta_struct
  data-pipeline-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi

test(sidecar-ffi): add file for span tests
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/span.rs
  ddcommon-ffi/src/slice.rs
Due: ddcommon, ddcommon-ffi, datadog-sidecar, datdog-sidecar-ffi

chore: apply feedbacks
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/span.rs
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/lib.rs
Due: data-pipeline, data-pipeline-ffi, datadog-sidecar, datdog-sidecar-ffi

chore: revert to previous Charslice convertion
  data-pipeline-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi

feat: move span code to sidecar-ffi
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/lib.rs
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/cbindgen.toml
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi, datadog-sidecar, datdog-sidecar-ffi

Add faster msgpack encoding
  data-pipeline/src/trace_exporter/mod.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-trace-utils/Cargo.toml
  datadog-trace-utils/benches/main.rs
  datadog-trace-utils/benches/serialization.rs
  datadog-trace-utils/src/lib.rs
  datadog-trace-utils/src/msgpack_decoder/decode/span_event.rs
  datadog-trace-utils/src/msgpack_encoder/mod.rs
  datadog-trace-utils/src/msgpack_encoder/v04/mod.rs
  datadog-trace-utils/src/msgpack_encoder/v04/span.rs
  datadog-trace-utils/src/send_data/mod.rs
  datadog-trace-utils/src/span/mod.rs
Due: data-pipeline, datadog-sidecar, datdog-sidecar-ffi, datadog-trace-utils

Fix buffer overread
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

Avoid expensive is_closed check
  datadog-sidecar-ffi/src/lib.rs
Due: datadog-sidecar, datdog-sidecar-ffi

Cargo fmt
  data-pipeline/src/trace_exporter/mod.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/span.rs
  datadog-trace-utils/benches/main.rs
  datadog-trace-utils/benches/serialization.rs
  datadog-trace-utils/src/msgpack_decoder/decode/span_event.rs
  datadog-trace-utils/src/msgpack_encoder/mod.rs
  datadog-trace-utils/src/msgpack_encoder/v04/mod.rs
  datadog-trace-utils/src/msgpack_encoder/v04/span.rs
  datadog-trace-utils/src/send_data/mod.rs
  datadog-trace-utils/src/span/mod.rs
  datadog-trace-utils/tests/test_send_data.rs
Due: data-pipeline, datadog-sidecar, datdog-sidecar-ffi, datadog-trace-utils

fork tests, almost work
  datadog-profiling-ffi/src/manager/profiler_manager.rs
  datadog-profiling-ffi/tests/test_ffi_fork_child_only.rs
  datadog-profiling-ffi/tests/test_ffi_fork_data_preservation.rs
  datadog-profiling-ffi/tests/test_ffi_fork_parent_child.rs
  datadog-profiling-ffi/tests/test_ffi_fork_parent_only.rs
  datadog-profiling-ffi/tests/test_ffi_lifecycle_basic.rs
  datadog-profiling-ffi/tests/test_ffi_lifecycle_with_data.rs
  datadog-profiling-ffi/tests/test_utils.rs
Due: datadog-profiling, datadog-profiling-ffi

clippy clean
  datadog-profiling-ffi/tests/test_ffi_fork_child_only.rs
  datadog-profiling-ffi/tests/test_ffi_fork_data_preservation.rs
  datadog-profiling-ffi/tests/test_ffi_fork_parent_child.rs
  datadog-profiling-ffi/tests/test_ffi_fork_parent_only.rs
  datadog-profiling-ffi/tests/test_utils.rs
Due: datadog-profiling, datadog-profiling-ffi

Some fixes
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  datadog-sidecar-ffi/src/span.rs
  datadog-trace-utils/src/msgpack_encoder/v04/mod.rs
  datadog-trace-utils/src/span/mod.rs
  datadog-trace-utils/tests/snapshots/compare_send_data_v04_trace_snapshot_test.json
  datadog-trace-utils/tests/snapshots/compare_send_data_v04_trace_snapshot_uds_test.json
  tinybytes/src/lib.rs
Due: data-pipeline, data-pipeline-ffi, datadog-sidecar, datdog-sidecar-ffi, tinybytes, datadog-trace-utils

attempt to reduce flakiness of trace exporter shutdown tests
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

fix span even deserialization to match test agent changes
  data-pipeline/tests/snapshots/compare_exporter_v04_trace_snapshot_test.json
  data-pipeline/tests/snapshots/compare_exporter_v04_trace_snapshot_uds_test.json
  data-pipeline/tests/test_trace_exporter.rs
  datadog-trace-utils/src/msgpack_decoder/decode/span_event.rs
  datadog-trace-utils/src/span/mod.rs
  datadog-trace-utils/tests/snapshots/compare_send_data_v04_trace_snapshot_test.json
  datadog-trace-utils/tests/snapshots/compare_send_data_v04_trace_snapshot_uds_test.json
  datadog-trace-utils/tests/test_send_data.rs
Due: data-pipeline, datadog-trace-utils

fix span even deserialization to match test agent changes (#1129)
  data-pipeline/tests/snapshots/compare_exporter_v04_trace_snapshot_test.json
  data-pipeline/tests/snapshots/compare_exporter_v04_trace_snapshot_uds_test.json
  data-pipeline/tests/test_trace_exporter.rs
  datadog-trace-utils/src/msgpack_decoder/decode/span_event.rs
  datadog-trace-utils/src/span/mod.rs
  datadog-trace-utils/tests/snapshots/compare_send_data_v04_trace_snapshot_test.json
  datadog-trace-utils/tests/snapshots/compare_send_data_v04_trace_snapshot_uds_test.json
  datadog-trace-utils/tests/test_send_data.rs
Due: data-pipeline, datadog-trace-utils

In-process log submission in sidecar (for appsec helper)
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/queue_id.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry/in_proc_receiver.rs
  datadog-sidecar/src/service/telemetry/mod.rs
  datadog-sidecar/src/shm_remote_config.rs
  datadog-sidecar/src/unix.rs
  datadog-sidecar/src/windows.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore: fix telemetry lifecycle
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat: add TracerFlare struct and refacto
  datadog-remote-config/src/config/agent_task.rs
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
  ddcommon/src/lib.rs
Due: ddcommon

fix: fmt
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
Due: none

fix: clippyu
  datadog-tracer-flare/src/lib.rs
Due: none

fix: clippy
  datadog-tracer-flare/src/zip.rs
Due: none

In-process log submission in sidecar (for appsec helper)
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/queue_id.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry/in_proc_receiver.rs
  datadog-sidecar/src/service/telemetry/mod.rs
  datadog-sidecar/src/windows.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(data-pipeline-ffi): add getter functions for SpanBytes
  data-pipeline-ffi/src/span.rs
  tinybytes/src/lib.rs
Due: data-pipeline, data-pipeline-ffi, tinybytes

feat(data-pipeline-ffi): add functions to manipulate span from C
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi

feat(data-pipeline-ffi): use CharSlice as return type for stronger safety
  data-pipeline-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi

feat(data-pipeline-ffi): add function to send traces to the sidecar
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi

Make FFI mod pub
  data-pipeline-ffi/src/lib.rs
  data-pipeline-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi

feat(data-pipeline-ffi): remove macros expansion for function signatures
  data-pipeline-ffi/cbindgen.toml
  data-pipeline-ffi/src/span.rs
Due: data-pipeline, data-pipeline-ffi

Add faster msgpack encoding
  data-pipeline/src/trace_exporter/mod.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-trace-utils/Cargo.toml
  datadog-trace-utils/benches/main.rs
  datadog-trace-utils/benches/serialization.rs
  datadog-trace-utils/src/lib.rs
  datadog-trace-utils/src/msgpack_encoder/mod.rs
  datadog-trace-utils/src/msgpack_encoder/v04/mod.rs
  datadog-trace-utils/src/msgpack_encoder/v04/span.rs
  datadog-trace-utils/src/send_data/mod.rs
  datadog-trace-utils/src/span/mod.rs
Due: data-pipeline, datadog-sidecar, datdog-sidecar-ffi, datadog-trace-utils

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log
