Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, tinybytes, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

Path conditions:
  crashtracker: any of: crashtracker
  crashtracker-ffi: any of: crashtracker-ffi
  datadog-alloc: any of: alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils

fmt
  trace-protobuf/src/lib.rs
  trace-protobuf/src/pb_test.rs
Due: trace-protobuf

Add method to extend an Endpoint's path
  ddcommon/src/lib.rs
Due: ddcommon

Remove query params and use Endpoint path extension
  data-pipeline/src/stats_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_trace_exporter.rs
Due: data-pipeline

Rename try_to_path
  data-pipeline/src/trace_exporter/mod.rs
  ddcommon/src/lib.rs
Due: data-pipeline, ddcommon

chore(ddtelemetry): migrate from RawTable to HashTable API
  ddtelemetry/src/worker/store.rs
Due: ddtelemetry

style(ddtelemetry): fix typos in module name
  ddtelemetry/src/worker/store.rs
Due: ddtelemetry

docs(ddtelemetry): restore deleted comment
  ddtelemetry/src/worker/store.rs
Due: ddtelemetry

chore: rename serializers deserializers (#1007)
  trace-protobuf/build.rs
  trace-protobuf/src/deserializers.rs
  trace-protobuf/src/lib.rs
  trace-protobuf/src/pb.rs
  trace-protobuf/src/pb_test.rs
Due: trace-protobuf

[crashtracker] Refactor receiver manager
  Cargo.lock
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/receiver_manager.rs
  ddcommon/Cargo.toml
  ddcommon/src/lib.rs
  ddcommon/src/unix_utils.rs
Due: crashtracker, ddcommon

Add test token setter
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_trace_exporter.rs
Due: data-pipeline

Make FFI mod pub
  data-pipeline-ffi/src/lib.rs
Due: data-pipeline, data-pipeline-ffi

chore(serverless): update components to drop hashbrown v0.14
  Cargo.lock
  serverless/Cargo.toml
Due: serverless

PR Comment: receiver_unix_stream member function
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/receiver_manager.rs
Due: crashtracker

chore(serverless): update components to drop hashbrown v0.14 (#1013)
  Cargo.lock
  serverless/Cargo.toml
Due: serverless

PR Comments: Move more functions to unix_utils
  crashtracker/src/collector/receiver_manager.rs
  ddcommon/Cargo.toml
  ddcommon/src/unix_utils.rs
Due: crashtracker, ddcommon

Move deprecated cfg to the right file
  crashtracker/src/collector/receiver_manager.rs
Due: crashtracker

format
  crashtracker/src/collector/receiver_manager.rs
Due: crashtracker

weird hex dump test
  trace-utils/logs_error_traces.hex
  trace-utils/src/trace_utils.rs
Due: trace-utils

Maybe don't yolo aarch64 asm
  bin_tests/src/bin/crashtracker_bin_test.rs
Due: none

test(crashtracker): fix segfault tests for 1.86.0 (#999)
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

comments
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/receiver_manager.rs
Due: crashtracker

fix: linux platform
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/sockets.rs
Due: ipc

fix: windows platform
  ipc/src/platform/mem_handle.rs
  ipc/src/platform/windows/mem_handle.rs
Due: ipc

Propagate trace_flusher errors
  sidecar/src/service/tracing/trace_flusher.rs
  trace-mini-agent/src/trace_flusher.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/send_data/send_data_result.rs
  trace-utils/src/send_with_retry/mod.rs
  trace-utils/tests/test_send_data.rs
Due: sidecar, trace-mini-agent, trace-utils

fix: windows platform
  ipc/src/platform/windows/mem_handle.rs
Due: ipc

use terminate
  crashtracker/src/collector/signal_handler_manager.rs
Due: crashtracker

only use one atomic
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/receiver_manager.rs
  ddcommon/src/unix_utils.rs
Due: crashtracker, ddcommon

format
  crashtracker/src/collector/api.rs
Due: crashtracker

safety comment
  ddcommon/src/unix_utils.rs
Due: ddcommon

use different quote marks, stop weird error
  crashtracker/src/collector/receiver_manager.rs
Due: crashtracker

try again
  crashtracker/src/collector/receiver_manager.rs
Due: crashtracker

add retry logic for test setup requests to test agent
  trace-utils/src/test_utils/datadog_test_agent.rs
Due: trace-utils

addressing PR comments
  trace-utils/src/test_utils/datadog_test_agent.rs
Due: trace-utils

APMSP-1930 add retry logic for test setup requests to test agent (#1015)
  trace-utils/src/test_utils/datadog_test_agent.rs
Due: trace-utils

doc: add description to new functions
  trace-utils/src/span/mod.rs
Due: trace-utils
