Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

Fix sidecar logging (#521)
  sidecar/src/config.rs
Due: sidecar

Bump rustls version to 0.23 (#459)
  .github/workflows/test.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  ddcommon/Cargo.toml
  ddcommon/src/connector/conn_stream.rs
  ddcommon/src/connector/mod.rs
  tools/docker/Dockerfile.build
  trace-utils/Cargo.toml
  trace-utils/src/stats_utils.rs
Due: ddcommon, trace-utils

More dynamic configs, fixes and address several review comments
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar/src/entry.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
  trace-protobuf/src/pb/remoteconfig.proto
  trace-protobuf/src/remoteconfig.rs
Due: sidecar, sidecar-ffi, trace-protobuf

Windows support
  sidecar-ffi/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Due: sidecar, sidecar-ffi

Add tests
  ipc/src/lib.rs
  remote-config/Cargo.toml
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/mod.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/test_server.rs
  remote-config/src/parse.rs
  remote-config/src/targets.rs
  sidecar/Cargo.toml
  sidecar/src/shm_remote_config.rs
  trace-protobuf/build.rs
  trace-protobuf/src/remoteconfig.rs
  trace-protobuf/src/serde.rs
Due: ipc, sidecar, trace-protobuf

Minor live-debugger stuff
  live-debugger-ffi/src/evaluator.rs
  live-debugger/src/expr_eval.rs
Due: none

Remove live debugger stuff
  Cargo.lock
  Cargo.toml
  live-debugger-ffi/Cargo.toml
  live-debugger-ffi/cbindgen.toml
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/evaluator.rs
  live-debugger-ffi/src/lib.rs
  live-debugger-ffi/src/query.rs
  live-debugger-ffi/src/sender.rs
  live-debugger/Cargo.toml
  live-debugger/src/debugger_defs.rs
  live-debugger/src/expr_defs.rs
  live-debugger/src/expr_eval.rs
  live-debugger/src/lib.rs
  live-debugger/src/parse_json.rs
  live-debugger/src/parse_json_expr.rs
  live-debugger/src/parse_util.rs
  live-debugger/src/probe_defs.rs
  live-debugger/src/sender.rs
  remote-config/Cargo.toml
  remote-config/src/parse.rs
  sidecar-ffi/Cargo.toml
  sidecar-ffi/cbindgen.toml
  sidecar-ffi/src/lib.rs
  sidecar/Cargo.toml
  sidecar/src/service/blocking.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
Due: sidecar, sidecar-ffi

Uglify with cargo fmt
  ddcommon-ffi/src/slice.rs
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/dynamic_configuration/mod.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/mod.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/fetch/test_server.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  remote-config/src/targets.rs
  sidecar-ffi/src/lib.rs
  sidecar/src/lib.rs
  sidecar/src/service/blocking.rs
  sidecar/src/service/mod.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/session_info.rs
  sidecar/src/service/sidecar_interface.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/shm_remote_config.rs
  trace-protobuf/build.rs
  trace-protobuf/src/pb.rs
Due: ddcommon, ddcommon-ffi, sidecar, sidecar-ffi, trace-protobuf

start timeout handling
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  trace-protobuf/src/pb.rs
Due: trace-protobuf

clippy
  Cargo.lock
  LICENSE-3rdparty.yml
  ipc/src/platform/unix/mem_handle_macos.rs
  remote-config/Cargo.toml
  remote-config/src/dynamic_configuration/data.rs
  remote-config/src/dynamic_configuration/mod.rs
  remote-config/src/fetch/fetcher.rs
  remote-config/src/fetch/mod.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/shared.rs
  remote-config/src/fetch/single.rs
  remote-config/src/fetch/test_server.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  remote-config/src/targets.rs
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/shm_remote_config.rs
  sidecar/src/tracer.rs
  tools/docker/Dockerfile.build
  trace-protobuf/src/pb.rs
  trace-protobuf/src/serde.rs
Due: ipc, sidecar, sidecar-ffi, trace-protobuf

Update lib.rs
  ipc/src/lib.rs
Due: ipc

Update remote-config/src/parse.rs
  remote-config/src/parse.rs
Due: none

Make remote config usable in process, without manual FileStorage interaction
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/fetch/multitarget.rs
  remote-config/src/fetch/single.rs
  remote-config/src/file_change_tracker.rs
  remote-config/src/file_storage.rs
  remote-config/src/lib.rs
Due: none

Avoid multiple QueueId HashMaps for RuntimeInfo
  sidecar/src/service/runtime_info.rs
  sidecar/src/service/sidecar_server.rs
  sidecar/src/service/telemetry/mod.rs
Due: sidecar

Apply suggestions from code review
  remote-config/src/dynamic_configuration/data.rs
Due: none

Move dynamic-configuration into its own crate
  Cargo.lock
  Cargo.toml
  dynamic-configuration/Cargo.toml
  dynamic-configuration/src/data.rs
  dynamic-configuration/src/lib.rs
  remote-config/Cargo.toml
  remote-config/examples/remote_config_fetch.rs
  remote-config/src/dynamic_configuration/mod.rs
  remote-config/src/lib.rs
  remote-config/src/parse.rs
  sidecar/Cargo.toml
  sidecar/src/shm_remote_config.rs
  tools/docker/Dockerfile.build
Due: sidecar

Clippy
  .github/CODEOWNERS
  dynamic-configuration/Cargo.toml
  remote-config/src/parse.rs
  sidecar/src/service/remote_configs.rs
  sidecar/src/shm_remote_config.rs
  trace-protobuf/src/lib.rs
  trace-protobuf/src/pb.rs
  trace-protobuf/src/serde.rs
Due: sidecar, trace-protobuf

fall back to web pki certificates if unable to load platform certs
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
Due: ddcommon

add allow_fallback_to_webpki_certs parameter and unit tests
  ddcommon/src/connector/mod.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/stats_utils.rs
Due: ddcommon, trace-utils

fix formatting and regenerate license
  LICENSE-3rdparty.yml
  ddcommon/src/connector/mod.rs
Due: ddcommon

Add DatadogTestAgent that runs the test agent for tracing in an ephemeral docker container. Also, add initial baseline snapshot test.
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
  trace-utils/tests/test_send_data.rs
Due: trace-utils

Update CI workflows to support tracing integration tests
  .github/workflows/test.yml
Due: none

Update cargo.lock and license file with changes for DatadogTestAgent
  Cargo.lock
  LICENSE-3rdparty.yml
Due: none

address comments
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
Due: trace-utils

move free disk space step up to run first
  .github/workflows/test.yml
Due: none

cleanup
  .github/workflows/test.yml
Due: none

Update README.md
  README.md
Due: none

Update readme
  README.md
Due: none

ekump/adding-test-agent-to-trace-utils (#516)
  .github/workflows/test.yml
  Cargo.lock
  LICENSE-3rdparty.yml
  README.md
  trace-utils/Cargo.toml
  trace-utils/src/test_utils/datadog_test_agent.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/tests/snapshots/compare_v04_trace_snapshot_test.json
  trace-utils/tests/test_send_data.rs
Due: trace-utils

Enable all benchmarks
  alloc/Cargo.toml
  benchmark/run_benchmarks_ci.sh
  bin_tests/Cargo.toml
  build-common/Cargo.toml
  crashtracker/Cargo.toml
  data-pipeline-ffi/Cargo.toml
  data-pipeline/Cargo.toml
  ddcommon-ffi/Cargo.toml
  ddcommon/Cargo.toml
  ddsketch/Cargo.toml
  ddtelemetry-ffi/Cargo.toml
  ddtelemetry/Cargo.toml
  ipc/Cargo.toml
  ipc/benches/ipc.rs
  ipc/macros/Cargo.toml
  ipc/tarpc/plugins/Cargo.toml
  ipc/tarpc/tarpc/Cargo.toml
  profiling-ffi/Cargo.toml
  profiling-replayer/Cargo.toml
  profiling/Cargo.toml
  serverless/Cargo.toml
  sidecar-ffi/Cargo.toml
  sidecar/Cargo.toml
  sidecar/macros/Cargo.toml
  spawn_worker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  tests/spawn_from_lib/Cargo.toml
  tools/Cargo.toml
  tools/cc_utils/Cargo.toml
  tools/docker/Dockerfile.build
  tools/sidecar_mockgen/Cargo.toml
  trace-mini-agent/Cargo.toml
  trace-normalization/Cargo.toml
  trace-obfuscation/Cargo.toml
  trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
  trace-protobuf/Cargo.toml
  trace-utils/Cargo.toml
Due: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

add webpki_cert_fallback feature to ddcommon
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  trace-utils/Cargo.toml
  trace-utils/src/send_data/mod.rs
  trace-utils/src/stats_utils.rs
Due: ddcommon, trace-utils

conditionally enable hyper-rustls/webpki-roots when webpki_cert_fallback is enabled
  ddcommon/Cargo.toml
Due: ddcommon

fix unit test
  ddcommon/src/connector/mod.rs
Due: ddcommon

Add FFI call to set the timeout in the endpoint struct.
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
Due: ddcommon, ddcommon-ffi

Implement timeouts in trace-utils and ddtelemetry.
  ddcommon-ffi/src/endpoint.rs
  ddcommon/src/lib.rs
  ddtelemetry/src/config.rs
  ddtelemetry/src/worker/mod.rs
  profiling/src/exporter/config.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/test_utils/mod.rs
Due: ddcommon, ddcommon-ffi, ddtelemetry, profiling, trace-utils

Fix test behavior on windows.
  trace-utils/src/send_data/mod.rs
Due: trace-utils

Fix Endpoint use to handle the new timeout field.
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker/src/api.rs
  crashtracker/src/telemetry.rs
  data-pipeline/src/trace_exporter.rs
  ddcommon-ffi/src/endpoint.rs
  ddtelemetry-ffi/src/lib.rs
  ddtelemetry/examples/tm-metrics-worker-test.rs
  ddtelemetry/examples/tm-send-sketch.rs
  ddtelemetry/examples/tm-worker-test.rs
  ddtelemetry/src/config.rs
  profiling/src/exporter/config.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/config.rs
  sidecar/src/dogstatsd.rs
  sidecar/src/service/tracing/trace_flusher.rs
  sidecar/src/tracer.rs
  trace-mini-agent/src/config.rs
  trace-mini-agent/src/trace_processor.rs
Due: crashtracker, data-pipeline, ddcommon, ddcommon-ffi, ddtelemetry, profiling, sidecar, sidecar-ffi, trace-mini-agent

Add timeout field to Endpoint struct.
  ddcommon/src/lib.rs
Due: ddcommon
