Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

fix: clippy
  libdd-trace-utils/tests/test_send_data.rs
Due: libdd-trace-utils

fix: remove redundant span dedup call that broke V1 snapshot test and add missing license header
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_filters.rs
Due: libdd-data-pipeline

fix: new copyright dates
  libdd-data-pipeline/tests/test_trace_filters.rs
  libdd-trace-utils/src/trace_filter.rs
Due: libdd-data-pipeline, libdd-trace-utils

re add span deduping
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

refactor: get rid of deferred and other small caches
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

fix: do not increment counter unconditionally
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

fix(tests): update V1 snapshot to match test agent v1.61.1 behavior
  libdd-data-pipeline/tests/snapshots/compare_exporter_v04_to_v1_trace_snapshot_test.json
Due: libdd-data-pipeline

Dedup VecMap spans before serialization
  datadog-sidecar-ffi/src/lib.rs
Due: datadog-sidecar, datdog-sidecar-ffi

Rename INSTANCE_NAME to COMPUTERNAME
  libdd-common/src/azure_app_services.rs
Due: libdd-common

fix(sidecar): Dedup VecMap spans before serialization (#2107)
  datadog-sidecar-ffi/src/lib.rs
Due: datadog-sidecar, datdog-sidecar-ffi

Rename the config to `otel_trace_semantics_enabled`
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-data-pipeline, libdd-trace-utils

Fix linter issues
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

Small comment update
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

fix(ffe): honor shared fixture result metadata
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe-test-suite/tests/canonical_fixtures.rs
  datadog-ffe/src/rules_based/error.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/compiled_flag_config.rs
Due: none

test(ffe): rely on shared fixture coverage
  datadog-ffe-ffi/src/assignment.rs
Due: none

ci(release): accept commas only as crate separator
  .github/workflows/release-proposal-dispatch.yml
Due: none

refactor: use a unique trace for one chunk
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

feat(shared-runtime)!: use weak waker in trigger [APMSP-3371] (#2050)
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-shared-runtime/Cargo.toml
  libdd-shared-runtime/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-shared-runtime/src/weak_waker.rs
  libdd-shared-runtime/src/worker.rs
Due: libdd-data-pipeline

fix(trace-utils): mark decoded span maps as deduped
  libdd-trace-utils/src/msgpack_decoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v04/span.rs
  libdd-trace-utils/src/msgpack_decoder/v05/mod.rs
  libdd-trace-utils/src/span/vec_map.rs
Due: libdd-trace-utils

feat(trace-utils)!: change buffer implementation (#2055)
  Cargo.lock
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/change_buffer/buffer.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
  libdd-trace-utils/src/change_buffer/trace.rs
  libdd-trace-utils/src/span/vec_map.rs
Due: libdd-trace-utils

fix(trace-utils): restore mark_deduped closing brace after merge
  libdd-trace-utils/src/msgpack_decoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v04/span.rs
  libdd-trace-utils/src/msgpack_decoder/v05/mod.rs
  libdd-trace-utils/src/span/vec_map.rs
Due: libdd-trace-utils

feat(sidecar): add retry interval configuration (#2106)
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/tracer.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore(libdd-trace-normalization): enable workspace lints + auto clippy fixes
  libdd-trace-normalization/Cargo.toml
  libdd-trace-normalization/benches/normalization_utils.rs
  libdd-trace-normalization/src/fuzz.rs
  libdd-trace-normalization/src/normalize_utils.rs
  libdd-trace-normalization/src/normalizer.rs
  libdd-trace-normalization/src/utf8_helpers.rs
Due: libdd-trace-normalization

chore(libdd-trace-normalization): fix clippy style/doc/cast warnings; globally allow manual_string_new
  Cargo.toml
  libdd-trace-normalization/benches/normalization_utils.rs
  libdd-trace-normalization/src/fuzz.rs
  libdd-trace-normalization/src/normalize_utils.rs
  libdd-trace-normalization/src/normalizer.rs
Due: libdd-trace-normalization

chore(libdd-trace-normalization): allow intentional casts and structural lints with FIXME
  libdd-trace-normalization/src/fuzz.rs
  libdd-trace-normalization/src/normalize_utils.rs
  libdd-trace-normalization/src/normalizer.rs
  libdd-trace-normalization/src/utf8_helpers.rs
Due: libdd-trace-normalization

fix(trace-utils): mark decoded span maps as deduped (#2110)
  libdd-trace-utils/src/msgpack_decoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v04/span.rs
  libdd-trace-utils/src/msgpack_decoder/v05/mod.rs
  libdd-trace-utils/src/span/vec_map.rs
Due: libdd-trace-utils

chore: globally allow cast_possible_truncation; remove now-redundant local suppression
  Cargo.toml
  libdd-trace-normalization/src/normalize_utils.rs
  libdd-trace-normalization/src/normalizer.rs
Due: libdd-trace-normalization

chore(libdd-trace-normalization): fix clippy::implicit_clone on stable toolchain
  libdd-trace-normalization/src/normalizer.rs
Due: libdd-trace-normalization

feat: agentless RC fetcher
  Cargo.lock
  libdd-common/src/lib.rs
  libdd-remote-config/Cargo.toml
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/roots/prod/config_root.json
  libdd-remote-config/roots/prod/director_root.json
  libdd-remote-config/src/agentless_client/mod.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/shared.rs
  libdd-remote-config/src/fetch/single.rs
  libdd-remote-config/src/fetch/test_server.rs
  libdd-remote-config/src/lib.rs
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb/remoteconfig.proto
  libdd-trace-protobuf/src/remoteconfig.rs
Due: libdd-common, libdd-trace-protobuf

fix(ffe): report temporal defaults
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe-test-suite/tests/canonical_fixtures.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/assignment.rs
Due: none

feat(trace-protobuf): vendor + generate OTLP trace/collector prost types
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/_includes.rs
  libdd-trace-protobuf/src/opentelemetry.proto.collector.trace.v1.rs
  libdd-trace-protobuf/src/opentelemetry.proto.trace.v1.rs
  libdd-trace-protobuf/src/pb/opentelemetry/proto/collector/trace/v1/trace_service.proto
  libdd-trace-protobuf/src/pb/opentelemetry/proto/trace/v1/trace.proto
Due: libdd-trace-protobuf

docs(otlp): design spec for OTLP HTTP/protobuf trace export
  docs/superpowers/specs/2026-06-12-otlp-http-protobuf-export-design.md
Due: none

docs(otlp): implementation plan for OTLP HTTP/protobuf trace export
  docs/superpowers/plans/2026-06-12-otlp-http-protobuf-export.md
Due: none

feat(trace-utils): add serde->prost OTLP converter
  libdd-trace-utils/src/otlp_encoder/mod.rs
  libdd-trace-utils/src/otlp_encoder/proto_convert.rs
Due: libdd-trace-utils

refactor(trace-utils): clarify OTLP converter + add fallback/status tests
  libdd-trace-utils/src/otlp_encoder/proto_convert.rs
Due: libdd-trace-utils

feat(trace-utils): add encode_otlp_json/encode_otlp_protobuf
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/otlp_encoder/mod.rs
Due: libdd-trace-utils

revert frame count experimental
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_8.json
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/experimental.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

feat(data-pipeline): add TraceExporterBuilder::set_otlp_protocol
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

feat(data-pipeline): make OtlpProtocol public with FromStr
  libdd-data-pipeline/src/lib.rs
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/mod.rs
Due: libdd-data-pipeline

feat(data-pipeline): set OTLP content-type from protocol
  libdd-data-pipeline/src/otlp/exporter.rs
Due: libdd-data-pipeline

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
