Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

chore: wording
  libdd-otel-thread-ctx-ffi/README.md
  libdd-otel-thread-ctx/Cargo.toml
Due: none

fix(profiling): avoid scheduler-dependent flakes in exporter manager test
  libdd-profiling/src/exporter/exporter_manager.rs
Due: libdd-profiling

fix(profiling): avoid scheduler-dependent flakes in exporter manager test (#2574)
  libdd-profiling/src/exporter/exporter_manager.rs
Due: libdd-profiling

Guard against unauthorized file access
  datadog-sidecar/src/auth.rs
  datadog-sidecar/src/crashtracker.rs
  datadog-sidecar/src/log.rs
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/setup/thread_listener.rs
  libdd-capabilities-impl/src/http.rs
  libdd-common/src/connector/conn_stream.rs
  libdd-common/src/dump_server.rs
  libdd-common/src/unix_utils/mod.rs
  libdd-common/src/unix_utils/restricted_file.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/lib.rs
  libdd-crashtracker/src/receiver/benchmark.rs
  libdd-crashtracker/src/receiver/entry_points.rs
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-dogstatsd-client/src/client/sink.rs
Due: libdd-crashtracker, libdd-common, libdd-dogstatsd-client, datadog-sidecar

Address PR feedback
  Cargo.lock
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/log.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/setup/mod.rs
  datadog-sidecar/src/setup/thread_listener.rs
  datadog-sidecar/src/setup/thread_listener_windows.rs
  datadog-sidecar/src/setup/unix.rs
  datadog-sidecar/src/tracer.rs
  datadog-sidecar/tests/connection_auth.rs
  libdd-ipc/src/platform/unix/mem_handle.rs
  libdd-ipc/src/platform/unix/process.rs
  libdd-ipc/src/rate_limiter.rs
  libdd-ipc/src/shm_stats.rs
  spawn_worker/src/unix/spawn.rs
Due: datadog-sidecar, spawn-worker

feat(profiling): add OpenTelemetry protobuf types (#2563)
  Cargo.lock
  Cargo.toml
  LICENSE-3rdparty.csv
  libdd-profiling/Cargo.toml
  libdd-profiling/src/lib.rs
  libdd-profiling/src/otel.rs
Due: libdd-profiling

fix(crashtracker): make causal-stack behaviour opt-in
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/receiver/entry_points.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/builder.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
Due: libdd-crashtracker

test(crashtracker): skip test_instance-based test under Miri
  libdd-crashtracker/src/receiver/entry_points.rs
Due: libdd-crashtracker

docs(crashtracker): scope the stack-promotion comment to unwind_from_ucontext
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

fix(crashtracker): preserve crash stacks and validate stack options
  libdd-crashtracker/src/receiver/entry_points.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/builder.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
Due: libdd-crashtracker

test(crashtracker): cover saved-context unwinding in bin tests
  Cargo.lock
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_receiver.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Unwind thread stacks in the collector child
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/error_data.rs
  libdd-crashtracker/src/lib.rs
  libdd-crashtracker/src/ptrace_collector.rs
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/constants.rs
Due: libdd-crashtracker

ci: add backport labels
  .github/chainguard/self.backport.create-pr.sts.yaml
  .github/workflows/backport-validate.yml
  .github/workflows/backport.yml
  CONTRIBUTING.md
Due: none

docs: applied Yann suggestions
  .gitlab/impacted-crates.yml
Due: none

refactor(crashtracker): simplify receiver register setup
  bin_tests/src/bin/crashtracker_receiver.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

refactor(crashtracker): share receiver hex parser
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

fix(trace-utils): dedup V1 payloads after decoding
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-trace-utils

refactor(sidecar-ffi): drop the chunk dropped_trace getter
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(trace_utils): add mutable metadata
  Cargo.lock
  datadog-sidecar/src/service/stats_flusher.rs
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/benches/agentless_encoding.rs
  libdd-trace-utils/benches/otlp_encoding.rs
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
  libdd-trace-utils/src/agentless_encoder/tests_v1.rs
  libdd-trace-utils/src/lib.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/mutable_metadata.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  libdd-trace-utils/src/otlp_encoder/mod.rs
  libdd-trace-utils/src/tracer_metadata.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, datadog-sidecar, libdd-trace-utils

fix test helper
  libdd-data-pipeline-core/src/agentless/v04.rs
Due: libdd-data-pipeline

move mutable metadata to ddcommon
  Cargo.lock
  datadog-sidecar/src/service/stats_flusher.rs
  libdd-common-ffi/src/lib.rs
  libdd-common/Cargo.toml
  libdd-common/src/lib.rs
  libdd-common/src/mutable_metadata.rs
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/benches/agentless_encoding.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
  libdd-trace-utils/src/agentless_encoder/tests_v1.rs
  libdd-trace-utils/src/lib.rs
  libdd-trace-utils/src/otlp_encoder/mod.rs
  libdd-trace-utils/src/tracer_metadata.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, datadog-sidecar, libdd-trace-utils

fix lint
  Cargo.lock
  libdd-common-ffi/src/mutable_metadata.rs
Due: libdd-common, libdd-common-ffi

add ffi bindings
  libdd-common-ffi/src/mutable_metadata.rs
Due: libdd-common, libdd-common-ffi

apply suggestions
  libdd-common-ffi/Cargo.toml
  libdd-common-ffi/src/mutable_metadata.rs
  libdd-common/src/mutable_metadata.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, libdd-common, libdd-common-ffi

feat(telemetry): use mutable metadata
  Cargo.lock
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
  libdd-telemetry/Cargo.toml
  libdd-telemetry/src/worker/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry

fix imports
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-data-pipeline, libdd-telemetry

unify trace exporter runtime_id
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix lints
  Cargo.lock
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
  libdd-telemetry/Cargo.toml
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry

style: apply nightly rustfmt to CI helper crates
  .github/actions/ci-shared/src/lib.rs
  .github/actions/ci-shared/src/workspace.rs
  .github/actions/crates-reporter/src/main.rs
Due: none

ci: lint and test the CI helper crates under .github/actions
  .github/workflows/lint.yml
Due: none

feat(crashtracker): opt-in unwind from saved crash context (#2398)
  Cargo.lock
  bin_tests/Cargo.toml
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/bin/crashtracker_receiver.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/receiver/entry_points.rs
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/builder.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
Due: libdd-crashtracker

fix(crashtracker): trim musl raise frames for thread-directed signals
  libdd-crashtracker/src/receiver/entry_points.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
Due: libdd-crashtracker

fix(crashtracker): preserve libc frames for cross-thread signals
  libdd-crashtracker/src/receiver/entry_points.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
Due: libdd-crashtracker

build: migrate crashtracker & bin_tests to Rust 2024 edition [APMSP-4029]
  bin_tests/src/bin/crashing_test_app.rs
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/modes/unix/test_008_fork.rs
  bin_tests/src/modes/unix/test_010_runtime_callback_frame.rs
  bin_tests/src/modes/unix/test_011_runtime_callback_string.rs
  bin_tests/src/modes/unix/test_012_runtime_callback_frame_invalid_utf8.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker-ffi/src/collector/additional_tags.rs
  libdd-crashtracker-ffi/src/collector/counters.rs
  libdd-crashtracker-ffi/src/collector/mod.rs
  libdd-crashtracker-ffi/src/collector/spans.rs
  libdd-crashtracker-ffi/src/collector_windows/api.rs
  libdd-crashtracker-ffi/src/crash_info/api.rs
  libdd-crashtracker-ffi/src/crash_info/builder.rs
  libdd-crashtracker-ffi/src/crash_info/stackframe.rs
  libdd-crashtracker-ffi/src/crash_info/stacktrace.rs
  libdd-crashtracker-ffi/src/demangler/mod.rs
  libdd-crashtracker-ffi/src/receiver.rs
  libdd-crashtracker-ffi/src/runtime_callback.rs
  libdd-crashtracker/src/collector/atomic_set.rs
  libdd-crashtracker/src/collector/signal_handler_manager.rs
  libdd-crashtracker/src/collector_windows/api.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/metadata.rs
  libdd-crashtracker/src/crash_info/sig_info.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/runtime_callback.rs
  libdd-crashtracker/tests/proxy.rs
Due: libdd-crashtracker, libdd-crashtracker-ffi

build: migrate profiling crates to Rust 2024 edition [APMSP-4029]
  libdd-alloc/src/virtual_alloc.rs
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling-ffi/src/profile_status.rs
  libdd-profiling-ffi/src/profiles/datatypes.rs
  libdd-profiling-ffi/src/profiles/interning_api.rs
  libdd-profiling-ffi/src/profiles/mod.rs
  libdd-profiling-ffi/src/profiles/profiles_dictionary.rs
  libdd-profiling-ffi/src/profiles/utf8.rs
  libdd-profiling-ffi/src/string_storage.rs
  libdd-profiling-heap-allocator/src/allocator.rs
  libdd-profiling-heap-gotter-ffi/src/lib.rs
  libdd-profiling-heap-gotter/examples/gotter_usdt_demo.rs
  libdd-profiling-heap-gotter/src/elf.rs
  libdd-profiling-heap-gotter/src/hooks.rs
  libdd-profiling-heap-gotter/tests/install.rs
  libdd-profiling-heap-sampler/src/lib.rs
  libdd-profiling/src/exporter/exporter_manager.rs
  libdd-profiling/src/internal/observation/trimmed_observation.rs
  libdd-profiling/src/internal/profile/mod.rs
  libdd-profiling/src/internal/profile/profiles_dictionary_translator.rs
  libdd-profiling/src/profiles/collections/arc.rs
  libdd-profiling/src/profiles/collections/parallel/sharded.rs
  libdd-profiling/src/profiles/collections/parallel/slice_set.rs
  libdd-profiling/src/profiles/collections/parallel/string_set.rs
  libdd-profiling/src/profiles/collections/slice_set.rs
  libdd-profiling/src/profiles/collections/string_set.rs
  libdd-profiling/src/profiles/collections/thin_str.rs
  libdd-profiling/src/profiles/datatypes/function.rs
  libdd-profiling/src/profiles/datatypes/mapping.rs
Due: libdd-alloc, libdd-profiling, libdd-profiling-ffi

build: migrate sidecar, live-debugger & spawn_worker to Rust 2024 edition [APMSP-4029]
  datadog-sidecar-ffi/Cargo.toml
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/sidecar.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/sidecar_server.rs
  datadog-sidecar/src/service/stats_flusher.rs
  datadog-sidecar/src/service/telemetry.rs
  datadog-sidecar/src/service/tracing/trace_flusher.rs
  datadog-sidecar/src/setup/thread_listener.rs
  datadog-sidecar/src/shm_remote_config.rs
  datadog-sidecar/src/tokio_util.rs
  datadog-sidecar/src/unix.rs
  datadog-sidecar/src/windows.rs
  libdd-live-debugger-ffi/src/data.rs
  libdd-live-debugger-ffi/src/evaluator.rs
  libdd-live-debugger-ffi/src/parse.rs
  libdd-live-debugger-ffi/src/send_data.rs
  libdd-live-debugger-ffi/src/sender.rs
  libdd-live-debugger/src/expr_eval.rs
  libdd-live-debugger/src/redacted_names.rs
  spawn_worker/Cargo.toml
  spawn_worker/src/unix/fork.rs
  spawn_worker/src/unix/mod.rs
  tests/spawn_from_lib/Cargo.toml
  tests/spawn_from_lib/src/lib.rs
Due: datadog-sidecar, datdog-sidecar-ffi, spawn-worker

build: migrate libdd-common & workspace manifest to Rust 2024 edition [APMSP-4029]
  Cargo.toml
  bin_tests/Cargo.toml
  libdd-common-ffi/src/array_queue.rs
  libdd-common-ffi/src/endpoint.rs
  libdd-common-ffi/src/error.rs
  libdd-common-ffi/src/handle.rs
  libdd-common-ffi/src/option.rs
  libdd-common-ffi/src/slice.rs
  libdd-common-ffi/src/string.rs
  libdd-common-ffi/src/tags.rs
  libdd-common/src/azure_app_services.rs
  libdd-common/src/bench_utils.rs
  libdd-common/src/connector/conn_stream.rs
  libdd-common/src/connector/mod.rs
  libdd-common/src/cstr.rs
  libdd-common/src/tag.rs
  libdd-common/src/test_utils.rs
Due: libdd-common, libdd-common-ffi

build: migrate data-pipeline, telemetry, otel-thread-ctx & core crates to Rust 2024 edition [APMSP-4029]
  builder/src/crashtracker.rs
  libdd-data-pipeline-ffi/src/error.rs
  libdd-data-pipeline-ffi/src/lib.rs
  libdd-data-pipeline-ffi/src/response.rs
  libdd-data-pipeline-ffi/src/structured_value.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline-ffi/src/tracer.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/tests/test_trace_filters.rs
  libdd-log-ffi/src/lib.rs
  libdd-otel-thread-ctx-ffi/src/lib.rs
  libdd-otel-thread-ctx/src/linux.rs
  libdd-shared-runtime-ffi/src/lib.rs
  libdd-shared-runtime-ffi/src/shared_runtime.rs
  libdd-shared-runtime/src/shared_runtime/pausable_worker.rs
  libdd-telemetry-ffi/src/builder.rs
  libdd-telemetry-ffi/src/builder/expanded.rs
  libdd-telemetry-ffi/src/lib.rs
  libdd-telemetry-ffi/src/worker_handle.rs
  libdd-telemetry/src/info.rs
  libdd-telemetry/src/metrics.rs
  libdd-telemetry/src/worker/mod.rs
  libdd-tinybytes/src/lib.rs
  tools/src/bin/ffi_test.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-tinybytes, libdd-log

build: migrate ddsketch to Rust 2024 edition [APMSP-4029]
  libdd-ddsketch-ffi/src/lib.rs
  libdd-ddsketch/build.rs
  libdd-ddsketch/src/lib.rs
Due: none

build: migrate ipc & php tooling crates to Rust 2024 edition [APMSP-4029]
  datadog-sidecar-macros/Cargo.toml
  libdd-ipc/src/atomic_option.rs
  libdd-ipc/src/one_way_shared_memory.rs
  libdd-ipc/src/platform/mem_handle.rs
  libdd-ipc/src/platform/platform_handle.rs
  libdd-ipc/src/platform/unix/mod.rs
  libdd-ipc/src/platform/unix/platform_handle.rs
  libdd-ipc/src/platform/unix/sockets/macos.rs
  libdd-ipc/src/platform/windows/platform_handle.rs
  libdd-ipc/src/shm_stats.rs
  libdd-ipc/tests/flock.rs
  tools/cc_utils/Cargo.toml
  tools/sidecar_mockgen/Cargo.toml
Due: datadog-sidecar

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
