Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

build: migrate clippy-annotation-reporter to Rust 2024 edition [APMSP-4029]
  .github/actions/clippy-annotation-reporter/Cargo.toml
  .github/actions/clippy-annotation-reporter/src/config.rs
  .github/actions/clippy-annotation-reporter/src/main.rs
Due: none

style: apply Rust 2024 edition formatting to libdd-common and the workspace manifest [APMSP-4029]
  libdd-common-ffi/src/array_queue.rs
  libdd-common-ffi/src/endpoint.rs
  libdd-common-ffi/src/handle.rs
  libdd-common-ffi/src/mutable_metadata.rs
  libdd-common-ffi/src/slice.rs
  libdd-common-ffi/src/slice_mut.rs
  libdd-common-ffi/src/string.rs
  libdd-common-ffi/src/tags.rs
  libdd-common-ffi/src/utils.rs
  libdd-common/src/bench_utils.rs
  libdd-common/src/connector/mod.rs
  libdd-common/src/connector/proxy.rs
  libdd-common/src/lib.rs
  libdd-common/src/machine_id/linux.rs
  libdd-common/src/machine_id/macos.rs
  libdd-common/src/machine_id/windows.rs
  libdd-common/src/multipart.rs
  libdd-common/src/rate_limiter.rs
  libdd-common/src/regex_engine.rs
  libdd-common/src/test_utils.rs
  libdd-common/src/unix_utils/fork.rs
  libdd-common/src/unix_utils/mod.rs
  libdd-common/src/unix_utils/process.rs
  libdd-common/tests/execve_integration.rs
  libdd-common/tests/reqwest_builder_test.rs
  libdd-remote-config/examples/remote_config_agentless_bench.rs
  libdd-remote-config/examples/remote_config_fetch.rs
Due: libdd-common, libdd-common-ffi

style: apply Rust 2024 edition formatting to ipc and the PHP tooling crates [APMSP-4029]
  libdd-ipc-macros/src/lib.rs
  libdd-ipc/benches/ipc.rs
  libdd-ipc/src/atomic_option.rs
  libdd-ipc/src/client.rs
  libdd-ipc/src/codec.rs
  libdd-ipc/src/example_interface.rs
  libdd-ipc/src/lib.rs
  libdd-ipc/src/one_way_shared_memory.rs
  libdd-ipc/src/platform/mem_handle.rs
  libdd-ipc/src/platform/platform_handle.rs
  libdd-ipc/src/platform/unix/locks.rs
  libdd-ipc/src/platform/unix/mem_handle.rs
  libdd-ipc/src/platform/unix/mem_handle_macos.rs
  libdd-ipc/src/platform/unix/platform_handle.rs
  libdd-ipc/src/platform/unix/sockets/linux.rs
  libdd-ipc/src/platform/unix/sockets/macos.rs
  libdd-ipc/src/platform/unix/sockets/mod.rs
  libdd-ipc/src/platform/windows/mem_handle.rs
  libdd-ipc/src/platform/windows/platform_handle.rs
  libdd-ipc/src/platform/windows/sockets.rs
  libdd-ipc/src/platform/windows/sockets/reader.rs
  libdd-ipc/src/platform/windows/sockets/writer.rs
  libdd-ipc/src/shm_stats.rs
  libdd-ipc/tests/blocking_client.rs
  libdd-ipc/tests/flock.rs
  libdd-ipc/tests/oneway.rs
  libdd-ipc/tests/windows_shm.rs
Due: none

style: apply Rust 2024 edition formatting to ffe-ffi [APMSP-4029]
  libdd-ffe-ffi/src/assignment.rs
  libdd-ffe-ffi/src/configuration.rs
  libdd-ffe-ffi/src/evaluation_context.rs
  libdd-ffe-test-suite/benches/eval.rs
  libdd-ffe-test-suite/tests/canonical_fixtures.rs
  libdd-ffe/src/rules_based/attributes.rs
  libdd-ffe/src/rules_based/configuration.rs
  libdd-ffe/src/rules_based/eval/eval_assignment.rs
  libdd-ffe/src/rules_based/eval/eval_rules.rs
  libdd-ffe/src/rules_based/eval/evaluation_context.rs
  libdd-ffe/src/rules_based/mod.rs
  libdd-ffe/src/rules_based/str.rs
  libdd-ffe/src/rules_based/ufc/assignment.rs
  libdd-ffe/src/rules_based/ufc/compiled_flag_config.rs
  libdd-ffe/src/telemetry/exposures.rs
  libdd-ffe/src/telemetry/flagevaluation.rs
  libdd-ffe/src/telemetry/flagevaluation/sender.rs
Due: none

style: apply Rust 2024 edition formatting to the OTLP exporter and encoder [APMSP-4029]
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/otlp/grpc_exporter.rs
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_grpc.rs
  libdd-trace-utils/src/otlp_encoder/json_serializer.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  libdd-trace-utils/src/otlp_encoder/mapper_v1.rs
  libdd-trace-utils/src/otlp_encoder/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

style: apply Rust 2024 edition formatting to library-config [APMSP-4029]
  libdd-library-config-ffi/src/lib.rs
  libdd-library-config-ffi/src/tracer_metadata.rs
  libdd-library-config/src/lib.rs
  libdd-library-config/src/otel_process_ctx.rs
  libdd-library-config/src/otel_process_ctx/reader.rs
  libdd-library-config/src/otel_process_ctx/reader/copy_pipe_unix.rs
  libdd-library-config/src/otel_process_ctx/reader/linux.rs
  libdd-library-config/src/otel_process_ctx/writer.rs
  libdd-library-config/src/otel_process_ctx/writer/linux.rs
  libdd-library-config/src/tracer_metadata.rs
Due: none

style: apply Rust 2024 edition formatting to remote-config [APMSP-4029]
  libdd-remote-config/src/config/dynamic.rs
  libdd-remote-config/src/fetch/agentless.rs
  libdd-remote-config/src/fetch/agentless/integration_tests.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/multitarget.rs
  libdd-remote-config/src/fetch/shared.rs
  libdd-remote-config/src/fetch/single.rs
  libdd-remote-config/src/fetch/test_server.rs
  libdd-remote-config/src/file_storage.rs
  libdd-remote-config/src/parse.rs
Due: none

style: apply Rust 2024 edition formatting to tracer-flare [APMSP-4029]
  libdd-tracer-flare/src/lib.rs
  libdd-tracer-flare/src/zip.rs
  libdd-tracer-flare/tests/test_tracer_flare.rs
Due: libdd-tracer-flare

style: apply Rust 2024 edition formatting to ddsketch [APMSP-4029]
  libdd-ddsketch-ffi/src/lib.rs
  libdd-ddsketch/benches/ddsketch_bench.rs
Due: none

style: apply Rust 2024 edition formatting to the sidecar FFE exposures flusher [APMSP-4029]
  datadog-sidecar/src/service/ffe_exposures_flusher.rs
Due: datadog-sidecar

style: apply Rust 2024 edition formatting to libdd-gotter [APMSP-4029]
  libdd-gotter/src/elf.rs
Due: none

style: apply Rust 2024 edition formatting to the bin_tests harness test [APMSP-4029]
  bin_tests/tests/test_the_tests.rs
Due: none

style: apply Rust 2024 edition formatting to the wasm compression test [APMSP-4029]
  tests/wasm/tests/compression.rs
Due: none

build: migrate sidecar signal-flush and Windows RC-notification code to Rust 2024 edition [APMSP-4029]
  datadog-sidecar-ffi/src/remote_config_notification.rs
  datadog-sidecar-ffi/src/signal_flush.rs
  datadog-sidecar/src/service/signal_flush.rs
  datadog-sidecar/src/windows/remote_config_notification.rs
Due: datadog-sidecar, datdog-sidecar-ffi

build: migrate ipc signal-safe syscall code to Rust 2024 edition [APMSP-4029]
  libdd-ipc/src/signal_safe.rs
  libdd-ipc/src/signal_safe/syscalls.rs
Due: none

Underscore potentially unused var
  libdd-otel-thread-ctx/src/linux/owned.rs
Due: none

build: wrap x86_64 signal-safe syscall asm for Rust 2024 edition [APMSP-4029]
  libdd-ipc/src/signal_safe/syscalls.rs
Due: none

style: apply Rust 2024 edition formatting to the CI helper crates [APMSP-4029]
  .github/actions/ci-shared/src/git.rs
  .github/actions/clippy-annotation-reporter/src/analyzer/git.rs
  .github/actions/clippy-annotation-reporter/src/analyzer/mod.rs
  .github/actions/clippy-annotation-reporter/src/config.rs
  .github/actions/crates-reporter/src/main.rs
  .github/actions/workspace-deps-lint/src/main.rs
Due: none

style: apply Rust 2024 edition formatting to the fuzz target [APMSP-4029]
  libdd-trace-normalization/fuzz/fuzz_targets/fuzz_normalize_span.rs
Due: libdd-trace-normalization

ci: run clippy with default features too (#2590)
  .github/workflows/lint.yml
  libdd-otel-thread-ctx/src/linux/owned.rs
Due: none

Include error.kind in errorsintake payload
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

chore(crashtracking)!: include `error.kind` in errorsintake payload (#2591)
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

refactor(library-config): simplify config reading paths
  libdd-common-ffi/src/cstr.rs
  libdd-common-ffi/src/slice.rs
  libdd-library-config-ffi/src/lib.rs
  libdd-library-config/src/config_read.rs
  libdd-library-config/src/lib.rs
Due: libdd-common, libdd-common-ffi

Include process tags in errors intake direct payload
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

process tag empty string defense
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

Introduce ast-grep, rule skill guidance, extern c panic rule
  .claude/skills/add-lint-rule/SKILL.md
  .claude/skills/add-lint-rule/reference.md
  .github/CODEOWNERS
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .sg/rules/.gitkeep
  .sg/rules/ffi-extern-c-panic-containment.yml
  .sg/tests/.gitkeep
  .sg/tests/__snapshots__/ffi-extern-c-panic-containment-snapshot.yml
  .sg/tests/ffi-extern-c-panic-containment-test.yml
  AGENTS.md
  CONTRIBUTING.md
  scripts/run-ast-grep.sh
  scripts/run-ffi-panic-lint.sh
  sgconfig.yml
Due: none

refactor(library-config): mirror core::io error types in ConfigRead
  Cargo.lock
  libdd-library-config/Cargo.toml
  libdd-library-config/src/config_read.rs
  libdd-library-config/src/io.rs
  libdd-library-config/src/lib.rs
Due: none

chore(crashtracking)!: include process tags in errors intake direct payload (#2593)
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

Metadata field errors intake parity
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

adjust notes
  .github/workflows/lint.yml
  .sg/rules/ffi-extern-c-panic-containment.yml
  scripts/run-ffi-panic-lint.sh
Due: none

ci: close FFI panic-lint holes for macros and push events
  .claude/skills/add-lint-rule/SKILL.md
  .claude/skills/add-lint-rule/reference.md
  .github/workflows/lint.yml
  .sg/rules/ffi-macro-emits-extern-c.yml
  .sg/tests/__snapshots__/ffi-macro-emits-extern-c-snapshot.yml
  .sg/tests/ffi-macro-emits-extern-c-test.yml
  AGENTS.md
  CONTRIBUTING.md
  scripts/run-ast-grep.sh
  scripts/run-ffi-panic-lint.sh
Due: none

chore(crashtracking)!: metadata fields in errors intake direct payload (#2594)
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker

Authenticate sidecar connections and shared memory
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/auth.rs
  datadog-sidecar/src/crashtracker.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/lib.rs
  datadog-sidecar/src/log.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/setup/mod.rs
  datadog-sidecar/src/setup/thread_listener.rs
  datadog-sidecar/src/setup/thread_listener_windows.rs
  datadog-sidecar/src/setup/unix.rs
  datadog-sidecar/src/shm_remote_config.rs
  datadog-sidecar/src/tracer.rs
  datadog-sidecar/src/unix.rs
  datadog-sidecar/src/watchdog.rs
  datadog-sidecar/tests/connection_auth.rs
  libdd-ipc/src/platform/mem_handle.rs
  libdd-ipc/src/platform/mod.rs
  libdd-ipc/src/platform/peer_credentials.rs
  libdd-ipc/src/platform/unix/mem_handle.rs
  libdd-ipc/src/platform/unix/mem_handle_macos.rs
  libdd-ipc/src/platform/unix/mod.rs
  libdd-ipc/src/platform/unix/private_dir.rs
  libdd-ipc/src/platform/unix/process.rs
  libdd-ipc/src/platform/unix/shm_guard.rs
  libdd-ipc/src/platform/unix/sockets/linux.rs
  libdd-ipc/src/platform/unix/sockets/macos.rs
  libdd-ipc/src/platform/unix/sockets/mod.rs
  libdd-ipc/src/platform/windows/mem_handle.rs
  libdd-ipc/src/platform/windows/sockets.rs
  spawn_worker/src/unix/spawn.rs
Due: datadog-sidecar, datdog-sidecar-ffi, spawn-worker

Fix tid
  datadog-sidecar/src/setup/thread_listener.rs
Due: datadog-sidecar

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
