Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

chore: update action versions in workflow files
  .github/actions/cache/action.yaml
  .github/workflows/all-checks.yml
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/publish-serverless-agent.yml
  .github/workflows/stale.yml
  .github/workflows/test-ruby.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  .github/workflows/weekly-verify-proto-files.yml
  ipc/tarpc/.github/workflows/main.yml
Due: ipc

fix: update entity ID computation to support external environment prefixing (#953)
  ddcommon/src/entity_id/unix/mod.rs
Due: ddcommon

Update profiling-ffi/src/profiles.rs
  profiling-ffi/src/profiles.rs
Due: profiling, profiling-ffi

builds
  examples/ffi/exporter.cpp
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/exporter.rs
Due: profiling, profiling-ffi

cleanup another type
  examples/ffi/exporter.cpp
  profiling-ffi/src/exporter.rs
Due: profiling, profiling-ffi

cancellation token
  examples/ffi/exporter.cpp
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/exporter.rs
Due: profiling, profiling-ffi

better names
  ddcommon-ffi/src/result.rs
  examples/ffi/exporter.cpp
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/exporter.rs
Due: ddcommon, ddcommon-ffi, profiling, profiling-ffi

fix profiles.c
  examples/ffi/profiles.c
Due: none

fix const
  ddcommon-ffi/src/slice_mut.rs
Due: ddcommon, ddcommon-ffi

fixups
  examples/ffi/profile_intern.cpp
  profiling-ffi/src/profiles/interning_api.rs
  profiling/src/internal/profile/interning_api/mod.rs
Due: profiling, profiling-ffi

typo
  profiling-ffi/src/profiles/interning_api.rs
Due: profiling, profiling-ffi

Update examples/ffi/profiles.c
  examples/ffi/profiles.c
Due: none

Windows timestamps are less accurate
  profiling-ffi/src/exporter.rs
Due: profiling, profiling-ffi

[profiling] Reduce copying and allocation in exporter (#926)
  Cargo.lock
  ddcommon-ffi/src/handle.rs
  ddcommon-ffi/src/result.rs
  examples/ffi/exporter.cpp
  examples/ffi/profiles.c
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/exporter.rs
  profiling-ffi/src/profiles.rs
  profiling-replayer/src/main.rs
  profiling/examples/profiles.rs
  profiling/src/exporter/mod.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/tests/form.rs
Due: ddcommon, ddcommon-ffi, profiling, profiling-ffi

Fix exporter
  examples/ffi/exporter.cpp
Due: none

profile_intern
  examples/ffi/profile_intern.cpp
Due: none

update bolero and generate unique labels
  Cargo.lock
  alloc/Cargo.toml
  alloc/src/chain.rs
  alloc/src/linear.rs
  alloc/src/virtual_alloc.rs
  profiling/Cargo.toml
  profiling/src/api.rs
  profiling/src/internal/label.rs
  profiling/src/internal/observation/observations.rs
  profiling/src/internal/observation/trimmed_observation.rs
  profiling/src/internal/owned_types/mod.rs
  profiling/src/internal/profile/fuzz_tests.rs
  profiling/src/internal/profile/mod.rs
  profiling/src/internal/sample.rs
  profiling/src/internal/stack_trace.rs
  profiling/src/internal/upscaling.rs
Due: profiling

Revert "fix: update entity ID computation to support external environment prefixing (#953)"
  ddcommon/src/entity_id/unix/mod.rs
Due: ddcommon

Fix hyper dev dependencies.
  trace-utils/Cargo.toml
Due: trace-utils

Fix hyper dev dependencies. (#942)
  trace-utils/Cargo.toml
Due: trace-utils

Revert "fix: update entity ID computation to support external environment prefixing (#953)" (#960)
  ddcommon/src/entity_id/unix/mod.rs
Due: ddcommon

Fix extra imports if http is not enabled
  ddcommon/src/connector/conn_stream.rs
  ddcommon/src/connector/mod.rs
Due: ddcommon

fix: tinybytes serialization feature is called "serialization" not "serde"
  tinybytes/src/lib.rs
Due: none

Clean up `runtime_platform` tag building to avoid two versions of function
  profiling/src/exporter/mod.rs
Due: profiling

[PROF-11524] Fix not being able to set profile start_time at serialization
  examples/ffi/exporter.cpp
  profiling-ffi/src/profiles.rs
Due: profiling, profiling-ffi

chore: update action versions in workflow files (#933)
  .github/actions/cache/action.yaml
  .github/workflows/all-checks.yml
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/publish-serverless-agent.yml
  .github/workflows/stale.yml
  .github/workflows/test-ruby.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  .github/workflows/weekly-verify-proto-files.yml
  ipc/tarpc/.github/workflows/main.yml
Due: ipc

style(profiling): fix doc comment indentation
  profiling/src/exporter/mod.rs
Due: profiling

fixup from merge
  profiling/src/internal/profile/fuzz_tests.rs
Due: profiling

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
