Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

fix(otel-telemetry): satisfy dependency checks
  Cargo.lock
  Cargo.toml
  libdd-otel-telemetry/Cargo.toml
Due: none

fix(otel-telemetry): retain exporter runtime
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/exporter.rs
Due: none

feat(otel-telemetry): run observable callbacks during collection
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/instrument.rs
  libdd-otel-telemetry/src/lib.rs
Due: none

fix(otel-telemetry): collect observables on retained runtime
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/instrument.rs
  libdd-otel-telemetry/tests/basic.rs
Due: none

feat(trace-utils): add _dd.sdk.otlp_export and datadog.sdk.semantics OTLP resource attributes
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_grpc.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_protobuf_export.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  libdd-trace-utils/src/otlp_encoder/mapper_v1.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix(ipc)!: use atomic deadlines for shared limiters
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
  libdd-common/src/rate_limiter.rs
  libdd-ipc/src/rate_limiter.rs
Due: libdd-common, datadog-sidecar

fix(otel-telemetry): drive exports on shared runtime
  Cargo.lock
  libdd-otel-telemetry/Cargo.toml
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/exporter.rs
  libdd-otel-telemetry/tests/basic.rs
Due: none

fix(otel-telemetry): initialize exporter off host runtime
  libdd-otel-telemetry/src/exporter.rs
Due: none

fix(otel-telemetry): drop runtime off async callers
  libdd-otel-telemetry/src/exporter.rs
Due: none

fix(otel-telemetry): drive collection exports on runtime
  libdd-otel-telemetry/Cargo.toml
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/tests/basic.rs
Due: none

Clean up tid repr
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_9.json
  libdd-crashtracker-ffi/src/crash_info/proc_info.rs
  libdd-crashtracker/src/crash_info/cxx.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/proc_info.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker, libdd-crashtracker-ffi

fix(otel-telemetry): construct exporter runtime internally
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/exporter.rs
Due: none

feat(otel-telemetry): collect observable callbacks natively
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/instrument.rs
  libdd-otel-telemetry/src/lib.rs
  libdd-otel-telemetry/tests/basic.rs
Due: none

feat(otel-telemetry): own default aggregation runtime
  libdd-otel-telemetry/src/aggregator.rs
Due: none

test(trace-utils): cover chunk-only _dd.sdk.otlp_export stripping in v1 mapper
  libdd-trace-utils/src/otlp_encoder/mapper_v1.rs
Due: libdd-trace-utils

refactor(otel-telemetry): keep SDK resource private
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/resource.rs
Due: none

fix(otel-telemetry): degrade runtime init failures
  libdd-otel-telemetry/src/aggregator.rs
Due: none

fix(otel-telemetry): apply configured exporter headers
  Cargo.lock
  libdd-otel-telemetry/Cargo.toml
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/error.rs
  libdd-otel-telemetry/tests/basic.rs
Due: none

fix build
  libdd-common/src/rate_limiter.rs
Due: libdd-common

test(ffe): make privacy IPC tests portable across runners
  datadog-sidecar/src/service/flagevaluation_privacy_tests.rs
Due: datadog-sidecar

fix(sidecar): make Windows liaison test race-free
  datadog-sidecar/src/setup/windows.rs
Due: datadog-sidecar

fix(otel-telemetry): preserve metrics API semantics
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/instrument.rs
Due: none

test(sidecar): align native EVP header fixture with release generation
  datadog-sidecar-ffi/tests/sidecar.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(otel-telemetry): record by registered instrument kind
  libdd-otel-telemetry/src/aggregator.rs
Due: none

fix(sidecar): preserve EVP configuration and bound discovery reads
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/evp_transport.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/session_info.rs
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities-impl/src/lib.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix(ipc)!: use atomic deadlines for shared limiters (#2604)
  datadog-sidecar/src/service/exception_hash_rate_limiter.rs
  datadog-sidecar/src/setup/windows.rs
  libdd-common/src/rate_limiter.rs
  libdd-ipc/src/rate_limiter.rs
Due: libdd-common, datadog-sidecar

fix(ipc): enable Windows programming APIs
  libdd-ipc/Cargo.toml
Due: none

fix(otel): preserve metric attribute types
  libdd-otel-telemetry/src/aggregator.rs
  libdd-otel-telemetry/src/instrument.rs
  libdd-otel-telemetry/src/lib.rs
  libdd-otel-telemetry/src/resource.rs
  libdd-otel-telemetry/tests/basic.rs
Due: none

fix(examples): prevent profiling example timestamp overflow (#2602)
  examples/ffi/profile_intern.cpp
Due: none

feat(otel-thread-ctx): add autoclean feature to avoid leaks (v44 backport) (#2566)
  Cargo.lock
  Cargo.toml
  libdd-otel-thread-ctx-ffi/Cargo.toml
  libdd-otel-thread-ctx-ffi/README.md
  libdd-otel-thread-ctx-ffi/src/lib.rs
  libdd-otel-thread-ctx-ffi/tests/thread_exit_autoclean.rs
  libdd-otel-thread-ctx/Cargo.toml
  libdd-otel-thread-ctx/README.md
  libdd-otel-thread-ctx/src/lib.rs
  libdd-otel-thread-ctx/src/test_utils/mod.rs
  libdd-otel-thread-ctx/tests/thread_exit_autoclean.rs
Due: none

fix: fmt
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

revert: libdd-trace-obfuscation
  libdd-trace-obfuscation/src/json/mod.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
Due: libdd-trace-obfuscation

feat(trace-protobuf): make deserializers public
  libdd-trace-protobuf/src/lib.rs
Due: libdd-trace-protobuf

feat(obfuscation): use deserialize_null_into_default
  libdd-trace-obfuscation/src/obfuscation_config.rs
Due: libdd-trace-obfuscation

feat: catch sccache failures, report them at the end of the job for visibility instead of failing.
  .gitlab/benchmarks.yml
  benchmark/run_benchmarks_ci.sh
Due: none

fix(data-pipeline)!: revert changes that made /info un-parsable (#2586)
  Cargo.lock
  Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/agent_info/schema.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
  libdd-trace-protobuf/src/lib.rs
Due: libdd-data-pipeline, libdd-trace-obfuscation, libdd-trace-protobuf

test(data-pipeline): add end-to-end native V1 trace exporter tests
  libdd-data-pipeline/tests/local_real_agent_v1_test.rs
  libdd-data-pipeline/tests/test_trace_exporter.rs
Due: libdd-data-pipeline

fix(lints): fix nightly clippy lint by updating async-trait
  Cargo.lock
Due: none

fix(lints): fix lint by updating async-trait (#2610)
  Cargo.lock
Due: none

Expose exporter observations without delivery
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/observations.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/tests/test_exporter_observations.rs
  libdd-trace-stats/src/span_concentrator/cardinality_limit_telemetry.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
