Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

disable pipefail during grep
  .github/actions/changed-crates/action.yml
Due: none

remove unused file
  libdatadog-cxx-macros/Cargo.toml
Due: none

fix c examples in ci
  examples/cxx/exporter_manager.cpp
  examples/ffi/exporter_manager.c
Due: none

disable pipefail during grep (#1483)
  .github/actions/changed-crates/action.yml
Due: none

Use cargo llvm-cov to build bin-test artifacts
  bin_tests/src/lib.rs
  bin_tests/src/test_runner.rs
Due: none

workflow, scripts, etc
  .github/workflows/release-proposal-dispatch.yml
  cliff.toml
  datadog-ipc/README.md
  repository.datadog.yml
  scripts/commits-since-release.sh
  scripts/publication-order.sh
Due: datadog-ipc

feat(profiler)!: fork-safe managed exporter (#1464)
  .gitignore
  Cargo.lock
  examples/EXPORTER_MANAGER.md
  examples/cxx/build-exporter-manager.sh
  examples/cxx/exporter_manager.cpp
  examples/ffi/CMakeLists.txt
  examples/ffi/exporter_manager.c
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/Cargo.toml
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/errors.rs
  libdd-profiling/src/exporter/exporter_manager.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/src/exporter/profile_exporter.rs
Due: libdd-profiling, libdd-profiling-ffi

compare merge-base vs HEAD
  .github/actions/changed-crates/action.yml
Due: none

compare merge-base vs HEAD (#1484)
  .github/actions/changed-crates/action.yml
Due: none

docs(profiling-ffi): ProfilesDictionary_insert_str
  libdd-profiling-ffi/src/profiles/profiles_dictionary.rs
Due: libdd-profiling, libdd-profiling-ffi

docs(profiling-ffi): ProfilesDictionary_insert_str (#1486)
  libdd-profiling-ffi/src/profiles/profiles_dictionary.rs
Due: libdd-profiling, libdd-profiling-ffi

Clean up
  bin_tests/preload/preload.c
  bin_tests/src/bin/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/api.rs
Due: libdd-crashtracker

Support sending thread name and update rfc and schema
  bin_tests/tests/crashtracker_bin_test.rs
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_5.json
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/error_data.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/constants.rs
Due: libdd-crashtracker

Fix clippy and rename from malloc -> preload
  bin_tests/build.rs
  bin_tests/preload/preload.c
  bin_tests/src/bin/crashtracker_bin_test.rs
Due: none

Signal safe string fmt
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
Due: libdd-crashtracker

Fix docker cache bake for build.rs under bin_tests
  tools/docker/Dockerfile.build
Due: none

Add license header
  bin_tests/preload/preload.c
Due: none

Use thread local var to scope to collector, general clean up
  bin_tests/build.rs
  bin_tests/preload/preload.c
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_016_runtime_malloc_logger.rs
  bin_tests/src/modes/unix/test_016_runtime_preload_logger.rs
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/api.rs
Due: libdd-crashtracker

Actually only log in collector child
  bin_tests/preload/preload.c
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/modes/behavior.rs
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/collector_manager.rs
Due: libdd-crashtracker

First pass, need to isolate only collector from test harness
  bin_tests/Cargo.toml
  bin_tests/build.rs
  bin_tests/preload/malloc_logger.c
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_016_runtime_malloc_logger.rs
  bin_tests/src/test_types.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

We can just use donothing test behavior
  bin_tests/src/modes/unix/mod.rs
  bin_tests/src/modes/unix/test_016_runtime_preload_logger.rs
Due: none

Fail test on any detection and print out stacktrace
  bin_tests/build.rs
  bin_tests/preload/preload.c
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/api.rs
Due: libdd-crashtracker

clean
  bin_tests/preload/preload.c
  bin_tests/src/bin/crashtracker_bin_test.rs
Due: none

Flip logging flag in signal handler
  bin_tests/preload/preload.c
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/crash_handler.rs
Due: libdd-crashtracker

Clean API by loading real symbols on load
  bin_tests/preload/preload.c
Due: none

Skeleton test runner
  bin_tests/preload/preload.c
  bin_tests/src/test_runner.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Fail fast fix
  bin_tests/src/test_runner.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/emitters.rs
Due: libdd-crashtracker

No os guard, use atomic and tl var
  bin_tests/build.rs
  bin_tests/preload/preload.c
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/api.rs
Due: libdd-crashtracker

All stacktrace modes
  bin_tests/preload/preload.c
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/src/test_runner.rs
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Fail fast
  bin_tests/preload/preload.c
  bin_tests/src/test_runner.rs
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/src/collector/emitters.rs
Due: libdd-crashtracker

Don't use sprintf, dont print backtrace
  bin_tests/preload/preload.c
Due: none

FFI addition
  libdd-crashtracker-ffi/src/crash_info/builder.rs
  libdd-crashtracker/src/collector/emitters.rs
Due: libdd-crashtracker, libdd-crashtracker-ffi

WIP: add file attribute to junit.xml output
  .github/workflows/test.yml
  Cargo.lock
  tools/Cargo.toml
  tools/src/bin/add_junit_file_attributes.rs
Due: none

WIP: add binary stub for FFI tests
  tools/docker/Dockerfile.build
Due: none

fix(profiling): make sure we use the mime type properly
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/exporter/profile_exporter.rs
  libdd-profiling/tests/common.rs
  libdd-profiling/tests/exporter_e2e.rs
  libdd-profiling/tests/file_exporter_test.rs
Due: libdd-profiling, libdd-profiling-ffi

PR comments
  libdd-profiling-ffi/src/exporter.rs
Due: libdd-profiling, libdd-profiling-ffi

fix(profiling): Windows extern statics need __declspec(dllimport)
  build-common/src/cbindgen.rs
  windows/build-artifacts.ps1
Due: none

fix: build.rs
  build-common/src/cbindgen.rs
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
