Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, tinybytes, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

Path conditions:
  crashtracker: any of: crashtracker
  crashtracker-ffi: any of: crashtracker-ffi
  datadog-alloc: any of: alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils

Answer to comment on useless import and useless field + add result wrapper to have the original error message
  builder/Cargo.toml
  ddcommon-ffi/src/tracer_metadata.rs
Due: ddcommon, ddcommon-ffi

Expose ddcommon memefd create
  builder/Cargo.toml
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/tracer_metadata.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
Due: ddcommon, ddcommon-ffi, profiling, profiling-ffi

feat: Expose ddcommon memfd_create (#985)
  ddcommon-ffi/src/lib.rs
  ddcommon-ffi/src/tracer_metadata.rs
  profiling-ffi/Cargo.toml
  profiling-ffi/src/lib.rs
Due: ddcommon, ddcommon-ffi, profiling, profiling-ffi

try writing comments to the stack frames instead
  crashtracker/src/crash_info/error_data.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/stacktrace.rs
  crashtracker/src/receiver/entry_points.rs
Due: crashtracker

redundant error message
  crashtracker/src/crash_info/stacktrace.rs
Due: crashtracker

[profiling] Experiment to use reqwest
  Cargo.lock
  ddcommon/Cargo.toml
  profiling/Cargo.toml
Due: ddcommon, profiling

fix: clippy fmt
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline

feat: debug
  trace-utils/src/trace_utils.rs
Due: trace-utils

docs: add docs for `TelemetryClientConfig`
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

fix: linter
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

start the rewrite
  profiling/src/lib.rs
  profiling/src/reqwest_exporter/config.rs
  profiling/src/reqwest_exporter/errors.rs
  profiling/src/reqwest_exporter/mod.rs
Due: profiling

RFC
  crashtracker/src/crash_info/mod.rs
  docs/RFCs/0006-crashtraker-incomplete-stacktraces.md
  docs/RFCs/0008-crashtracker-stackframe-comments.md
  docs/RFCs/artifacts/0008-crashtracker-schema.json
Due: crashtracker

fix missing file
  docs/RFCs/0006-crashtraker-incomplete-stacktraces.md
Due: none

better error message on resolve_frames
  crashtracker/src/receiver/entry_points.rs
Due: crashtracker

update
  build-profiling-ffi.sh
Due: none

fix
  build-profiling-ffi.sh
Due: none

Discard changes to ddcommon/src/rate_limiter.rs
  ddcommon/src/rate_limiter.rs
Due: ddcommon

update features handling
  build-profiling-ffi.sh
Due: none

debug
  trace-utils/src/trace_utils.rs
Due: trace-utils

errrrr
  trace-utils/src/trace_utils.rs
Due: trace-utils

fix tests
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/crash_info/telemetry.rs
Due: crashtracker

fix builder
  builder/src/crashtracker.rs
Due: none

Package libdatadog v17.0.0 for Ruby
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
Due: none

chore:fix clippy errors
  builder/src/bin/release.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/send_data.rs
  profiling/src/internal/profile/mod.rs
  sidecar/src/one_way_shared_memory.rs
Due: profiling, sidecar

cross fix
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

remove println
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

dump bytes to string and see if we can debug
  trace-utils/src/trace_utils.rs
Due: trace-utils

use rmpv
  trace-utils/src/trace_utils.rs
Due: trace-utils

v4span debug
  trace-utils/src/msgpack_decoder/v04/span.rs
  trace-utils/src/trace_utils.rs
Due: trace-utils

test: guard against negative durations overflow
  trace-protobuf/src/pb.rs
Due: trace-protobuf

fix: also start
  trace-protobuf/src/pb.rs
Due: trace-protobuf

fix: match the error to handle the int decoding
  trace-protobuf/src/pb.rs
Due: trace-protobuf

show error but use 0
  trace-protobuf/src/pb.rs
Due: trace-protobuf

feat: add tracing crate to debug pb issues
  Cargo.lock
  trace-protobuf/Cargo.toml
  trace-protobuf/src/pb.rs
  trace-utils/src/msgpack_decoder/v04/span.rs
Due: trace-protobuf, trace-utils

clippy
  trace-protobuf/src/pb.rs
Due: trace-protobuf

fix: Move serializers to crate. Extract span attributes so we can use the custom duration deserializer
  trace-protobuf/build.rs
  trace-protobuf/src/lib.rs
  trace-protobuf/src/pb.rs
Due: trace-protobuf

feat: remove tracing crate, actually add serializers file
  Cargo.lock
  trace-protobuf/Cargo.toml
  trace-protobuf/src/serializers.rs
Due: trace-protobuf

feat: clippy/fmt
  trace-protobuf/src/lib.rs
  trace-protobuf/src/pb_test.rs
  trace-protobuf/src/serializers.rs
Due: trace-protobuf

license
  trace-protobuf/src/serializers.rs
Due: trace-protobuf

chore:fix clippy errors and failing cross test (#997)
  bin_tests/tests/crashtracker_bin_test.rs
  builder/src/bin/release.rs
  live-debugger-ffi/src/data.rs
  live-debugger-ffi/src/send_data.rs
  profiling/src/internal/profile/mod.rs
  sidecar/src/one_way_shared_memory.rs
Due: profiling, sidecar
