Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: datadog-crashtracker, datadog-crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, datadog-ipc, datadog-profiling, datadog-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, tinybytes, datadog-trace-normalization, datadog-trace-obfuscation, datadog-trace-protobuf, datadog-trace-utils, datadog-log

Add benchmarking feature in order to re-export pub(crate) function to benches.
  benchmark/run_benchmarks_ci.sh
  datadog-crashtracker/Cargo.toml
  datadog-crashtracker/benches/main.rs
  datadog-crashtracker/benches/receiver_bench.rs
  datadog-crashtracker/src/lib.rs
  datadog-crashtracker/src/receiver/benchmark.rs
  datadog-crashtracker/src/receiver/entry_points.rs
  datadog-crashtracker/src/receiver/mod.rs
Due: datadog-crashtracker

Adding benches.
  Cargo.lock
  datadog-crashtracker/Cargo.toml
  datadog-crashtracker/benches/main.rs
  datadog-crashtracker/benches/receiver_bench.rs
  datadog-crashtracker/src/lib.rs
  datadog-crashtracker/src/receiver/entry_points.rs
  datadog-crashtracker/src/receiver/mod.rs
Due: datadog-crashtracker

Add missing action
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

vendor protoc
  Cargo.lock
  datadog-profiling-otel/Cargo.toml
  datadog-profiling-otel/build.rs
Due: datadog-profiling

create FFI layer for ddsketch
  Cargo.lock
  Cargo.toml
  ddsketch-ffi/Cargo.toml
  ddsketch-ffi/build.rs
  ddsketch-ffi/cbindgen.toml
  ddsketch-ffi/src/error.rs
  ddsketch-ffi/src/lib.rs
  ddsketch-ffi/src/sketch.rs
Due: none

add build script for FFI examples
  examples/ffi/README.md
  examples/ffi/build-examples.sh
Due: none

pin the version of the dd-apm-test-agent image so we do not always pull from the main branch
  datadog-trace-utils/src/test_utils/datadog_test_agent.rs
Due: datadog-trace-utils

dockerfile
  tools/docker/Dockerfile.build
Due: none

emit otel
  datadog-profiling-ffi/src/profiles/datatypes.rs
  datadog-profiling/src/internal/profile/otel_emitter/profile.rs
Due: datadog-profiling, datadog-profiling-ffi

miri ignore
  datadog-profiling-otel/src/lib.rs
  datadog-trace-protobuf/src/remoteconfig.rs
Due: datadog-profiling, datadog-trace-protobuf

don't checkout that file
  datadog-trace-protobuf/src/remoteconfig.rs
Due: datadog-trace-protobuf

more miri ignore
  datadog-profiling/src/internal/profile/otel_emitter/profile.rs
Due: datadog-profiling

Factorize some code
  datadog-crashtracker/src/crash_info/stacktrace.rs
Due: datadog-crashtracker

Add a test and fix the build id computation
  datadog-crashtracker/build.rs
  datadog-crashtracker/src/crash_info/stacktrace.rs
Due: datadog-crashtracker

Add building of test library
  datadog-crashtracker/build.rs
Due: datadog-crashtracker

Forgot to add the C file
  datadog-crashtracker/data/libtest.c
  datadog-crashtracker/data/libtest.map
Due: datadog-crashtracker

Add license
  datadog-crashtracker/data/libtest.c
Due: datadog-crashtracker

Fix cross tests
  .github/workflows/test.yml
  datadog-crashtracker/build.rs
Due: datadog-crashtracker

use cc instead of clang
  datadog-crashtracker/build.rs
Due: datadog-crashtracker

Add feature
  .github/workflows/test.yml
  datadog-crashtracker/Cargo.toml
  datadog-crashtracker/build.rs
  datadog-crashtracker/src/crash_info/stacktrace.rs
Due: datadog-crashtracker

Use cc_utils to make it work on macos
  .github/workflows/test.yml
  Cargo.lock
  datadog-crashtracker/Cargo.toml
  datadog-crashtracker/build.rs
Due: datadog-crashtracker

attempt to reduce flakiness of exporter_send_telemetry_test
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

attempt to reduce flakiness of exporter_send_telemetry_test (#1184)
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

tests(tracer-flare): add integration test
  datadog-tracer-flare/Cargo.toml
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
  datadog-tracer-flare/tests/test_tracer_flare.rs
Due: none

re-export ddcommon-ffi types correctly in ddsketch-ffi
  ddsketch-ffi/cbindgen.toml
  examples/ffi/ddsketch.c
Due: none

re-export ddcommon-ffi types correctly in ddsketch-ffi (#1185)
  ddsketch-ffi/cbindgen.toml
  examples/ffi/ddsketch.c
Due: none

fix(tracer-flare): fix design of TracerFlareManager
  datadog-tracer-flare/src/error.rs
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
Due: none

chore(tracer-flare): fix format
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
Due: none

fix(build): Better parsing of C type definitions
  tools/src/lib.rs
Due: none

fix: fmt
  tools/src/lib.rs
Due: none

fix: clippy
  tools/src/lib.rs
Due: none

fix typos
  tools/src/lib.rs
Due: none

WIP, put back replayer?
  Cargo.lock
  Cargo.toml
  datadog-profiling-ffi/cbindgen.toml
  datadog-profiling-ffi/src/exporter.rs
  datadog-profiling-ffi/src/lib.rs
  datadog-profiling-ffi/src/profiles/labels_set.rs
  datadog-profiling-ffi/src/profiles/mod.rs
  datadog-profiling-ffi/src/profiles/profile_builder.rs
  datadog-profiling-ffi/src/profiles/samples.rs
  datadog-profiling-ffi/src/string_storage.rs
  datadog-profiling/src/exporter/mod.rs
  datadog-profiling/src/lib.rs
  datadog-profiling/src/profiles/endpoint_stats.rs
  datadog-profiling/src/profiles/mod.rs
  datadog-profiling/src/profiles/profile_builder.rs
  datadog-profiling/src/profiles/samples.rs
  datadog-profiling/tests/form.rs
  examples/ffi/exporter.cpp
  examples/ffi/profile_intern.cpp
  examples/ffi/profiles.c
Due: datadog-profiling, datadog-profiling-ffi

WIP EncodedProfile and cursor rules
  .cursor/rules/ffi-examples.mdc
  datadog-profiling-ffi/src/profiles/ffi_stores.rs
  datadog-profiling-ffi/src/profiles/mod.rs
  datadog-profiling-ffi/src/profiles/profile_builder.rs
  datadog-profiling/src/profiles/mod.rs
  datadog-profiling/src/profiles/profile_builder.rs
Due: datadog-profiling, datadog-profiling-ffi

docs
  datadog-profiling-protobuf/src/string.rs
  datadog-profiling/src/collections/string_table/mod.rs
  datadog-profiling/src/profiles/samples.rs
Due: datadog-profiling

WIP work
  Cargo.lock
  datadog-profiling-ffi/src/profiles/ffi_stores.rs
  datadog-profiling/Cargo.toml
  datadog-profiling/examples/profiles.rs
  datadog-profiling/src/collections/store/mod.rs
  datadog-profiling/src/lib.rs
  datadog-profiling/src/profiles/collections/fam_ptr.rs
  datadog-profiling/src/profiles/collections/mod.rs
  datadog-profiling/src/profiles/collections/slice_table.rs
  datadog-profiling/src/profiles/collections/string_set.rs
  datadog-profiling/src/profiles/collections/string_table.rs
  datadog-profiling/src/profiles/collections/table.rs
  datadog-profiling/src/profiles/collections/thin_str.rs
  datadog-profiling/src/profiles/endpoints.rs
  datadog-profiling/src/profiles/error.rs
  datadog-profiling/src/profiles/function.rs
  datadog-profiling/src/profiles/link.rs
  datadog-profiling/src/profiles/location.rs
  datadog-profiling/src/profiles/mapping.rs
  datadog-profiling/src/profiles/mod.rs
  datadog-profiling/src/profiles/profile.rs
  datadog-profiling/src/profiles/profile_builder.rs
  datadog-profiling/src/profiles/profile_id.rs
  datadog-profiling/src/profiles/profiles_dictionary.rs
Due: datadog-profiling, datadog-profiling-ffi

Path conditions:
  datadog-crashtracker: any of: datadog-crashtracker
  datadog-crashtracker-ffi: any of: datadog-crashtracker-ffi
  datadog-alloc: any of: datadog-alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  datadog-profiling: any of: datadog-profiling
  datadog-profiling-ffi: any of: datadog-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  datadog-trace-normalization: any of: datadog-trace-normalization
  datadog-trace-obfuscation: any of: datadog-trace-obfuscation
  datadog-trace-protobuf: any of: datadog-trace-protobuf
  datadog-trace-utils: any of: datadog-trace-utils
  datadog-log: any of: datadog-log
