Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

refactor(data-pipeline-ffi): move macro definitions for better reuse
  libdd-data-pipeline-ffi/src/lib.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix(shared_runtime): add on_pause hook to release waker in info fetcher
  libdd-common/src/worker.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/pausable_worker.rs
Due: libdd-data-pipeline, libdd-common

chore(agents): retrieve container tags hash from /info endpoint
  datadog-sidecar-ffi/src/lib.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline, datadog-sidecar, datdog-sidecar-ffi

change function name
  libdd-data-pipeline/src/agent_info/fetcher.rs
Due: libdd-data-pipeline

send_with_retry and move to libdd_trace_utils
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/lib.rs
  libdd-trace-utils/src/otlp_encoder/json_types.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  libdd-trace-utils/src/otlp_encoder/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

lint + nits
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/otlp_encoder/json_types.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-data-pipeline, libdd-trace-utils

lint
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-data-pipeline, libdd-trace-utils

refactor: use import instead of qualified path
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

remove unwrap
  datadog-remote-config/src/fetch/fetcher.rs
Due: none

feat(obfuscation/json): Init json obfuscation [APMSP-2665] (#1635)
  Cargo.lock
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/src/json.rs
  libdd-trace-obfuscation/src/json_scanner.rs
  libdd-trace-obfuscation/src/lib.rs
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

fix(telemetry): add reset hook to telemetry
  libdd-telemetry/src/worker/mod.rs
  libdd-telemetry/src/worker/store.rs
Due: libdd-telemetry

fix(telemetry): fix spawn and run loop for telemetry
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

docs(info_fetcher): update doc for running the fetcher
  libdd-data-pipeline/src/agent_info/fetcher.rs
Due: libdd-data-pipeline

chore(ci): add final_status property on junit XML [APMSP-2610] (#1681)
  .github/workflows/add_final_status.xsl
  .github/workflows/test.yml
Due: none

UGLY(http): fix relative url obfuscation
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): reject invalid percent-encoding sequences like bare '%'
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): apply remove_path_digits to relative URL results
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): fuzzing edge cases
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): preserve dot path segments that url crate resolves away
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): encode Go's extra path chars (!, ', (, ), *) for relative URLs
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): only encode Go path chars when input has non-ASCII bytes
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): percent-encode control chars in fragment before url-joining
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): reject URLs where first path segment contains ':' (Go parse error)
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): use char iteration when pre-encoding fragment control chars
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): encode backslash and other Go-always-encoded chars in path
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): pre-encode backslash before go_like_reference to prevent path split
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): properly encode non-ASCII fragment content
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): strip trailing empty fragment '#' to match Go's url.URL.String()
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): encode '[' and ']' when non-ASCII triggers escape() fallback
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): don't encode ! etc. in fragment portion
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): allow control chars in fragment, reject only in path
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): preserve leading '/' for absolute-path inputs in go_like_reference
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): only check path (not fragment) for non-ASCII when encoding ! etc.
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): encode '#' in fragment content (Go encodes it as %23)
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): reject invalid percent-encoding in fragment (Go returns '?')
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): encode ', !, (, ), *, [, ] in fragment when non-ASCII present
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): remove_relative_path_digits must stop at '#' - fragment digits not path digits
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): encode cat2 chars in fragment when original URL has non-ASCII fragment
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

fix(http): fragment encoding - only encode ' [ ] not \! ( ) * when non-ASCII present
  libdd-trace-obfuscation/src/http.rs
Due: libdd-trace-obfuscation

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
