Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, crashtracker-ffi, datadog-alloc, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ddtelemetry-ffi, dogstatsd-client, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, tinybytes, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

add ubuntu ssl cert directory for test_missing_root_certificates_only_allow_http_connections (#1034)
  ddcommon/src/connector/mod.rs
Due: ddcommon

feat(ddcommon): Replace rustls-native-certs by rustls-platform-verifier
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
Due: ddcommon

Remove the unnecessary file removal
  bin_tests/src/modes/unix/test_007_chaining.rs
Due: none

[APMSP-1960] Add test session token to Trace Exporter (#1024)
  Cargo.lock
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/Cargo.toml
  data-pipeline/src/trace_exporter/mod.rs
  data-pipeline/tests/test_trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

chore: update verify_fips_deps script to account for additional features
  scripts/verify_fips_deps.sh
Due: none

chore: make the fips feature unix-only
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
  trace-utils/Cargo.toml
Due: ddcommon, trace-utils

chore: propagate ddcommon/fips to trace-utils
  trace-utils/Cargo.toml
Due: trace-utils

chore: ddcommon fips feature
  Cargo.lock
  ddcommon/Cargo.toml
  local-linux.Dockerfile
  scripts/verify_fips_deps.sh
Due: ddcommon

chore: more details from test errors, please
  .github/workflows/test.yml
Due: none

chore: remove the verify script which is funky anyway
  scripts/verify_fips_deps.sh
Due: none

chore: rearrange fips feature for tests
  ddcommon/src/connector/mod.rs
Due: ddcommon

chore: do not initialize crypto in fips mode, it should be done already
  ddcommon/src/connector/mod.rs
Due: ddcommon

only pull in aws-c-rs on unix targets
  Cargo.lock
  ddcommon/Cargo.toml
  ddcommon/src/connector/mod.rs
Due: ddcommon

Initial
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/receiver_manager.rs
  crashtracker/src/collector/saguard.rs
  ddcommon/src/lib.rs
  ddcommon/src/unix_utils.rs
Due: crashtracker, ddcommon

Style updates, fix timeout
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/receiver_manager.rs
Due: crashtracker

Define hyper-rustls for unix with fips, unix without fips, and windows
  Cargo.lock
  ddcommon/Cargo.toml
Due: ddcommon

Remove the unnecessary file removal (#1036)
  bin_tests/src/modes/unix/test_007_chaining.rs
Due: none

Fix tests
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
Due: none

Style nag
  crashtracker/src/collector/receiver_manager.rs
  ddcommon/src/lib.rs
Due: crashtracker, ddcommon

Fix unnecessary import
  ddcommon/src/lib.rs
Due: ddcommon

style: fix some lints from nightly clippy
  ipc/src/platform/channel/metadata.rs
  ipc/src/platform/platform_handle.rs
  ipc/src/transport/blocking.rs
  ipc/src/transport/mod.rs
  profiling-ffi/src/profiles/datatypes.rs
  sidecar/src/entry.rs
  sidecar/src/service/blocking.rs
  tinybytes/src/bytes_string.rs
Due: ipc, profiling, profiling-ffi, sidecar, tinybytes

style: fix some lints from nightly clippy (#1038)
  ipc/src/platform/channel/metadata.rs
  ipc/src/platform/platform_handle.rs
  ipc/src/transport/blocking.rs
  ipc/src/transport/mod.rs
  profiling-ffi/src/profiles/datatypes.rs
  sidecar/src/entry.rs
  sidecar/src/service/blocking.rs
  tinybytes/src/bytes_string.rs
Due: ipc, profiling, profiling-ffi, sidecar, tinybytes

[crashtracker] Don't send the same stack trace twice
  crashtracker/src/crash_info/telemetry.rs
Due: crashtracker

build(profiling): drop unused deps from Cargo.toml
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
Due: profiling, profiling-ffi

build(profiling): drop unused deps from Cargo.toml (#1039)
  Cargo.lock
  profiling-ffi/Cargo.toml
  profiling/Cargo.toml
Due: profiling, profiling-ffi

fix(data-pipeline): add a wait loop in the test checking if data has been swapped
  data-pipeline/src/agent_info/fetcher.rs
Due: data-pipeline

fix(data-pipeline): add a wait loop in the test checking if data has been swapped (#1042)
  data-pipeline/src/agent_info/fetcher.rs
Due: data-pipeline

build: bump prost-build
  Cargo.lock
  ddsketch/Cargo.toml
  ddsketch/src/pb.rs
  trace-protobuf/Cargo.toml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/remoteconfig.rs
Due: trace-protobuf

build: update sidecar's console-subscriber
  Cargo.lock
  sidecar/Cargo.toml
Due: sidecar

build: bump prost-build (#1041)
  Cargo.lock
  ddsketch/Cargo.toml
  ddsketch/src/pb.rs
  sidecar/Cargo.toml
  trace-protobuf/Cargo.toml
  trace-protobuf/src/pb.rs
  trace-protobuf/src/remoteconfig.rs
Due: sidecar, trace-protobuf

Path conditions:
  crashtracker: any of: crashtracker
  crashtracker-ffi: any of: crashtracker-ffi
  datadog-alloc: any of: alloc
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ddtelemetry-ffi: any of: ddtelemetry-ffi
  dogstatsd-client: any of: dogstatsd-client
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  tinybytes: any of: tinybytes
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
