Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

fix: clippy
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

fix(trace-utils)!: serialize v0.5 span links and events into meta
  libdd-data-pipeline/tests/snapshots/compare_exporter_v04_to_v05_trace_snapshot_test.json
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-data-pipeline, libdd-trace-utils

update protobufs
  .github/workflows/verify-proto-files.yml
  datadog-ipc/src/shm_stats.rs
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb.idx.rs
  libdd-trace-protobuf/src/pb.rs
  libdd-trace-protobuf/src/pb/idx/tracer_payload.proto
  libdd-trace-protobuf/src/pb/stats.proto
  libdd-trace-protobuf/src/pb/tracer_payload.proto
  libdd-trace-protobuf/src/pb_test.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-utils/src/stats_utils.rs
  libdd-trace-utils/src/test_utils/mod.rs
  libdd-trace-utils/src/trace_utils.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: datadog-ipc, libdd-trace-protobuf, libdd-trace-utils

include container_debug TracerPayload comparison
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb.idx.rs
  libdd-trace-protobuf/src/pb.rs
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-trace-protobuf, libdd-trace-utils

apply formatting
  libdd-trace-protobuf/build.rs
Due: libdd-trace-protobuf

skip serializing container_debug if none
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb.rs
Due: libdd-trace-protobuf

add #[serde(default)] to ContainerDebug fields
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb.idx.rs
  libdd-trace-protobuf/src/pb.rs
  libdd-trace-protobuf/src/pb_test.rs
Due: libdd-trace-protobuf

Add bin tests for graceful timeout
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

feat(machine id): Add helpers in ddcommon to fetch the machine UUID l… (#2163)
  libdd-common/Cargo.toml
  libdd-common/src/lib.rs
  libdd-common/src/machine_id/linux.rs
  libdd-common/src/machine_id/macos.rs
  libdd-common/src/machine_id/mod.rs
  libdd-common/src/machine_id/windows.rs
Due: libdd-common

Export OTEL Thread Context API
  Cargo.lock
  builder/Cargo.toml
  builder/src/profiling.rs
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-ffi/src/lib.rs
Due: libdd-profiling, libdd-profiling-ffi

refactor(libdd-remote-config)hide Target inner properties so they are nott leaked
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/shared.rs
  libdd-remote-config/src/lib.rs
  libdd-tracer-flare/src/lib.rs
Due: datadog-sidecar, datdog-sidecar-ffi, libdd-tracer-flare

fix: comments
  libdd-data-pipeline/src/agentless/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-trace-utils/src/agentless_encoder/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix: put the threadlocal attributes at the right place in the context
  libdd-library-config/src/tracer_metadata.rs
Due: none

test: update test for new ctx extra attributes
  libdd-library-config/src/tracer_metadata.rs
Due: none

style: fix clippy warning + rename variables
  libdd-library-config/src/tracer_metadata.rs
Due: none

feat(stats)!: add whole key cardinality limit (#2158)
  datadog-ipc/src/shm_stats.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-protobuf/build.rs
  libdd-trace-protobuf/src/pb.rs
  libdd-trace-stats/benches/span_concentrator_bench.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, datadog-ipc, libdd-trace-protobuf

feat(stats): send telemetry for cardinality limits
  Cargo.lock
  datadog-ipc/src/shm_stats.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/stats_flusher.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, datadog-ipc, datadog-sidecar

feat(stats)!: send telemetry for cardinality limits (#2159)
  Cargo.lock
  datadog-ipc/src/shm_stats.rs
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/stats_flusher.rs
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, datadog-ipc, datadog-sidecar

feat(data-pipeline): add agentless export (#2081)
  Cargo.lock
  LICENSE-3rdparty.csv
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/examples/send-traces-agentless.rs
  libdd-data-pipeline/src/agentless/config.rs
  libdd-data-pipeline/src/agentless/exporter.rs
  libdd-data-pipeline/src/agentless/mod.rs
  libdd-data-pipeline/src/lib.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/agentless_encoder/mod.rs
  libdd-trace-utils/src/agentless_encoder/tests.rs
  libdd-trace-utils/src/lib.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-utils

fix(otel-thread-ctx): put the threadlocal attributes at the right place in the context (#2167)
  libdd-library-config/src/tracer_metadata.rs
Due: none

feat(stats): emit canonical gRPC status name for OTLP rpc.response.status_code
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: libdd-data-pipeline

refactor(library-config)!: removed packed from MappingHeader, anyhow::Result -> io::Result
  libdd-library-config/src/otel_process_ctx.rs
Due: none

test(library-config): compile-time layout assertions for MappingHeader
  libdd-library-config/src/otel_process_ctx.rs
Due: none

style: apply nightly rustfmt (wrap doc comment)
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

fix(library-config): import std::io in tests
  libdd-library-config/src/otel_process_ctx.rs
Due: none

Allow caller to override threadlocal schema version and add extra attributes
  libdd-library-config/src/tracer_metadata.rs
Due: none

Apply suggestion from code review
  libdd-library-config/src/tracer_metadata.rs
Due: none

Use any_value::Value directly instead of a custom enum
  libdd-library-config/src/tracer_metadata.rs
Due: none

Group threadlocal fields into a ThreadLocalMetadata substruct
  libdd-library-config/src/tracer_metadata.rs
Due: none

Apply suggestion from @yannham
  libdd-library-config/src/tracer_metadata.rs
Due: none

Close the unbalanced delimiter in the prior suggestion
  libdd-library-config/src/tracer_metadata.rs
Due: none

Fix tests calling stale find_attr helper
  libdd-library-config/src/tracer_metadata.rs
Due: none

Re-flow overlong test line after find_extra_attr rename
  libdd-library-config/src/tracer_metadata.rs
Due: none

chore: adress PR comments
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/shm_remote_config.rs
  libdd-remote-config/examples/remote_config_fetch.rs
  libdd-remote-config/src/fetch/fetcher.rs
  libdd-remote-config/src/fetch/shared.rs
  libdd-remote-config/src/lib.rs
  libdd-tracer-flare/src/lib.rs
Due: datadog-sidecar, datdog-sidecar-ffi, libdd-tracer-flare

feat(library-config)!: caller-supplied threadlocal schema and extra process-context attributes (#2162)
  libdd-library-config/src/tracer_metadata.rs
Due: none

feat: add shared thread context
  libdd-otel-thread-ctx-ffi/src/lib.rs
  libdd-otel-thread-ctx/src/lib.rs
Due: none

feat(ci): run clippy on wasm target
  .github/workflows/lint.yml
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
