Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log

fix doc tests
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
Due: libdd-trace-utils

fix: fmt and add + Symc for AgentInfoFetcher<C>
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/health_metrics.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/tests/test_fetch_info.rs
Due: libdd-data-pipeline

fix: fallback when negative number start and duration
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
Due: libdd-trace-utils

fix(libdd-data-pipeline): clippy unused_async, unnecessary_wraps, needless_pass_by_value, trivially_copy_pass_by_ref, unused_self, struct_field_names
  libdd-data-pipeline/src/health_metrics.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/telemetry/metrics.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
Due: libdd-data-pipeline

fix(libdd-data-pipeline): clippy allow deferred lints with reasons; fix trivially_copy, needless_pass_by_value, cast_possible_truncation
  Cargo.toml
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/examples/send-traces-with-stats.rs
  libdd-data-pipeline/src/health_metrics.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/metrics.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
Due: libdd-data-pipeline

fix(libdd-data-pipeline): remove redundant cfg_attr deny lints superseded by workspace lints
  libdd-data-pipeline/src/lib.rs
Due: libdd-data-pipeline

fix(libdd-data-pipeline): clippy MSRV 1.84.1 — future_not_send allows, similar_names rename
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

fix(libdd-data-pipeline): clarify future_not_send allow reasons with MSRV FIXME
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

fix(libdd-data-pipeline): update future_not_send FIXME — regression specific to 1.84.1, fixed in 1.85.0
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

fix(data-pipeline): allow old PascalCase fields in obfuscation config scheme (#2008)
  Cargo.lock
  LICENSE-3rdparty.csv
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/agent_info/schema.rs
Due: libdd-data-pipeline

fix: weird lints
  libdd-data-pipeline/src/agent_info/schema.rs
  libdd-trace-normalization/src/normalizer.rs
Due: libdd-data-pipeline, libdd-trace-normalization

fix: fmt
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/health_metrics.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/metrics.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
Due: libdd-data-pipeline

fix: missing Eq in SqlObfuscationMode
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

fix(otlp): propagate _dd.p.tid from chunk root to all spans
  libdd-trace-utils/src/otlp_encoder/mapper.rs
Due: libdd-trace-utils

chore: bump workspace version to 34.0.0
  Cargo.lock
  Cargo.toml
Due: none

ci(release): satisfy shellcheck in validate-inputs and create-pr
  .github/workflows/release-proposal-dispatch.yml
Due: none

refactor(otel-thread-ctx): use closure-based API for TLS slot access
  libdd-otel-thread-ctx/src/lib.rs
Due: none

feat!: add encoder from v04 to v1 (#1896)
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-data-pipeline/tests/snapshots/compare_exporter_v04_to_v1_trace_snapshot_test.json
  libdd-data-pipeline/tests/test_trace_exporter.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/src/lib.rs
  libdd-trace-utils/src/msgpack_encoder/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v1/span_v04.rs
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/tracer_metadata.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-data-pipeline, libdd-trace-utils

chore: release v34.0.0 (#2015)
  Cargo.lock
  Cargo.toml
Due: none

refacto: cleanup v04 serializer
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
  libdd-trace-utils/src/trace_utils.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-data-pipeline, libdd-trace-utils

doc: remove superfluous comment
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix: free slices with CString::from_raw instead of Box
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

Update datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

doc: remove part that is not relevant to code
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore(sidecar): reorg unsafe code in span ffi
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore: revert sidecar ffi changes that are breaking
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore: add todo to use std's function once available
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

feat(trace-utils)!: add from_string to span text (#2011)
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-sampling/benches/sampling_bench.rs
  libdd-sampling/src/v04_span.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/v04/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

refactor(otel-thread-ctx): backport review suggestions from Polar Signals (#2016)
  libdd-otel-thread-ctx/src/lib.rs
Due: none

refactor(otel-thread-ctx): add const offset assertions for ThreadContextRecord
  libdd-otel-thread-ctx/src/lib.rs
Due: none

refactor(otel-thread-ctx): add const offset assertions for ThreadContextRecord (#2018)
  libdd-otel-thread-ctx/src/lib.rs
Due: none

refactor(otel-thread-ctx): doc and style fixes for ThreadContextRecord
  libdd-otel-thread-ctx/src/lib.rs
Due: none

doc: remove TODO after clarification
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

wip normalization
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

Only depend on the `windows` crate when targeting Windows
  datadog-sidecar/Cargo.toml
  spawn_worker/Cargo.toml
Due: datadog-sidecar, spawn-worker

refactor(otel-thread-ctx): doc and style fixes for ThreadContextRecord (#2019)
  libdd-otel-thread-ctx/src/lib.rs
Due: none

chore: bump msrv to 1.87.0
  Cargo.toml
  rust-toolchain.toml
Due: none

ci: use nightly-toolchain.toml as the source of truth for the nightly version
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/pr-title-semver-check.yml
  .github/workflows/release-proposal-dispatch.yml
  .github/workflows/rustfmt-auto.yml
  .gitlab/fuzz.yml
  .pre-commit-config.yaml
  nightly-toolchain.toml
Due: none

chore: use rust-toolchain as the source of truth for the workflows
  .github/actions/ci-shared/Cargo.toml
  .github/actions/clippy-annotation-reporter/Cargo.toml
  .github/actions/clippy-annotation-reporter/action.yml
  .github/actions/crates-reporter/Cargo.toml
  .github/actions/crates-reporter/action.yml
  .github/workflows/check-crypto-providers.yml
  .github/workflows/clippy-annotation-reporter.yml
  .github/workflows/coverage.yml
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/pr-title-semver-check.yml
  .github/workflows/rustfmt-auto.yml
  .github/workflows/test-ffi.yml
  .github/workflows/test.yml
  .github/workflows/verify-proto-files.yml
  README.md
Due: none

chore: use libddprof branch to align changes
  .gitlab-ci.yml
Due: none
