Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

feat: add function to get default cardinality limit config
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Support telemetry refactoring in appsec
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/appsec.rs
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix(stats-exporter): disable retries for stats payload sends (#2249)
  libdd-trace-stats/src/stats_exporter.rs
Due: none

chore(profiling): provide override for default sample size
  libdd-profiling-heap-allocator/src/lib.rs
  libdd-profiling-heap-gotter-ffi/src/lib.rs
  libdd-profiling-heap-gotter/src/lib.rs
  libdd-profiling-heap-sampler/include/datadog/heap/tl_state.h
  libdd-profiling-heap-sampler/src/generated/bindings.rs
  libdd-profiling-heap-sampler/src/generated/dd_heap_sampler_static_wrappers.c
  libdd-profiling-heap-sampler/src/lib.rs
  libdd-profiling-heap-sampler/src/tl_state.c
Due: libdd-profiling

clamp min value to 64 KiB
  libdd-profiling-heap-allocator/src/lib.rs
  libdd-profiling-heap-gotter-ffi/src/lib.rs
  libdd-profiling-heap-gotter/src/lib.rs
  libdd-profiling-heap-sampler/include/datadog/heap/tl_state.h
  libdd-profiling-heap-sampler/src/lib.rs
  libdd-profiling-heap-sampler/src/tl_state.c
Due: libdd-profiling

document what 'early enough' means better
  libdd-profiling-heap-allocator/src/lib.rs
  libdd-profiling-heap-gotter/src/lib.rs
Due: libdd-profiling

test: stabilize flaky tests
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-crashtracker, libdd-data-pipeline, libdd-data-pipeline-ffi

ci: clear macOS panic-abort target cache
  .github/workflows/test.yml
Due: none

test: move panic-abort artifacts outside target cache
  bin_tests/src/lib.rs
Due: none

comment changes
  libdd-library-config/src/otel_process_ctx/writer.rs
  libdd-library-config/src/otel_process_ctx/writer/linux.rs
Due: none

refactor out CopyPipeError, as suggested earlier
  libdd-library-config/src/otel_process_ctx/reader.rs
  libdd-library-config/src/otel_process_ctx/reader/copy_pipe_unix.rs
Due: none

test: stabilize profiling exporter tests
  libdd-common/src/dump_server.rs
  libdd-profiling/src/exporter/exporter_manager.rs
Due: libdd-common, libdd-profiling

call make_discoverable upon each update, as required by the spec
  libdd-library-config/src/otel_process_ctx/writer.rs
Due: none

fix: bad merge lints
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

test: stabilize flaky tests (#2256)
  .github/workflows/test.yml
  libdd-common/src/dump_server.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-profiling/src/exporter/exporter_manager.rs
Due: libdd-crashtracker, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-profiling

refactor(statsd): wrap client in arc
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_server.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/metrics.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-dogstatsd-client/src/action.rs
  libdd-dogstatsd-client/src/client/mod.rs
  libdd-dogstatsd-client/src/client/sink.rs
  libdd-dogstatsd-client/src/lib.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, libdd-dogstatsd-client, datadog-sidecar

docs: scope agent validation commands (#2247)
  AGENTS.md
Due: none

chore(profiling): allow user to customise default heap profiling sampling interval [PROF-15190] (#2255)
  libdd-profiling-heap-allocator/src/lib.rs
  libdd-profiling-heap-gotter-ffi/src/lib.rs
  libdd-profiling-heap-gotter/src/lib.rs
  libdd-profiling-heap-sampler/include/datadog/heap/tl_state.h
  libdd-profiling-heap-sampler/src/generated/bindings.rs
  libdd-profiling-heap-sampler/src/generated/dd_heap_sampler_static_wrappers.c
  libdd-profiling-heap-sampler/src/lib.rs
  libdd-profiling-heap-sampler/src/tl_state.c
Due: libdd-profiling

chore(profiling): add missing version to libdd-profiling-heap-gotter to fix publish [PROF-15190] (#2254)
  libdd-profiling-heap-gotter/Cargo.toml
Due: libdd-profiling

give panic abort its own profile
  .github/workflows/test.yml
  Cargo.toml
  bin_tests/src/lib.rs
Due: none

fix(library-config): update Linux process context (#2237)
  libdd-library-config/Cargo.toml
  libdd-library-config/src/otel_process_ctx.rs
  libdd-library-config/src/otel_process_ctx/reader.rs
  libdd-library-config/src/otel_process_ctx/reader/copy_pipe_unix.rs
  libdd-library-config/src/otel_process_ctx/writer.rs
  libdd-library-config/src/otel_process_ctx/writer/linux.rs
Due: none

refactor(statsd)!: make client clonable (#2222)
  datadog-sidecar/src/service/session_info.rs
  datadog-sidecar/src/service/sidecar_server.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/metrics.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-dogstatsd-client/src/action.rs
  libdd-dogstatsd-client/src/client/mod.rs
  libdd-dogstatsd-client/src/client/sink.rs
  libdd-dogstatsd-client/src/lib.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: libdd-data-pipeline, libdd-dogstatsd-client, datadog-sidecar

Build profile
  bin_tests/src/artifacts.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
Due: none

fix(ci): give panic abort its own profile (#2259)
  .github/workflows/test.yml
  Cargo.toml
  bin_tests/src/artifacts.rs
  bin_tests/src/lib.rs
  bin_tests/tests/crashtracker_bin_test.rs
  bin_tests/tests/test_the_tests.rs
Due: none

clean up test comments
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

feat(stats)!: implement additional metric tags in libdd-trace-stats (#2170)
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-protobuf/src/pb_test.rs
  libdd-trace-stats/README.md
  libdd-trace-stats/benches/span_concentrator_bench.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-stats/src/stats_exporter.rs
  libdd-trace-utils/src/stats_utils.rs
Due: libdd-data-pipeline, libdd-trace-protobuf, libdd-trace-utils

fix: apply configured limits to OTLP stats
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

explain HashSet of hashes reasoning
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

implement additional_metrics_tags field cardinality limit
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

fix: drain the mailbox before stopping
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-telemetry

Revert "tmp: run the test 100 times"
  .github/workflows/test.yml
Due: none

tmp: run the test 100 times
  .github/workflows/test.yml
Due: none

feat: drain only the currently sent messages.
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

fix: missing resource cardinality limit = 0 warn
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: none

wip telemetry
  datadog-ipc/src/shm_stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: datadog-ipc

fix: bitshift operations are hard...
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

feat: fields combination metrics, dogstatsd only
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/stats_exporter.rs
Due: none

add tests for multiple per-key collapse
  libdd-trace-stats/src/stats_exporter.rs
Due: none

cleanup
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

feat: cherry pick simple 1 collapsed field tests from old pr
  libdd-trace-stats/src/stats_exporter.rs
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
