Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

fix: backoff test
  libdd-remote-config/src/fetch/agentless.rs
Due: none

feat: log each field limit reached separatly
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

style: cleanup/simplify sending telemetry
  libdd-trace-stats/src/stats_exporter.rs
Due: none

fix: additional_tags -> additional_metric_tags
  libdd-trace-stats/src/stats_exporter.rs
Due: none

fix: test compile warnings with no features
  libdd-trace-stats/src/stats_exporter.rs
Due: none

fix: replace OnceLock -> Once
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: none

feat(signal-safe-http): add telemetry HTTP client
  Cargo.lock
  Cargo.toml
  libdd-signal-safe-http-client/Cargo.toml
  libdd-signal-safe-http-client/README.md
  libdd-signal-safe-http-client/src/dns.rs
  libdd-signal-safe-http-client/src/error.rs
  libdd-signal-safe-http-client/src/header.rs
  libdd-signal-safe-http-client/src/lib.rs
  libdd-signal-safe-http-client/src/request.rs
  libdd-signal-safe-http-client/src/sink.rs
  libdd-signal-safe-http-client/src/telemetry.rs
Due: none

fix: bad telemetry tag name again
  libdd-trace-stats/src/stats_exporter.rs
Due: none

refactor(signal-safe-http): use reqwless request writer
  Cargo.lock
  LICENSE-3rdparty.csv
  libdd-signal-safe-http-client/Cargo.toml
  libdd-signal-safe-http-client/src/error.rs
  libdd-signal-safe-http-client/src/lib.rs
  libdd-signal-safe-http-client/src/request.rs
  libdd-signal-safe-http-client/src/sink.rs
  libdd-signal-safe-http-client/src/telemetry.rs
Due: none

refactor(signal-safe-http): rely on reqwless directly
  Cargo.lock
  libdd-signal-safe-http-client/Cargo.toml
  libdd-signal-safe-http-client/README.md
  libdd-signal-safe-http-client/src/error.rs
  libdd-signal-safe-http-client/src/header.rs
  libdd-signal-safe-http-client/src/lib.rs
  libdd-signal-safe-http-client/src/request.rs
  libdd-signal-safe-http-client/src/sink.rs
  libdd-signal-safe-http-client/src/telemetry.rs
Due: none

fix(data-pipeline): address compression PR review feedback
  builder/Cargo.toml
  builder/src/bin/release.rs
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-profiling-ffi/Cargo.toml
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/send_with_retry/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-profiling, libdd-profiling-ffi, libdd-trace-utils

feat(signal-safe-http): add synchronous reqwless facade
  libdd-signal-safe-http-client/Cargo.toml
  libdd-signal-safe-http-client/README.md
  libdd-signal-safe-http-client/src/client.rs
  libdd-signal-safe-http-client/src/lib.rs
  libdd-signal-safe-http-client/src/telemetry.rs
Due: none

fix: assert body also in compression mode
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

fix: new clippy lints
  libdd-crashtracker/build.rs
  libdd-profiling-heap-gotter/src/elf.rs
  libdd-remote-config/src/fetch/multitarget.rs
  libdd-trace-obfuscation/src/replacer.rs
Due: libdd-crashtracker, libdd-profiling, libdd-trace-obfuscation

refactor(signal-safe-http): keep low-level reqwless api
  libdd-signal-safe-http-client/Cargo.toml
  libdd-signal-safe-http-client/README.md
  libdd-signal-safe-http-client/src/client.rs
  libdd-signal-safe-http-client/src/lib.rs
Due: none

fix: platform specific lints
  datadog-live-debugger-ffi/src/send_data.rs
  libdd-profiling-heap-gotter/src/elf.rs
Due: libdd-profiling

fix: add keep-going option on CI clippy runs
  .github/workflows/lint.yml
  libdd-crashtracker/src/runtime_callback.rs
Due: libdd-crashtracker

feat: send obfuscated/unobfuscated stats concurrently
  libdd-trace-stats/src/stats_exporter.rs
Due: none

fix: new clippy lints (#2219)
  .github/workflows/lint.yml
  datadog-live-debugger-ffi/src/send_data.rs
  libdd-crashtracker/build.rs
  libdd-crashtracker/src/runtime_callback.rs
  libdd-profiling-heap-gotter/src/elf.rs
  libdd-remote-config/src/fetch/multitarget.rs
  libdd-trace-obfuscation/src/replacer.rs
Due: libdd-crashtracker, libdd-profiling, libdd-trace-obfuscation

Harden ptrace retries
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

Only retry register wait timeout
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

Run test 100x
  .github/workflows/test.yml
Due: none

Retry for 0 frames
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

fix(shared-runtime): make ForkSafeRuntime teardown structurally TLS/poison-safe
  libdd-common/src/lib.rs
  libdd-shared-runtime/src/shared_runtime/fork_safe.rs
Due: libdd-common

Diagnostic prints
  .github/workflows/test.yml
Due: none

refactor(http): rename low-level crate
  Cargo.lock
  Cargo.toml
  libdd-http-primitives/Cargo.toml
  libdd-http-primitives/README.md
  libdd-http-primitives/src/dns.rs
  libdd-http-primitives/src/lib.rs
  libdd-http-primitives/src/telemetry.rs
  libdd-signal-safe-http-client/README.md
Due: none

refactor(http): rename crate to http-lite
  Cargo.lock
  Cargo.toml
  libdd-http-lite/Cargo.toml
  libdd-http-lite/README.md
  libdd-http-lite/src/dns.rs
  libdd-http-lite/src/lib.rs
  libdd-http-lite/src/telemetry.rs
Due: none

fix: buggy clippy lint
  libdd-common/src/unix_utils/file_ops.rs
Due: libdd-common

fix: last new clippy lint (#2221)
  libdd-common/src/unix_utils/file_ops.rs
Due: libdd-common

fix: FuturesUnordered over tokio::join!
  Cargo.lock
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/src/stats_exporter.rs
Due: none

fix(ffi): add libdd-trace-stats to cbindgen config to generate CardinalityLimitConfig binding
  libdd-data-pipeline-ffi/cbindgen.toml
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix: fmt
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

feat: store distinct hashes instead of values
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

fix: libdd-data-pipeline(-ffi) build
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

fix: wrong peer_tags collapse value
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

fix: collapse key fields before applying whole-key cardinality limits
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
