Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

Revert "fix: make test config public"
  dogstatsd/src/aggregator.rs
  dogstatsd/src/dogstatsd.rs
Due: none

fix: use only minimum regexp
  dogstatsd/Cargo.toml
Due: none

refactor: do one step parsing
  Cargo.lock
  dogstatsd/Cargo.toml
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/datadog.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
Due: none

format: format and clippy test: fix test format with # for tags. It also changed the byte wise test expected result
  dogstatsd/src/aggregator.rs
  dogstatsd/src/constants.rs
  dogstatsd/src/dogstatsd.rs
  dogstatsd/src/metric.rs
  dogstatsd/tests/integration_test.rs
Due: none

refactor: remove unused error
  dogstatsd/src/datadog.rs
Due: none

fix: use empty tags
  dogstatsd/src/metric.rs
  serverless/src/main.rs
Due: serverless

fix: increase to 10k context size, lost in refactors/moving
  dogstatsd/src/constants.rs
Due: none

fix: restore previous cargo.lock
  Cargo.lock
Due: none

fix: missing error dep
  dogstatsd/src/datadog.rs
Due: none

style: fix comment too long not picked up by rustfmt
  dogstatsd/src/aggregator.rs
Due: none

fix: remove custom toolchain
  dogstatsd/rust-toolchain.toml
Due: none

fix: nightly rustc 1.83 format
  serverless/src/main.rs
Due: serverless

fix: clippy
  dogstatsd/src/aggregator.rs
Due: none

fix tests
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
Due: data-pipeline

use either to simplify emit_metric code
  Cargo.lock
  data-pipeline/Cargo.toml
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

resolve todo
  data-pipeline/src/trace_exporter.rs
  dogstatsd-client/src/lib.rs
Due: data-pipeline

Increase iterations for credit card bench
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Due: trace-obfuscation

Increase iterations
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Due: trace-obfuscation

Increase samples
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Due: trace-obfuscation

Apply suggestions
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/examples/send-traces-with-stats.rs
  data-pipeline/src/stats_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Add doc
  data-pipeline/src/trace_exporter.rs
Due: data-pipeline

Revert 1 commits
  trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
Due: trace-obfuscation

Fix leaking sessions
  sidecar/src/service/sidecar_server.rs
Due: sidecar

Add bp ui
  .gitlab/benchmarks.yml
Due: none

Fix leaking sessions (#642)
  sidecar/src/service/sidecar_server.rs
Due: sidecar

introducing the use of tinybytes::Bytes in the sidecar and trace-utils
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/service/sidecar_server.rs
  trace-utils/Cargo.toml
  trace-utils/benches/deserialization.rs
  trace-utils/src/tracer_payload.rs
Due: sidecar, trace-utils

WIP: Cleanup and add an unchecked way to create NoAllocStrings
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Due: trace-utils

improve decoding tests
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Due: trace-utils

WIP: Move to using no allocations spans for v04
  data-pipeline/src/trace_exporter.rs
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Due: data-pipeline, trace-mini-agent, trace-utils

include the underlying slice in the BytesWrapper
  tinybytes/src/bytes_string.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
Due: trace-utils

mark unchecked functions as unsafe and improve documentation for NoAllocString
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
Due: trace-utils

WIP: Cleanup
  trace-utils/src/lib.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/no_alloc_string.rs
  trace-utils/src/send_data/mod.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Due: trace-utils

Drop redundant clone
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Due: trace-utils

Refactor BytesWrapper away
  Cargo.lock
  tinybytes/Cargo.toml
  tinybytes/src/bytes_string.rs
  tinybytes/src/lib.rs
  trace-utils/Cargo.toml
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
  trace-utils/src/span_v04.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/tracer_payload.rs
  trace-utils/tests/test_send_data.rs
Due: trace-utils

impl UnderlyingBytes for ShmHandle so we do not have to do a full copy for tinybytes
  Cargo.lock
  sidecar/Cargo.toml
  sidecar/src/service/sidecar_server.rs
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
Due: sidecar

move UnderlyingBytes impl for ShmHandle to ipc
  Cargo.lock
  ipc/Cargo.toml
  ipc/src/platform/mem_handle.rs
  sidecar/Cargo.toml
  tinybytes/Cargo.toml
  tinybytes/src/lib.rs
Due: ipc, sidecar

ignoring miri for false positives
  tinybytes/src/bytes_string.rs
Due: none

Path conditions:
  crashtracker: any of: crashtracker
  data-pipeline: any of: data-pipeline
  data-pipeline-ffi: any of: data-pipeline-ffi
  ddcommon: any of: ddcommon
  ddcommon-ffi: any of: ddcommon-ffi
  ddtelemetry: any of: ddtelemetry
  ipc: any of: ipc
  profiling: any of: profiling
  profiling-ffi: any of: profiling-ffi
  serverless: any of: serverless
  sidecar: any of: sidecar
  sidecar-ffi: any of: sidecar-ffi
  spawn-worker: any of: spawn_worker
  trace-mini-agent: any of: trace-mini-agent
  trace-normalization: any of: trace-normalization
  trace-obfuscation: any of: trace-obfuscation
  trace-protobuf: any of: trace-protobuf
  trace-utils: any of: trace-utils
