Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

chore: use http alias instead of raw string
  libdd-data-pipeline-ffi/src/error.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-trace-utils

feat: add delay to not spam the agent
  libdd-trace-utils/src/send_with_retry/retry_strategy.rs
Due: libdd-trace-utils

chore: fmt
  datadog-sidecar/src/service/tracing/trace_flusher.rs
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/send_with_retry/mod.rs
Due: libdd-data-pipeline, datadog-sidecar, libdd-trace-utils

revert: clippy ran in nightly and changes that are unrelated to this PR
  libdd-common-ffi/src/vec.rs
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-common, libdd-common-ffi, libdd-trace-obfuscation, libdd-trace-utils

filter out span_derived_primary_tags with empty string values
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

fix: post rebase shenanigans
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/send_data/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix: use default builder
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

fix: less copies
  libdd-trace-utils/src/send_with_retry/mod.rs
Due: libdd-trace-utils

fix: cherry picked cc4a550 because it was trashed during rebase
  libdd-data-pipeline/src/agent_info/fetcher.rs
Due: libdd-data-pipeline

chore(telemetry): add session id support
  libdd-telemetry-ffi/src/builder/expanded.rs
  libdd-telemetry-ffi/src/builder/macros.rs
  libdd-telemetry-ffi/src/lib.rs
  libdd-telemetry/src/config.rs
  libdd-telemetry/src/worker/http_client.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry, libdd-telemetry-ffi

add session id support to trace export
  examples/ffi/trace_exporter.c
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

emit ucontext registers as structured data
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_5.json
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/experimental.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

fix: post rebase shenanigans still
  Cargo.lock
  datadog-tracer-flare/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/tests/test_trace_exporter_otlp_export.rs
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-utils

Promote ucontext out of experimental
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_5.json
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_6.json
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/experimental.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-crashtracker/src/crash_info/ucontext.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

fix(change-buffer): fix u32/u64 alignment mismatch causing scaling degradation
  libdd-trace-utils/src/change_buffer/buffer.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
Due: libdd-trace-utils

feat(crashtracking)!: emit ucontext registers as structured data (#1787)
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_6.json
  libdd-crashtracker/src/collector/emitters.rs
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/experimental.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-crashtracker/src/crash_info/ucontext.rs
  libdd-crashtracker/src/receiver/receive_report.rs
Due: libdd-crashtracker

feat: better integration with httpcommon
  Cargo.lock
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/agent_info.rs
  datadog-sidecar/src/service/tracing/trace_flusher.rs
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities-impl/src/http.rs
  libdd-capabilities-impl/src/lib.rs
  libdd-common/src/http_common.rs
  libdd-common/src/lib.rs
Due: libdd-common, datadog-sidecar

fix: redundant cfg gate
  libdd-data-pipeline/src/pausable_worker.rs
Due: libdd-data-pipeline

style: meh
  libdd-trace-utils/src/send_data/send_data_result.rs
Due: libdd-trace-utils

A bit too big
  libdd-libunwind-sys/src/libunwind_aarch64.rs
Due: none

Print libunwind debug
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-libunwind-sys/build.rs
Due: none

Print stack
  bin_tests/src/validation.rs
Due: none

fix(telemetry): use configured extended heartbeat interval instead of hardcoded 24h
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

fix(telemetry): add telemetry_extended_heartbeat_interval to Config struct
  libdd-telemetry/src/config.rs
Due: libdd-telemetry

Libunwind print debug
  libdd-crashtracker/src/collector/emitters.rs
Due: libdd-crashtracker

Print frames
  bin_tests/src/validation.rs
  libdd-crashtracker/src/collector/emitters.rs
Due: libdd-crashtracker

Try using unw_backtrace2 directly
  libdd-crashtracker/src/collector/emitters.rs
Due: libdd-crashtracker

Print libunwind log message
  libdd-crashtracker/src/collector/collector_manager.rs
  libdd-crashtracker/src/collector/emitters.rs
  libdd-libunwind-sys/src/libunwind_aarch64.rs
  libdd-libunwind-sys/src/libunwind_x86_64.rs
Due: libdd-crashtracker

feat(data-pipeline): port dd-trace-rs trace buffer implementation
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/lib.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

feat(data-pipeline): add c ffi for the trace buffer
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline-ffi/src/error.rs
  libdd-data-pipeline-ffi/src/lib.rs
  libdd-data-pipeline-ffi/src/trace_buffer.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore(libdd-data-pipeline-ffi): use import path in macro
  libdd-data-pipeline-ffi/src/lib.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore(examples): update exporter.cpp
  examples/ffi/exporter.cpp
Due: none

refactor(profiling): split upload function
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/exporter/profile_exporter.rs
Due: libdd-profiling, libdd-profiling-ffi

release proposal test
  .github/workflows/release-proposal-test.yml
Due: none

chore: fix various issues
  examples/ffi/array_queue.cpp
Due: none

fix(entity_id): Handle Podman cgroupns=host cgroup path with .scope/container suffix
  libdd-common/src/entity_id/unix/container_id.rs
Due: libdd-common

docs: add comments on the export operation
  libdd-data-pipeline/src/trace_buffer/mod.rs
Due: libdd-data-pipeline

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
