Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

fix: use test get as headername don't hash like strings
  libdd-trace-utils/src/tracer_header_tags.rs
Due: libdd-trace-utils

refactor(libdd-crashtracker)!: avoid leaking Endpoint through the public API (#1705)
  bin_tests/src/bin/crashing_test_app.rs
  bin_tests/src/bin/crashtracker_bin_test.rs
  bin_tests/tests/crashtracker_bin_test.rs
  datadog-sidecar/src/unix.rs
  examples/ffi/crashtracking.c
  examples/ffi/crashtracking_unhandled_exception.c
  libdd-crashtracker-ffi/src/collector/datatypes.rs
  libdd-crashtracker/benches/receiver_bench.rs
  libdd-crashtracker/src/collector/api.rs
  libdd-crashtracker/src/collector/crash_handler.rs
  libdd-crashtracker/src/lib.rs
  libdd-crashtracker/src/receiver/mod.rs
  libdd-crashtracker/src/shared/configuration/builder.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
Due: libdd-crashtracker, libdd-crashtracker-ffi, datadog-sidecar

chore: catch panics on ffi
  libdd-data-pipeline-ffi/src/lib.rs
  libdd-data-pipeline-ffi/src/shared_runtime.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

chore: clean up actions
  .github/actions/Cargo.lock
  .github/actions/Cargo.toml
  .github/actions/ci-crates/src/lib.rs
  .github/actions/ci-shared/Cargo.toml
  .github/actions/ci-shared/src/git.rs
  .github/actions/ci-shared/src/lib.rs
  .github/actions/ci-shared/src/workspace.rs
  .github/actions/clippy-annotation-reporter/src/commenter.rs
  .github/actions/crates-reporter/Cargo.toml
  .github/actions/crates-reporter/action.yml
  .github/actions/crates-reporter/src/main.rs
Due: none

don't run coverage if crates haven't changed
  .github/workflows/coverage.yml
Due: none

Modify coverage so it generates report for modified crates
  .codecov.yml
  .github/workflows/coverage.yml
Due: none

ignore release branches
  .github/workflows/coverage.yml
Due: none

chore: clean up actions
  .github/actions/Cargo.lock
  .github/actions/Cargo.toml
  .github/actions/ci-crates/src/lib.rs
  .github/actions/ci-shared/Cargo.toml
  .github/actions/ci-shared/src/git.rs
  .github/actions/ci-shared/src/lib.rs
  .github/actions/ci-shared/src/workspace.rs
  .github/actions/clippy-annotation-reporter/src/commenter.rs
  .github/actions/crates-reporter/Cargo.toml
  .github/actions/crates-reporter/action.yml
  .github/actions/crates-reporter/src/main.rs
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/test-ffi.yml
  .github/workflows/test.yml
Due: none

chore: clean up actions
  .github/actions/Cargo.lock
  .github/actions/Cargo.toml
  .github/actions/ci-crates/src/lib.rs
  .github/actions/ci-shared/Cargo.toml
  .github/actions/ci-shared/src/git.rs
  .github/actions/ci-shared/src/lib.rs
  .github/actions/ci-shared/src/workspace.rs
  .github/actions/clippy-annotation-reporter/src/commenter.rs
  .github/actions/crates-reporter/Cargo.toml
  .github/actions/crates-reporter/action.yml
  .github/actions/crates-reporter/src/main.rs
  .github/workflows/fuzz.yml
  .github/workflows/lint.yml
  .github/workflows/miri.yml
  .github/workflows/pr-metadata-docs-and-deps.yml
  .github/workflows/test-ffi.yml
  .github/workflows/test.yml
Due: none

fix centos job
  .github/workflows/test.yml
Due: none

Remove Ruby bits
  .github/CODEOWNERS
  .github/workflows/publish-ruby.yml
  .github/workflows/test-ruby.yml
  ruby/.gitignore
  ruby/.rspec
  ruby/.standard.yml
  ruby/README.md
  ruby/Rakefile
  ruby/gems.rb
  ruby/lib/libdatadog.rb
  ruby/lib/libdatadog/version.rb
  ruby/libdatadog.gemspec
  ruby/publish/rakefile.rb
  ruby/spec/gem_packaging.rb
  ruby/spec/libdatadog_spec.rb
  ruby/spec/spec_helper.rb
Due: none

make centos test dynamic
  .github/workflows/test.yml
Due: none

Include github actions bot email
  repository.datadog.yml
Due: none

chore(ci): include github actions bot email in mergegate config (#1728)
  repository.datadog.yml
Due: none

feat(profiling): OTel style internal represenation
  libdd-profiling/src/internal/mod.rs
  libdd-profiling/src/internal/otel_style_observation.rs
  libdd-profiling/src/internal/profile/fuzz_tests.rs
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling

chore: Remove Ruby bits (#1725)
  .github/CODEOWNERS
  .github/workflows/publish-ruby.yml
  .github/workflows/test-ruby.yml
  ruby/.gitignore
  ruby/.rspec
  ruby/.standard.yml
  ruby/README.md
  ruby/Rakefile
  ruby/gems.rb
  ruby/lib/libdatadog.rb
  ruby/lib/libdatadog/version.rb
  ruby/libdatadog.gemspec
  ruby/publish/rakefile.rb
  ruby/spec/gem_packaging.rb
  ruby/spec/libdatadog_spec.rb
  ruby/spec/spec_helper.rb
Due: none

fix(profiling): add TSAN annotations to ExporterManager channel ops
  .claude/settings.local.json
  Cargo.lock
  libdd-profiling/Cargo.toml
  libdd-profiling/src/exporter/exporter_manager.rs
Due: libdd-profiling

fix(profiling): add TSAN annotations to ExporterManager channel operations
  Cargo.lock
  libdd-profiling/Cargo.toml
  libdd-profiling/src/exporter/exporter_manager.rs
Due: libdd-profiling

fix(profiling): replace crossbeam-channel with pthread-based channel
  libdd-profiling/src/exporter/exporter_manager.rs
Due: libdd-profiling

chore(release): proposal for libdd-library-config (#1726) (#1730)
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-library-config/CHANGELOG.md
  libdd-library-config/Cargo.toml
  libdd-trace-normalization/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-protobuf/CHANGELOG.md
  libdd-trace-protobuf/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils

feat(telemetry): add check for existing action
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

chore(release): proposal for updating libdd-trace-protobuf dependencies
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-trace-normalization/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-utils

chore(release): proposal for updating libdd-trace-protobuf dependencies (#1734)
  Cargo.lock
  libdd-data-pipeline/Cargo.toml
  libdd-trace-normalization/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
Due: libdd-data-pipeline, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-utils

Pin GitHub Actions
  .github/workflows/pr-metadata-docs-and-deps.yml
  .github/workflows/release-proposal-dispatch.yml
  .github/workflows/test.yml
Due: none

remove default implementation
  libdd-profiling/src/profiles/compressor.rs
Due: libdd-profiling

Add README "redirect"
  ruby/README.md
Due: none

chore: update changelogs
  libdd-data-pipeline/CHANGELOG.md
  libdd-trace-normalization/CHANGELOG.md
  libdd-trace-obfuscation/CHANGELOG.md
  libdd-trace-stats/CHANGELOG.md
  libdd-trace-utils/CHANGELOG.md
Due: libdd-data-pipeline, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-utils

chore: solve PR comments
  libdd-data-pipeline/CHANGELOG.md
  libdd-trace-normalization/CHANGELOG.md
  libdd-trace-stats/CHANGELOG.md
  libdd-trace-utils/CHANGELOG.md
Due: libdd-data-pipeline, libdd-trace-normalization, libdd-trace-utils

fix: use stabilized AtomicXXX::from_ptr()
  datadog-ipc/src/platform/unix/mem_handle_macos.rs
Due: datadog-ipc

feat(profiling)!: Add `BufWriter` for batching calls to `ZSTD_compressStream` (#1696)
  libdd-profiling/benches/add_samples.rs
  libdd-profiling/src/internal/observation/timestamped_observations.rs
  libdd-profiling/src/profiles/compressor.rs
Due: libdd-profiling

chore: Add README "redirect" (#1737)
  ruby/README.md
Due: none

Incomplete job to bump version of dependents
  .github/workflows/release-proposal-dispatch.yml
Due: none

feat(libdd-common): use ring crypto backend on unix for non-FIPS builds
  libdd-common/Cargo.toml
  libdd-common/src/connector/mod.rs
Due: libdd-common

linting issues
  libdd-data-pipeline/src/otlp/config.rs
Due: libdd-data-pipeline

Tag whether glibc or musl
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
Due: libdd-crashtracker

Include MSVC for windows and empty string for ambiguous
  libdd-crashtracker/src/crash_info/mod.rs
Due: libdd-crashtracker

libunwind its own version
  Cargo.lock
  libdd-crashtracker/Cargo.toml
  libdd-libunwind-sys/Cargo.toml
Due: libdd-crashtracker

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
