Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

Add dllimport on static symbols
  libdd-profiling-ffi/cbindgen.toml
Due: libdd-profiling, libdd-profiling-ffi

fix clippy
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/entry.rs
Due: datadog-sidecar

More
  bin_tests/src/modes/behavior.rs
Due: none

fix(profiling): Windows extern statics need __declspec(dllimport)
  build-common/src/cbindgen.rs
  windows/build-artifacts.ps1
Due: none

fix: build.rs
  build-common/src/cbindgen.rs
Due: none

Gate macosx
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

revert changes to cbindgen.rs, Windows doesn't use this
  build-common/src/cbindgen.rs
Due: none

Address PR #1463 review feedback
  ruby/Rakefile
  ruby/lib/libdatadog/version.rb
  ruby/spec/libdatadog_spec.rb
Due: none

chore(lint): fix clippy from new 1.93 Rust release (#1467)
  bin_tests/src/modes/behavior.rs
  bin_tests/src/modes/unix/test_001_sigpipe.rs
  bin_tests/src/modes/unix/test_002_sigchld.rs
  bin_tests/src/modes/unix/test_003_sigchld_with_exec.rs
  bin_tests/src/modes/unix/test_005_sigpipe_sigstack.rs
  bin_tests/src/modes/unix/test_006_sigchld_sigstack.rs
  datadog-sidecar/src/config.rs
  datadog-sidecar/src/entry.rs
Due: datadog-sidecar

Simplify darwin platform detection in test
  ruby/spec/libdatadog_spec.rb
Due: none

feat(sidecar)!: introduce TraceData to unify text and binary data (#1247)
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/span.rs
  datadog-sidecar/src/service/tracing/trace_flusher.rs
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline/src/stats_exporter.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
  libdd-tinybytes/src/lib.rs
  libdd-trace-stats/benches/span_concentrator_bench.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/stat_span.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
  libdd-trace-utils/src/msgpack_decoder/decode/buffer.rs
  libdd-trace-utils/src/msgpack_decoder/decode/map.rs
  libdd-trace-utils/src/msgpack_decoder/decode/meta_struct.rs
  libdd-trace-utils/src/msgpack_decoder/decode/metrics.rs
  libdd-trace-utils/src/msgpack_decoder/decode/mod.rs
  libdd-trace-utils/src/msgpack_decoder/decode/number.rs
  libdd-trace-utils/src/msgpack_decoder/decode/span_event.rs
  libdd-trace-utils/src/msgpack_decoder/decode/span_link.rs
  libdd-trace-utils/src/msgpack_decoder/decode/string.rs
  libdd-trace-utils/src/msgpack_decoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_decoder/v04/span.rs
  libdd-trace-utils/src/msgpack_decoder/v05/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v04/mod.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span.rs
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v04/mod.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
  libdd-trace-utils/src/test_utils/mod.rs
  libdd-trace-utils/src/trace_utils.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, datadog-sidecar, datdog-sidecar-ffi, libdd-tinybytes, libdd-trace-utils

add send failure and serialization error reason to trace_chunks_dropped telemetry
  libdd-data-pipeline/src/telemetry/metrics.rs
  libdd-data-pipeline/src/telemetry/mod.rs
Due: libdd-data-pipeline

emit telemetry for dropped p0s
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

fixup: add missing test coverage for p0 drop reason
  libdd-data-pipeline/src/telemetry/mod.rs
Due: libdd-data-pipeline

fixup: add test coverage
  libdd-data-pipeline/src/telemetry/mod.rs
Due: libdd-data-pipeline

make telemetry pub(crate)
  libdd-data-pipeline/src/lib.rs
Due: libdd-data-pipeline

fixup - remove unused enum
  libdd-data-pipeline/src/telemetry/mod.rs
Due: libdd-data-pipeline

Gate macosx (#1469)
  bin_tests/tests/crashtracker_bin_test.rs
Due: none

Make ftruncate faillible
  datadog-ipc/src/platform/mem_handle.rs
  datadog-ipc/src/platform/unix/mem_handle.rs
  datadog-ipc/src/platform/windows/mem_handle.rs
  datadog-ipc/src/rate_limiter.rs
  datadog-sidecar/src/one_way_shared_memory.rs
Due: datadog-ipc, datadog-sidecar

feat(data-pipeline)!: include reason for chunks dropped telemetry (#1449)
  libdd-data-pipeline/src/lib.rs
  libdd-data-pipeline/src/telemetry/metrics.rs
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
Due: libdd-data-pipeline

feat(ruby): add macOS (darwin) platform support (#1463)
  .github/workflows/test-ruby.yml
  ruby/Rakefile
  ruby/lib/libdatadog.rb
  ruby/lib/libdatadog/version.rb
  ruby/spec/libdatadog_spec.rb
Due: none

chore(ruby): [NO-TICKET] Fix signing of libdatadog Ruby releases
  .github/workflows/publish-ruby.yml
Due: none

chore(profiling): remove outdated info (#1462)
  libdd-profiling-ffi/cbindgen.toml
  libdd-profiling-ffi/src/exporter.rs
Due: libdd-profiling, libdd-profiling-ffi

fix(remote-config): fix case_id field of AgentTask
  Cargo.lock
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/config/agent_task.rs
Due: none

Try TraceProjection (incomplete)
  datadog-trace-utils/src/msgpack_decoder/v1/mod.rs
  datadog-trace-utils/src/msgpack_decoder/v1/span.rs
  libdd-trace-utils/src/msgpack_decoder/mod.rs
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/table.rs
  libdd-trace-utils/src/span/trace.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/span/v1/mod.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-trace-utils

Try TraceProjection (incomplete)
  datadog-trace-utils/src/msgpack_decoder/v1/mod.rs
  datadog-trace-utils/src/msgpack_decoder/v1/span.rs
  libdd-trace-utils/src/span/mod.rs
  libdd-trace-utils/src/span/table.rs
  libdd-trace-utils/src/span/trace.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v05/mod.rs
  libdd-trace-utils/src/span/v1/mod.rs
  libdd-trace-utils/src/tracer_payload.rs
Due: libdd-trace-utils

lifetime check
  libdd-trace-utils/src/span/trace.rs
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/span/v05/mod.rs
Due: libdd-trace-utils

fix(tracer-flare): fix type of case_id field of AgentTask
  datadog-tracer-flare/src/lib.rs
  datadog-tracer-flare/src/zip.rs
Due: none

Fix two bugs in appsec sidecar-ffi telemetry sender
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

feat(profiling)!: take sample types by enum
  .gitignore
  Cargo.lock
  datadog-profiling-replayer/src/replayer.rs
  examples/cxx/profiling.cpp
  examples/ffi/exporter.cpp
  examples/ffi/profile_intern.cpp
  examples/ffi/profiles.c
  libdd-profiling-ffi/src/profiles/datatypes.rs
  libdd-profiling/Cargo.toml
  libdd-profiling/README.md
  libdd-profiling/benches/add_samples.rs
  libdd-profiling/examples/profiles.rs
  libdd-profiling/src/api/mod.rs
  libdd-profiling/src/api/sample_type.rs
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/internal/mod.rs
  libdd-profiling/src/internal/owned_types/mod.rs
  libdd-profiling/src/internal/profile/fuzz_tests.rs
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling, libdd-profiling-ffi

Fix two bugs in appsec sidecar-ffi telemetry sender (#1465)
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/telemetry.rs
Due: datadog-sidecar

feat(profiler): fork-safe managed exporter
  .gitignore
  Cargo.lock
  examples/EXPORTER_MANAGER.md
  examples/cxx/build-exporter-manager.sh
  examples/cxx/exporter_manager.cpp
  examples/ffi/CMakeLists.txt
  examples/ffi/exporter_manager.c
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/Cargo.toml
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/errors.rs
  libdd-profiling/src/exporter/exporter_manager.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/src/exporter/profile_exporter.rs
Due: libdd-profiling, libdd-profiling-ffi

chore: fix shellcheck
  .github/workflows/pr-title-semver-check.yml
Due: none

chore: fix bot permissions and ownership.
  .github/CODEOWNERS
  scripts/semver-level.sh
Due: none

chore: don't log to stdout to avoid collisions with the actual result
  scripts/semver-level.sh
Due: none

chore: add license
  scripts/semver-level.sh
Due: none

refactor: changed semver-level script to compute single crate changes.
  .github/workflows/pr-title-semver-check.yml
  scripts/semver-level.sh
Due: none

ci: improve semver level calculation by using semver-check.
  .github/workflows/pr-title-semver-check.yml
  scripts/semver-level.sh
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
