Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

chore: fix clippy warnings
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

perf: hashmap -> fx hashmap
  Cargo.lock
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

style: format
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

refactor(change-buffer): replace slot index with span_id, fix segment isolation
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/operation.rs
  libdd-trace-utils/src/change_buffer/span_header.rs
  libdd-trace-utils/src/change_buffer/trace.rs
  libdd-trace-utils/src/change_buffer/utils.rs
Due: libdd-trace-utils

style: move capacity to constants
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

style: fix clippy warning (remove useless import)
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

refactor(change-buffer): eliminate segment_ids map, fix BatchSetMeta buffer corruption
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

refactor: trace.rs -> segment.rs
  libdd-trace-utils/src/change_buffer/mod.rs
  libdd-trace-utils/src/change_buffer/segment.rs
Due: libdd-trace-utils

chore: small self-review fixes
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

test(trace-utils): add ChangeBufferState unit tests
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

fix(trace-utils): update change buffer tests to use VecMap API
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

fix: fix UB in test, use mut ptr instead of const
  libdd-trace-utils/src/change_buffer/buffer.rs
Due: libdd-trace-utils

style: formatting
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

fix(crashtracking): multi thread collection centos flakes harden (#2113)
  libdd-crashtracker/src/receiver/ptrace_collector.rs
Due: libdd-crashtracker

ci(01-01): install authanywhere to working dir, use ./authanywhere path
  .gitlab/bench-analysis.yml
Due: none

ci(01-01): make dd-octo-sts token non-blocking until policy is merged
  .gitlab/bench-analysis.yml
Due: none

ci(01-01): install nvm from scratch, image does not have it pre-installed
  .gitlab/bench-analysis.yml
Due: none

fix: make span trait minimal again and filter_trace only works on v04 spans
  libdd-trace-utils/src/span/trace_utils.rs
  libdd-trace-utils/src/trace_filter.rs
Due: libdd-trace-utils

Adding headers
  .gitlab/bench-analysis.yml
Due: none

fix: post-rebase fix-up
  libdd-trace-utils/src/change_buffer/mod.rs
Due: libdd-trace-utils

Adding explicit model reference
  .gitlab/bench-analysis.yml
Due: none

fix: trim rc target path
  libdd-remote-config/src/agentless_client/mod.rs
Due: none

feat: make Span trait even more minimal by moving normalization to the caller
  libdd-trace-utils/src/trace_filter.rs
Due: libdd-trace-utils

fix(libdd-common): Add fallback logic for resolving Azure Functions instance name [SVLS-8931] (#2077)
  libdd-common/src/azure_app_services.rs
Due: libdd-common

feat(trace-stats): expose exact per-cell sum/min/max via OTLP sidecar
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

feat(ddsketch,trace-utils): OTLP roundtrip helpers
  libdd-ddsketch/src/lib.rs
  libdd-trace-utils/src/otlp_encoder/mod.rs
Due: libdd-trace-utils

refactor(data-pipeline): share OTLP HTTP transport; add OtlpMetricsConfig
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

feat(trace-stats)!: key aggregation by gRPC method name
  datadog-ipc/src/shm_stats.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: datadog-ipc

feat(data-pipeline): export client-computed span stats as OTLP trace metrics
  libdd-data-pipeline/src/otlp/config.rs
  libdd-data-pipeline/src/otlp/exporter.rs
  libdd-data-pipeline/src/otlp/metrics.rs
  libdd-data-pipeline/src/otlp/mod.rs
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
Due: libdd-data-pipeline

Document all thread collection
  docs/RFCs/0014-crashtracker-pre-diagnosis.md
  docs/RFCs/0015-crashtracker-all-thread-collection.md
Due: none

docs(crashtracking): document all thread collection (#2123)
  docs/RFCs/0014-crashtracker-pre-diagnosis.md
  docs/RFCs/0015-crashtracker-all-thread-collection.md
Due: none

feat(data-pipeline): set _dd.stats_computed on OTLP trace exports when SDK computes stats
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-utils/src/otlp_encoder/mapper.rs
  libdd-trace-utils/src/otlp_encoder/mod.rs
Due: libdd-data-pipeline, libdd-trace-utils

fix(trace-stats): move grpc_method out of aggregation key; restore V1 negotiation with OTLP stats
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: libdd-data-pipeline

fix(trace-stats): move grpc_method out of aggregation key; restore V1 negotiation with OTLP stats
  datadog-ipc/src/shm_stats.rs
Due: datadog-ipc

profiling: switch profile exporter to ureq
  Cargo.lock
  libdd-common/Cargo.toml
  libdd-common/src/endpoint_resolved.rs
  libdd-common/src/lib.rs
  libdd-common/tests/reqwest_builder_test.rs
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/Cargo.toml
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/errors.rs
  libdd-profiling/src/exporter/exporter_manager.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/src/exporter/multipart.rs
  libdd-profiling/src/exporter/profile_exporter.rs
  libdd-profiling/src/exporter/tls.rs
  libdd-profiling/src/exporter/transport.rs
  libdd-profiling/src/exporter/ureq_client.rs
  libdd-profiling/tests/exporter_e2e.rs
  libdd-profiling/tests/file_exporter_test.rs
Due: libdd-common, libdd-profiling, libdd-profiling-ffi

fix(ffe): align flagevaluation sidecar delivery with worker schema
  datadog-ffe/src/telemetry/flagevaluation.rs
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/service/blocking.rs
  datadog-sidecar/src/service/ffe_flagevaluation_flusher.rs
  datadog-sidecar/src/service/mod.rs
  datadog-sidecar/src/service/sender.rs
  datadog-sidecar/src/service/sidecar_server.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix: address ureq CI failures
  Cargo.lock
  LICENSE-3rdparty.csv
  libdd-common/src/endpoint_resolved.rs
  libdd-common/src/lib.rs
  libdd-profiling/Cargo.toml
Due: libdd-common, libdd-profiling

fix: allow boxed cxx exporter manager input
  libdd-profiling/src/cxx.rs
Due: libdd-profiling

Cleanup
  .gitlab/bench-analysis.yml
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
