Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

Fix undefined behaviors caused by unsafe null slice cast in the sidecar-ffi
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/setup/unix.rs
Due: sidecar, sidecar-ffi

run fmt
  sidecar-ffi/tests/sidecar.rs
Due: sidecar, sidecar-ffi

Fix clippy lint
  sidecar/src/setup/unix.rs
Due: sidecar

[crashtracker] Refactor: Use the new FFI helper macros to cleanup the code
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/src/shared/configuration.rs
  ddcommon-ffi/src/result.rs
Due: crashtracker, ddcommon, ddcommon-ffi

Skip test on miri
  sidecar-ffi/tests/sidecar.rs
Due: sidecar, sidecar-ffi

Wait on command result instead of slapping a clippy lint on it
  builder/src/arch/apple.rs
Due: none

Fix C example
  examples/ffi/crashtracking.c
Due: none

Fix protobuf build-rs scripts re-executing and trashing incremental compilation cache (#789)
  ddsketch/build.rs
  trace-protobuf/build.rs
Due: trace-protobuf

Wait on command result instead of slapping a clippy lint on it (#794)
  builder/src/arch/apple.rs
Due: none

[ffi][tests] Check that ffi::MaybeErr is None in tests invoking ffi functions (#790)
  ddcommon-ffi/src/option.rs
  ddtelemetry-ffi/src/lib.rs
  profiling-ffi/src/exporter.rs
  sidecar-ffi/tests/sidecar.rs
Due: ddcommon, ddcommon-ffi, ddtelemetry, profiling, profiling-ffi, sidecar, sidecar-ffi

Set shorter identifier to pass macos tests
  sidecar/src/setup/unix.rs
Due: sidecar

[sidecar-ffi] Fix undefined behaviors caused by unsafe null slice cast in the sidecar-ffi (#792)
  sidecar-ffi/src/lib.rs
  sidecar-ffi/tests/sidecar.rs
  sidecar/src/setup/unix.rs
Due: sidecar, sidecar-ffi

use a closure to lazily create a default for decoding v04 msgpack
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
Due: trace-utils

Support "default if null" behavior for msgpack decoding of v04
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
Due: data-pipeline, trace-utils

add explicit test for empty array in decoder
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Due: data-pipeline, trace-utils

address clippy warnings
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
Due: trace-utils

fix some miri errors
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
Due: trace-utils

fix lint
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/trace_utils.rs
Due: trace-mini-agent, trace-utils

fix lint
  trace-utils/src/trace_utils.rs
Due: trace-utils

Remove unused container id testing logic
  ddcommon/src/entity_id/mod.rs
  ddcommon/src/entity_id/unix/mod.rs
Due: ddcommon

add create_test_gcp_span
  trace-utils/src/test_utils/mod.rs
Due: trace-utils

Support "default if null" behavior for msgpack decoding of v04 (#781)
  data-pipeline/src/trace_exporter/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/mod.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span.rs
  trace-utils/src/msgpack_decoder/v04/decoder/span_link.rs
  trace-utils/src/msgpack_decoder/v04/number.rs
Due: data-pipeline, trace-utils

[crashtracker] Refactor: Use the new FFI helper macros to cleanup the code (#793)
  crashtracker-ffi/src/collector/counters.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker-ffi/src/collector/spans.rs
  crashtracker-ffi/src/demangler/mod.rs
  crashtracker-ffi/src/receiver.rs
  crashtracker/src/shared/configuration.rs
  ddcommon-ffi/src/result.rs
  examples/ffi/crashtracking.c
Due: crashtracker, ddcommon, ddcommon-ffi

add number of series and distro to flush
  dogstatsd/src/flusher.rs
Due: none

add fixed timeout to verify behavior
  dogstatsd/src/datadog.rs
Due: none

add more tmp debug log
  trace-utils/src/send_data/mod.rs
Due: trace-utils

tmp: add info on trace retries
  trace-utils/src/send_data/mod.rs
Due: trace-utils

Remove unused container id testing logic (#795)
  ddcommon/src/entity_id/mod.rs
  ddcommon/src/entity_id/unix/mod.rs
Due: ddcommon

Fix test names (#791)
  tinybytes/src/bytes_string.rs
Due: none

Ignore miri in test whre httpmock is used because it can't call libc::socket foreign function.
  data-pipeline-ffi/src/trace_exporter.rs
Due: data-pipeline, data-pipeline-ffi

Allow send empty arrays in order to support agent availability checking for some tracers.
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline, data-pipeline-ffi

Allow send empty arrays through the trace exporter (#796)
  Cargo.lock
  data-pipeline-ffi/Cargo.toml
  data-pipeline-ffi/src/trace_exporter.rs
  data-pipeline/src/trace_exporter/mod.rs
Due: data-pipeline, data-pipeline-ffi

fix debug log
  trace-utils/src/send_data/mod.rs
Due: trace-utils

[profiling] Refactor: use the new FFI macros and types
  Cargo.lock
  ddcommon-ffi/src/handle.rs
  ddcommon-ffi/src/result.rs
  examples/ffi/exporter.cpp
  examples/ffi/profiles.c
  profiling-ffi/Cargo.toml
  profiling-ffi/cbindgen.toml
  profiling-ffi/src/datatypes.rs
  profiling-ffi/src/lib.rs
  profiling-ffi/src/profiles.rs
Due: ddcommon, ddcommon-ffi, profiling, profiling-ffi

update test_process_trace
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/test_utils/mod.rs
  trace-utils/src/trace_utils.rs
Due: trace-mini-agent, trace-utils

update tests
  trace-mini-agent/src/trace_processor.rs
  trace-utils/src/test_utils/mod.rs
Due: trace-mini-agent, trace-utils

simplify function
  trace-utils/src/trace_utils.rs
Due: trace-utils

reformat file
  trace-mini-agent/src/trace_processor.rs
Due: trace-mini-agent

reformat file
  trace-utils/src/test_utils/mod.rs
Due: trace-utils
