Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: crashtracker, data-pipeline, data-pipeline-ffi, ddcommon, ddcommon-ffi, ddtelemetry, ipc, profiling, profiling-ffi, serverless, sidecar, sidecar-ffi, spawn-worker, trace-mini-agent, trace-normalization, trace-obfuscation, trace-protobuf, trace-utils

.codecov.yml:

comment:
  layout: "condensed_header, diff, flags, components"
  
component_management:
  individual_components:
    - component_id: crashtracker  # this is an identifier that should not be changed
      name: crashtracker  # this is a display name, and can be changed freely
      paths:
        - crashtracker
    - component_id: data-pipeline  # this is an identifier that should not be changed
      name: data-pipeline  # this is a display name, and can be changed freely
      paths:
        - data-pipeline
    - component_id: data-pipeline-ffi  # this is an identifier that should not be changed
      name: data-pipeline-ffi  # this is a display name, and can be changed freely
      paths:
        - data-pipeline-ffi
    - component_id: ddcommon  # this is an identifier that should not be changed
      name: ddcommon  # this is a display name, and can be changed freely
      paths:
        - ddcommon
    - component_id: ddcommon-ffi  # this is an identifier that should not be changed
      name: ddcommon-ffi  # this is a display name, and can be changed freely
      paths:
        - ddcommon-ffi
    - component_id: ddtelemetry  # this is an identifier that should not be changed
      name: ddtelemetry  # this is a display name, and can be changed freely
      paths:
        - ddtelemetry
    - component_id: ipc  # this is an identifier that should not be changed
      name: ipc  # this is a display name, and can be changed freely
      paths:
        - ipc
    - component_id: profiling  # this is an identifier that should not be changed
      name: profiling  # this is a display name, and can be changed freely
      paths:
        - profiling
    - component_id: profiling-ffi  # this is an identifier that should not be changed
      name: profiling-ffi  # this is a display name, and can be changed freely
      paths:
        - profiling-ffi
    - component_id: serverless  # this is an identifier that should not be changed
      name: serverless  # this is a display name, and can be changed freely
      paths:
        - serverless
    - component_id: sidecar  # this is an identifier that should not be changed
      name: sidecar  # this is a display name, and can be changed freely
      paths:
        - sidecar
    - component_id: sidecar-ffi  # this is an identifier that should not be changed
      name: sidecar-ffi  # this is a display name, and can be changed freely
      paths:
        - sidecar-ffi
    - component_id: spawn-worker  # this is an identifier that should not be changed
      name: spawn-worker  # this is a display name, and can be changed freely
      paths:
        - spawn_worker
    - component_id: trace-mini-agent  # this is an identifier that should not be changed
      name: trace-mini-agent  # this is a display name, and can be changed freely
      paths:
        - trace-mini-agent
    - component_id: trace-normalization  # this is an identifier that should not be changed
      name: trace-normalization  # this is a display name, and can be changed freely
      paths:
        - trace-normalization
    - component_id: trace-obfuscation  # this is an identifier that should not be changed
      name: trace-obfuscation  # this is a display name, and can be changed freely
      paths:
        - trace-obfuscation
    - component_id: trace-protobuf  # this is an identifier that should not be changed
      name: trace-protobuf  # this is a display name, and can be changed freely
      paths:
        - trace-protobuf
    - component_id: trace-utils  # this is an identifier that should not be changed
      name: trace-utils  # this is a display name, and can be changed freely
      paths:
        - trace-utils

Revert changes in windows build script
  builder/src/bin/release.rs
  builder/src/crashtracker.rs
  builder/src/profiling.rs
  windows/build-artifacts.ps1
  windows/libdatadog.csproj
Due: none

Initial
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/faultinfo.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/siginfo_strings.rs
Due: crashtracker

Add tests
  Cargo.lock
  crashtracker/Cargo.toml
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
  crashtracker/src/collector/siginfo_strings.rs
  crashtracker/src/crash_info/mod.rs
  crashtracker/src/crash_info/telemetry.rs
  crashtracker/src/receiver.rs
Due: crashtracker

bump datadog-serverless-trace-mini-agent version to 0.9.0 (#723)
  Cargo.lock
  serverless/Cargo.toml
Due: serverless

Propagate state better in tests
  bin_tests/tests/crashtracker_bin_test.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/siginfo_strings.rs
Due: crashtracker

Comment
  crashtracker/src/collector/emitters.rs
Due: crashtracker

Fix FFI
  crashtracker-ffi/src/crash_info/datatypes.rs
Due: crashtracker

Consolidate interface differently
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
Due: crashtracker

Format
  crashtracker-ffi/src/collector/mod.rs
Due: crashtracker

Fix bin tests
  bin_tests/src/bin/crashtracker_bin_test.rs
Due: none

All PR comments to this point
  docs/RFCs/0002-crashtracker-user-visable-log.md
Due: none

Oops, fix empty receiver case
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Renamed to 0005 since new RFCs have come in
  0005-crashtracker-structured-log-format.md
Due: none

Update crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

Refactor API
  crashtracker-ffi/src/collector/mod.rs
Due: crashtracker

Ignore flaky test
  crashtracker/src/collector/api.rs
Due: crashtracker

Ignore flaky crashtracking test (#729)
  crashtracker/src/collector/api.rs
Due: crashtracker

Disable workflows and test benchmarks comments
  .github/workflows/all-checks.yml.bkp
  .github/workflows/coverage.yml.bkp
  .github/workflows/fuzz.yml.bkp
  .github/workflows/lint.yml.bkp
  .github/workflows/miri.yml.bkp
  .github/workflows/pr-auto-labeler.yml.bkp
  .github/workflows/publish-serverless-agent.yml.bkp
  .github/workflows/stale.yml.bkp
  .github/workflows/test-ruby.yml.bkp
  .github/workflows/test.yml.bkp
  .github/workflows/verify-proto-files.yml.bkp
  .github/workflows/weekly-verify-proto-files.yml.bkp
Due: none

Fix receiver-less crashtracker initialization via the FFI function
  crashtracker-ffi/src/collector/mod.rs
Due: crashtracker

Put unix sockets into the unix namespace
  crashtracker/src/collector/crash_handler.rs
Due: crashtracker

In the right folder
  docs/RFCs/0005-crashtracker-structured-log-format.md
Due: none

more PR comments
  docs/RFCs/0005-crashtracker-structured-log-format.md
Due: none

increase the volume of traces for deserialization benchmarks
  trace-utils/benches/deserialization.rs
Due: trace-utils

Update trace-utils/benches/deserialization.rs
  trace-utils/benches/deserialization.rs
Due: trace-utils

adjust payload size down to 10mb
  trace-utils/benches/deserialization.rs
Due: trace-utils

proper schema
  docs/RFCs/artifacts/0002-crashtracker-schema.json
  docs/RFCs/artifacts/0005-crashtracker-example.json
  docs/RFCs/artifacts/0005-crashtracker-schema.json
Due: none

thread name
  docs/RFCs/0005-crashtracker-structured-log-format.md
Due: none

fmt
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/shared/configuration.rs
Due: crashtracker

[crashtracking]: add named socket support back in (#722)
  bin_tests/src/bin/crashtracker_bin_test.rs
  crashtracker-ffi/src/collector/datatypes.rs
  crashtracker-ffi/src/collector/mod.rs
  crashtracker/src/collector/api.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/receiver.rs
  crashtracker/src/shared/configuration.rs
Due: crashtracker

Initial
  crashtracker/src/collector/alt_fork.rs
  crashtracker/src/collector/crash_handler.rs
  crashtracker/src/collector/emitters.rs
  crashtracker/src/collector/mod.rs
Due: crashtracker

Update blazesym to 0.2.0-rc.2
  crashtracker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Due: crashtracker

Update blazesym to 0.2.0-rc.2 (#721)
  crashtracker/Cargo.toml
  symbolizer-ffi/Cargo.toml
  symbolizer-ffi/src/blazesym.h
Due: crashtracker

Add names to memfds (#714)
  ipc/src/platform/unix/mem_handle.rs
  ipc/src/platform/unix/mem_handle_macos.rs
  ipc/src/platform/windows/mem_handle.rs
  sidecar-ffi/src/lib.rs
Due: ipc, sidecar, sidecar-ffi

Add bench path to trace-obfuscation
  trace-obfuscation/Cargo.toml
Due: trace-obfuscation
