Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

PR comments: use enum instead of two different types
  examples/cxx/exporter_manager.cpp
  examples/ffi/exporter_manager.c
  libdatadog-cxx-macros/Cargo.toml
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/exporter_manager.rs
  libdd-profiling/src/exporter/mod.rs
  libdd-profiling/src/exporter/profile_exporter.rs
Due: libdd-profiling, libdd-profiling-ffi

fix: rewrite headers in utf8
  windows/build-artifacts.ps1
Due: none

workflow, action, script and deny.toml
  .github/CODEOWNERS
  .github/actions/changed-crates/action.yml
  .github/workflows/pr-metadata-docs-and-deps.yml
  deny.toml
  scripts/check_cargo_metadata.sh
Due: none

ci: improve semver level calculation by using semver-check (#1458)
  .github/CODEOWNERS
  .github/workflows/pr-title-semver-check.yml
  scripts/semver-level.sh
Due: none

workflow, action, script and deny.toml (#1425)
  .github/CODEOWNERS
  .github/actions/changed-crates/action.yml
  .github/workflows/pr-metadata-docs-and-deps.yml
  deny.toml
  scripts/check_cargo_metadata.sh
Due: none

feat(sidecar): apply feedbacks
  datadog-sidecar/src/entry.rs
  datadog-sidecar/src/setup/mod.rs
  datadog-sidecar/src/setup/thread_listener.rs
Due: datadog-sidecar

feat(sidecar): implement thread listener module
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/setup/mod.rs
  datadog-sidecar/src/setup/thread_listener.rs
Due: datadog-sidecar, datdog-sidecar-ffi

ci: add job to detect changelog modifications in each PR
  .github/workflows/pr-metadata-docs-and-deps.yml
Due: none

chore: remove manual changelog modifications
  libdd-ddsketch/CHANGELOG.md
  libdd-profiling-protobuf/CHANGELOG.md
  libdd-profiling/CHANGELOG.md
  libdd-trace-protobuf/CHANGELOG.md
  libdd-trace-utils/CHANGELOG.md
Due: libdd-profiling, libdd-trace-protobuf, libdd-trace-utils

feat(testing): add a cargo command to test ffi layer
  .cargo/config.toml
  Cargo.lock
  examples/ffi/README.md
  tools/Cargo.toml
  tools/src/bin/ffi_test.rs
Due: none

fix(ci): fix baseline comparison and rust version
  .github/workflows/pr-title-semver-check.yml
Due: none

feat(ci): cargo ffi-test added to ci
  .github/workflows/test.yml
  tools/docker/Dockerfile.build
Due: none

ci: add job to detect changelog modifications in each PR (#1471)
  .github/workflows/pr-metadata-docs-and-deps.yml
Due: none

chore: codeowner of the .cargo config (?)
  .github/CODEOWNERS
Due: none

fix(ci): fix baseline comparison and rust version (#1474)
  .github/workflows/pr-title-semver-check.yml
Due: none

feat(sidecar): support threaded connection for windows
  datadog-sidecar-ffi/src/lib.rs
  datadog-sidecar/src/setup/mod.rs
  datadog-sidecar/src/setup/thread_listener_windows.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix(ci): fix baseline for semver checking
  scripts/semver-level.sh
Due: none

ci: add skip-changelog-check label to skip changelog check
  .github/workflows/pr-metadata-docs-and-deps.yml
Due: none

ci: add skip-changelog-check label to skip changelog check (#1476)
  .github/workflows/pr-metadata-docs-and-deps.yml
Due: none

fix(ci): fix baseline for semver checking (#1475)
  scripts/semver-level.sh
Due: none

chore(ruby): [NO-TICKET] Fix signing of libdatadog Ruby releases (#1470)
  .github/workflows/publish-ruby.yml
Due: none

Avoid truncation in the docs and deps PR messages
  .github/workflows/pr-metadata-docs-and-deps.yml
Due: none

chore: remove manual changelog modifications (#1472)
  libdd-ddsketch/CHANGELOG.md
  libdd-profiling-protobuf/CHANGELOG.md
  libdd-profiling/CHANGELOG.md
  libdd-trace-protobuf/CHANGELOG.md
  libdd-trace-utils/CHANGELOG.md
Due: libdd-profiling, libdd-trace-protobuf, libdd-trace-utils

try fixing coverage
  libdd-profiling/src/cxx.rs
Due: libdd-profiling

feat(profiling)!: take mime types in profile exporter
  examples/cxx/profiling.cpp
  libdd-profiling-ffi/cbindgen.toml
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/profile_exporter.rs
  libdd-profiling/tests/exporter_e2e.rs
Due: libdd-profiling, libdd-profiling-ffi

Update examples/ffi/CMakeLists.txt
  examples/ffi/CMakeLists.txt
Due: none

define permissions to fix junit upload failures
  .github/workflows/test.yml
Due: none

feat(profiling)!: take mime types in profile exporter (#1478)
  examples/cxx/profiling.cpp
  libdd-profiling-ffi/cbindgen.toml
  libdd-profiling-ffi/src/exporter.rs
  libdd-profiling/src/cxx.rs
  libdd-profiling/src/exporter/profile_exporter.rs
  libdd-profiling/tests/exporter_e2e.rs
Due: libdd-profiling, libdd-profiling-ffi

fix: .NET on Linux headers
  libdd-profiling-ffi/cbindgen.toml
  windows/build-artifacts.ps1
Due: libdd-profiling, libdd-profiling-ffi

Fetch base branch, work with empty results, etc
  .github/actions/changed-crates/action.yml
Due: none

ci: avoid truncation in the docs and deps PR messages (#1477)
  .github/workflows/pr-metadata-docs-and-deps.yml
Due: none

Exit if diff fails
  .github/actions/changed-crates/action.yml
Due: none

fix(ffi_test): unicode tomfoolery & avoid process id collision
  tools/src/bin/ffi_test.rs
Due: none

fix(ci): fetch base branch, work with empty results, etc (#1480)
  .github/actions/changed-crates/action.yml
Due: none

Add debug info
  .github/actions/changed-crates/action.yml
Due: none

Add debug info (#1481)
  .github/actions/changed-crates/action.yml
Due: none

protect empty files
  .github/actions/changed-crates/action.yml
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
