Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

feat(css-obfuscation): add runtime feature flag
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/stats.rs
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/src/span_concentrator/mod.rs
Due: libdd-data-pipeline

fix: clippy
  Cargo.lock
  datadog-sidecar/Cargo.toml
  datadog-sidecar/src/service/stats_flusher.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: datadog-sidecar

perf(trace-serializer): pre-allocate serialization buffer (#1949)
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
Due: libdd-data-pipeline

Use `map_err` in `charslice_to_bytesstring`
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Make `TracerSpan` and `TracerTraceChunks` inner fields private
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Simplify `ddog_tracer_trace_chunks_new` capacity handling
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Use `let-else` for null exporter check in `ddog_trace_exporter_send_trace_chunks`
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Make test helpers safe functions with internal `unsafe` blocks
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

feat(http-client): add HttpClient::send_blocking for sync callers
  libdd-http-client/Cargo.toml
  libdd-http-client/src/client.rs
  libdd-http-client/tests/blocking_test.rs
Due: none

docs: add M3 consolidation discovery spike
  libdd-http-client/docs/m3-consolidation.md
Due: none

Use inner closure with `?` operator in `ddog_tracer_span_new`
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Use `&mut MaybeUninit<Box<T>>` for out-parameters
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

refactor(capabilities-impl): back DefaultHttpClient with libdd-http-client
  Cargo.lock
  libdd-capabilities-impl/Cargo.toml
  libdd-capabilities-impl/src/http.rs
Due: none

chore: add and agents.md
  AGENTS.md
  CLAUDE.md
Due: none

Add new files to codeowner
  .github/CODEOWNERS
Due: none

feat(agent-client): add send_*_blocking convenience methods
  Cargo.lock
  libdd-agent-client/Cargo.toml
  libdd-agent-client/src/client.rs
  libdd-agent-client/tests/blocking_test.rs
Due: none

test(http-client): add per-backend fork-safety validation
  Cargo.lock
  libdd-http-client/Cargo.toml
  libdd-http-client/docs/fork-safety.md
  libdd-http-client/tests/fork_safety_hyper.rs
  libdd-http-client/tests/fork_safety_reqwest.rs
Due: none

Use try_intern instead
  libdd-profiling/src/internal/profile/mod.rs
Due: libdd-profiling

refactor(libdd-common): extract shared HTTP foundation at libdd_common::http
  libdd-common/Cargo.toml
  libdd-common/src/http/body.rs
  libdd-common/src/http/client.rs
  libdd-common/src/http/error.rs
  libdd-common/src/http/fips.rs
  libdd-common/src/http/mod.rs
  libdd-common/src/http/tests.rs
  libdd-common/src/http_common.rs
  libdd-common/src/lib.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
Due: libdd-crashtracker, libdd-common

feat(http-client-pyo3): add pyo3 bindings for HttpClient core surface
  Cargo.lock
  Cargo.toml
  libdd-http-client-pyo3/Cargo.toml
  libdd-http-client-pyo3/pyproject.toml
  libdd-http-client-pyo3/src/errors.rs
  libdd-http-client-pyo3/src/lib.rs
  libdd-http-client-pyo3/src/request.rs
  libdd-http-client-pyo3/src/response.rs
  libdd-http-client-pyo3/src/runtime.rs
  libdd-http-client-pyo3/tests/integration.rs
  libdd-http-client-pyo3/tests/smoke.py
Due: none

fix(profiling-ffi): Potential panic case (#1955)
  libdd-profiling-ffi/src/profiles/datatypes.rs
Due: libdd-profiling, libdd-profiling-ffi

Fix clippy
  libdd-profiling/src/collections/string_table/error.rs
Due: libdd-profiling

refactor(libdd-http-client): migrate backends onto libdd_common::http
  libdd-common/src/http/fips.rs
  libdd-http-client/Cargo.toml
  libdd-http-client/src/backend/hyper_backend.rs
  libdd-http-client/src/lib.rs
Due: libdd-common

refactor(libdd-trace-utils): migrate datadog_test_agent to libdd_common::http
  libdd-trace-utils/src/test_utils/datadog_test_agent.rs
Due: libdd-trace-utils

refactor: migrate libdd_common::http_common consumers to libdd_common::http
  datadog-live-debugger/src/sender.rs
  datadog-remote-config/src/fetch/fetcher.rs
  datadog-remote-config/src/fetch/test_server.rs
  libdd-telemetry/src/worker/http_client.rs
  libdd-telemetry/src/worker/mod.rs
  libdd-trace-utils/src/stats_utils.rs
  libdd-trace-utils/src/trace_utils.rs
  libdd-trace-utils/tests/test_send_data.rs
  libdd-tracer-flare/src/zip.rs
Due: libdd-telemetry, libdd-trace-utils, libdd-tracer-flare

fix: llm pass 4 on tests/bench
  clippy.toml
  libdd-trace-obfuscation/benches/benchmarks/credit_cards_bench.rs
  libdd-trace-obfuscation/benches/benchmarks/ip_address_bench.rs
  libdd-trace-obfuscation/benches/benchmarks/redis_obfuscation_bench.rs
  libdd-trace-obfuscation/benches/benchmarks/replace_trace_tags_bench.rs
  libdd-trace-obfuscation/benches/benchmarks/sql_obfuscation_bench.rs
  libdd-trace-obfuscation/src/credit_cards.rs
  libdd-trace-obfuscation/src/json.rs
  libdd-trace-obfuscation/src/obfuscate.rs
  libdd-trace-obfuscation/src/redis.rs
  libdd-trace-obfuscation/src/replacer.rs
  libdd-trace-obfuscation/src/sql.rs
  libdd-trace-obfuscation/tests/test_span_obfuscation.rs
Due: libdd-trace-obfuscation

feat(http-client-pyo3): complete pyo3 surface (multipart, retry, FIPS, agent-client)
  Cargo.lock
  libdd-http-client-pyo3/Cargo.toml
  libdd-http-client-pyo3/src/agent_client.rs
  libdd-http-client-pyo3/src/lib.rs
  libdd-http-client-pyo3/src/multipart.rs
  libdd-http-client-pyo3/src/request.rs
  libdd-http-client-pyo3/src/retry.rs
  libdd-http-client-pyo3/src/runtime.rs
  libdd-http-client-pyo3/tests/agent_client_test.rs
  libdd-http-client-pyo3/tests/multipart_test.rs
  libdd-http-client-pyo3/tests/retry_test.rs
  libdd-http-client-pyo3/tests/smoke_8b.py
Due: none

chore(sidecar): reorg unsafe code in span ffi
  datadog-sidecar-ffi/src/span.rs
  datadog-sidecar-ffi/tests/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

chore: revert sidecar ffi changes that are breaking
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix(libdd-trace-obfuscation): fix CI failures (rustfmt, clippy 1.84.1, semver)
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/src/http.rs
  libdd-trace-obfuscation/src/json.rs
  libdd-trace-obfuscation/src/json_scanner.rs
  libdd-trace-obfuscation/src/sql.rs
Due: libdd-trace-obfuscation

doc: remove part that is not relevant to code
  datadog-sidecar-ffi/src/span.rs
Due: datadog-sidecar, datdog-sidecar-ffi

fix(libdd-trace-obfuscation): fix clippy compat across 1.84.1, stable and nightly
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-obfuscation/src/json_scanner.rs
Due: libdd-trace-obfuscation

fix(libdd-trace-obfuscation): update Cargo.lock for version bump to 2.1.0
  Cargo.lock
Due: none

feat: compute encoding in constant size
  libdd-trace-utils/src/msgpack_encoder/v04/span.rs
Due: libdd-trace-utils

feat(http-client-ffi): add C ABI for HttpClient (Task 9a core)
  Cargo.lock
  Cargo.toml
  builder/Cargo.toml
  builder/src/bin/release.rs
  builder/src/profiling.rs
  examples/ffi/CMakeLists.txt
  examples/ffi/build-examples.sh
  examples/ffi/http_client.c
  libdd-http-client-ffi/Cargo.toml
  libdd-http-client-ffi/build.rs
  libdd-http-client-ffi/cbindgen.toml
  libdd-http-client-ffi/include/datadog/http_client.h
  libdd-http-client-ffi/src/client.rs
  libdd-http-client-ffi/src/error.rs
  libdd-http-client-ffi/src/lib.rs
  libdd-http-client-ffi/src/request.rs
  libdd-http-client-ffi/src/response.rs
  libdd-http-client-ffi/src/send.rs
  libdd-profiling-ffi/Cargo.toml
  libdd-profiling-ffi/src/lib.rs
  tools/src/bin/ffi_test.rs
Due: libdd-profiling, libdd-profiling-ffi

Update timing, re-use address space, add thread count
  bin_tests/tests/crashtracker_bin_test.rs
  docs/RFCs/0011-crashtracker-structured-log-format-V1_X.md
  docs/RFCs/artifacts/crashtracker-unified-runtime-stack-schema-v1_7.json
  libdd-crashtracker/src/crash_info/builder.rs
  libdd-crashtracker/src/crash_info/error_data.rs
  libdd-crashtracker/src/crash_info/errors_intake.rs
  libdd-crashtracker/src/crash_info/mod.rs
  libdd-crashtracker/src/crash_info/telemetry.rs
  libdd-crashtracker/src/receiver/ptrace_collector.rs
  libdd-crashtracker/src/receiver/receive_report.rs
  libdd-crashtracker/src/shared/configuration/mod.rs
Due: libdd-crashtracker

feat(http-client-ffi): multipart, retry, and FIPS init (Task 9b)
  examples/ffi/http_client.c
  libdd-http-client-ffi/Cargo.toml
  libdd-http-client-ffi/cbindgen.toml
  libdd-http-client-ffi/include/datadog/http_client.h
  libdd-http-client-ffi/src/client.rs
  libdd-http-client-ffi/src/lib.rs
  libdd-http-client-ffi/src/multipart.rs
  libdd-http-client-ffi/src/request.rs
  libdd-http-client-ffi/src/retry.rs
Due: none

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
