Repository DataDog/libdatadog: changes, and which Codecov flags are due for each by the changed paths.
All: libdd-crashtracker, libdd-crashtracker-ffi, libdd-alloc, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-dogstatsd-client, datadog-ipc, libdd-profiling, libdd-profiling-ffi, datadog-sidecar, datdog-sidecar-ffi, spawn-worker, libdd-tinybytes, libdd-trace-normalization, libdd-trace-obfuscation, libdd-trace-protobuf, libdd-trace-utils, libdd-tracer-flare, libdd-log

chore(remote-config): trim ConfigClientState.extra_services doc
  datadog-remote-config/src/fetch/fetcher.rs
Due: none

fix(sidecar): register live_debugger_parser to preserve pre-refactor parsing
  datadog-sidecar/src/shm_remote_config.rs
Due: datadog-sidecar

fix: remove useless allocs
  libdd-trace-stats/src/span_concentrator/aggregation.rs
Due: none

fix(telemetry-ffi): Fix the bug
  libdd-telemetry-ffi/src/worker_handle.rs
Due: libdd-telemetry, libdd-telemetry-ffi

feat(telemetry-ffi): Show the bug
  Cargo.lock
  libdd-telemetry-ffi/Cargo.toml
  libdd-telemetry-ffi/src/lib.rs
Due: libdd-telemetry, libdd-telemetry-ffi

chore: format
  libdd-telemetry-ffi/src/worker_handle.rs
Due: libdd-telemetry, libdd-telemetry-ffi

fix: add test & not lossy utf8
  libdd-telemetry-ffi/src/lib.rs
  libdd-telemetry-ffi/src/worker_handle.rs
Due: libdd-telemetry, libdd-telemetry-ffi

test: add peer tags quantization aggregation test
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

feat!: added regex-lite feature (#1939)
  Cargo.lock
  LICENSE-3rdparty.csv
  bin_tests/Cargo.toml
  bin_tests/tests/crashtracker_bin_test.rs
  builder/Cargo.toml
  builder/src/utils.rs
  datadog-ffe/Cargo.toml
  datadog-ffe/src/rules_based/ufc/models.rs
  datadog-live-debugger-ffi/Cargo.toml
  datadog-live-debugger/Cargo.toml
  datadog-live-debugger/src/expr_eval.rs
  datadog-live-debugger/src/redacted_names.rs
  datadog-remote-config/Cargo.toml
  datadog-remote-config/src/config/agent_task.rs
  libdd-common-ffi/Cargo.toml
  libdd-common/Cargo.toml
  libdd-common/src/azure_app_services.rs
  libdd-common/src/entity_id/unix/container_id.rs
  libdd-common/src/entity_id/unix/mod.rs
  libdd-common/src/lib.rs
  libdd-common/src/regex_engine.rs
  libdd-crashtracker-ffi/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-data-pipeline/src/telemetry/mod.rs
  libdd-ddsketch-ffi/Cargo.toml
  libdd-library-config-ffi/Cargo.toml
  libdd-log-ffi/Cargo.toml
  libdd-log/Cargo.toml
  libdd-log/src/logger.rs
  libdd-profiling-ffi/Cargo.toml
  libdd-shared-runtime-ffi/Cargo.toml
  libdd-shared-runtime/Cargo.toml
  libdd-telemetry-ffi/Cargo.toml
  libdd-trace-obfuscation/Cargo.toml
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-obfuscation/src/replacer.rs
  tools/Cargo.toml
  tools/src/lib.rs
Due: libdd-crashtracker, libdd-crashtracker-ffi, libdd-data-pipeline, libdd-data-pipeline-ffi, libdd-common, libdd-common-ffi, libdd-telemetry, libdd-telemetry-ffi, libdd-profiling, libdd-profiling-ffi, libdd-trace-obfuscation, libdd-log

feat(clippy): use warn instead of deny, temp allow some lints
  Cargo.toml
  clippy.toml
Due: none

fix(libdd-trace-obfuscation): cargo clippy llm pass 3
  libdd-trace-obfuscation/src/json_scanner.rs
Due: libdd-trace-obfuscation

perf: pre-compute string messagepack encoding
  Cargo.lock
  datadog-sidecar/Cargo.toml
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline/Cargo.toml
  libdd-library-config/Cargo.toml
  libdd-tinybytes/Cargo.toml
  libdd-trace-stats/Cargo.toml
  libdd-trace-utils/Cargo.toml
  libdd-trace-utils/benches/serialization.rs
  libdd-trace-utils/src/msgpack_encoder/v04/span.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi, datadog-sidecar, libdd-tinybytes, libdd-trace-utils

fix(libdd-trace-obfuscation): remove now redundant lints in lib.rs
  libdd-trace-obfuscation/src/lib.rs
Due: libdd-trace-obfuscation

perf(trace-serializer): pre-allocate serialization buffer
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
Due: libdd-data-pipeline

fix(clippy): allow some lints which make the code harder to understand
  Cargo.toml
Due: none

fix(clippy): add codeowners to clippy config
  .github/CODEOWNERS
Due: none

fix(telemetry): avoid trigger loop in telemetry worker
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/src/agent_info/fetcher.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
  libdd-shared-runtime/src/shared_runtime/mod.rs
  libdd-telemetry/src/worker/mod.rs
Due: libdd-data-pipeline, libdd-telemetry

feat: use ip quantization when aggregating peer tags for trace stats (#1944)
  Cargo.lock
  libdd-trace-stats/Cargo.toml
  libdd-trace-stats/src/span_concentrator/aggregation.rs
  libdd-trace-stats/src/span_concentrator/tests.rs
Due: none

fix: revert map_or_else lint fix
  libdd-trace-obfuscation/src/ip_address.rs
  libdd-trace-obfuscation/src/obfuscation_config.rs
Due: libdd-trace-obfuscation

fix(libdd-trace-obfuscation): remove all easy unwraps
  libdd-trace-obfuscation/src/credit_cards.rs
  libdd-trace-obfuscation/src/ip_address.rs
Due: libdd-trace-obfuscation

Add missing set_extra_services
  datadog-remote-config/src/fetch/single.rs
Due: none

fix: make TraceSerializer persistent
  Cargo.toml
  libdd-data-pipeline/src/trace_exporter/builder.rs
  libdd-data-pipeline/src/trace_exporter/mod.rs
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
Due: libdd-data-pipeline

test(telemetry): test flush on channel drop
  Cargo.lock
  libdd-telemetry/Cargo.toml
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

fix: wasm only codepath
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

fix(telemetry): do not reset stopped in child
  libdd-telemetry/src/worker/mod.rs
Due: libdd-telemetry

Add `TracerSpan` FFI for field-by-field span construction
  libdd-data-pipeline-ffi/Cargo.toml
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/lib.rs
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Add `TracerTraceChunks` FFI for grouping spans into traces
  libdd-data-pipeline-ffi/cbindgen.toml
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

Add `ddog_trace_exporter_send_trace_chunks` FFI function
  libdd-data-pipeline-ffi/src/trace_exporter.rs
  libdd-data-pipeline-ffi/src/tracer.rs
Due: libdd-data-pipeline, libdd-data-pipeline-ffi

feat(ffe): support serial id
  datadog-ffe-ffi/cbindgen.toml
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/assignment.rs
  datadog-ffe/src/rules_based/ufc/compiled_flag_config.rs
  datadog-ffe/src/rules_based/ufc/models.rs
  examples/ffi/ffe.c
Due: none

revert libunwind version to latest
  Cargo.lock
  bin_tests/tests/crashtracker_bin_test.rs
  libdd-crashtracker/Cargo.toml
Due: libdd-crashtracker

feat(trace_buffer): flush based on size of chunks in bytes
  libdd-data-pipeline/benches/trace_buffer.rs
  libdd-data-pipeline/src/trace_buffer/mod.rs
Due: libdd-data-pipeline

feat(ffe): support serial id (#1951)
  datadog-ffe-ffi/cbindgen.toml
  datadog-ffe-ffi/src/assignment.rs
  datadog-ffe/src/rules_based/eval/eval_assignment.rs
  datadog-ffe/src/rules_based/ufc/assignment.rs
  datadog-ffe/src/rules_based/ufc/compiled_flag_config.rs
  datadog-ffe/src/rules_based/ufc/models.rs
  examples/ffi/ffe.c
Due: none

use span tags from all root spans in tracer payload
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-trace-utils

search non root spans for fields
  libdd-trace-utils/src/send_data/mod.rs
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-trace-utils

only return non-empty values in search_trace_for_field
  libdd-trace-utils/src/trace_utils.rs
Due: libdd-trace-utils

fix: adress comments
  Cargo.toml
  libdd-data-pipeline/src/trace_exporter/trace_serializer.rs
Due: libdd-data-pipeline

fix: TraceSerializer import on wasm
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

fix: fmt
  libdd-data-pipeline/src/trace_exporter/builder.rs
Due: libdd-data-pipeline

fix: Potential panic case
  libdd-profiling-ffi/src/profiles/datatypes.rs
Due: libdd-profiling, libdd-profiling-ffi

Add test
  libdd-profiling-ffi/src/profiles/datatypes.rs
Due: libdd-profiling, libdd-profiling-ffi

Path conditions:
  libdd-crashtracker: any of: libdd-crashtracker
  libdd-crashtracker-ffi: any of: libdd-crashtracker-ffi
  libdd-alloc: any of: libdd-alloc
  libdd-data-pipeline: any of: libdd-data-pipeline
  libdd-data-pipeline-ffi: any of: libdd-data-pipeline-ffi
  libdd-common: any of: libdd-common
  libdd-common-ffi: any of: libdd-common-ffi
  libdd-telemetry: any of: libdd-telemetry
  libdd-telemetry-ffi: any of: libdd-telemetry-ffi
  libdd-dogstatsd-client: any of: libdd-dogstatsd-client
  datadog-ipc: any of: datadog-ipc
  libdd-profiling: any of: libdd-profiling
  libdd-profiling-ffi: any of: libdd-profiling-ffi
  datadog-sidecar: any of: datadog-sidecar
  datdog-sidecar-ffi: any of: datadog-sidecar-ffi
  spawn-worker: any of: spawn_worker
  libdd-tinybytes: any of: libdd-tinybytes
  libdd-trace-normalization: any of: libdd-trace-normalization
  libdd-trace-obfuscation: any of: libdd-trace-obfuscation
  libdd-trace-protobuf: any of: libdd-trace-protobuf
  libdd-trace-utils: any of: libdd-trace-utils
  libdd-tracer-flare: any of: libdd-tracer-flare
  libdd-log: any of: libdd-log
